{{ partial "head/header.html" . }}

{{ partial "navigation.html" . }}

    <div class="container-12 space-2-top text-center">
        <h1 class="hero-title-lg mb-8 w-lg-70 mx-auto">
           Helping over 200,000 teams transform workflows
        </h1>
        {{ partial "logo-reel-no-text.html" . }}
    </div>
    <section class="space-1 container-fw flex-row justify-center-lg">
        <div class="customers-grid mx-auto">
            <a href="/customers/ströer-x" class="customer-card">
                <img src="/customers/ströer-x/images/cover.png" class="rounded-lg img-fluid" /> 
                <div class="customers-grid-gradient rounded-lg"></div>
                <span class="customer-link">Read more -></span>
                <div class="customer-title"><h2 class="text-white h3">Ströer-x</h2></div>
           </a>
           <a href="/customers/knightsbrown" class="customer-card">
            <img src="/customers/knightsbrown/images/cover.png" class="rounded-lg img-fluid" /> 
            <div class="customers-grid-gradient rounded-lg"></div>
            <span class="customer-link">Read more -></span>
            <div class="customer-title"><h2 class="text-white h3">Knights Brown</h2></div>
       </a>
            <a href="/customers/covanta" class="customer-card">
                 <img src="/customers/covanta/images/grid.png" class="rounded-lg img-fluid" /> 
                 <div class="customers-grid-gradient rounded-lg"></div>
                 <span class="customer-link">Read more -></span>
                 <div class="customer-title"><h2 class="text-white h3">Covanta</h2></div>
            </a>
            <a href="/customers/herrenknecht" class="customer-card">
                <img src="/customers/herrenknecht/images/cover.jpg" class="rounded-lg img-fluid"/>
                <div class="customers-grid-gradient rounded-lg"></div>
                <span class="customer-link">Read more -></span>
                <div class="customer-title"><h2 class="text-white h3">Herrenknecht</h2></div>
            </a>
            <a href="/customers/bulgarian-government" class="customer-card">
                <img src="/customers/bulgarian-government/images/grid.png" class="customer-image rounded-lg img-fluid"/>                    
                <div class="customers-grid-gradient rounded-lg"></div>
                <span class="customer-link">Read more -></span>
                <div class="customer-title"><h2 class="text-white h3">Bulgarian Government</h2></div>
            </a>
        </div>
    </section>
