{{ partial "head/header.html" . }} {{ partial "navigation.html" . }}


<!-- Hero Section -->
<div class="space-2">
  <div class="container mb-9">
    <div class="w-lg-60 mx-auto text-center">
      <h1 class="mb-3 mb-4">
        Transforming Manufacturing Workflows with Low-Code Development
      </h1>
      <p class="mx-auto lead mb-8 text-center"> At Budibase, we’re revolutionizing the way businesses manage manufacturing workflows. Our open-source, low-code platform is the perfect solution for digital transformation in the manufacturing industry. Supercharge profitability, with innovative low-code tools. Budibase is the perfect way to build everything from ERP software to tools for managing inventories, vendors, orders, and distributors.
      </p>
    </div>
    <div class="template-hero-images no-scrollbar mb-6 ">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/business-apps/business-application-cards.png" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/img/industries/manufacturing.jpg" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/business-apps/business-application-tables.png" />
    </div>
  </div>
  <div class="container mx-auto w-lg-60  space-2 flex-row">
    <p class="lead text-dark text-center">
        "Those same apps, with Budibase, are now here in less than an hour. Colleagues were stunned by the data import functionality, seeing a spreadsheet turn into a web app in minutes was the cherry on top."
    </p>
    <div class="mx-auto text-center">
        <p class="text-xs mt-4"><i>Davide Lenzarini, IT manager</i></p>
        <img src="/img/customers/schnellecke-logistics.png" class="img-fluid rounded w-lg-25 mb-2" />
        <a href="/customers/schnellecke/" class="a-alt"><p class="text-xs">Read more</p></a>

    </div>
</div>
</div>

<!-- What Section -->
<div class="space-2 bg-light-2">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-4 text-center">Digital transformation in manufacturing</h2>
    </div>
    <p class="w-lg-60 text-center mx-auto lead text-thin">Modern manufacturing businesses face more competition than ever. Digital transformation is essential if you want to remain competitive. 
    </p>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
          </svg>
        </div>
        <h4 class="mb-2">Streamline workflows</h4>
        <p class="text-sm text-thin">
          Optimize processes, cut time-to-market, and reduce wastage. Budibase is the smart way to create efficient manufacturing workflows.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
        </div>
        <h4 class="mb-2">Reduce costs</h4>
        <p class="text-sm text-thin">
          Supply chains and business processes in manufacturing companies are complex. Effective cost management and resource planning are critical.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.933 12.8a1 1 0 000-1.6L6.6 7.2A1 1 0 005 8v8a1 1 0 001.6.8l5.333-4zM19.933 12.8a1 1 0 000-1.6l-5.333-4A1 1 0 0013 8v8a1 1 0 001.6.8l5.333-4z" />
          </svg>
        </div>
        <h4 class="mb-2">Prevent service interruption
        </h4>
        <p class="text-sm text-thin">
          Even short outages can create massive disruption and financial loss. Manufacturing businesses need secure systems they can depend on. 
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
          </svg>
        </div>
        <h4 class="mb-2">Centralize resources
        </h4>
        <p class="text-sm text-thin">
          Manufacturing workflows are global. Budibase tools facilitate real-time collaboration with colleagues, vendors, suppliers, clients, and partners.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container space-2">
  <div class="homepage-features">
    <div>
      <h2 class="mb-3">Introducing Budibase, an open-source low-code platform</h2>
      <p class="lead">At Budibase, we’re on a mission to change the way businesses build workflow software. With our low-code, open-source platform, you can create fully customized manufacturing process tools, in minutes.</p>
    </div>
    <div class="hero-image rounded">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/homepage-meta.png" />
    </div>
  </div>
  <div class="mt-8 container-benefit">
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
        </svg>
      </div>
      <h4 class="mb-2">Complete customization</h4>
      <p class="text-sm text-thin">
        Build fully custom, branded apps quickly and easily.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
        </svg>
      </div>
      <h4 class="mb-2">Mobile-responsiveness      </h4>
      <p class="text-sm text-thin">
        Budibase tools work perfectly at head office or on the factory floor.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
        </svg>
      </div>
      <h4 class="mb-2">Self-hosting
      </h4>
      <p class="text-sm text-thin">
        Choose self-hosting or our Budibase Cloud platform.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
        </svg>
      </div>
      <h4 class="mb-2">Public & private screens</h4>
      <p class="text-sm text-thin">
        Grant access to users, based on seniority, job title, and more.
      </p>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="homepage-features">
      <div>
        <h2 class="mb-3">Role-based access control</h2>
        <p class="lead-sm">Budibase offers fully customizable RBAC. Give each user access to the exact screens and features they need, maximizing both usability and security. Assign different permission tiers based on location, job role, seniority, or any other user variable. With Budibase, it’s fast and easy to create fully tailored RBAC, to match your existing business processes. Budibase is built for security. Our platform offers free SSO, optional self-hosting, and customizable RBAC. We give our users total control over who accesses their apps, data, and workflows. We also offer full support for OAuth and OpenID.</p>
      </div>
      <div class="hero-image bg-indigo-200 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/rbac.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="homepage-features">
      <div>
        <h2 class="mb-3">Self-hosting</h2>
        <p class="lead-sm">Deploy and host your Budibase tools however you like. Choose self-hosting or Budibase Cloud. Deploy to your own infrastructure, using Kubernetes, Docker, Docker Compose, Digital Ocean, and more. Enterprises and major corporations around the world trust Budibase to build web apps, mobile tools, and <a href="https://budibase.com/business-apps">internal software</a> for manufacturing.
        </p>
      </div>
      <div class="hero-image bg-blue-100 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/self-host.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="homepage-features">
      <div>
        <h2 class="mb-3">Manufacturing workflow automation</h2>
        <p class="lead">Budibase is built for process automation. Digital transformation in the manufacturing industry means eliminating admin tasks. Trigger our library of built-in processes from any in-app action. Create your own custom automations, using our built-in JavaScript editor and range of third-party integrations.
          </p>
      </div>
      <div class="hero-image bg-red-200 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/automation.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="homepage-features">
      <div>
        <h2 class="mb-3">Centralize data</h2>
        <p class="lead">Create data-driven manufacturing workflows, at the press of a button. Say goodbye to disorganized data. Budibase offers external data support using SQL, Airtable, CouchDB, MongoDB, Airtable, RestAPI, and more. We also offer our own built-in BudibaseDB, with full support for CSV uploads.</p>
      </div>
      <div class="hero-image bg-green-200 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/external-data.webp" />
      </div>
    </div>
  </div>
</div>

{{ partial "integrations-templates.html" . }}

<!-- Create Section -->
<div class="space-2 bg-light-2">
  <div class="container-narrow">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-8">Digitalize manufacturing workflows in 4 steps</h2>
    </div>
    <div class="benefits-new-container w-lg-80">
      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/external-data-sources.webp" target="_blank">
            <img src="/img/ui/data-sm.webp" class="img-fluid rounded-sm" alt="Data" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Connect your data</h4>
          <p class="text-sm">
            Build your app’s data layer, using our built-in database or external connectors.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/design.webp" target="_blank">
            <img src="/img/hero-gallery/portal.webp" class="img-fluid rounded-sm" alt="design" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Design your app</h4>
          <p class="text-sm">
            Create feature-rich, beautiful apps with our simple low-code platform.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/automate.webp" target="_blank"><img src="/img/ui/automate-sm.webp"
              class="img-fluid rounded-sm" alt="automate" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Create automations</h4>
          <p class="text-sm">
            Use our library of automations to streamline manufacturing workflows.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/ui/design-wide.webp" target="_blank">
            <img src="/img/ui/admin-sm.webp" class="img-fluid rounded-sm" alt="apps-list" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Deploy and scale</h4>
          <p class="text-sm">
            Choose self-hosting or Budibase Cloud to deploy and scale your apps.
          </div>
      </div>
    </div>
  </div>
</div>


<div class="space-2" id="features">
  <div class="container text-center">
    <h2 class="mb-3">Feature-packed, low-code tools</h2>
    <p class="mb-6 w-lg-50 mx-auto text-center">Budibase is the fast and cost-effective way to build fully deployable, feature-rich tools to manage manufacturing workflows.
    </p>
    <div class="solutions-features">
      <div class="solutions-features-card rounded-xs">
        <h4>Multi-screen apps</h4>
        <p class="text-xs text-thin">Build navigable, multi-screen manufacturing tools.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>RBAC</h4>
        <p class="text-xs text-thin">Give different users access to the features they need.

        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Conditionality</h4>
        <p class="text-xs text-thin">Create powerful conditional UIs, in seconds.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Low-code design tools</h4>
        <p class="text-xs text-thin">Our platform offers a range of intuitive, low-code design tools.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Accessible components</h4>
        <p class="text-xs text-thin">Our app components are fully tested for key accessibility standards.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Responsive apps</h4>
        <p class="text-xs text-thin">Budibase tools work perfectly on desktop, mobile, or tablet devices.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Automated workflows</h4>
        <p class="text-xs text-thin">Automate manufacturing workflows, for maximum efficiency.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Free SSO</h4>
        <p class="text-xs text-thin">Enjoy single sign-on across all of your Budibase tools.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="space-2-top space-3-bottom">
  <div class="container text-center">
    <h2 class="mb-3">Deploy your apps</h2>
    <p class="mx-auto w-lg-50 text-center">Deploy your appsvia Kubernetes,
      Docker, Digital Ocean. Or choose the Budibase Cloud and let Budibase manage everything for you.
    </p>
    {{ partial "deploy-options.html" . }}
  </div>
</div>
</div>

<div class="bg-light-2">
  <div class="container space-2 mx-auto">
    <h2 class="mb-3 mb-4 text-center">
      Low-code app templates for manufacturing
      </h1>
      <div class=" w-lg-60 mx-auto">
        <p class="mx-auto lead-sm mb-6 text-center">We’ve created a range of free templates for digitizing manufacturing workflows. Our templates are deployment-ready and offer complete scope for customization.
        </p>
      </div>
      <div class="container-narrow space-2-bottom">
        <div class="templates-cards">
          {{ range where .Pages "Section" "!=" "templates" }}
          {{ range first 3 .Pages }}
          <a href="{{.Permalink}}">
            <div class="templates-card rounded-sm">
              <div class="template-thumbnail pt-4 pl-4  mb-4 img-fluid bg-{{ .Params.thumbnailColor }}">
                <img class="template-card-img img-fluid" src="{{ .Params.thumbnail }}" />
              </div>
              <h2 class="h4 mb-3">{{ .Params.label }}</h2>
              <p class="mb-3">{{ .Summary }} </p>
              <p class="text-blue text-sm templates-card-link">Get this template</p>
            </div>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="my-3 text-center">
        <a href="/{{ .Section }}/templates" class="btn btn-cta btn-lg"> Browse all {{ .Section | singularize | humanize
          | lower }} templates</a>
      </div>
  </div>
</div>


<div class="article space-2 ">
  <div class="container-9">
    <h2>FAQs</h2>
    <p>Budibase is the smart choice for digital transformation in the manufacturing industry. Here’s everything you need to know about our open-source, low-code platform.
    </p>
    <div class="faq space-1-top space-3-bottom ">
    {{ .Content }}
    </div>
  </div>
</div>

{{ partial "cta.html" . }}
<hr style="width: 30%" />
{{ partial "footer.html" . }}
</div>