{{ partial "header.html" . }} {{ partial "navigation.html" . }}
<div class="container mx-auto">
  <div class="container-9 mx-auto space-2">
    <h1 class="mb-3 text-center mb-4">Fair, scalable pricing</h1>
    <p class="w-lg-50 mb-4 lead  mx-auto text-dark text-center font-weight-medium">When you upgrade, only pay for day passes. <span class="font-weight-bold">Never pay for inactive users.</span> </p>
  </div>

  <h2 class="mx-auto text-center mb-3">Self-Hosted Pricing Plans</h2>
  <div class="pricing-tabs-container flex-row gap-md mb-4">
    <div class="pricing-tabs px-2 py-1">
        <a href="/pricing"> <button class="btn btn-tag-quiet">Budibase Cloud (We host)</button></a>
         <button class="btn btn-tag">Self-Host (You host)</button>
    </div>
  </div>
  <div class="space-1"></div>
  {{ partial "pricing/per-day-pass.html"}}

  <div class="container-9 space-1">
  {{ partial "pricing/day-passes.html" . }}
</div>
</div>

{{ partial "pricing/pricing-faqs.html" . }}
{{ partial "cta.html" . }}
{{ partial "footer.html" . }}

<!-- JS -->
<script src="{{ "js/pricing.js" | absURL }}"></script>