{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<div class="mb-2">
    <div class="container container-blog space-2-top ">
      <div class="pricing-heading container mb-2 mx-auto">
        <h2 class="text-center mx-auto">Secure and open source self-hosting</h2>
      </div>
    </div>
</div>

<div class="container">
  <div class="pricing-subheading w-lg-60 mx-auto">
    <p class="lead text-center">
      Take maximum control, and host your data and applications on your own infrastructure.
    </p> 
    <a href="/pricing" class="mt-3 mx-auto small text-dark self-host-link">
       Cloud-hosting plans -->
    </a> 
  </div>


    <div class="self-hosting-pricing border shadow mt-6 mb-6">
      <div class="pricing-card">
        <div class="pricing-in-content">
          <h5 class="mb-2">Open Source</h5>
          <p class="mb-3 font-small font-weight-medium">For IT professionals who prefer to do things their way</p>
          <h5 class="mb-3">$0 <span class="small">/month</span></h5>
          <div class="mb-4 mx-auto">
            <button type="submit" class="btn btn-block btn-disabled">Coming very soon</button>
          </div>  
            <p class="mb-2 small mb-3 font-weight-medium">Unlimited potential: </p>
            <p class="mb-2 small"><span class="font-weight-medium">✓</span> Unlimited records</p>  
            <p class="mb-2 small"><span class="font-weight-medium">✓</span> Unlimited attachment storage</p>
            <p class="mb-2 small"><span class="font-weight-medium">✓</span> Unlimited users</p>
            <p class="mb-2 small"><span class="font-weight-medium">✓</span> Unlimited apps</p>

        </div>
      </div>
      <div class="pricing-card">
        <div class="pricing-in-content">
          <h5 class="mb-2">Supported</h5>
          <p class="mb-3 font-small font-weight-medium">For medium to enterprise organizations who are privacy conscious</p>
          <h5 class="mb-3">$2,000 <span class="small">/month</span></h5>
          <div class="mb-4 mx-auto">
            <button type="submit" class="btn btn-block btn-disabled">Contact us</button>
          </div>  
            <p class="mb-2 small mb-3 font-weight-medium">All the benefits of open source and:
              <p class="mb-2 small"><span class="font-weight-medium">✓</span> Budibase deploys for you</p>  
              <p class="mb-2 small"><span class="font-weight-medium">✓</span> Budibase maintains for you</p>
              <p class="mb-2 small"><span class="font-weight-medium">✓</span> Uptime and scalability SLAs</p>
              <p class="mb-2 small"><span class="font-weight-medium">✓</span>  Custom databases</p>
              <p class="mb-2 small"><span class="font-weight-medium">✓</span>  Custom integrations</p>
        </div>
      </div>
      <div>
    </div>
</div>


{{ partial "cta-dark.html" . }}

{{ partial "footer.html" . }}

