{{ partial "head/header.html" . }} {{ partial "navigation.html" . }}

<main id="content" role="main">
  <article class="article">
    <div class="space-1-bottom">
      <img class="img-fluid" src="{{ .Params.cover }}" />
    </div>
    <div class="container-8 mx-auto">
      <header class="my-6">
        <h1 class="mt-2 mb-4">{{ .Title }}</h1>
        {{ if (.Params.profilePic) }}
        <img
          class="u-avatar-4 rounded-circle mr-2"
          src="{{ with .Params.profilePic }}{{ . }}{{ end }}"
        />
        {{ else }}
        <img class="u-avatar-4 rounded-circle mr-2" src="/img/team/joe.webp" />
        {{ end }}Published by {{ .Params.author }}, {{ .Date.Format
        .Site.Params.dateform }}
      </header>
    </div>
    <div class="mx-md-auto container-8">
      {{ $content_parts := split .Content "||||||||||" }} {{ index
      $content_parts 0 | safe.HTML}}
    </div>
    <div class="mb-4 mt-4 container-fw flex-row-md justify-center-xl">
      <div class="alt-container">
        <table class="alt-table no-scrollbar mx-auto">
          <thead>
            <tr>
              <th></th>
              <th>
                <div class="flex-row align-center">
                  <p class="alt-header font-weight-medium">Servicenow</p>
                </div>
              </th>
              <th class="">
                <div class="flex-row align-center">
                  <p class="alt-header font-weight-medium">Budibase</p>
                </div>
              </th>
              <th>
                <div class="flex-row align-center">
                  <p class="alt-header font-weight-medium">BMC Helix</p>
                </div>
              </th>
              <th>
                <div class="flex-row align-center">
                  <p class="alt-header font-weight-medium">Jira</p>
                </div>
              </th>

              <th>
                <div class="flex-row align-center">
                  <p class="alt-header font-weight-medium">Salesforce</p>
                </div>
              </th>
              <th class="">
                <div class="flex-row align-center">
                  <p class="alt-header font-weight-medium">Freshdesk</p>
                </div>
              </th>
              <th>
                <div class="flex-row align-center">
                    <p class="alt-header font-weight-medium">Zendesk</p>
                </div>
            </th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td class="text-xs" data-title="">Cost per agent</td>
              <td class="text-xs" data-title="ServiceNow">
                Custom
              </td>
              <td class="text-xs" data-title="Budibase">
                $5 - $50
              </td>
              <td class="text-xs" data-title="BMC Helix">
                Custom
              </td>
              <td class="text-xs" data-title="Jira">$17.38 - $49.35</td>
              <td class="text-xs" data-title="Salesforce">
                $25 - $330
              </td>
              <td class="text-xs" data-title="Freshdesk">
                $15 - $95
              </td>
              <td class="text-xs" data-title="Zendesk">
                $19-$115
              </td>
            </tr>
            <tr class="">
              <td class="text-xs" data-title="">Free tier</td>
              <td class="text-xs" data-title="ServiceNow">No</td>
              <td class="text-xs" data-title="Budibase">
                Yes              
              </td>
              <td class="text-xs" data-title="BMC Helix">
                No
              </td>
              <td class="text-xs" data-title="Jira">Yes</td>
              <td class="text-xs" data-title="Salesforce">No</td>
              <td class="text-xs" data-title="Freshdesk">
                Yes
              </td>
              <td class="text-xs" data-title="Zendesk">No</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mx-md-auto mb-4 mt-4 container-8">
      {{ index $content_parts 1 | safe.HTML}}
    </div>
    
      <div class="mb-4 mt-4 container-fw flex-row-md justify-center-xl">
        <div class="alt-container">
          <table class="alt-table no-scrollbar mx-auto">
            <thead>
              <tr>
                <th></th>
                <th>
                    <div class="flex-row align-center">
                      <p class="alt-header font-weight-medium">ServiceNow</p>
                    </div>
                  </th>
                
                <th class="">
                  <div class="flex-row align-center">
                    <p class="alt-header font-weight-medium">Budibase</p>
                  </div>
                </th>
                <th>
                  <div class="flex-row align-center">
                    <p class="alt-header font-weight-medium">BMC Helix</p>
                  </div>
                </th>
                <th>
                  <div class="flex-row align-center">
    
                    <p class="alt-header font-weight-medium">Jira</p>
                  </div>
                </th>
                <th>
                  <div class="flex-row align-center">

                    <p class="alt-header font-weight-medium">Salesforce</p>
                  </div>
                </th>
                <th class="">
                    <div class="flex-row align-center">
  
                      <p class="alt-header font-weight-medium">Freshdesk</p>
                    </div>
                  </th>
                  <th class="">
                    <div class="flex-row align-center">
  
                      <p class="alt-header font-weight-medium">Zendesk</p>
                    </div>
                  </th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td class="text-xs" data-title="">
                  Category
                </td>
                <td class="text-xs" data-title="ServiceNow">
                    ITSM platform
                </td>
                <td class="text-xs" data-title="Budibase">
                    Low-code platform
                </td>
                <td class="text-xs" data-title="BMC">
                    ITSM platform
                </td>
                <td class="text-xs" data-title="Jira">
                    ITSM platform
                </td>
                <td class="text-xs" data-title="Salesforce">
                    Service CRM           
                </td>
                <td class="text-xs" data-title="Freshdesk">
                    Support desk and ticketing
                </td>
                <td class="text-xs" data-title="Zendesk">
                    Support desk and ticketing
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="mx-md-auto mt-9 mb-4 container-8">
      {{ index $content_parts 2 | safe.HTML}}
    </div>
    
      <div class="mb-4 mt-4 container-fw flex-row-md justify-center-xl">
        <div class="alt-container">
          <table class="alt-table no-scrollbar mx-auto">
            <thead>
              <tr>
                <th></th>
                <th>
                  <div class="flex-row align-center">
                    <p class="alt-header font-weight-medium">ServiceNow</p>
                  </div>
                </th>
                
                <th class="">
                  <div class="flex-row align-center">
                    <p class="alt-header font-weight-medium">Budibase</p>
                  </div>
                </th>
                <th>
                  <div class="flex-row align-center">
                    <p class="alt-header font-weight-medium">BMC Helix</p>
                  </div>
                </th>
                <th>
                  <div class="flex-row align-center">
                    <p class="alt-header font-weight-medium">Jira</p>
                  </div>
                </th>
                <th>
                  <div class="flex-row align-center">
                    <p class="alt-header font-weight-medium">Salesforce</p>
                  </div>
                </th>
                <th class="">
                  <div class="flex-row align-center">
                    <p class="alt-header font-weight-medium">Freshdesk</p>
                  </div>
                </th>
                <th>
                  <div class="flex-row align-center">
                      <div>
                          <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1701689454/cms/alternatives/outsystems_hlcsrj.png" class="u-xxs-avatar mr-1"/>
                      </div>
                      <p class="alt-header font-weight-medium">Zendesk</p>
                  </div>
              </th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td class="text-xs" data-title="">
                  Open-source vs Closed-source
                </td>
                <td class="text-xs" data-title="ServiceNow">
                  <span class="tag"> Closed-source </span>
                </td>
                <td class="text-xs" data-title="Budibase">
                  <span class="tag-forestgreen"> Open-source </span>
                </td>
                <td class="text-xs" data-title="BMC">
                  <span class="tag"> Closed-source </span>
                </td>
                <td class="text-xs" data-title="Jira">
                  <span class="tag"> Closed-source </span>
                </td>
                <td class="text-xs" data-title="Salesforce">
                  <span class="tag"> Closed-source </span>
                </td>
                <td class="text-xs" data-title="Freshdesk">
                  <span class="tag"> Closed-source </span>
            <td class="text-xs" data-title="Zendesk">
                  <span class="tag"> Closed-source </span>
                </td>
            </tbody>
          </table>
          {{ index $content_parts 3 | safe.HTML}}
        </div>
      </div>
  </article>
</main>

<!--Article-->

{{ partial "cta.html" . }} {{ partial "footer.html" . }}
