{{ partial "head/header.html" . }} {{ partial "navigation.html" . }}

<main id="content" role="main">
  <article class="article">
    <div class="space-1-bottom">
      <img class="img-fluid" src="{{ .Params.cover }}" />
    </div>
    <div class="container-8 mx-auto">
      <header class="my-6">
        <h1 class="mt-2 mb-4">{{ .Title }}</h1>
        {{ if (.Params.profilePic) }}
        <img
          class="u-avatar-4 rounded-circle mr-2"
          src="{{ with .Params.profilePic }}{{ . }}{{ end }}"
        />
        {{ else }}
        <img class="u-avatar-4 rounded-circle mr-2" src="/img/team/joe.webp" />
        {{ end }}Published by {{ .Params.author }}, {{ .Date.Format
        .Site.Params.dateform }}
      </header>
    </div>
    <div class="mx-md-auto my-9 container-8">
      {{ $content_parts := split .Content "||||||||||" }}
      {{ index $content_parts 0 | safe.HTML}}
  </div>
  <div class="mx-md-auto space-1 space-3-bottom bg-base-3">
      <div class="container-8 mx-auto">
          {{ index $content_parts 1 | safe.HTML}}
          <details class="my-1 p-3 bg-white border rounded-sm">
              <summary class="lead">Scale</summary>
              <p>There are two kinds of scale we need to consider when buying software. These are:</p>
              <ul>
                <li><b>Horizontal scale</b> - The scope and variety of functionality we need.</li>
                <li><b>Vertical scale</b> - The volume at which we need to use this.</li>
              </ul>
              <p>This is particularly important in the context of costs. That is, ServiceNow offers an extensive range of capabilities - so it could be excellent value for money if you expect to utilize the full scope of these.
                </p>
                <p>For other teams, more lightweight solutions might offer better value for money.
                  </p>
                </details>
          <details class="my-1 p-3 bg-white border rounded-sm">
              <summary class="lead">Closed source-code</summary>
              <p>ServiceNow is also closed-source. Depending on your organizational rules, this may or may not be an issue. 
              </p>
              <p>Some teams may wish to prioritize open-source solutions</p>
          </details>
          <details class="my-1 p-3 bg-white border rounded-sm">
              <summary class="lead">Customization and configuration</summary>
              <p>Lastly, we have customization. As we said earlier, ITSM processes can vary widely from one company to the next.  Individual vendors can account for this in different ways. 
              </p>
              <p>The critical thing, however, is the degree of customization and configuration that’s available. In other words, how effectively we can map a tool to our own internal processes and requirements. So, we might decide we need an alternative solution on the basis that there’s something we want to do that can’t easily be achieved in ServiceNow natively.</p>
              <p>On the flip side, we might be concerned with the amount of configuration that’s required to get an ITSM solution up and running in the first place.  </p>
              <p>For instance, for a smaller team with relatively generic needs, we might want a tool we can roll out more quickly and easily.
              </p>
          </details>
      </div>
  </div>

  <div class="mx-md-auto container-8">
    {{ $content_parts := split .Content "||||||||||" }} {{ index
    $content_parts 2 | safe.HTML}}
  </div>
  
  

  </article>
</main>

<!--Article-->

{{ partial "cta.html" . }} {{ partial "footer.html" . }}
