{{ partial "header.html" . }}

{{ partial "navigation-enterprise.html" . }}

<div class="bg-gradient-gray">
    <div class="container-12 space-2-top">
        <h1 class="hero-title mb-3 mb-4 text-center ">
        Customers
        </h1>
        <div class="w-80 w-lg-60 mx-auto">
            <p class="mx-auto display-lead mb-2 text-center">We’re here to help enterprises drive transformation at scale</p>
        </div>
    </div>
</div>
<div class="container-9 space-1-bottom py-4">
    <div class="platform-subnav gap-md btn-tabs">
    <a href="/enterprise">            
        <button id="btn" type="button" class="btn btn-outline btn-lg">Overview</button>
    </a>
    <a href="/customers/covanta">
    <button id="btn" type="button" class="btn btn-active btn-lg">Customers</button>
    </a>
    <a href="/contact">
        <button id="btn" type="button" class="btn btn-outline btn-lg">Contact us</button>
    </a>
    </div>
</div>

<div class="space-1 container-narrow feature-grid">
  <section class="feature-nav">
      <ul class="feature-nav-items">
        <p class="detail-sm font-weight-semi-bold opacity-50">Customers</p>
          <li>
            <a href="/customers/covanta">
            <div class="flex-row align-center">
              <div class="icon-container">
                <img src="/customers/covanta/images/logo.svg">
            </div>
              <p class="feature-nav-subitem">Covanta</p>
            </div>
            </a>
          </li>
          <li>
            <a href="/customers/schnellecke">
              <div class="flex-row align-center">
              <div class="icon-container">
                <img src="/customers/schnellecke/images/logo.svg">
            </div>
              <p class="feature-nav-subitem">Schnellecke</p>
            </div>
          </a>   
          </li> 
          <li>
            <a href="/customers/bulgarian-government">
              <div class="flex-row align-center">
              <div class="icon-container">
                <img src="/customers/bulgarian-government/images/logo.svg">         
              </div>
              <p class="feature-nav-subitem">Bulgarian Gov 
              </p>
            </div>
            </a>
          </li> 
          <li>
            <a href="/contact"><button type="submit" class="mt-2 btn btn-primary btn-sm">
              Contact sales
            </button></a>
          </li>                           
        </ul>
  </section>
  <section class="feature-body">
  <div class="space-2-bottom">
    <hr class="mb-9">
    <section class="customers-intro-wrapper">
      {{ with .Resources.Match "*/logo*" }}
      {{ range . }}
      <img src="{{ .RelPermalink }}" class="u-avatar-lg mr-6" />
      {{ end }}
      {{ end }}
      <div>
        <h1>{{ .Params.Customer }}</h1>
        <p class="mt-1 lead">
          {{ .Description }}</p>
        <div class="flex-row mt-2 gap-lg">
          <div class="flex-row align-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 18 18" width="18">
              <rect id="Canvas" fill="#ff13dc" opacity="0" width="18" height="18" />
              <path class="fill"
                d="M6.987,3.376a1.9735,1.9735,0,1,0-.004-2.8,2.936,2.936,0,0,1,.3655,1.4A2.94292,2.94292,0,0,1,6.987,3.376ZM8.4875,4.5h-.225a4.917,4.917,0,0,0-.676.0465,3.4805,3.4805,0,0,1,1.163,2.68v4.706a1.2835,1.2835,0,0,1-1.281,1.2815H7.283l-.409,4.3715.016.17A.281.281,0,0,0,7.169,18H9.575a.281.281,0,0,0,.279-.2445l.519-5.541h1.096a.28151.28151,0,0,0,.2815-.281V7.226C11.75,5.4065,10.2895,4.5,8.4875,4.5Z" />
              <path class="fill"
                d="M11.237,3.376a1.9735,1.9735,0,1,0-.004-2.8,2.936,2.936,0,0,1,.3655,1.4A2.94292,2.94292,0,0,1,11.237,3.376ZM12.7375,4.5h-.225a4.917,4.917,0,0,0-.676.0465A3.4805,3.4805,0,0,1,13,7.2265v4.706a1.2835,1.2835,0,0,1-1.281,1.2815h-.1855l-.409,4.3715.016.17a.281.281,0,0,0,.279.2445h2.406a.281.281,0,0,0,.279-.2445l.519-5.541h1.096A.2815.2815,0,0,0,16,11.933V7.226C16,5.4065,14.5395,4.5,12.7375,4.5Z" />
              <path class="fill"
                d="M6.35,1.974a1.9735,1.9735,0,1,1,0-.001ZM4.4875,4.5h-.225C2.4605,4.5,1,5.407,1,7.2265V11.933a.281.281,0,0,0,.2805.2815H2.374L2.89,17.755A.2815.2815,0,0,0,3.169,18H5.575a.281.281,0,0,0,.279-.2445l.519-5.541H7.469a.281.281,0,0,0,.281-.281V7.2265C7.75,5.407,6.2895,4.5,4.4875,4.5Z" />
            </svg>
            <p class="ml-2">{{ .Params.headcount }} employees</p>
          </div>
          <div class="flex-row align-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 18 18" width="18">
              <rect id="Canvas" fill="#ff13dc" opacity="0" width="18" height="18" />
              <path class="fill"
                d="M16.5,1H2.5a.5.5,0,0,0-.5.5v15a.5.5,0,0,0,.5.5H8V11h3v6h5.5a.5.5,0,0,0,.5-.5V1.5A.5.5,0,0,0,16.5,1ZM6,13H3V11H6ZM6,9H3V7H6ZM6,5H3V3H6Zm5,4H8V7h3Zm0-4H8V3h3Zm5,8H13V11h3Zm0-4H13V7h3Zm0-4H13V3h3Z" />
            </svg>
            <p class="ml-2">{{ .Params.industry}}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-9 container-7 customer-content article">
      {{ with .Resources.Match "*/cover*" }}
      {{ range . }}
      <img src="{{ .RelPermalink }}" class="w-100 rounded mb-4" />
      {{ end }}
      {{ end }}
      <div class="mb-6">{{ .Content }}</div>
      <p> {{.Params.Author }}<br><span class="opacity-50">{{.Params.Position }}</span></p>
    </section>
</main>
</section>
</div>
<!--Article-->

{{ partial "cta.html" . }} 

{{ partial "footer.html" . }}


<!-- JS -->

