{{ partial "header.html" . }}
<div class="bg-black h-100 container-fw space-2">
  <div class="container-7 space-hero">
    <a href="/" title="Return to Budibase homepage"><img src="/img/logo/budibase-icon-white.svg" class="u-avatar mb-4"/></a>
    <h1 class="mb-2 h2 text-white">Thank you for getting in touch</h1>
    <p class="text-white">We appreciate you contacting us. Somebody from our team will get back to you shortly.</p>
  </div>
</div>


  <div class="container-7 space-2">
    <h2 class="mb-4">Additional Resources</h2>
    <p><a href="/customers/covanta/">- Why Covanta uses Budibase</a></p>
    <p><a href="https://github.com/Budibase/budibase/projects/10">- Roadmap</a></p>
    <p><a href="https://github.com/Budibase/budibase">- Codebase</a></p>
    <p><a href="https://github.com/Budibase/budibase">- Docs</a></p>
  </div>
</div>
