{{ partial "header.html" . }}

{{ partial "navigation.html" . }}
<div class="container space-2">
<div class="d-lg-flex align-items-lg-center height-100vh--lg">
    <div class="container space-2 space-2-bottom space-0--lg">
      <div class="row justify-content-lg-between align-items-lg-center">

          <div class="col-lg-5  space-1-bottom">
              <!-- Title -->
              <div class="mb-4">
                <h1 class="h2">Full steam ahead!</h1>
                <p class="lead">Thank you for signing up. We really appreciate it. We'll be in touch soon Budi, hold tight!</p>
              </div>
              <!-- End Title -->
              <a href="/">Back to the homepage</a>
            </div>


        <div class="col-lg-6 mb-9 mb-lg-6">
          <img class="w-md-60" src="img/svg/components/thankyou.svg" alt="Image Description">
        </div>


      </div>
    </div>
  </div>
</div>
  {{ partial "footer.html" . }}