{{ partial "header.html" . }} 
{{ partial "navigation.html" . }} 

<div class="space-2-bottom">
  <div class="container container-blog mb-4 space-3-top">
    <div class="mb-3">
      <h1 class="mb-2">Investment</h1>
    </div>
    <div class="categories">
      <a href="/about">
        <h3 class="h6 text-dark mb-0">Story</h3>
      </a>
      <a href="/people">
        <h3 class="h6 text-dark mb-0">People</h3>
      </a>
      <a href="/investment">
        <h3 class="h6 text-blue  mb-0">Investment</h3>
      </a>
    </div>
  </div>
<div class="container investment-hero">
  <div class="investment-hero-container">
    <div class="investment-hero-content">
      <p>Budibase raised a pre-seed round of £300,000 in December 2019 from <a href="https://www.techstart.vc/">Techstart Ventures</a>. This pre-seed round allowed us the opportunity to explore the low code market and build a product which provided compound value.</p>
      <h4 class="mt-4 mb-2">Our next raise - seed round</h4>
      <p class=" mb-4">To date, Budibase has over 15,000 signups from Philips, PWC, Deloitte, KPMG, Swiss, F1, the list goes on. We have surveyed over 4,000 of those signups and interviewed over 80. We understand them; their situation, their pains, what value means to them and we've created a product around this research.</p>
      <p class="mb-4">We launched into Public beta in mid-October 2020. We've had over 3,000 users to date, build over 2,000 apps.</p>
      <p class=" mb-4">We seek to raise $1,600,000. With this investment, we will hit product market fit.</p>   
      <p>We plan to raise in January / February 2021. If you'd like to talk to us about investment in Budibase, please drop us a line at <a href="mailto:investors@budibase.com?subject=Investment%20in%20Budibase">investors@budibase.com</a> </p>                     
    </div>
  </div>
  <div class="investment-hero-container">
      <img class="img-fluid border-black" src="img/img/techstart.png" alt="Image Description">       
  </div>
</div>
</div>
<hr style="width: 50%;">
{{ partial "footer.html" . }}

