{{ partial "header.html" . }} 
{{ partial "navigation.html" . }} 

<div class="space-2-bottom">
  <div class="container container-blog mb-4 space-2-top">
    <div class="mb-3">
      <h1 class="mb-2">Investment</h1>
    </div>
    <div class="categories">
      <a href="/about">
        <h3 class="h6 text-dark mb-0">Story</h3>
      </a>
      <a href="/people">
        <h3 class="h6 text-dark mb-0">People</h3>
      </a>
      <a href="/investment">
        <h3 class="h6 text-blue  mb-0">Investment</h3>
      </a>
    </div>
  </div>
<div class="container investment-hero">
  <div class="investment-hero-container">
    <div class="investment-hero-content">
      <p>We are currently not seeking investment.</p>
  </div>
</div>
</div>
<hr style="width: 50%;">
{{ partial "footer.html" . }}

