{{ partial "header.html" . }} {{ partial "navigation.html" . }}

<!-- Hero Section -->
<div class="space-2">
  <div class="container mb-9">
    <div class="w-lg-60 mx-auto text-center">
      <h1 class="mb-3 mb-4">
        Low-code legal management software for fast-moving organizations
      </h1>
      <p class="mx-auto display-lead mb-8 text-center"> Our open-source, low-code platform is ideal for automating all kinds of admin tasks in the legal industry. Reduce operating costs, improve outcomes, and boost profitability, with powerful, custom low-code tools. Build solutions for everything from client management, to approval workflows, file sharing, project delivery, and more. With Budibase, you can create custom legal software in minutes.
      </p>
    </div>
    <div class="template-hero-images no-scrollbar mb-6 ">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/approval-apps/expense-approval.webp" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/img/industries/legal.jpg" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/img/industries/legal-employees.png" />
    </div>
  </div>
  <div class="container mx-auto w-lg-60 space-2 border flex-row">
    <p class="display-lead-lg text-dark text-center">
        "Those same apps, with Budibase, are now here in less than an hour. Colleagues were stunned by the data import functionality, seeing a spreadsheet turn into a web app in minutes was the cherry on top."
    </p>
    <div class="mx-auto text-center">
        <p class="text-xs mt-4"><i>Davide Lenzarini, IT manager</i></p>
        <img src="/img/customers/schnellecke-logistics.png" class="img-fluid rounded w-lg-25 mb-2" />
        <a href="/customers/schnellecke/" class="a-alt"><p class="text-xs">Read more</p></a>

    </div>
</div>
</div>

<!-- What Section -->
<div class="space-2 bg-red-pastel">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-4 text-center">Digital Transformation in the Legal Industry      </h2>
    </div>
    <p class="w-lg-60 text-center mx-auto display-lead text-thin">In the legal industry, efficient processes are critical. Transparent and streamlined workflows are the key to profitability. These days, digital transformation is by far the most effective way to achieve efficient operations in the legal industry.
    </p>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
          </svg>
        </div>
        <h4 class="mb-2">Drive ROI</h4>
        <p class="text-sm text-thin">
          Automate manual admin tasks, including approvals, information requests, and more. Budibase is the fast and easy way to eliminate unnecessary admin tasks.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
          </svg>
        </div>
        <h4 class="mb-2">Oversight is critical</h4>
        <p class="text-sm text-thin">
          Control projects from start to finish. With Budibase, it’s easy to manage access and analyze project outcomes, without the need for custom code.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
        <h4 class="mb-2">Save your clients' time
        </h4>
        <p class="text-sm text-thin">
          Create intuitive client-facing tools, in minutes. Use Budibase for everything from communications, to document sharing and project management.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
        </div>
        <h4 class="mb-2">Collaboration is key</h4>
        <p class="text-sm text-thin">
          Budibase centralizes resources. Empower your team to access critical documents, client information, and more, any time, anywhere.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container space-2">
  <div class="hero-container">
    <div>
      <h2 class="mb-3">Introducing Budibase, an open-source low-code platform</h2>
      <p class="display-lead">Budibase is the fast and cost-effective way to build digital tools for legal departments. Our open-source, <a href="https://budibase.com/product">low-code platform</a> offers total customization, in a simple and intuitive interface. </p>
    </div>
    <div class="hero-image video-mask rounded">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/budibase-ui-gradient.png" />
    </div>
  </div>
  <div class="mt-8 container-benefit">
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
        </svg>
      </div>
      <h4 class="mb-2">Complete customization</h4>
      <p class="text-sm text-thin">
        Build fully custom software, with minimal code.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
        </svg>
      </div>
      <h4 class="mb-2">Mobile-friendly apps</h4>
      <p class="text-sm text-thin">
        Budibase tools work perfectly on any device.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
        </svg>
      </div>
      <h4 class="mb-2">Optional self-hosting
      </h4>
      <p class="text-sm text-thin">
        Choose self-hosting or our Budibase Cloud platform.</p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
        </svg>
      </div>
      <h4 class="mb-2">Public & private screens</h4>
      <p class="text-sm text-thin">
        Grant access to users, based on seniority, job title, location, and more.

      </p>
    </div>
  </div>
</div>

<div class="space-2 bg-alt-light">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Self-hosting and cloud deployments</h2>
        <p class="display-lead-sm">Host your custom legal software however you like, wherever you like. Choose self-hosting or our Budibase Cloud platform for your legal technology solutions.
          Deploy Budibase tools to your own infrastructure, using Kubernetes, Docker, Docker Compose, Digital Ocean, and more. Self-hosted Budibase tools are the perfect way to maximize security, flexibility, and control.
          Choose Budibase to build web applications, internal tools, mobile apps, and more.
          
        </p>
      </div>
      <div class="hero-image bg-blue-pastel rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/self-host.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2 bg-alt-light">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Custom legal workflow automation</h2>
        <p class="display-lead-sm">With Budibase, it’s easy to build powerful, custom automations. Use any in-app action to trigger our vast automations library. Set automation rules with our built-in JavaScript editor, conditional UIs, third-party integrations, and formula variables.
          Add your SMTP credentials to trigger automated emails to clients, colleagues, and other stakeholders. Budibase is the smart way to build highly automated and efficient legal workflows.
          </p>
      </div>
      <div class="hero-image bg-red-pastel rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/automation.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2 bg-alt-light">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">External data support</h2>
        <p class="display-lead-sm">Budibase offers extensive support for external datasets. Connect your legal management softwareto existing databases using MySQL, MSSQL, Postgresql, S3, Airtable, MongoDB, CouchDB, Oracle, RestAPI, and more. 
          Query and manipulate a wide range of external data sources with our intuitive front-end interfaces. Use Budibase to build automations around your existing data. We also offer our own built-in database, with support for CSV uploads.
          </p>
      </div>
      <div class="hero-image bg-green-pastel rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/external-data.webp" />
      </div>
    </div>
  </div>
</div>


<div class="space-2 bg-alt-light">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Role-based access control</h2>
        <p class="display-lead-sm">Budibase offers fully customizable RBAC. Give each user the exact level of access they need. Use job roles, seniority, location, department, or any other user attribute to assign access to screens and data.
          Hide, display, or update any design element, based on individual users’ permission tier. Use custom RBAC from Budibase to create fully secure and intuitive legal workflow management tools.
          </p>
      </div>
      <div class="hero-image bg-purple-pastel rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/rbac.webp" />
      </div>
    </div>
  </div>
</div>

{{ partial "integrations.html" . }}


<!-- Create Section -->
<div class="space-2 bg-light-2">
  <div class="container-narrow">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-8">Automate legal workflows in 4 steps</h2>
    </div>
    <div class="benefits-new-container w-lg-80">
      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/external-data-sources.webp" target="_blank">
            <img src="/img/ui/data-sm.webp" class="img-fluid rounded-sm" alt="Data" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">1. Connect your data</h4>
          <p class="text-sm">
            Build custom legal software around existing data or use our built-in BudibaseDB.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/design.webp" target="_blank">
            <img src="/img/hero-gallery/portal.webp" class="img-fluid rounded-sm" alt="design" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">2. Create beautiful screens</h4>
          <p class="text-sm">
            Use our built-in themes and simple design tools to create professional app screens.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/automate.webp" target="_blank"><img src="/img/ui/automate-sm.webp"
              class="img-fluid rounded-sm" alt="automate" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">3. Build automations</h4>
          <p class="text-sm">
            Set custom automation rules, in just a few clicks.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/ui/design-wide.webp" target="_blank">
            <img src="/img/ui/admin-sm.webp" class="img-fluid rounded-sm" alt="apps-list" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">4. Deploy and scale</h4>
          <p class="text-sm">
            Self-host or use our Budibase Cloud platform to deploy your apps.
          </div>
      </div>
    </div>
  </div>
</div>


<div class="space-2" id="features">
  <div class="container text-center">
    <h2 class="mb-3">Feature-packed low-code tools</h2>
    <p class="mb-6 w-lg-50 mx-auto text-center">Budibase is the fast and easy way to build custom tools for legal workflow automation. Build fully deployable, feature-packed legal management software, in minutes.
    </p>
    <div class="solutions-features">
      <div class="solutions-features-card rounded-xs">
        <h4>Multi-screen apps</h4>
        <p class="text-xs text-thin">Build navigable, multi-screen custom apps, in minutes.        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>RBAC</h4>
        <p class="text-xs text-thin">Give different users access to the exact data and features they need.

        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Conditionality</h4>
        <p class="text-xs text-thin">Create powerful conditional UIs, in seconds.        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Low-code design</h4>
        <p class="text-xs text-thin">Our platform is built on a range of intuitive, low-code design tools.        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Accessible components</h4>
        <p class="text-xs text-thin">Budibase app components are fully tested for key accessibility standards.        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Responsive apps        </h4>
        <p class="text-xs text-thin">Budibase tools work seamlessly on desktop, mobile, or tablet devices.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Automated workflows</h4>
        <p class="text-xs text-thin">Automate legal services workflows, for maximum efficiency.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Free SSO</h4>
        <p class="text-xs text-thin">Enjoy single sign-on across all of your Budibase tools.

        </p>
      </div>
    </div>
  </div>
</div>
<div class="space-2-top space-3-bottom">
  <div class="container text-center">
    <h2 class="mb-3">Deploy your apps</h2>
    <p class="mx-auto w-lg-50 text-center">Deploy your apps via Kubernetes,
      Docker, Digital Ocean. Or choose the Budibase Cloud and let Budibase manage everything for you.
    </p>
    {{ partial "deploy-options.html" . }}
  </div>
</div>
</div>

<div class="bg-light-2">
  <div class="container space-2 mx-auto">
    <h2 class="mb-3 mb-4 text-center">
      Legal workflow automation templates
      </h1>
      <div class=" w-lg-60 mx-auto">
        <p class="mx-auto display-lead-sm mb-6 text-center"> We’ve built a huge range of ready-to-deploy templates, for all kinds of business problems. Use our templates as deployable solutions, or tailor and customize them to fully meet your unique needs.
        </p>
      </div>
      <div class="container-narrow space-2-bottom">
        <div class="templates-cards">
          {{ range where .Pages "Section" "!=" "templates" }}
          {{ range first 3 .Pages }}
          <a href="{{.Permalink}}">
            <div class="templates-card rounded-sm">
              <div class="template-thumbnail pt-4 pl-4  mb-4 img-fluid bg-{{ .Params.thumbnailColor }}">
                <img class="template-card-img img-fluid" src="{{ .Params.thumbnail }}" />
              </div>
              <h2 class="h4 mb-3">{{ .Params.label }}</h2>
              <p class="mb-3">{{ .Summary }} </p>
              <p class="text-blue text-sm templates-card-link">Get this template</p>
            </div>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="my-3 text-center">
        <a href="/{{ .Section }}/templates" class="btn btn-cta btn-lg"> Browse all {{ .Section | singularize | humanize
          | lower }} templates</a>
      </div>
  </div>
</div>


<div class="article space-2 ">
  <div class="container-9">
    <h2>FAQs</h2>
    <p>At Budibase, we’re revolutionizing the way that businesses build custom software. Here’s everything you need to know about using our open-source, low-code platform.
</p>
    <div class="faq space-1-top space-3-bottom ">
    {{ .Content }}
    </div>
  </div>
</div>

{{ partial "cta.html" . }}
<hr style="width: 30%" />
{{ partial "footer.html" . }}
</div>