{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
{{ partial "circle-cta.html" . }}


<div class="container space-3-top">
    <div class="mb-4">
        <h1 class="mb-4 w-lg-80">Beautifully designed bespoke software starts here</h1>
        <p class="lead mb-4">With a collection pre-made elements, components, layouts, and over 150 different design controls, we've provided you with a platform which makes building bespoke software easy, fun, and makes you look like a design expert. </p>
    </div>
    <div class="product-hero-image bg-purple">
        <img class="img-fluid col-lg-12 border-black" src="/img/img/design-ui-1.webp" alt="Design UI">
    </div>
</div>

<div class="space-2"></div>
  {{ partial "design-benefits.html" . }}  
  <hr class="mv-12 container">
  {{ partial "design-toolbox.html" . }}
  <div class="space-2"></div>
  {{ partial "cta-dark.html" . }}
  <hr class="mv-12 container">
  {{ partial "footer.html" . }}
