.cta{
    margin-bottom: 40px;
   
  
    a:hover{
      text-decoration: none;
    }
  
    .cta__card{
        background: $cta-background;
      transition: all 0.3s;
  
      &:hover{
        box-shadow: 0 1px 31px rgba(0,0,0,0.09);
      }
    }
  
    @media screen and (max-width: 760px){
      .cta__card{
        margin-bottom: 20px;
      }
    }
  
    .cta__img{
      padding-top: 100%;
      position: relative;
  
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
      }
    }
  
    .cta__info{
      border: 1px solid #f1f1f1;
      padding: 20px 40px 40px 20px;
    }
  
  
    .cta_title{
      font-family: $font-family-title;
      font-size: $font-size-t4;
      line-height: $line-height-t5;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-weight: 700;
      color: $color-text-light;
    }
  
    .cta_description{
      font-size: $font-size-t5;
      line-height: $line-height-t3;
      color: $color-text-light;
      margin-bottom: 20px;
    }
  
  }