# Hugo default output directory
/public

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
*.iml

.env

#generated on build
data/Component
data/Integration


# Hugo default output directory
build/example/public
# Hugo generated resources directory
build/example/resources

build/node_modules/*
build/.DS_Store
build/.env
