{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
{{ $data := .Site.Taxonomies.integrationcategories }}
<div class="container page-body">
  <div class="row">
    <div class="col-12">
      <h1>{{ .Title }}</h1>
      <ul>
        {{ range $key, $value := .Site.Taxonomies.integrationcategories.ByCount }}
        <li><a href="/integration/categories/{{ $value.Name | urlize }}">{{ replace $value.Name "-" " " | title }}</a> ({{ $value.Count }})</li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ partial "footer.html" .}}