{{ partial "header.html" . }} {{ partial "navigation.html" . }}


<!-- Hero Section -->

<div class="space-2">
  <div class="container">
    <div class="w-lg-50 mx-auto text-center">
      <h1 class="mb-3 mb-4">
       Create simple admin panels in minutes
      </h1>
      <p class="mx-auto lead mb-8 text-center">Build simple admin panels, with clean designs, advanced functionality, and the power to deploy wherever you want.

      </p>
    </div>
    <div class="template-hero-images no-scrollbar mb-6 ">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/admin-panels/user-admin-panel.webp" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/admin-panels/orders-admin-panel.webp" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/admin-panels/order-status-admin-panel.webp" />
    </div>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
          </svg>
        </div>
        <h4 class="mb-2">Customize</h4>
        <p class="text-sm text-thin">
          Fully customize your admin panels’ design and functionality.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
          </svg>
        </div>
        <h4 class="mb-2">Go mobile</h4>
        <p class="text-sm text-thin">
          Budibase apps are fully mobile responsive.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
          </svg>
        </div>
        <h4 class="mb-2">Deploy anywhere</h4>
        <p class="text-sm text-thin">
          Choose from self-hosting on your own infrastructure or Budibase Cloud.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
            <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="black">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
        </div>
        <h4 class="mb-2">Control access</h4>
        <p class="text-sm text-thin">
          Create public or private admin panels (or a mix of both).
        </p>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- What Section -->
<div class="space-2">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-50 mx-auto mb-4 text-center">What is an admin panel?</h2>
    </div>
    <p class="w-lg-60 text-center mx-auto text-thin">An admin panel is a simple application, which allows users to manipulate databases from a front-end interface. This gives users the ability to carry out admin tasks, without needing the skills to edit databases manually.
      Admin panels can be deployed as a standalone app, to manage key business information, such as customer, membership, or inventory databases. Alternatively, admin panels can be used to manage users or other datasets within existing apps.
      For example, most retailers have an inventory database, which is automatically updated when a customer makes a purchase. They might then use an admin panel to manually alter this database, when stock is lost, damaged, or removed.      
    </p>
  </div>
</div>

<!-- Create Section -->
<div class="space-3" id="create">
<div class="container">
  <div class="text-sm-center mx-auto">
    <h2 class="w-lg-40 mx-auto mb-8">Building a simple admin panel in 4 steps</h2>
  </div>
  <div class="benefits-new-container w-lg-60">
    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/img/external-data-sources.webp" target="_blank">
          <img
          src="/img/ui/data-sm.webp"
          class="img-fluid rounded-sm"
          alt="Data"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">1. Connect to databases</h4>
        <p class="text-sm">
          Manipulate existing datasets, or use our internal database. Budibase offers full support for MySQL, Postgresql, CouchDB, MongoDB, Airtable, and more.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/design.webp" target="_blank">
            <img
            src="/img/hero-gallery/portal.webp"
            class="img-fluid rounded-sm"
            alt="design"          
            />
          </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">2. Design your {{ .Section | singularize | humanize | lower }}</h4>
        <p class="text-sm">
          With the Budibase low-code editor, designing intuitive admin portals is a breeze. Use in-app theming to build beautiful panels in minutes.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/img/automate.webp" target="_blank"><img
          src="/img/ui/automate-sm.webp"
          class="img-fluid rounded-sm"
          alt="automate"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">3. Automate manual processes</h4>
        <p class="text-sm">
          Budibase includes a library of in-app automations to query, add, remove, and edit data. Use Zapier, Webhooks, and more to trigger automations in third-party apps.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/ui/design-wide.webp" target="_blank">
          <img
          src="/img/ui/admin-sm.webp"
          class="img-fluid rounded-sm"
          alt="apps-list"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">4. Scale with grow</h4>
        <p class="text-sm">
          Budibase is built for scalability. Add users, functionality, and extra data fields, totally free of charge.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="space-3 container-fw bg-black">
    <div class="container">
      <div class="text-sm-center mx-auto">
        <h2 class="w-lg-50 mx-auto mb-4 text-center text-white">Why do companies use admin panels?</h2>
      </div>
      <p class="w-lg-60 text-center mx-auto text-thin text-light-dark">Admin panels are crucial for modern organizations. More than ever, businesses rely on up-to-date data for decision-making. Admin panels allow non-technical users to update and amend databases, in seconds.
        Users with the technical skills to update databases directly also benefit from effective admin panels, through improved workflows, and automated tasks. No matter what kind of data your business handles, admin panels are the most efficient way to manage database entries.
        Do you need a standalone admin panel to manage business data, or to improve administrative functions in an existing app? Budibase is the cost-effective way to build business tools.          
      </p>
    </div>
  </div>

  <div class="space-3" id="features">
    <div class="container text-center">
      <h2 class="mb-3">Powerful yet simple admin panels from Budibase</h2>
      <p class="mb-6 w-lg-50 mx-auto text-center">With our intuitive <a href="https://budibase.com/product">low-code
          platform</a> you can create deployable admin panels in minutes.</p>
      <div class="solutions-features">
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Multi-screen apps</h4>
          <p class="text-xs text-thin">Create beautiful, multi-screen admin panels to manage a range of tasks.          </p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Access control</h4>
          <p class="text-xs text-thin">Use permissions to control what information and functions users can access.          </p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Conditionality</h4>
          <p class="text-xs text-thin">Set conditions to display different design elements and fields.          </p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Admin panel design</h4>
          <p class="text-xs text-thin">Choose from a number of beautiful admin themes, and customize them as you see fit.
          </p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Accessibility</h4>
          <p class="text-xs text-thin">Budibase offers a fully accessible user experience.          </p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Responsive user interface</h4>
          <p class="text-xs text-thin">Create simple admin panels that look great on all screens and devices.
          </p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Email integration
          </h4>
          <p class="text-xs text-thin">Add your SMTP credentials and trigger automated emails from in-app actions.
          </p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Free SSO</h4>
          <p class="text-xs text-thin">SSO is free and unlimited for all Budibase users.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fw bg-alt mx-auto space-2">
    <p class="lead text-dark text-center mx-auto w-lg-40">Even simple admin panels can be packed with functionality. Budibase is the most cost-effective and efficient way to deploy apps for streamlining admin workflows.
    </p>
  </div>
  
  <div class="space-3" id="deploy">
    <div class="container text-center">
      <h2 class="mb-3">Deploy your admin panel</h2>
      <p class="mx-auto w-lg-50 text-center">Budibase gives you the power to deploy admin panels on your own servers, our managed infrastructure, or with Budibase Cloud. Use admin panels as web apps, or as a user-friendly internal tool.
      </p>
      {{ partial "deploy-options.html" . }}
    </div>
  </div>
  </div>



    <div class="container space-2 mx-auto">
      <h2 class="mb-3 mb-4 text-center">
        Free {{ .Section | singularize | humanize | lower }} templates
      </h1>
    <div class=" w-lg-60 mx-auto">
      <p class="mx-auto lead-sm mb-6 text-center"> Explore our favourite free {{ .Section | singularize | humanize | lower  }} templates. With Budibase's intuitive low-code platform, you can customize your design in just a few clicks.
    </p>
    </div>
    <div class="container-narrow space-2-bottom">
      <div class="templates-cards">
        {{ range where .Pages "Section" "!=" "templates" }}
        {{ range first 3 .Pages }}
        <a href="{{.Permalink}}">
          <div class="templates-card rounded-sm">
            <div class="template-thumbnail pt-4 pl-4  mb-4 img-fluid bg-{{ .Params.thumbnailColor }}">
              <img class="template-card-img img-fluid" src="{{ .Params.thumbnail }}" /></div>
                  <h2 class="h4 mb-3">{{ .Params.label }}</h2>
                  <p class="mb-3">{{ .Summary }} </p>
                  <p class="text-blue text-sm templates-card-link">Get this template</p>
          </div>
      </a>
      {{ end }}
      {{ end }}
      </div></div>
    
    <div class="my-3 text-center">
      <a href="/{{ .Section }}/templates" class="btn btn-cta btn-lg"> Browse all {{ .Section | singularize | humanize | lower  }} templates</a>
    </div>
    </div>
  
  {{ partial "integrations-templates.html" . }}
  
  <div class="space-3 container-fw bg-black">
    <div class="container text-center">
      <h2 class="mb-3 text-white">Why build an admin panel?</h2>
      <p class="mb-6 w-lg-50 mx-auto text-center text-light-dark">We’re biased, but we think Budibase is the most effective way to create an admin panel. Off-the-shelf solutions often limit functionality, lock users into their own ecosystem, or charge hidden fees.
      </p>
      <div class="flex-gap-center w-lg-80 mx-auto">
        <h4 class="h5 py-3 px-4 rounded-pill bg-blue text-white mr-2">Allow coworkers access to information</h4>
        <h4 class="h5 py-3 px-4  rounded-pill bg-blue  text-white mr-2">Allow coworkers to safely update data</h4>
        <h4 class="h5  py-3 px-4  rounded-pill bg-blue  text-white mr-2">Streamlined communications</h4>
        <h4 class="h5 py-3 px-4  rounded-pill bg-blue  text-white mr-2">Eliminating manual admin tasks</h4>
        <h4 class="h5 py-3 px-4 rounded-pill bg-blue  text-white mr-2">Automate manual processes</h4>
      </div>
      <p class="mt-6 w-lg-50 mx-auto text-center text-light-dark">More and more often, large software providers charge a per-user subscription fee. As your business grows, this can turn into a substantial cost. Proprietary admin panels also make it difficult to add functionality or change how your app is hosted. In most cases, this means that building a custom admin panel is the better option.
      </p>
    </div>
  </div>

  <div class="space-3">
    <div class="container text-center">
      <h2 class="mb-3">Admin panel use cases</h2>
      <p class="mb-6 w-lg-50 mx-auto text-center">Admin panels have a wide range of applications. With integrations and automations, a simple admin panel can be used for everything from order management, to internal business operations.
        Both internal and client-facing admin panels are deployed by modern businesses across all sectors.
        Admin panels also integrate effectively with other kinds of business apps, including forms, portals, and approval management systems.
        </p>
        <div class="mt-6 container-benefit-3">
            <div class="card-small-light">
              <h4 class="mb-2">B2B admin panels </h4>
              <p class="text-sm text-thin">
                B2B admin panels are an effective way to save clients valuable time. Admin panels are an easy way for customers to manage their accounts, update their payment details, or alter regular orders.
              </p>
            </div>
            <div class="card-small-light">
              <h4 class="mb-2">B2C admin panels
              </h4>
              <p class="text-sm text-thin">
                B2C admin panels allow customers to edit accounts and personalize their experiences across all kinds of channels and apps. The most obvious examples of this are in the ecommerce space.
              </p>
            </div>
            <div class="card-small-light">
              <h4 class="mb-2">Internal admin panels</h4>
              <p class="text-sm text-thin">
                Internal admin panels are used to manage organizational data. For example, admin panels are often used by HR departments to allow employees to update or amend their personal details.
              </div>

          </div>
        </div>
    </div>
<hr style="width: 30%" />
{{ partial "cta.html" . }}
<hr style="width: 30%" />
{{ partial "footer.html" . }}
</div>