<section class="container-fw bg-midnight space-2-top space-3-bottom">
    <div class="container-12 flex-column align-center">
        <div>
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1707240471/cms/forms/lock_vsopzg.svg" />
        </div>
        <h2 class="text-center hero-title text-white mb-6 mt--10">Secure.</h2>
        <div class="security-grid">
            <div class="security-card flex align-center">
                <h3 class="text-white h5">HTTPS & Data Encryption</h3>
            </div>
            <div class="security-card flex align-center">
                <h3 class="text-white h5">ISO 27001:2022 certified</h3>
            </div>
            <div class="security-card flex align-center">
                <h3 class="text-white h5">Servers: SOC1/2 + ISO 27001</h3>
            </div>
            <div class="security-card flex align-center">
                <h3 class="text-white h5">Single sign-on (SSO)</h3>
            </div>
            <div class="security-card flex align-center">
                <h3 class="text-white h5">Two-Factor Authentication</h3>
            </div>
            <div class="security-card flex align-center">
                <h3 class="text-white h5">Data Backups & replication</h3>
            </div>
            <div class="security-card flex align-center">
                <h3 class="text-white h5">Audit Logging</h3>
            </div>
            <div class="security-card flex align-center">
                <h3 class="text-white h5">Air Gapped Deployments</h3>
            </div>
        </div>
        <a class="mx-auto mt-9" target="_blank" href="https://d2l5prqdbvm3op.cloudfront.net/app_budimaster_0201a252f50a468ebab935abd75a1e73/attachments/f30639d8-8c4d-4d1e-a0e1-cc7450fcfb9a.pdf?Expires=1707384033&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly9kMmw1cHJxZGJ2bTNvcC5jbG91ZGZyb250Lm5ldC9hcHBfYnVkaW1hc3Rlcl8wMjAxYTI1MmY1MGE0NjhlYmFiOTM1YWJkNzVhMWU3My9hdHRhY2htZW50cy9mMzA2MzlkOC04YzRkLTRkMWUtYTBlMS1jYzc0NTBmY2ZiOWEucGRmIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNzA3Mzg0MDMzfX19XX0_&Signature=MD5coZvgG8ZYTUoHhEfJ-ubZ9E2WMoGF3UYGV%7Ex95EOONkOiuuxNYGdvBCqOemBNcyqS%7EWfsyvHJDx7HkSttJ2B3f2wrbOgA5hUi7AIWyLK9IalkEZN00tqHWPGTS36DSY2O332X%7EkuGjrcUSKP9REDHksJ5S8G%7EpJmuyprGLc5g%7EdUmAY%7EQkKIcdVNFRP-CUuvxbApNfglWY7ZGbtAqtb4bT2XPRQRr1VjXashn1khKPR%7EllGCdati0pNglXG2QYJlrkXj6PWdZcZ9Fc8lcTVp5Rpub3r03wxaDtXUb2k9r7MpHmPhkLvZkR121ovhCFe3zcRBHOrYTWNOmToJlpw__&Key-Pair-Id=KL23NAZBW7UD1">
            <button class="btn btn-secondary">
                Download Security 1-pager
            </button>
        </a>
    </div>
</section>