<section id="integrations" class="container-12 space-1-top space-2-bottom">
    <div class="forms-benefit-wrapper">
        <div class="forms-benefit-title p-2 pt-9 sticky-top-sm">
            <h2 class="hero-title w-sm-90">Build forms that integrate seamlessly.</h2>
        </div>
        <div class="forms-benefit-1 p-2 pt-9 mb-6">
            <div class="flex-column flex gap-lg">
                <div>
                    <p class="lead-xl"><span class="font-weight-semi-bold">Build secure forms on top of trusted databases. </span>Integrates with any database. Experiment the experience. Safely pre-deploy multiple versions of your site and route users to the correct version at runtime—without any delays.</p>
                </div>
                <div class="forms-benefit-data-wrapper">
                    <div class="forms-benefit-data-logos-container">
                        <div class="forms-benefit-data-logos">
                            <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" class="u-xxs-avatar mr-sm-2" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M178.16,184H111.32A48,48,0,1,1,25.6,147.19a8,8,0,0,1,12.8,9.61A31.69,31.69,0,0,0,32,176a32,32,0,0,0,64,0,8,8,0,0,1,8-8h74.16a16,16,0,1,1,0,16ZM64,192a16,16,0,0,0,14.08-23.61l35.77-58.14a8,8,0,0,0-2.62-11,32,32,0,1,1,46.1-40.06A8,8,0,1,0,172,52.79a48,48,0,1,0-75.62,55.33L64.44,160c-.15,0-.29,0-.44,0a16,16,0,0,0,0,32Zm128-64a48.18,48.18,0,0,0-18,3.49L142.08,79.6A16,16,0,1,0,128,88l.44,0,35.78,58.15a8,8,0,0,0,11,2.61A32,32,0,1,1,192,208a8,8,0,0,0,0,16,48,48,0,0,0,0-96Z"></path></svg>
                                <p class="text-sm display-none-on-mobile font-weight-medium">APIs</p>
                            </div>
                            <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                                <img class="u-xxs-avatar mr-sm-2" src="/integrations/database/mysql/images/logo.png" /> 
                                <p class="text-sm display-none-on-mobile font-weight-medium">MySQL</p>
                            </div>
                            <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                                <img class="u-xxs-avatar mr-sm-2" src="/integrations/database/mssql/images/logo.png" /> 
                                <p class="text-sm display-none-on-mobile font-weight-medium">MSSQL</p>
                            </div>
                            <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                                <img class="u-xxs-avatar mr-sm-2" src="/integrations/database/postgresql/images/logo.png" /> 
                                <p class="text-sm display-none-on-mobile text-sm display-none-on-mobile font-weight-medium">PostgreSQL</p>
                            </div>
                            <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                                <img class="u-xxs-avatar mr-sm-2" src="/integrations/database/google-sheets/images/logo.svg" /> 
                                <p class="text-sm display-none-on-mobile font-weight-medium">Google Sheets</p>
                            </div>
                        </div>
                        <div class="forms-benefit-data-lines display-none-on-mobile">
                            <div class="forms-benefit-data-lines-desktop">
                                <svg width="260" height="260" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M142.5 57.5C200.5 57.5 200 101 257 101" stroke="#6E56FF"/>
                                    <line x1="5" y1="0.5" x2="143" y2="0.5" stroke="#FF4F40"/>
                                    <line x1="5" y1="57.5" x2="143" y2="57.5" stroke="#6E56FF"/>
                                    <line x1="5" y1="113.5" x2="142" y2="113.5" stroke="black"/>
                                    <line x1="5" y1="113.5" x2="142" y2="113.5" stroke="#218EB9"/>
                                    <line x1="142" y1="113.5" x2="257" y2="113.5" stroke="#218EB9"/>
                                    <line x1="5" y1="171.5" x2="143" y2="171.5" stroke="#60AD7A"/>
                                    <line x1="5" y1="228.5" x2="143" y2="228.5" stroke="#F0752F"/>
                                    <path d="M142.5 0.5C202.5 0.5 204.5 89.5 257 89.5" stroke="#FF4F40"/>
                                    <path d="M142.5 171.5C204.5 171.5 204.5 124.5 257 124.5" stroke="#60AD7A"/>
                                    <path d="M142.5 228.5C204 228.5 207 135.5 257 135.5" stroke="#F0752F"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="forms-benefit-budibase-logo bg-midnight p-sm-2 rounded-xl shadow-sm display-none-on-mobile">
                        <svg class="u-md-avatar" width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 3.23447V43.9917C0 45.7785 1.44762 47.2261 3.23435 47.2261H41.3391C42.9363 47.2261 44.4422 46.4749 45.4049 45.1987L58.8163 27.3635C60.4863 25.1428 60.4863 22.0834 58.8163 19.8626L45.4049 2.02747C44.4459 0.751184 42.9399 0 41.3391 0H3.23435C1.44762 0 0 1.44767 0 3.23447Z" fill="white"/>
                            <path d="M59.707 3.23447V43.9917C59.707 45.7785 61.1546 47.2261 62.9414 47.2261H80.6884C82.2855 47.2261 83.7914 46.4749 84.7541 45.1987L99.212 25.9742C100.262 24.5739 100.262 22.6486 99.212 21.2519L84.7541 2.02747C83.7951 0.751184 82.2891 0 80.6884 0H62.9414C61.1546 0 59.707 1.44767 59.707 3.23447Z" fill="white"/>
                            <path d="M0 56.0079V96.7651C0 98.5519 1.44762 99.9996 3.23435 99.9996H41.3391C42.9363 99.9996 44.4422 99.2484 45.4049 97.9721L58.8163 80.137C60.4863 77.9162 60.4863 74.8568 58.8163 72.6361L45.4049 54.8009C44.4459 53.5246 42.9399 52.7734 41.3391 52.7734H3.23435C1.44762 52.7734 0 54.2211 0 56.0079Z" fill="white"/>
                            <path d="M59.707 56.0079V96.7651C59.707 98.5519 61.1546 99.9996 62.9414 99.9996H80.6884C82.2855 99.9996 83.7914 99.2484 84.7541 97.9721L99.212 78.7476C100.262 77.3474 100.262 75.422 99.212 74.0254L84.7541 54.8009C83.7951 53.5246 82.2891 52.7734 80.6884 52.7734H62.9414C61.1546 52.7734 59.707 54.2211 59.707 56.0079Z" fill="white"/>
                        </svg>
                    </div>
                    <div class="forms-benefit-data-interface-wrapper">
                        <div class="forms-benefit-data-lines-right display-none-on-mobile">
                            <svg width="260" height="260" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="5" y1="117.5" x2="257" y2="117.5" stroke="#218EB9"/>
                                <line x1="5" y1="106.5" x2="257" y2="106.5" stroke="#218EB9"/>
                                <line x1="5" y1="130.5" x2="142" y2="130.5" stroke="#218EB9"/>
                                <line x1="142" y1="130.5" x2="257" y2="130.5" stroke="#218EB9"/>
                                <line x1="5" y1="141.5" x2="257" y2="141.5" stroke="#218EB9"/>
                                <line x1="5" y1="152.5" x2="257" y2="152.5" stroke="#218EB9"/>
                                </svg>                                
                        </div>
                        <div class="forms-benefit-data-interface bg-white">
                            <div class="border rounded shadow-sm flex flex-column gap-sm">
                                <div class="forms-benefit-data-interface-window-buttons px-2 pt-2">
                                    <span class="window-button bg-form-blue"></span>
                                    <span class="window-button bg-form-teal"></span>
                                    <span class="window-button bg-form-pink"></span>
                                </div>
                                <p class="text-sm text-center font-weight-semi-bold">Form</p>
                                <svg width="200" height="120" class="px-3 pb-3 mx-auto" viewBox="0 0 200 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_85_2424)">
                                    <rect x="4.25" y="0.25" width="87.5" height="20.5" rx="1.75" fill="#f5f5f5" stroke="#EEEEEE" stroke-width="0.5"/>
                                    <rect x="107.25" y="0.25" width="87.5" height="20.5" rx="1.75" fill="#f5f5f5" stroke="#EEEEEE" stroke-width="0.5"/>
                                    <rect x="4.25" y="31.25" width="190.5" height="20.5" rx="1.75" fill="#f5f5f5" stroke="#EEEEEE" stroke-width="0.5"/>
                                    <rect x="4.25" y="62.25" width="190.5" height="20.5" rx="1.75" fill="#f5f5f5" stroke="#EEEEEE" stroke-width="0.5"/>
                                    <rect x="4" y="93" width="88" height="21" rx="2" fill="#218EB9"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_85_2424">
                                    <rect width="200" height="120" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="forms-benefit-2 p-2 mb-6 pt-9">
            <div class="flex-column flex gap-lg align-center-sm">
                <div>
                    <p class="lead-xl"><span class="font-weight-semi-bold">Level-up your forms with automations. </span>Connect your beautiful, dynamic forms to your favorite apps to automate workflows and deliver a better experience. </p>
                </div>
                <div class="forms-benefit-automate-wrapper">
                    <div class="forms-benefit-automate-interface-wrapper">
                        <div class="forms-benefit-automate-interface bg-white">
                            <div class="border rounded shadow-sm flex flex-column gap-sm">
                                <div class="forms-benefit-data-interface-window-buttons px-2 pt-2">
                                    <span class="window-button bg-form-blue"></span>
                                    <span class="window-button bg-form-teal"></span>
                                    <span class="window-button bg-form-pink"></span>
                                </div>
                                <p class="text-sm text-center font-weight-semi-bold">Form</p>
                                <svg width="200" height="120" class="px-3 pb-3 mx-auto" viewBox="0 0 200 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_85_2424)">
                                    <rect x="4.25" y="0.25" width="87.5" height="20.5" rx="1.75" fill="#f5f5f5" stroke="#EEEEEE" stroke-width="0.5"/>
                                    <rect x="107.25" y="0.25" width="87.5" height="20.5" rx="1.75" fill="#f5f5f5" stroke="#EEEEEE" stroke-width="0.5"/>
                                    <rect x="4.25" y="31.25" width="190.5" height="20.5" rx="1.75" fill="#f5f5f5" stroke="#EEEEEE" stroke-width="0.5"/>
                                    <rect x="4.25" y="62.25" width="190.5" height="20.5" rx="1.75" fill="#f5f5f5" stroke="#EEEEEE" stroke-width="0.5"/>
                                    <rect x="4" y="93" width="88" height="21" rx="2" fill="#218EB9"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_85_2424">
                                    <rect width="200" height="120" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                        <div class="forms-benefit-automate-lines">
                            <div class="forms-benefit-automate-lines-desktop">
                                <svg width="260" height="260" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_92_6484)">
                                    <path d="M113.5 57.5C55.5 57.5 56 101 -1 101" stroke="#6E56FF"/>
                                    <line y1="-0.5" x2="143" y2="-0.5" transform="matrix(-1 0 0 1 256 1)" stroke="url(#paint0_linear_92_6484)"/>
                                    <line y1="-0.5" x2="143" y2="-0.5" transform="matrix(-1 0 0 1 256 58)" stroke="url(#paint1_linear_92_6484)"/>
                                    <line y1="-0.5" x2="142" y2="-0.5" transform="matrix(-1 0 0 1 256 114)" stroke="url(#paint2_linear_92_6484)"/>
                                    <line y1="-0.5" x2="115" y2="-0.5" transform="matrix(-1 0 0 1 114 114)" stroke="#218EB9"/>
                                    <line x1="260" y1="171.5" x2="113" y2="171.5" stroke="url(#paint3_linear_92_6484)"/>
                                    <line x1="256" y1="228.5" x2="113" y2="228.5" stroke="url(#paint4_linear_92_6484)"/>
                                    <path d="M113.5 0.5C53.5 0.5 51.5 89.5 -1 89.5" stroke="#F7BE38"/>
                                    <path d="M113.5 171.5C51.5 171.5 51.5 124.5 -1 124.5" stroke="#60AD7A"/>
                                    <path d="M113.5 228.5C52 228.5 49 135.5 -1 135.5" stroke="#F0752F"/>
                                    </g>
                                    <defs>
                                    <linearGradient id="paint0_linear_92_6484" x1="71.5" y1="0" x2="-3.1087" y2="0" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#F7BE38"/>
                                    <stop offset="1" stop-color="#F7BE38" stop-opacity="0"/>
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_92_6484" x1="71.5" y1="0" x2="-2.59058" y2="0" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#6E56FF"/>
                                    <stop offset="1" stop-color="#6E56FF" stop-opacity="0"/>
                                    </linearGradient>
                                    <linearGradient id="paint2_linear_92_6484" x1="71" y1="1.91786e-06" x2="17.1026" y2="-0.537157" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#218EB9"/>
                                    <stop offset="1" stop-color="#218EB9" stop-opacity="0"/>
                                    </linearGradient>
                                    <linearGradient id="paint3_linear_92_6484" x1="120.457" y1="171" x2="257.87" y2="171" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#60AD7A"/>
                                    <stop offset="1" stop-color="#60AD7A" stop-opacity="0"/>
                                    </linearGradient>
                                    <linearGradient id="paint4_linear_92_6484" x1="124.399" y1="228" x2="256" y2="228" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#F0752F"/>
                                    <stop offset="1" stop-color="#F0752F" stop-opacity="0"/>
                                    </linearGradient>
                                    <clipPath id="clip0_92_6484">
                                    <rect width="260" height="260" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>                                    
                            </div>
                        </div>
                    </div>
                    <div class="forms-benefit-automate-logos-container">
                        <div class="forms-benefit-automate-logos">
                            <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                                <img class="u-xxs-avatar mr-sm-2" src="/img/icon/email.svg" /> 
                                <p class="text-sm display-none-on-mobile font-weight-medium">Send emails</p>
                            </div>
                            <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                                <img class="u-xxs-avatar mr-sm-2" src="/integrations/api/slack/images/logo.svg" /> 
                                <p class="text-sm display-none-on-mobile font-weight-medium">Notify users on Slack</p>
                            </div>
                            <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" class="u-xxs-avatar mr-sm-2" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M178.16,184H111.32A48,48,0,1,1,25.6,147.19a8,8,0,0,1,12.8,9.61A31.69,31.69,0,0,0,32,176a32,32,0,0,0,64,0,8,8,0,0,1,8-8h74.16a16,16,0,1,1,0,16ZM64,192a16,16,0,0,0,14.08-23.61l35.77-58.14a8,8,0,0,0-2.62-11,32,32,0,1,1,46.1-40.06A8,8,0,1,0,172,52.79a48,48,0,1,0-75.62,55.33L64.44,160c-.15,0-.29,0-.44,0a16,16,0,0,0,0,32Zm128-64a48.18,48.18,0,0,0-18,3.49L142.08,79.6A16,16,0,1,0,128,88l.44,0,35.78,58.15a8,8,0,0,0,11,2.61A32,32,0,1,1,192,208a8,8,0,0,0,0,16,48,48,0,0,0,0-96Z"></path></svg>
                                <p class="text-sm display-none-on-mobile font-weight-medium">Send data via webhooks</p>
                            </div>
                            <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                                <img class="u-xxs-avatar mr-sm-2" src="/img/icon/javascript.svg" /> 
                                <p class="text-sm display-none-on-mobile text-sm display-none-on-mobile font-weight-medium">Run a script every Monday</p>
                            </div>
                            <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                                <img class="u-xxs-avatar mr-sm-2" src="/integrations/api/zapier/images/logo.png" /> 
                                <p class="text-sm display-none-on-mobile font-weight-medium">Connect to Zapier, Make, etc</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="forms-benefit-3 p-2 mb-6">
            <div class="flex-column flex gap-lg">
                <div>
                    <p class="lead-xl"><span class="font-weight-semi-bold">Self-host and deploy on your terms. </span>Integrates with any database. Experiment the experience. Safely pre-deploy multiple versions of your site and route users to the correct version at runtime—without any delays.</p>
                </div>
                <div class="forms-self-host-globe-wrapper flex flex-column gap-lg align-center">
                    <div class="forms-self-host-globe-top flex-row gap-lg">
                        <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                            <img class="u-xxs-avatar mr-2" src="/integrations/infra/docker/images/logo.svg" /> 
                            <p class="text-sm font-weight-medium">Docker</p>
                        </div>
                        <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                            <img class="u-xxs-avatar mr-2" src="/budibase-symbol.svg" /> 
                            <p class="text-sm font-weight-medium">Budibase</p>
                        </div>
                    </div>
                    <div class="flex-row gap-lg align-center justify-space-between">
                        <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                            <img class="u-xxs-avatar mr-2" src="/integrations/infra/azure-app-service/images/logo.png" /> 
                            <p class="text-sm font-weight-medium">Azure App Service</p>
                        </div>
                        <div class="w-sm-40">
                            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1706008489/cms/forms/Globe_v8bplm.webp" class="img-fluid" />
                        </div>
                        <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                            <img class="u-xxs-avatar mr-2" src="/integrations/infra/google-cloud-run/images/logo.svg" /> 
                            <p class="text-sm font-weight-medium">Google Cloud Run</p>
                        </div>
                    </div>
                    <div class="forms-self-host-globe-top flex-row gap-lg">
                        <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                            <img class="u-xxs-avatar mr-2" src="/integrations/infra/kubernetes/images/logo.png" /> 
                            <p class="text-smfont-weight-medium">Kubernetes</p>
                        </div>
                        <div class="bg-white border px-1 px-sm-3 py-1 flex-row align-center rounded-lg shadow-sm">
                            <img class="u-xxs-avatar mr-2" src="/integrations/infra/digitalocean/images/logo.svg" /> 
                            <p class="text-sm font-weight-medium">Digital Ocean</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>