<div class="space-2-top container-7" id="faqs">
    <div class="text-center mx-auto">
        <h2 class="hero-title">Frequently asked questions</h2>
    </div>
        <details class="mt-6 p-3 border-top border-bottom">
            <summary class="lead">What are digital forms?</summary>
            <p class="mb-2 mx-3">Digital forms are the digital version of traditional paper forms. They are used to collect and manage data often through a website or app - like the apps you build with Budibase.
            </p>
        </details>
        <details class="p-3 border-bottom">
            <summary class="lead">Why should I use Budibase as my form builder?</summary>
            <p class="mb-2 mx-3">There primarily three reasons to choose Budibase over other form builders:
                <ol>
                    <li><span class="font-weight-semi-bold">Security</span> - Unlike other platforms, Budibase priortises security. With Budibase, you can build forms on top of your favorite/trusted database and self-host your forms/data within your own infrastructure. This ensures you're always in control of the data. 
                    </li>
                    <li><span class="font-weight-semi-bold">Flexibility</span> - With Budibase, you have creative freedom to design forms you're proud of. Budibase's design experience is more flexible than other platforms allowing you to build complex forms with multiple columns, sections, and component types.
                    </li>
                    <li><span class="font-weight-semi-bold">Long-term viability</span> - Budibase is a form builder, and more. It's a low-code platform with a focus on making work flow. With Budibase, you can build forms, approval apps, portals, and much more. So, from a long-term viability perspective, Budibase is far superior than other form builders. It's also open-source!
                    </li>
                </ol>
            </p>
        </details>
        <details class="p-3 border-bottom">
            <summary class="lead">Does Budibase offer non-profit discounts?</summary>
            <p class="mb-2 mx-3">Budibase is happy to offer eligible nonprofit organizations a 20% discount across all our
                paid tiers on annual plans. </p>
            <p class="mb-2 mx-3">Volume based discounts are also available for Enterprise plans. <a href="/contact"
                    target="_blank">Contact Sales</a> to find out more.</p>
        </details>
        <details class="p-3 border-bottom">
            <summary class="lead">Is Budibase free to use?</summary>
            <p class="mb-2 mx-3  ">Budibase has multiple packages to help teams of all sizes orchestrate their
                work. Budibase is <a
                    href="https://github.com/Budibase/budibase">open-source</a>, and you can run it on your own
                infrastructure for free.
            </p>
        </details>
        <details class="p-3 border-bottom">
            <summary class="lead">Can I self-host Budibase for free?</summary>
            <p class="mb-2 mx-3  ">Yes, you can self-host Budibase for free. Check out our <a href="https://docs.budibase.com/docs/hosting-methods">self-host documentation</a> for further guidance.
            </p>
        </details>
</div>