
<section class="space-2" id="features">
    <div class="container-12">
        <div class="text-sm-center mx-auto">
            <h2 class="hero-title mx-auto mb-5">One platform. Multiple forms.</h2>
        </div>

        <div class="solutions-tab-wrapper mb-3">
            <div class="tablinks solutions-tab rounded-lg" onclick="openForm(event, 'checklists')" id="defaultOpen">
                <div class="bg-beige icon-container-lg mb-2 border">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#218EB9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-todo"><rect x="3" y="5" width="6" height="6" rx="1"/><path d="m3 17 2 2 4-4"/><path d="M13 6h8"/><path d="M13 12h8"/><path d="M13 18h8"/></svg>                
                </div>
                <h4>For checklists</h4>
                <p class="text-sm opacity-75 mt-2">Collect data securely with forms that connect straight to your database.</p>
            </div>
            <div class="tablinks solutions-tab border rounded-lg" onclick="openForm(event, 'application')">
                <div class="bg-beige icon-container-lg mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#218EB9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hard-drive-download"><path d="M12 2v8"/><path d="m16 6-4 4-4-4"/><rect width="20" height="8" x="2" y="14" rx="2"/><path d="M6 18h.01"/><path d="M10 18h.01"/></svg>
                </div>
                <h4>For data collection</h4>
                <p class="text-sm opacity-75 mt-2">Collect data securely with forms that connect straight to your database.</p>
            </div>
            <div class="tablinks solutions-tab rounded-lg" onclick="openForm(event, 'survey')">
                <div class="bg-beige icon-container-lg mb-2 border" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#218EB9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clipboard-type"><rect width="8" height="4" x="8" y="2" rx="1" ry="1"/><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/><path d="M9 12v-1h6v1"/><path d="M11 17h2"/><path d="M12 11v6"/></svg>
                </div>
                <h4>For surveys</h4>
                <p class="text-sm opacity-75 mt-2">Collect data securely with forms that connect straight to your database.</p>
            </div>
            <div class="tablinks solutions-tab rounded-lg" onclick="openForm(event, 'application')">
                <div class="bg-beige icon-container-lg mb-2 border">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#218EB9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send"><path d="m22 2-7 20-4-9-9-4Z"/><path d="M22 2 11 13"/></svg>                
                </div>
                <h4>For applications</h4>
                <p class="text-sm opacity-75 mt-2">Collect data securely with forms that connect straight to your database.</p>
            </div>
            <div class="tablinks solutions-tab rounded-lg" onclick="openForm(event, 'pdf')">
                <div class="bg-beige icon-container-lg mb-2 border">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#218EB9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M10 9H8"/><path d="M16 13H8"/><path d="M16 17H8"/></svg>                
                </div>
                <h4>For PDF generation</h4>
                <p class="text-sm opacity-75 mt-2">Collect data securely with forms that connect straight to your database.</p>
            </div>
        </div>
        <div id="checklists" class="tabcontent">
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1705569830/cms/forms/advancedForm_gy4hrg.webp" class="img-fluid rounded-lg border shadow" />
        </div>
            <div id="application" class="tabcontent">
                <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1705594100/cms/forms/applicationForm_pexr4f.webp" class="img-fluid rounded-lg border shadow" />
            </div>
            <div id="survey" class="tabcontent">
                <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1705511759/cms/forms/multistepForm_kcgvxr.webp" class="img-fluid rounded-lg border shadow" />
            </div>
            <div id="pdf" class="tabcontent">
                <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1705657927/cms/forms/pdfGeneration2_blks6c.webp" class="img-fluid rounded-lg border shadow" />
            </div>
            

        </div>
</section>
