<section class="space-2 container-12" id="tutorials">
    <h2 class="hero-title mb-4 text-center">Tutorials</h2>
    <div class="guides-wrapper">
            <div class="guide bg-base-200">
                <h4>How to build a Timesheet
                </h4>
                <summary class="text-xs three-line-clamp">
                    We need an accurate record of the hours worked by our colleagues for all kinds of billing, payroll, HR, and other processes. For instance, paying salaries or invoicing clients for project hours.
                </summary>
                <a href="/blog/tutorials/secure-timesheet/">
                    <button class="btn btn-sm btn-primary">Read more</button>
                </a>
            </div>
            <div class="guide bg-base-200">
                <h4>How to build an audit form
                </h4>
                <summary class="text-xs three-line-clamp">
                    Audit forms are some of the most common field data collection tools around. In fact, they can be used in a diverse range of contexts - including financial, operational, HR, manufacturing, compliance, and other processes.
                </summary>
                <a href="/blog/tutorials/audit-form/">
                    <button class="btn btn-sm btn-primary">Read more</button>
                </a>
            </div>
            <div class="guide bg-base-200">
                <h4>Build a change request form in 5 steps
                </h4>
                <summary class="text-xs three-line-clamp">
                    It’s a fact of life that projects don’t always play out 100% the way we expect them to. Circumstances, budgets, priorities, and requirements can all change on a dime. Therefore, it’s vital to have an effective way to gather and manage information when this happens.
                </summary>
                <a href="/blog/tutorials/change-request-form/">
                    <button class="btn btn-sm btn-primary">Read more</button>
                </a>
            </div>
            <div class="guide bg-base-200">
                <h4>How to collect employee info securely
                </h4>
                <summary class="text-xs three-line-clamp">
                    Employee information forms are some of the most common data collection tools around. They’re a crucial part of onboarding workflows in just about every company in the world.
                </summary>
                <a href="/blog/tutorials/employee-information-form/">
                    <button class="btn btn-sm btn-primary">Read more</button>
                </a>
            </div>
        </a>
    </div>
</section>