<section class="space-2 container-12">
    <h2 class="hero-title mb-4">Guides and tutorials</h2>
    <div class="guides-wrapper">
        <div class="guide bg-form-gradient">
            <div class="tag-forms mb-2">Guide</div>
            <h4 class="text-white">Budibase vs...</h4>
        </div>
        <div class="guide bg-beige-light">
            <div class="tag-forms mb-2">1-pager</div>
            <h4>Budibase: Secure forms</h4>
        </div>
        <div class="guide bg-beige-light">
            <div class="tag-forms mb-2">Tutorial</div>
            <h4>How to build a timesheet form</h4>
        </div>
    </div>
</section>