
<div class="bg-white space-1-top space-2-bottom mb-9">
    <div class="hero-solutions-container">
      <div class="hero-solutions-content">
      <div class="flex flex-column pb-2">
        <h1 class="hero-title mb-2 w-xl-90">
            Build forms quickly.
            Collect data <span class="form-blue">securely.</span></span>
        </h1>
        <p class="hero-description text-left w-xl-90">
            The fastest way to build advanced forms, collect data, and automate manual processes within the security of your own infrastructure.
        </p>
        <div class="mb-4 mt-3 gap-sm flex-row">
          <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section"
            target="_blank" rel="noopener">
            <button type="submit" class="btn btn-forms-cta sm-btn-block">Get Budibase free</button>
          </a>
        </div>
        <div class="flex-col">
            <div>
              <li class="pricing-item mb-1">
                <svg width="20" height="25" viewBox="0 0 86 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.550781 6.88964V93.7055C0.550781 97.5161 3.62277 100.595 7.40677 100.595H45.0308C48.4148 100.595 51.6068 98.9954 53.6468 96.27L84.2868 55.3181C86.5188 52.3355 86.5188 48.2355 84.2868 45.261L53.6468 4.32512C51.6068 1.60785 48.4228 0 45.0308 0H7.40677C3.61477 0 0.550781 3.08707 0.550781 6.88964Z" fill="#FFD7F1"/>
                  </svg>              
                <p class="ml-2">Build forms on top of SQL and APIs</a></p>
              </li>
            </div>
            <div>
              <li class="pricing-item">
                <svg width="20" height="25" viewBox="0 0 86 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.550781 7.29439V94.1103C0.550781 97.9209 3.62277 101 7.40677 101H45.0308C48.4148 101 51.6068 99.4001 53.6468 96.6748L84.2868 55.7228C86.5188 52.7403 86.5188 48.6403 84.2868 45.6657L53.6468 4.71378C51.6068 1.99651 48.4228 0.388672 45.0308 0.388672H7.40677C3.61477 0.388672 0.550781 3.47574 0.550781 7.2783V7.29439Z" fill="#286A82"/>
                </svg>              
                <p class="ml-2">Self-host on premise</p>
              </li>
            </div>
          </div>
      </div>
    </div>
    <div class="hero-solutions-media">
      <div class="feature-image-lg">
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1706128622/cms/forms/heroLeft_wtqa5i.webp" class="shadow-lg-dark img-fluid rounded-left" />
      </div>
    </div>
  </div>
  </div>
  
  {{ partial "logo-reel.html" }}
  
  
  
  
  