
<div class="bg-200">
    <div class="container-12 space-2 mx-auto">
        <h2 class="mb-6 hero-title text-center">
            Start with a template
            </h1>
            <div class="space-1-bottom">
                <div class="templates-cards">
                    {{ range where .Pages "Section" "!=" "templates" }}
                    {{ range first 3 .Pages }}
                    <a href="{{.Permalink}}">
                        <div class="templates-card">
                            <div class="template-thumbnail mb-4 rounded-lg shadow border">
                                <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1705678480/cms/forms/checklist2_qkxxmu.webp"
                                class="img-fluid" />                            
                            </div>
                            <h2 class="h4 mb-2">{{ .Params.label }}</h2>
                            <p class="two-line-clamp opacity-75">{{ .Summary }} </p>
                        </div>
                    </a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="my-3 text-center">
                <a href="/{{ .Section }}/templates" class="btn btn-forms-cta btn-lg"> Browse all {{ .Section | singularize |
                    humanize | lower }} templates</a>
            </div>
    </div>
</div>