<div class="bg-base-2">
    <div class="container-12 space-2 mx-auto">
        <h2 class="mb-6 hero-title text-center">
            Start with a template
        </h2>
        <div class="space-1-bottom">
            <div class="templates-cards">
                <div class="template-card">
                    <div class="template-card-image bg-base-6">
                        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1708551937/cms/forms/changeRequest_peyikk.webp"
                            class="img-fluid" />
                    </div>
                    <h4 class="mt-3">Change request form</h4>
                    <p class="mt-3">The change request form template allows users to request changes, securely. Process
                        owners can also review and update requests.</p>
                    <button class="mt-3 btn-primary btn btn-sm" popovertarget="change-request-template">View
                        template</button>
                    <div id="change-request-template" class="rounded-lg" popover>
                        <div class="container-12">
                            <div class="p-lg-6 pt-4">
                                <div class="mb-4 flex-row gap-md justify-space-between">
                                    <h2>Change request form</h2>
                                    <button class="btn btn-primary">Customize template</button>
                                </div>
                                <div class="p-1 p-lg-3 border rounded">
                                    <div class="forms-benefit-data-interface-window-buttons pb-2">
                                        <span class="window-button bg-coral-light"></span>
                                        <span class="window-button bg-pink"></span>
                                        <span class="window-button bg-indigo-light"></span>
                                    </div>
                                    <div style="overflow: hidden;">
                                        <iframe frameborder="0" allow="clipboard-write;camera;geolocation;fullscreen"
                                            src="https://budimaster.budibase.app/embed/change-request-form"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="template-card">
                    <div class="template-card-image bg-base-6">
                        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1708552004/cms/forms/informationRequest_ovylan.webp"
                            class="img-fluid" />
                    </div>
                    <h4 class="mt-3">Information request form</h4>
                    <p class="mt-3">The information request template provides users with a form to request information
                        and an app to track the status of their request.</p>
                    <button class="mt-3 btn-primary btn btn-sm" popovertarget="information-request-form">View
                        template</button>
                    <div id="information-request-form" class="rounded-lg" popover>
                        <div class="container-12">
                            <div class="p-lg-6">
                                <div class="mb-4 flex-row gap-sm justify-space-between">
                                    <h2>Information request form</h2>
                                    <button class="btn btn-primary">Customize template</button>
                                </div>
                                <div class="p-1 p-lg-3 border rounded">
                                    <div class="forms-benefit-data-interface-window-buttons pb-2">
                                        <span class="window-button bg-blue"></span>
                                        <span class="window-button bg-blue-steel"></span>
                                        <span class="window-button bg-navy"></span>
                                    </div>
                                    <div style="overflow: hidden;">
                                        <iframe frameborder="0" allow="clipboard-write;camera;geolocation;fullscreen"
                                            src="https://budimaster.budibase.app/embed/information-request-form"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="template-card">
                    <div class="template-card-image bg-base-6">
                        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1708552336/cms/forms/visitorCheckin_t0ohoy.webp"
                            class="img-fluid" />
                    </div>
                    <h4 class="mt-3">Visitor check-in form</h4>
                    <p class="mt-3">A simple form/app that allows visitors to check-in and check-out. A great starting
                        point for building a visitor management app.</p>
                    <button class="mt-3 btn-primary btn btn-sm" popovertarget="visitor-check-in-form">View
                        template</button>
                    <div id="visitor-check-in-form" class="rounded-lg" popover>
                        <div class="container-12">
                            <div class="p-lg-6">
                                <div class="mb-4 flex-row gap-sm justify-space-between">
                                    <h2>Visitor check-in form</h2>
                                    <button class="btn btn-primary">Customize template</button>
                                </div>
                                <div class="p-1 p-lg-3 border rounded">
                                    <div class="forms-benefit-data-interface-window-buttons pb-2">
                                        <span class="window-button bg-hot-pink"></span>
                                        <span class="window-button bg-crimson"></span>
                                        <span class="window-button bg-purple"></span>
                                    </div>
                                    <div style="overflow: hidden;">
                                        <iframe frameborder="0" allow="clipboard-write;camera;geolocation;fullscreen"
                                            src="https://budimaster.budibase.app/embed/visitor-management-app"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-9 text-center">
                <a class="a-alt" href="/{{ .Section }}/templates"> Browse all {{ .Section | singularize |
                    humanize | lower }} templates</a>
            </div>
        </div>
    </div>
</div>