
<div id="comparison" class="container-fw flex-row-md justify-center-xl space-2">
    <div class="container-12 text-center mb-4">
        <h2 class="hero-title">Budibase vs. the rest</h2>
    </div>
    <div class='alt-container'>
        <table class='alt-table bg-white no-scrollbar mx-auto rounded'>
            <thead>
                <tr>
                    <th class="solution-lp-header"></th>
                    <th class="solution-lp-header">
                        <div class="flex-row align-center justify-center ">
                            <div>
                                <img src="/budibase-symbol.svg" class="u-xxs-avatar mr-2" />
                            </div>
                            <p class="alt-header font-weight-medium">Budibase</p>
                        </div>
                    </th>
                    <th class="solution-lp-header">
                        <div class="flex-row align-center justify-center">
                            <div>
                                <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1707232664/cms/forms-vs-post/jotformIcon_zmjzzs.png" class="u-xxs-avatar mr-2" />
                            </div>
                            <p class="alt-header font-weight-medium">JotForm</p>
                        </div>
                    </th>
                    <th class='solution-lp-header '>
                        <div class="flex-row align-center justify-center">
                            <div>
                                <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1707232670/cms/forms-vs-post/typeformIcon_nxfbfn.png" class="u-xxs-avatar mr-2" />
                            </div>
                            <p class="alt-header font-weight-medium">Typeform</p>
                        </div>
                    </th>
                    <th class="solution-lp-header">                                
                        <div class="flex-row align-center justify-center">
                            <div>
                                <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1707232667/cms/forms-vs-post/formstackIcon_mgt2im.png" class="u-xxs-avatar mr-2" />
                            </div>
                            <p class="alt-header font-weight-medium">Formstack</p>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>Multi-step forms</td>
                    <td class='' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='FormStack'>
                        <img src="/img/svg/check.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>Conditional logic
                    </td>
                    <td class='' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='FormStack'>
                        <img src="/img/svg/check.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>
                        Front-end scripting
                    </td>
                    <td class='align-center ' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='FormStack'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>
                        Custom CSS
                    </td>
                    <td class='' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class=' ' data-title='Typeform'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='FormStack'>
                        <img src="/img/svg/check.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>
                        Internal database
                    </td>
                    <td class='' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='FormStack'>
                        <img src="/img/svg/check.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>
                        Access to data and schema
                    </td>
                    <td class='' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='FormStack'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>
                        SQL connection
                    </td>
                    <td class=' ' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='FormStack'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>
                        REST API connection
                    </td>
                    <td class=' ' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='FormStack'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>
                        Automation builder
                    </td>
                    <td class=' ' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='FormStack'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>
                        Free tier
                    </td>
                    <td class='' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class=' ' data-title='FormStack'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>
                        Free forms
                    </td>
                    <td class='' data-title='Budibase'>       
                        <span class="tag-forestgreen">Unlimited</span>
                    </td>
                    <td class='' data-title='JotForm'>
                        <span class="tag">5</span>
                    </td>
                    <td class='' data-title='Typeform'>
                        <span class="tag-forestgreen">Unlimited</span>
                    </td>
                    <td class='' data-title='FormStack'>
                        <span class="tag-dark">None</span>
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>Embeddable forms</td>
                    <td class='' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='FormStack'>
                        <img src="/img/svg/check.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>RBAC</td>
                    <td class='' data-title='Budibase'>       
                      <span class="tag-forestgreen">Free</span>
                    </td>
                    <td class='' data-title='JotForm'>
                        <span class="tag-dark">Paid</span>
                    </td>
                    <td class='' data-title='Typeform'>
                        <span class="tag-dark">Paid</span>
                    </td>
                    <td class='' data-title='FormStack'>
                        <span class="tag-dark">Paid</span>
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>SSO</td>
                    <td class='' data-title='Budibase'>       
                      <span class="tag-forestgreen">Free</span>
                    </td>
                    <td class='' data-title='JotForm'>
                        <span class="tag-dark">Paid</span>
                    </td>
                    <td class='' data-title='Typeform'>
                        <span class="tag-dark">Paid</span>
                    </td>
                    <td class='' data-title='FormStack'>
                        <span class="tag-dark">Paid</span>
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>API and Webhooks</td>
                    <td class='' data-title='Budibase'>       
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/check.svg" />
                    </td>
                    <td class=' ' data-title='FormStack'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>
                        Requests to external APIs
                    </td>
                    <td class=' ' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='FormStack'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                </tr>
                <tr class='text-center'>
                    <td class='text-left font-weight-medium' data-title=''>
                        Dynamic forms
                    </td>
                    <td class=' ' data-title='Budibase'>       
                      <img src="/img/svg/check.svg" />
                    </td>
                    <td class='' data-title='JotForm'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='Typeform'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                    <td class='' data-title='FormStack'>
                        <img src="/img/svg/cross.svg" />
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="text-center text-xs mt-4 hero-description">Read the <a href="/alternatives/forms">complete comparison</a>.</p>

    </div>
</div>