{{ partial "header.html" . }} {{ partial "navigation-test.html" . }}


<!-- Hero Section -->
<div class="space-2">
  <div class="container mb-9">
    <div class="w-lg-60 mx-auto text-center">
      <h1 class="mb-3 mb-4">
        Custom healthcare software development with low-code tools
      </h1>
      <p class="mx-auto display-lead mb-8 text-center"> Budibase is the smart choice for custom healthcare software development. Our open-source, low-code platform offers fast builds, superior developer experiences, and incredible functionality. Maximize efficiency with our innovative low-code solutions. Build solutions for everything from patient management, to information sharing, resource allocation, and outcome monitoring. With Budibase, you can create custom healthcare tools in as little as five minutes.
      </p>
    </div>
    <div class="template-hero-images no-scrollbar mb-6 ">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/approval-apps/expense-approval.webp" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/img/industries/healthcare.jpg" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/img/industries/healthcare-employees.png" />
    </div>
  </div>
  <div class="container mx-auto w-lg-60 space-2 border flex-row">
    <p class="display-lead-lg text-dark text-center">
        "Those same apps, with Budibase, are now here in less than an hour. Colleagues were stunned by the data import functionality, seeing a spreadsheet turn into a web app in minutes was the cherry on top."
    </p>
    <div class="mx-auto text-center">
        <p class="text-xs mt-4"><i>Davide Lenzarini, IT manager</i></p>
        <img src="/img/customers/schnellecke-logistics.png" class="img-fluid rounded w-lg-25 mb-2" />
        <a href="/customers/schnellecke/" class="a-alt"><p class="text-xs">Read more</p></a>

    </div>
</div>
</div>

<!-- What Section -->
<div class="space-2 bg-red-pastel">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-4 text-center">Digitalizing healthcare workflows</h2>
    </div>
    <p class="w-lg-60 text-center mx-auto display-lead text-thin">Healthcare providers have some of the most complex workflows of any industry. Efficient and robust processes are critical. Digitalizing healthcare workflows leads to better patient outcomes, more effective resourcing, and improved oversight.
    </p>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
          </svg>
        </div>
        <h4 class="mb-2">Streamline processes</h4>
        <p class="text-sm text-thin">
          Automate workflows, improve information sharing, and reduce treatment times. Budibase is built to optimize processes, for superior patient experiences.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
          </svg>
        </div>
        <h4 class="mb-2">Improve oversight</h4>
        <p class="text-sm text-thin">
          Improve oversight and maximize accountability within your organization. Track and analyze patient outcomes, resource usage, and more with our low-code platform.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
        <h4 class="mb-2">Protect patient data
        </h4>
        <p class="text-sm text-thin">
          Healthcare providers handle incredibly sensitive data. Security is a key risk factor. Choose Budibase for leading security, optional self-hosting, and custom RBAC.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
        </div>
        <h4 class="mb-2">Centralize resources</h4>
        <p class="text-sm text-thin">
          Effective healthcare is built on communication and information sharing. Build healthcare resources and tools that your team can access anywhere, from any device.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container space-2">
  <div class="hero-container">
    <div>
      <h2 class="mb-3">Introducing Budibase, an open-source low-code platform</h2>
      <p class="display-lead">Budibase is the fast and cost-effective way to build custom healthcare management solutions. With our intuitive platform, you can build fully custom tools, with minimal coding skills.
      </p>
    </div>
    <div class="hero-image video-mask rounded">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/budibase-ui-gradient.png" />
    </div>
  </div>
  <div class="mt-8 container-benefit">
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
        </svg>
      </div>
      <h4 class="mb-2">Complete customization</h4>
      <p class="text-sm text-thin">
        Build fully custom healthcare software, in under five minutes.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
        </svg>
      </div>
      <h4 class="mb-2">Mobile-friendly apps</h4>
      <p class="text-sm text-thin">
        Budibase tools work perfectly on all kinds of devices.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
        </svg>
      </div>
      <h4 class="mb-2">Self-hosting
      </h4>
      <p class="text-sm text-thin">
        Choose self-hosting or our Budibase Cloud platform.</p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
        </svg>
      </div>
      <h4 class="mb-2">Public & private screens</h4>
      <p class="text-sm text-thin">
        Grant access to users, based on seniority, job title, location, and more.
      </p>
    </div>
  </div>
</div>

<div class="space-2 bg-alt-light">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Self-hosting and cloud deployments</h2>
        <p class="display-lead-sm">With Budibase, you have complete control over how you deploy and host your custom tools. Choose self-hosting or Budibase Cloud for your custom healthcare solutions. Deploy to your own infrastructure, using Kubernetes, Docker, Docker Compose, Digital Ocean, and more. Our low-code platform is the ideal way to build <a href="https://budibase.com/internal-tools">internal tools</a>, web applications, and mobile apps.
        </p>
      </div>
      <div class="hero-image bg-blue-pastel rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/self-host.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2 bg-alt-light">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Workflow automation for healthcare</h2>
        <p class="display-lead-sm">Maximize efficiency by automating key admin tasks. Reduce operating costs, while freeing up more time to spend with patients. Workflow automation is crucial for modern healthcare providers.
          Use any in-app action to trigger Budibase’s library of built-in automations. Build custom automations using JavaScript, handlebars expressions, formula variables, conditional UIs, and <a href="https://budibase.com/integration">third-party integrations</a>.
          </p>
      </div>
      <div class="hero-image bg-red-pastel rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/automation.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2 bg-alt-light">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">External data support</h2>
        <p class="display-lead-sm">Budibase offers unrivaled support for existing datasets. Connect to external data, using MySQL, MSSQL, Postgres, Airtable, CouchDB, MongoDB, S3, Oracle, RestAPI, and more. Choose our built-in BudibaseDB, and centralize spreadsheet data in seconds.Manipulate, manage, and leverage data from a wide variety of sources. Budibase is the perfect platform for <a href="https://budibase.com/blog/legacy-application-modernization/4-low-code-legacy-application-modernization-strategies-budibase/">legacy application modernization </a> or building custom tools from scratch.
          </p>
      </div>
      <div class="hero-image bg-green-pastel rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/external-data.webp" />
      </div>
    </div>
  </div>
</div>


<div class="space-2 bg-alt-light">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Role-based access control</h2>
        <p class="display-lead-sm">Budibase offers fully customizable RBAC. Grant permissions to users based on their role, department, seniority, location, or any other attributes. Assign different app screens to any permission tier, at the press of a button. Maximize security and usability, by giving users access to the exact features and data they need.  Major organizations around the world trust Budibase to keep their mission-critical data safe. With optional self-hosting and custom RBAC, we empower users to implement the perfect security standards for their needs.        
          </p>
      </div>
      <div class="hero-image bg-purple-pastel rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/rbac.webp" />
      </div>
    </div>
  </div>
</div>

{{ partial "integrations.html" . }}


<!-- Create Section -->
<div class="space-2 bg-light-2">
  <div class="container-narrow">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-8">Build custom healthcare tools in 4 steps</h2>
    </div>
    <div class="benefits-new-container w-lg-80">
      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/external-data-sources.webp" target="_blank">
            <img src="/img/ui/data-sm.webp" class="img-fluid rounded-sm" alt="Data" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">1. Connect your data</h4>
          <p class="text-sm">
            Build your app around existing datasets or use our built-in database.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/design.webp" target="_blank">
            <img src="/img/hero-gallery/portal.webp" class="img-fluid rounded-sm" alt="design" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">2. Create beautiful screens</h4>
          <p class="text-sm">
            Use our simple design tools to create professional apps in minutes.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/automate.webp" target="_blank"><img src="/img/ui/automate-sm.webp"
              class="img-fluid rounded-sm" alt="automate" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">3. Build automations</h4>
          <p class="text-sm">
            Set custom automation rules, in just a few clicks.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/ui/design-wide.webp" target="_blank">
            <img src="/img/ui/admin-sm.webp" class="img-fluid rounded-sm" alt="apps-list" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">4. Deploy and scale</h4>
          <p class="text-sm">
            Self-host or use our Budibase Cloud platform to deploy your apps.
          </div>
      </div>
    </div>
  </div>
</div>


<div class="space-2" id="features">
  <div class="container text-center">
    <h2 class="mb-3">Powerful low-code features</h2>
    <p class="mb-6 w-lg-50 mx-auto text-center">Enjoy unparalleled development times, without compromising on functionality. Budibase is the fast, cost-effective choice for custom healthcare software development.
    </p>
    <div class="solutions-features">
      <div class="solutions-features-card rounded-xs">
        <h4>Multi-screen apps</h4>
        <p class="text-xs text-thin">Build navigable, multi-screen apps, in minutes.</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>RBAC</h4>
        <p class="text-xs text-thin">Give different users access to the exact data and features they need.

        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Conditionality</h4>
        <p class="text-xs text-thin">Create powerful conditional UIs, in seconds.        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Low-code design</h4>
        <p class="text-xs text-thin">Our platform is built on a range of intuitive, low-code design tools.        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Accessible components</h4>
        <p class="text-xs text-thin">Budibase app components are fully tested for key accessibility standards.        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Responsive apps        </h4>
        <p class="text-xs text-thin">Budibase tools work seamlessly on desktop, mobile, or tablet devices.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Automated workflows</h4>
        <p class="text-xs text-thin">Automate healthcare management workflows, for maximum efficiency.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Free SSO</h4>
        <p class="text-xs text-thin">Enjoy single sign-on across all of your Budibase tools.

        </p>
      </div>
    </div>
  </div>
</div>
<div class="space-2-top space-3-bottom">
  <div class="container text-center">
    <h2 class="mb-3">Deploy your apps</h2>
    <p class="mx-auto w-lg-50 text-center">Deploy your apps via Kubernetes,
      Docker, Digital Ocean. Or choose the Budibase Cloud and let Budibase manage everything for you.
    </p>
    {{ partial "deploy-options.html" . }}
  </div>
</div>
</div>

<div class="bg-light-2">
  <div class="container space-2 mx-auto">
    <h2 class="mb-3 mb-4 text-center">
      Customizable healthcare software templates

      </h1>
      <div class=" w-lg-60 mx-auto">
        <p class="mx-auto display-lead-sm mb-6 text-center"> We’re on a mission to build the world’s largest ecosystem of open-source tools. Check out our range of customizable templates for healthcare and hospital digitalization.

        </p>
      </div>
      <div class="container-narrow space-2-bottom">
        <div class="templates-cards">
          {{ range where .Pages "Section" "!=" "templates" }}
          {{ range first 3 .Pages }}
          <a href="{{.Permalink}}">
            <div class="templates-card rounded-sm">
              <div class="template-thumbnail pt-4 pl-4  mb-4 img-fluid bg-{{ .Params.thumbnailColor }}">
                <img class="template-card-img img-fluid" src="{{ .Params.thumbnail }}" />
              </div>
              <h2 class="h4 mb-3">{{ .Params.label }}</h2>
              <p class="mb-3">{{ .Summary }} </p>
              <p class="text-blue text-sm templates-card-link">Get this template</p>
            </div>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="my-3 text-center">
        <a href="/{{ .Section }}/templates" class="btn btn-cta btn-lg"> Browse all {{ .Section | singularize | humanize
          | lower }} templates</a>
      </div>
  </div>
</div>


<div class="article space-2 ">
  <div class="container-9">
    <h2>FAQs</h2>
    <p>Here’s everything you need to know about using our low-code platform for custom healthcare software development.</p>
    <div class="faq space-1-top space-3-bottom ">
    {{ .Content }}
    </div>
  </div>
</div>

{{ partial "cta.html" . }}
<hr style="width: 30%" />
{{ partial "footer.html" . }}
</div>