{{ partial "header.html" . }} {{ partial "navigation.html" . }}


<!-- Hero Section -->
<div class="space-2">
  <div class="container mb-9">
    <div class="w-lg-60 mx-auto text-center">
      <h1 class="mb-3 mb-4">
        Operate faster with open-source logistics software
      </h1>
      <p class="mx-auto lead mb-8 text-center"> At Budibase, we’re transforming logistics management software
        development, forever. With our open-source, low-code platform, you can build fully deployable, custom apps, in
         minutes - with or without coding. Budibase is the fast, cost-effective way to build tools for managing fleets,
        inventories, clients, distribution networks, and more.
      </p>
    </div>
    <div class="template-hero-images no-scrollbar mb-6 ">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/business-apps/business-application-cards.png" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/img/img/logistics.webp" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/business-apps/business-application-tables.png" />
    </div>
  </div>
  <div class="container mx-auto w-lg-40 space-2  flex-row">
    <p class="lead text-dark text-center">
        "Those same apps, with Budibase, are now here in less than an hour. Colleagues were stunned by the data import functionality, seeing a spreadsheet turn into a web app in minutes was the cherry on top."
    </p>
    <div class="mx-auto text-center">
        <p class="text-xs mt-4"><i>Davide Lenzarini, IT manager</i></p>
        <img src="/img/customers/schnellecke-logistics.png" class="img-fluid rounded w-lg-25 mb-2" />
        <a href="/customers/schnellecke/" class="a-alt"><p class="text-xs">Read more</p></a>

    </div>
</div>
</div>

<!-- What Section -->
<div class="space-2 bg-light-2">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-4 text-center">Digital solutions for logistics</h2>
    </div>
    <p class="w-lg-60 text-center mx-auto lead text-thin">In the logistics industry, efficiency is everything.
      Streamlined processes, fast decision-making, and low time to market are crucial for profitability. Low code tools
      are revolutionizing logistics and supply chain application development.
    </p>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
          </svg>
        </div>
        <h4 class="mb-2">Drive ROI</h4>
        <p class="text-sm text-thin">
          Whether it’s getting products to market or solving logistical problems, speed is everything. Budibase is built
          to create efficient, streamlined workflows.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
          </svg>
        </div>
        <h4 class="mb-2">Reduce risk</h4>
        <p class="text-sm text-thin">
          Businesses in the logistics industry face unique risks and challenges. Build custom tools to manage risks and
          monitor outcomes.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
          </svg>
        </div>
        <h4 class="mb-2">Centralize resources
        </h4>
        <p class="text-sm text-thin">
          Build tools to centralize resources. With Budibase, it’s easy to create intuitive, user-friendly apps, using a
          wide range of external data sources.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
          </svg>
        </div>
        <h4 class="mb-2">Manage change</h4>
        <p class="text-sm text-thin">
          Our low-code platform empowers companies to adapt to changing needs, and build apps that solve key business
          problems, in minutes.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container space-2">
  <div class="hero-container">
    <div>
      <h2 class="mb-3">Introducing Budibase, an open-source low-code platform</h2>
      <p class="lead">At Budibase, we’re revolutionizing the way businesses build custom software solutions. Our
        low-code platform is the fast and cost-effective way to create business tools. </p>
    </div>
    <div class="hero-image video-mask rounded">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/homepage-meta.png" />
    </div>
  </div>
  <div class="mt-8 container-benefit">
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
        </svg>
      </div>
      <h4 class="mb-2">100% customizable</h4>
      <p class="text-sm text-thin">
        Build fully customized, branded apps in minutes.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
        </svg>
      </div>
      <h4 class="mb-2">Mobile, tablet, desktop</h4>
      <p class="text-sm text-thin">
        Budibase tools work seamlessly on devices of all kinds.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
        </svg>
      </div>
      <h4 class="mb-2">Optional self-hosting
      </h4>
      <p class="text-sm text-thin">
        Choose self-hosting or our cloud-based platform.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
        </svg>
      </div>
      <h4 class="mb-2">Public & private screens</h4>
      <p class="text-sm text-thin">
        Assign different permissions to different classes of users.
      </p>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Self-hosting and cloud deployments</h2>
        <p class="lead">Budibase gives you the power to choose the right hosting and deployment for your
          business. Choose self-hosting or our Budibase Cloud platform. Deploy to your own infrastructure using
          Kubernetes, Docker, Docker Compose, Digital Ocean, and more.
          With our flexible hosting options, enterprises around the world choose Budibase to build web tools, mobile
          apps, internal software, and more.
        </p>
      </div>
      <div class="hero-image bg-blue-100 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/self-host.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Automated business processes</h2>
        <p class="lead">Budibase is built to automate processes. Use any in-app action to trigger our library of
          built-in automations. Use handlebars expressions, third-party integrations, formula variables, and custom
          JavaScript to build your own powerful automation rules. Use our platform to automate logistics workflows,
          reduce operating costs, eliminate admin tasks, and optimize time-to-market.</p>
      </div>
      <div class="hero-image bg-red-200 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/automation.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2 ">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">External data support</h2>
        <p class="lead">Use Budibase to centralize existing datasets. Connect your Budibase tools to external
          data using MSSQL, MySQL, Postgresql, MongoDB, CouchDB, Airtable, Oracle, S3, RestAPI, and more. We also offer
          our own built-in database, with support for CSV uploads. Say goodbye to disorganized data. With Budibase, it’s
          easy to build intuitive apps for managing and leveraging a variety of datasets.</p>
      </div>
      <div class="hero-image bg-green-200 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/external-data.webp" />
      </div>
    </div>
  </div>
</div>


<div class="space-2  ">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Role-based access control</h2>
        <p class="lead">Use custom RBAC to control how users interact with your Budibase tools. Assign different
          permission tiers, based on job role, seniority, location, department, or any other user variables. Use simple
          drop-down editors to limit individual app screens to any permission tier. Our custom RBAC offers maximum
          security and usability across all user groups.</p>
      </div>
      <div class="hero-image bg-indigo-200 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/rbac.webp" />
      </div>
    </div>
  </div>
</div>

{{ partial "integrations-templates.html" . }}


<!-- Create Section -->
<div class="space-2 bg-light-2">
  <div class="container-narrow">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-8">Custom logistics software development in 4 steps</h2>
    </div>
    <div class="benefits-new-container w-lg-80">
      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/external-data-sources.webp" target="_blank">
            <img src="/img/ui/data-sm.webp" class="img-fluid rounded-sm" alt="Data" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Build your data layer</h4>
          <p class="text-sm">
            Use our range of configuration options to prepare your app’s data layer.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/design.webp" target="_blank">
            <img src="/img/hero-gallery/portal.webp" class="img-fluid rounded-sm" alt="design" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Design your app</h4>
          <p class="text-sm">
            Use our intuitive low-code platform to create professional app screens, in minutes.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/automate.webp" target="_blank"><img src="/img/ui/automate-sm.webp"
              class="img-fluid rounded-sm" alt="automate" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Create automations</h4>
          <p class="text-sm">
            Streamline admin processes and eliminate operational costs with our range of powerful automations.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/ui/design-wide.webp" target="_blank">
            <img src="/img/ui/admin-sm.webp" class="img-fluid rounded-sm" alt="apps-list" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Deploy and scale</h4>
          <p class="text-sm">
            Choose self-hosting or Budibase Cloud. Budibase tools are ready to scale with your business.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="space-2" id="features">
  <div class="container text-center">
    <h2 class="mb-3">Powerful low-code logistics software</h2>
    <p class="mb-6 w-lg-50 mx-auto text-center">Budibase is the fast and cost effective way to build deployable and feature-packed logistics solutions.
    </p>
    <div class="solutions-features">
      <div class="solutions-features-card rounded-xs">
        <h4>Multi-screen apps</h4>
        <p class="text-xs text-thin">Create professional, multi-screen logistics management apps.</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>RBAC</h4>
        <p class="text-xs text-thin">Assign permissions to different users, based on their role.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Conditional UI</h4>
        <p class="text-xs text-thin">Create conditional UIs for optimized user experiences.</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Design</h4>
        <p class="text-xs text-thin">Choose from several beautiful themes, with full customization.</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Accessible components</h4>
        <p class="text-xs text-thin">All components and blocks are fully accessibility tested.</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Apps work on mobile</h4>
        <p class="text-xs text-thin">Create open-source logistics software that works seamlessly on any device.        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Automated workflows</h4>
        <p class="text-xs text-thin">Set custom rules to automate key business processes.</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Free SSO</h4>
        <p class="text-xs text-thin">Enjoy single sign-on across all of your Budibase tools.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="space-2-top space-3-bottom">
  <div class="container text-center">
    <h2 class="mb-3">Deploy your apps</h2>
    <p class="mx-auto w-lg-50 text-center">Deploy your appsvia Kubernetes,
      Docker, Digital Ocean. Or choose the Budibase Cloud and let Budibase manage everything for you.
    </p>
    {{ partial "deploy-options.html" . }}
  </div>
</div>
</div>

<div class="bg-light-2">
  <div class="container space-2 mx-auto">
    <h2 class="mb-3 mb-4 text-center">
      Free {{ .Section | singularize | humanize | lower }} templates
      </h1>
      <div class=" w-lg-60 mx-auto">
        <p class="mx-auto lead-sm mb-6 text-center"> Explore our favourite free {{ .Section | singularize |
          humanize | lower }} templates. With Budibase's intuitive low-code platform, you can customize your design in
          just a few clicks.
        </p>
      </div>
      <div class="container-narrow space-2-bottom">
        <div class="templates-cards">
          {{ range where .Pages "Section" "!=" "templates" }}
          {{ range first 3 .Pages }}
          <a href="{{.Permalink}}">
            <div class="templates-card rounded-sm">
              <div class="template-thumbnail pt-4 pl-4  mb-4 img-fluid bg-{{ .Params.thumbnailColor }}">
                <img class="template-card-img img-fluid" src="{{ .Params.thumbnail }}" />
              </div>
              <h2 class="h4 mb-3">{{ .Params.label }}</h2>
              <p class="mb-3">{{ .Summary }} </p>
              <p class="text-blue text-sm templates-card-link">Get this template</p>
            </div>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="my-3 text-center">
        <a href="/{{ .Section }}/templates" class="btn btn-cta btn-lg"> Browse all {{ .Section | singularize | humanize
          | lower }} templates</a>
      </div>
  </div>
</div>


<div class="article space-2 ">
  <div class="container-9">
    <h2>FAQs</h2>
    <p>Our mission is to build the world’s largest ecosystem of open-source business tools. Check out our free, customizable logistics app templates.</p>
    <div class="faq space-1-top space-3-bottom ">
    {{ .Content }}
    </div>
  </div>
</div>

{{ partial "cta.html" . }}
<hr style="width: 30%" />
{{ partial "footer.html" . }}
</div>