{{ partial "header.html" . }} {{ partial "navigation.html" . }}
<div class="bg-light1">
    <div class="container space-hero">
      <div class="hero-container">
        <div class="">
          <h1 class="mb-3 mb-4 w-lg-80">
            Welcome to the community Budi 👋
          </h1>
          <p class="mb-4 w-lg-90"> Join our community, and help us transform the lives of millions of developers, employees, and
            businesses. Below are the channels where our community hangs out.
          </p>
          <a href="https://discord.gg/ZepTmGbtfF" target="_blank">
            <div class="community-link-item mb-2">
                <div class="community-link-content">
                    <img src="/integration/discord/images/logo.svg" class="u-sm-avatar"/>                  
                    <p class="ml-3 text-xs">Discord - Chat with community</p>
                 </div>
                 <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z" fill="black" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
            </div>
        </a>

        <a href="https://github.com/Budibase/budibase/discussions" target="_blank">
            <div class="community-link-item">
                <div class="community-link-content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                  </svg>
                  <p class="ml-3 text-xs">Github Discussions - Feature requests / Issues</p>
                </div>
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z" fill="black" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
            </div>
        </a>
  
        </div>
        <div class="hero-image video-mask rounded">
          <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1628151588/1.%20Illustrations/Scene_3_web_version_fyj1gv.webp" class="img-fluid"/>
          <!--<div style="padding:56.25% 0 0 0;position:relative;"><iframe
              src="https://player.vimeo.com/video/696052886?h=a0babe9d15&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
              frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
              style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Budibase intro.mov"></iframe></div>
          <script src="https://player.vimeo.com/api/player.js"></script>-->
        </div>
      </div>
    </div>

        <div class="container-7 space-2-top">
            <h2 class="mb-4">Rallying Call</h2>
            <p class="mt-2 mb-4">
                As developers, software development is everything. But, sadly, it's also a common source of frustration.
                For me, exasperation stemmed from repetition. And, eventually, I suffered from burnout.
            </p>
            <p class="mb-4">
                Time and time again, as developers, we are tasked with building simple CRUD apps to help with business
                operations. These tools are critical to the existence and growth of the companies we work at but they're
                repetitive and painful to build. As a developer, I detested building these tools. And I soon found out,
                thousands/millions of other developers felt the same.
            </p>
            <p>
                So, Budibase was born.
            </p>
            <div class="space-1"></div>
            <h2 class="mb-4">A new horizon for developers</h2>
            <p class="mt-2 mb-4">
                Budibase is a development platform for building, automating, and shipping business applications.
                We vehemently believe, building applications with Budibase should feel magical. To steal a phrase from
                Marie Kondo, we want to "spark joy" when developers use Budibase.
            </p>
            <p class="mb-6">
                To do this, we must focus obsessively on what makes a great developer experience and show a level of
                altruistic commitment. This led us to our first initiative, <b>The Budibase Commitments</b>. Combined,
                these
                commitments illustrate a pledge from us, as a company, to our incredible community:
            </p>
            </p>
            <h4 class="mb-2">1. Open</h4>
            <p class="mb-6">Developers are curious and security conscious. They want the ability to self-host on their
                own infrastructure and roam the codebase. Budibase commits to always offering a free, open platform,
                that developers can inspect the code base and host themselves.</p>
            <h4 class="mb-2">2. Extensible</h4>
            <p class="mb-6">Developers don't want to feel locked in or limited by a solution. Budibase commits to always
                providing developers with a way to code against the platform, add components/integrations to the
                platform, and export their apps/data.</p>
            <h4 class="mb-2">3. Fast</h4>
            <p class="mb-6">Developers are busy. Budibase commits to making the process of building internal tools and workflows as fast and pleasant as possible.</p>
            <h4 class="mb-2">4. Community-driven</h4>
            <p>Developers love communities. Budibase must always support and invigorate the community. This
                includes, and is not limited to, providing a thriving marketplace, great docs, an incredible forum, a
                place to raise issues and contribute to the code base, add plugins, design themes, and in some cases -
                earn money!</p>

            <div class="space-1"></div>
            <h2 class="mb-4">Accelerating forward </h2>
            <p class="mb-4">
                We've spoken about our commitment to providing a great developer experience. What we have not
                spoken about is our quest to build a thriving ecosystem. We will do this by fostering a community of
                developers who build integrations, UI components, and application templates for
                themselves and for the wider community.
            </p>
            <p class="mb-4">
                For our community members, we are committed to providing you with immense value. Ultimately, our
                community will be our biggest strength. We want to form a symbiotic relationship with our community, so
                that what is good for Budibase Inc is good for the Budibase community, and vice versa.

            </p>
            <p class="mb-4">
                Building an inclusive, sustainable community, where all parties benefit and enjoy being a part of will
                help us achieve our vision: a world where anyone can build internal tools and automate processes, in minutes.

            </p>
            <p class="mb-4">
                There will come a time when our community transforms into an ecosystem. It's at this point when we
                unlock the barriers for others to utilize templates from the marketplace.
                Budibase will eventually become the home of business applications and workflow automation. An ecosystem where users of all levels can
                utlize a ready-made solution to a business procedure or operation.
            </p>
            <p class="mb-4">
                Our mission and vision are gargantuan and ambitious. But, with a great developer experience, a
                best-in-class product, and a thriving ecosystem, we will get there.
            </p>
            <p>
                We ask you to join us, and help us transform the working lives of millions, potentially billions of
                developers, employees, and businesses.
            </p>
        
            <p class="mt-4"><b>Michael Shanks</b></p>
            <p>Budibase CEO</p>
        </div>
    </div>
{{ partial "cta.html" . }}
{{ partial "footer.html" . }}