{{ partial "header.html" . }} {{ partial "navigation.html" . }}

<!-- Hero Section -->
<div class="border-bottom position-sticky sticky-subnav">
  <div class="inner-nav container py-3">
    <a href="#create" class="mr-2 a-alt text-sm">Create</a>
    <a href="#features" class="mr-2 a-alt text-sm">Features</a>
    <a href="#deploy" class="mr-2 a-alt text-sm">Deploy</a>
    <a href="#templates" class="mr-2 a-alt text-sm">Templates</a>
    <a href="#faqs" class="mr-2 a-alt text-sm">FAQs</a>
  </div>
</div>
<div class="space-2">
  <div class="container flex-row">
    <div class="w-lg-50 mx-auto text-center">
      <h1 class="hero-title-lg mb-3 mb-4">
         Custom {{ .Section }} <br>for every process
      </h1>
      <p class="mx-auto display-lead-lg mb-8"> Build custom {{ .Section }} that look great, integrate seamlessly, and you can self-host.
      </p>
    </div>
    <div class="template-hero-images no-scrollbar mb-6 ">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/forms/dynamic-form.png" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/forms/multi-step-form.png" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/forms/conditional-form.png" />
    </div>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
          </svg>
        </div>
        <h4 class="mb-1">100% customizable</h4>
        <p class="text-sm">
          Fully customize your {{ .Section }} to suit your brand
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
          </svg>
        </div>
        <h4 class="mb-1">Mobile, tablet, desktop</h4>
        <p class="text-sm text-light">
          {{ .Section | humanize }} work on mobile, tablet, and desktop
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
          </svg>
        </div>
        <h4 class="mb-1">Self-hosting available</h4>
        <p class="text-sm">
          Self-host your {{ .Section }} or let Budibase manage them
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
            <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="black">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
        </div>
        <h4 class="mb-1">Public & private forms</h4>
        <p class="text-sm">
          Collect data from public users or private users
        </p>
      </div>
    </div>
  </div>
  </div>
</div>



<!-- Create Section -->
<div class="space-2" id="create">
<div class="container">
  <div class="text-sm-center mx-auto">
    <h2 class="w-lg-40 mx-auto mb-8">Create, automate and scale {{ .Section }} in 4 simple steps</h2>
  </div>
  <div class="benefits-new-container w-lg-80">
    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/img/external-data-sources.webp" target="_blank">
          <img
          src="/img/ui/data-sm.webp"
          class="img-fluid rounded-sm"
          alt="Data"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">Prepare your data</h4>
        <p class="text-sm">
          Connect to a SQL database, use a Rest API, or use Budibase's built-in database to create the data layer for your {{ .Section }}.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/design.webp" target="_blank">
            <img
            src="/img/hero-gallery/form.webp"
            class="img-fluid rounded-sm"
            alt="design"          
            />
          </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">Design your {{ .Section | singularize }}</h4>
        <p class="text-sm">
          Design fully custom beautiful {{ .Section }}, including multi-step forms in just a few minutes.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/img/automate.webp" target="_blank"><img
          src="/img/ui/automate-sm.webp"
          class="img-fluid rounded-sm"
          alt="automate"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">Set-up form notifications</h4>
        <p class="text-sm">
          Send email, Slack, Discord notifications when you receive a form submission.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/ui/design-wide.webp" target="_blank">
          <img
          src="/img/ui/admin-sm.webp"
          class="img-fluid rounded-sm"
          alt="apps-list"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">Scale with confidence</h4>
        <p class="text-sm">
          With SSO, advanced RBAC, the Budibase app portal, and self-hosting, you can scale with confidence.
        </p>
      </div>
    </div>
  </div>
</div>
</div>


<div class="space-2" id="features">
  <div class="container text-center">
    <h2 class="mb-3">{{ .Section | singularize | humanize }} features</h2>
    <p class="mb-6 w-lg-50 mx-auto">Budibase's low-code platform makes it easy to build fully custom forms that perfectly fit your operations.
    </p>
    <div class="solutions-features">
      <div class="solutions-features-card rounded-xs">
        <h4>Title</h4>
        <p class="text-xs">Description</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Title</h4>
        <p class="text-xs">Description</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Title</h4>
        <p class="text-xs">Description</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Title</h4>
        <p class="text-xs">Description</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Title</h4>
        <p class="text-xs">Description</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Title</h4>
        <p class="text-xs">Description</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Title</h4>
        <p class="text-xs">Description</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Title</h4>
        <p class="text-xs">Description</p>
      </div>
    </div>
  </div>
</div>

<div class="space-2-top space-3-bottom" id="deploy">
  <div class="container text-center">
    <h2 class="mb-3">Deploy your {{ .Section }}</h2>
    <p class="mx-auto w-lg-50">Deploy your {{ .Section }} via Kubernetes, Docker, Digital Ocean. Or choose the Budibase Cloud and let Budibase manage everything for you.
    </p>
    {{ partial "deploy-options.html" . }}
  </div>
</div>
</div>

<div class="container space-2 mx-auto" id="templates">
  <h2 class="mb-3 mb-4 text-center">
    Free {{ .Section | singularize}} templates
  </h1>
<div class=" w-lg-60 mx-auto">
  <p class="mx-auto display-lead-sm mb-4 text-center"> Explore our favourite free {{ .Section | singularize}} templates. With Budibase's intuitive low-code platform, you can customize your design in just a few clicks.
</p>
</div>
  <div class="templates-cards">
      <a href="">
          <div class="templates-card rounded-sm">
              <img class="template-card-img img-fluid mb-4" src="/img/hero-gallery/form.webp" />
                  <h2 class="h4 mb-3">Lead generation app</h2>
                  <p class="mb-3">Capture leads with a public multi-step form, and analyse results with a private dashboard. </p>
                  <p class="text-blue text-sm templates-card-link">Get this template</p>
          </div>
      </a>
  </div>
<div class="my-4 text-center">
  <a href="/forms/templates" class="btn btn-cta btn-lg"> Browse all {{ .Section | singularize }} templates</a>
</div>
</div>

{{ partial "integrations-templates.html" . }}
<div class="space-2" id="faqs">
  <div class="container text-center">
    <h2 class="mb-4">Answers to your {{ .Section }} questions</h2>
</div>
<div class="container space-2">
  <div class="faq">
      <div class="question">
          <p><b>When is the launch?</b></p>
      </div>
      <div class="answer">
          <p>We're in public beta and you can <a href="https://docs.budibase.com/">try it now for free.</a>  We will publicly launch in January/February 2021. </p>
      </div>
  </div>
  <div class="faq">
      <div class="question">
          <p><b>Do I need to know how to code</b></p>
      </div>
      <div class="answer">
          <p>You do not need to know how to code, but in some cases, knowing some code will allow you to build better web apps. </p>
      </div>
  </div>
  <div class="faq">
      <div class="question">
          <p><b>Is Budibase open source?</b></p>
      </div>
      <div class="answer">
          <p>Budibase is open-source. The builder is licensed AGPL v3, the server is licensed GPL v3, and the client is licensed MPL.</p>
      </div>
  </div>
  <div class="faq">
      <div class="question">
          <p><b>Can I build a website with Budibase?</b></p>
      </div>
      <div class="answer">
          <p>Budibase is for building internal tools and custom software.</p>
      </div>
  </div>
  <div class="faq">
      <div class="question">
          <p><b>Is Budibase free?</b></p>
      </div>
      <div class="answer">
          <p>Yes, to an extent. You will never pay for using the builder. There are certain processes you might need to pay for depending on the extent of your usage - for example, hosting and workflows. </p>
      </div>
  </div>
  <div class="faq">
      <div class="question">
          <p><b>Can I become a Budibase partner?</b></p>
      </div>
      <div class="answer">
          <p>Not yet, but we are exploring the finer details of partnerships so please register your interest: <a href="mailto:partnerships@budibase.com?subject=Partnerships%20-%20website%20enquiry&body=Hi%0D%0A%0D%0AMy%20name%20is%3A%0D%0AMy%20company's%20name%20is%3A%0D%0AWhat%20type%20of%20partnership%20do%20you%20seek%3A%0D%0AWhy%20do%20you%20want%20to%20become%20a%20Budibase%20partner%3A">Partnerships</a></p>
      </div>
  </div>
</div>
{{ partial "cta.html" . }}
<hr style="width: 30%" />
{{ partial "footer.html" . }}
</div>