{{ partial "head/header.html" . }}
<div class="bg-black h-100 container-fw space-2">
  <div class="container-7 space-hero">
    <a href="/" title="Return to Budibase homepage"><img src="https://res.cloudinary.com/daog6scxm/image/upload/v1699284176/Branding/Assets/Symbol/RGB/Full%20Colour/bb-symbol-trans_v60zdz.svg" class="u-avatar mb-4"/></a>
    <h1 class="mb-2 h2 text-white">Thank you for getting in touch</h1>
    <p class="text-white mb-4">Thanks for submitting the form. A member of the sales team will be in touch.</p>
    <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_300/v1663435119/1.%20Illustrations/11._Profile_cards_qh1xnk.png" class="img-fluid"/>
  </div>
</div>


  <div class="container-7 space-2">
    <h2 class="mb-4">Additional Resources</h2>
    <p><a href="/customers/covanta/">- Why Covanta uses Budibase</a></p>
    <p><a href="https://github.com/Budibase/budibase/projects/10">- Roadmap</a></p>
    <p><a href="https://github.com/Budibase/budibase">- Codebase</a></p>
    <p><a href="https://github.com/Budibase/budibase">- Docs</a></p>
  </div>
</div>
