<section id="benefits" class="container-narrow space-2">
    <h2 class="h1 text-center mb-8 w-lg-50 mx-auto">Everything you need to
        transform operations</h2>
    <div class="benefits-grid">
        <div class="benefits-grid-featured bg-gradient-gray">
            <div class="featured_wrapper">
                <img src="/img/svg/data.svg" class="w-lg-50" />
                <div class="featured-content">
                    <p class="detail text-gray">Introducing</p>
                    <h3 class="h1 mb-3 font-weight-bold">Dataspaces</h3>
                    <p class="lead">Bring your data, teams and workflows together to work smarter, create faster, and
                        turn data into action</p>
                </div>
                <a href="https://account.budibase.app/register" class="btn-primary btn btn-lg">Try it for free</a>
            </div>
        </div>
        <div class="benefits-grid-major-0 bg-gradient-gray">
            <div class="benefits-design-wrapper">
                <img src="/img/svg/design.svg" class="w-lg-50" />
                <div class="benefits-content mt-2">
                    <h3 class="h4 font-weight-semi-bold">50+ integrations</h3>
                    <p class="lead">Build the tools you need with the tools you love</p>
                </div>
            </div>
        </div>
        <div class="benefits-grid-minor-0 bg-gradient-gray">
            <div class="benefits-automate-wrapper">
                <div class="benefits-automate-content mt-2">
                    <h3 class="h4 mb-1 font-weight-semi-bold">Extend with code</h3>
                    <p class="lead">Power-up your workflows with code, queries, webhooks, plugins and our Public API</p>
                </div>
                <img src="/img/svg/automate.svg" class="w-lg-60 benefits-automate-image" />
            </div>
        </div>
        <div class="benefits-grid-major-1 bg-gradient-gray">
            <div class="benefits-design-wrapper">
                <img src="/img/svg/data.svg" class="w-lg-50" />
                <div class="benefits-content">
                    <h3 class="h4 mb-1 font-weight-semi-bold">Hosting on your terms</h3>
                    <p class="lead">Run Budibase securely within your own infrastructure.</p>
                </div>

            </div>
        </div>
        <div class="benefits-grid-minor-1 bg-gradient-gray">
            <div class="benefits-design-wrapper">
                <div class="benefits-content mt-2">
                    <h3 class="h4 mb-1 font-weight-semi-bold">Open source</h3>
                    <p class="lead">Budibase is open source and supported by a great community
                    </p>
                </div>

                    <img src="/img/svg/data.svg" class="w-lg-50" />
            </div>
        </div>
    </div>
</section>