
<section id="benefits" class="container space-2">
    <h2 class="h1 text-center mb-6">Introducing a smarter way to work</h2>
    <div class="benefits-grid">
        <div class="benefits-grid-featured">
            <p>Introducing</p>
            <h3 class="h1">Dataspaces</h3>
        </div>
        <div class="benefits-grid-major-0">
            <h3>Build custom apps in minutes</h3>

        </div>
        <div class="benefits-grid-minor-0">
            <h3>Automate workflows</h3>

        </div>
        <div class="benefits-grid-major-1">
            <h3>Self-host</h3>
        </div>
        <div class="benefits-grid-minor-1">
            <h3>Bring your own data</h3>

        </div>
    </div>
</section>