<section id="benefits" class="container-narrow space-2-top space-3-bottom">
    <div class="text-center mb-6 w-lg-60 mx-auto">
        <h2 class="mb-4 h1 hero-title display-font text-white">Transform operations</h2>
        <p class="lead-lg text-white opacity-75">Built for speed. Designed to scale. Proven to save.</p>
    </div>
    <div class="benefits-grid">
        <div class="benefits-grid-featured border bg-dark-light">
            <div class="featured_wrapper">
                <div class="featured-content ">
                    <p class="detail text-gray text-center mb-2">Proud to be</p>
                    <h3 class="h1 mb-3 font-weight-bold text-white">Open source</h3>
                    <p class="lead text-center text-white opacity-75 mb-4">Budibase is open source, allowing you to transform operations within the security of your own infrastructure. </p>
                    <a href="https://account.budibase.app/register" class="btn-primary btn-wide btn btn-lg">Try it for free</a>
                </div>
            </div>
        </div>
        <div class="benefits-grid-major-0 border bg-dark-light">
            <div class="benefits-design-wrapper mt-4">
                <div class="benefits-automate-content">
                    <h3 class="h4 mb-1 font-weight-semi-bold text-center text-white">$3m in annual savings</h3>
                    <p class="lead text-center text-white opacity-75">Covanta expect to make $3m in annual savings by reducing data entry.</p>
                </div>
                <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_635/v1675261194/customers/covanta_auztan.webp" 
                class="benefits-savings-image" 
                alt="man from covanta using clipboard"
                />
            </div>
        </div>
        <div class=" benefits-grid-major-1 border bg-dark-light">
            <div class="benefits-design-wrapper">
                <div class="benefits-automate-content mt-4">
                    <h3 class="h4 mb-1 font-weight-semi-bold text-white">Scaled to 100,000 users</h3>
                    <p class="lead text-center text-white opacity-75">The Bulgarian Gov created an app in 4 days and scaled it to 100,000+ users.</p>
                </div>
                  <img
                  src="https://res.cloudinary.com/daog6scxm/image/upload/v1675252157/customers/bulg-app_cxievn.webp"
                  class="img-fluid rounded-top-lg benefits-savings-image ml-6"
                  alt="scale budibase"          
                />            
            </div>
        </div>
        <div class="benefits-grid-minor-0 border bg-dark-light ">
            <div class="benefits-automate-wrapper">
                <div class="benefits-automate-content mt-2">
                    <h3 class="h4 font-weight-semi-bold text-white">Speed up dev by 90%</h3>
                    <p class="lead text-center text-white opacity-75">With Budibase, Schnellecke are 90% faster at building tools.</p>
                </div>
                  <img
                  src="https://res.cloudinary.com/daog6scxm/image/upload/v1675250981/customers/Schnellecke_gqhsxl.webp"
                  class="shadow rounded-sm benefits-automate-image"
                  alt="dev speed"          
                />            
            </div>
        </div>
        <div class="benefits-grid-minor-1 border bg-dark-light">
            <div class="benefits-design-wrapper">
                <div class="benefits-content mt-4">           
                        <p class="lead text-center text-white opacity-75">Budibase helps you create apps faster which devs love because their internal tickets disappear.
                    </p>
                    <p class="text-xs text-white"><i>Shawn (@swyx)</i></p>
                </div>
                <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_200/v1677584721/partner-logos/shawn_vvb8u7.webp" class="img-fluid rounded-pill u-lg-avatar mt-2 my-2" />
            </div>
        </div>
    </div>
</section>