
<ul class="platform-card-grid">
  <li class="platform-card">
      <a class="platform-card-inner-dark" href="/business-apps/templates/applicant-tracking-system/">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="https://res.cloudinary.com/daog6scxm/image/upload/v1647010468/logo/white-budibase-icon_yfgiy7.svg" />
      </div>
        <span data-area="name" class="platform-card-name text-white">Budibase Cloud</span>
        <span data-area="description"class="platform-card-description text-white opacity-75">Host with Budibase and let us manage everything for you. Quick and easy.


        </span>
      </a>
    </li>

    <li class="platform-card">
      <a class="platform-card-inner-dark" href="/business-apps/templates/open-source-ticketing-system/">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/platform/integrations/infra/docker/images/logo.svg" />
      </div>
        <span data-area="name" class="platform-card-name text-white">Docker</span>
        <span data-area="description"class="platform-card-description text-white opacity-75">Self-manage Budibase using Docker and Docker Compose.
      </span>
      </a>
    </li>
    <li class="platform-card">
      <a class="platform-card-inner-dark" href="/platform/integrations/infra/kubernetes/images/logo.png">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/platform/integrations/infra/kubernetes/images/logo.png" />
      </div>
        <span data-area="name" class="platform-card-name text-white">Kubernetes</span>
        <span data-area="description"class="platform-card-description text-white opacity-75">Use the Budibase helm chart to deploy Budibase directly into your Kubernetes cluster.

        </span>
      </a>
    </li>
    <li class="platform-card">
      <a class="platform-card-inner-dark" href="/forms/templates/multi-step-lead-form/">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/platform/integrations/infra/digitalocean/images/logo.svg" />
      </div>
        <span data-area="name" class="platform-card-name text-white">Digital Ocean</span>
        <span data-area="description"class="platform-card-description text-white opacity-75">The simplest way to self-host Budibase on your own infrastructure - 1 click install.
        </span>
      </a>
    </li></ul>