<div class="container mx-auto space-2">
  <h2 class="h1 text-center mb-8 w-lg-50 mx-auto">Here's how it works
  </h2>
      <div class="homepage-features">
        <div class="feature-text"> 
          <div class="">
              <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_400/v1663172664/1.%20Illustrations/10._Plug-in_zk3sp1.webp" alt="Plugins illustration" class="w-lg-30 w-15 mb-3" />
            <h2 class="mb-3">Connect to data, or <span class="underlined">start from scratch</span>
            </h2>
            <p class="mb-2">Connect to an external database, pull data from a Rest API, import a CSV, or start from scratch with Budibase's built-in database.            </p>
            <details class="border-bottom py-3">
              <summary>Supported databases</summary>
              <p class="mb-2 text-sm mx-3">We support over 20 datsources, including PostgreSQL, MySQL, Oracledb, MongoDB, Airtable, Snowflake, MSSQL, Google Sheets, Rest APIs, and <a href="/integration">more</a>.</p>
          </details>
          <details class="border-bottom py-3">
            <summary>No-code built-in database</summary>
            <p class="mb-2 text-sm mx-3">Budibase comes with a built-in database that's built on top of CouchDB. It's incredibly easy to use and handy when you're building apps from scratch.</p>
        </details>
          </div>
        </div>
        <div class="feature-image-lg border shadow-sm">
          <lottie-player src="/lottie/fetch-tables.json" background="rgba(249, 245, 241, 1)"  speed="1"  loop autoplay></lottie-player>
        </div>
      </div>   
    </div>

    <div class="container mx-auto space-3-bottom">
      <div class="homepage-features">
        <div class="feature-text"> 
          <div class="">
              <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_400/v1663173413/1.%20Illustrations/14._Support_ihbj1k.webp" alt="Data and human illustration" class="w-lg-30 w-15 mb-3" />
            <h2 class="mb-3 w-lg-80">Instantly turn data into apps
            </h2>
            <p class="mb-1">Generate powerful CRUD apps and forms from your data with just a few clicks. No coding required! </p>

            <details class="border-bottom py-3">
              <summary>Generate screens using SQL data</summary>
              <p class="mb-2 text-sm mx-3">Yes, you can. Both MySQL and PostgreSQL are supported.</p>
          </details>
          <details class="border-bottom py-3">
            <summary>Public and private screens</summary>
            <p class="mb-2 text-sm mx-3">With Budibase, you can have both private and public screens.</p>
        </details>
          </div>
        </div>
        <div class="feature-image-lg border">
          <lottie-player src="/lottie/screens.json" background="rgba(249, 245, 241, 1)"  speed="1"  loop autoplay></lottie-player>
        </div>
      </div>   
    </div>


    <div class="container mx-auto space-3-bottom">
      <div class="homepage-features">
        <div class="feature-text">
          <div class="">
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_400/v1663172299/1.%20Illustrations/03._Dashboards_jmf4pe.webp" alt="App screens illustration" class="w-25 w-lg-50 mb-3" />
            <h2 class="mb-3">Build apps with premade blocks
            </h2>
            <p class="">Build apps people enjoy using with Budibase's premade blocks. From tables to charts, Budibase has everything you need to build apps in minutes.</p>
            <details class="border-bottom py-3">
              <summary>30+ premade building blocks</summary>
              <p class="mb-2 text-sm mx-3">Budibase comes with over 30 premade components and building blocks.</p>
          </details>
          <details class="border-bottom py-3">
            <summary>Create custom components</summary>
            <p class="mb-2 text-sm mx-3">Build your own custom components, or source one from the community, and use them in your Budibase apps.</p>
        </details>
          </div>
        </div>
        <div class="feature-image-lg border">
          <lottie-player src="/lottie/components.json" background="rgba(249, 245, 241, 1)"  speed="1"  loop autoplay></lottie-player>
        </div>
      </div>   
    </div>

    <div class="container mx-auto space-3-bottom">
      <div class="homepage-features">
        <div class="feature-text">
          <div class="">
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_400/v1663172477/1.%20Illustrations/01._Automation_j8gow5.webp" alt="Control center illustration" class="w-25 w-lg-50  mb-3" />
            <h2 class="mb-3">Design beautiful apps you're proud of
            </h2>
            <p class="">Create beautiful apps that work perfectly across mobile, tablet, and desktop. With Budibase's design features, design has never been easier!</p>
            <details class="border-bottom py-3">
              <summary>Apps are 100% customizable</summary>
              <p class="mb-2 text-sm mx-3">All Budibase components and apps are fully customizable. You can also add custom CSS to components.</p>
          </details>
          <details class="border-bottom py-3">
            <summary>Responsive by default</summary>
            <p class="mb-2 text-sm mx-3">Budibase apps are fully responsive and work across all devices.</p>
        </details>
          </div>
        </div>
        <div class="feature-image-lg">
          <div class="feature-image-lg border">
            <lottie-player src="/lottie/themes.json" background="rgba(249, 245, 241, 1)"  speed="1" loop autoplay></lottie-player>
          </div>
        </div>
      </div>   
    </div>

    <div class="container mx-auto space-3-bottom">
      <div class="homepage-features">
        <div class="feature-text">
          <div class="">
              <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_400/v1663173201/1.%20Illustrations/16._Workflow_qxu40m.webp" alt="Automations illustration" class="w-25 w-lg-50 my-2" />
            <h2 class="mb-3 ">Automate workflows with ease
            </h2>
            <p class="">With just a few clicks, automate manual processes and streamline operations within your app and business.
            </p>
            <details class="border-bottom py-3">
              <summary>Over 20 automation blocks</summary>
              <p class="mb-2 text-sm mx-3">Choose from over 20 automation blocks, including CRON, webhooks, Slack notifications and more.</p>
          </details>
          <details class="border-bottom py-3">
            <summary>Run automations on a schedule</summary>
            <p class="mb-2 text-sm mx-3">You can run your automations based on predefined or custom schedules.
          </div>
        </div>
        <div class="feature-image-lg border">
          <lottie-player src="/lottie/automations.json" background="rgba(249, 245, 241, 1)"  speed="1"  loop autoplay></lottie-player>
        </div>
      </div>   
    </div>

    
