<div class="container mx-auto space-3-bottom space-1-top">
    <!--<h2 class="h1 text-center mb-8 w-lg-50 mx-auto display-font text-white">Everything you need to build internal tools
    </h2>
  -->
        <div class="homepage-features">
          <div class="feature-text"> 
            <div class="">
              <h2 class="mb-3 text-white">Connect to data, or <span class="underlined">start from scratch</span>
              </h2>
              <p class="mb-2 text-white opacity-75 lead-lg">Connect to an external database, pull data from a Rest API, import a CSV, or start from scratch with Budibase's built-in database.            </p>
            </div>
          </div>
          <div class="feature-image-lg rounded-lg bg-blue-1000">
            <lottie-player src="/lottie/fetch-tables.json" speed="1"  loop autoplay></lottie-player>
          </div>
        </div>   
      </div>
  
      <div class="container mx-auto space-3-bottom">
        <div class="homepage-features">
          <div class="feature-text"> 
            <div class="">
              <h2 class="mb-3 w-lg-80 text-white">Turn your data into an app with 1 click
              </h2>
              <p class="mb-1 text-white opacity-75 lead-lg">Generate powerful CRUD apps and forms in just a few seconds. No coding required! </p>
            </div>
          </div>
          <div class="feature-image-lg rounded-lg bg-red-1000">
            <lottie-player src="/lottie/screens.json" background=""  speed="1"  loop autoplay></lottie-player>
          </div>
        </div>   
      </div>
  
  
      <div class="container mx-auto space-3-bottom">
        <div class="homepage-features">
          <div class="feature-text">
            <div class="">
              <h2 class="mb-3 text-white">Build apps with drag-and-drop components
              </h2>
              <p class="text-white opacity-75 lead-lg">Designing apps has never been easier/faster with our premade blocks and drag-and-drop interface.</p>
            </div>
          </div>
          <div class="feature-image-lg rounded-lg bg-green-1000 border-dark">
            <lottie-player src="/lottie/components.json"  speed="1"  loop autoplay></lottie-player>
          </div>
        </div>   
      </div>

  
      <div class="container mx-auto space-3-bottom">
        <div class="homepage-features">
          <div class="feature-text">
            <div class="">
              <h2 class="mb-3 text-white">Automate workflows with ease</h2>
              <p class="text-white opacity-75 lead-lg">With just a few clicks, automate manual processes and streamline operations within your app and business.
              </p>
            </div>
          </div>
          <div class="feature-image-lg rounded-lg bg-purple-1000 ">
            <lottie-player src="/lottie/automations.json"  speed="1"  loop autoplay></lottie-player>
          </div>
        </div>   
      </div>
      <div class="container mx-auto space-3-bottom">
        <div class="homepage-features">
          <div class="feature-text">
            <div class="">
              <h2 class="mb-3 text-white">Deliver apps you're proud of
              </h2>
              <p class="text-white opacity-75 lead-lg">Deliver apps that look beautiful and work perfectly across mobile, tablet, and desktop. </p>
            </div>
          </div>
            <div class="feature-image-lg bg-orange-1300 rounded-lg">
              <lottie-player src="/lottie/themes.json" speed="1" loop autoplay></lottie-player>
            </div>
        </div>   
      </div>
  
      
  