<div class="space-2--sm container-wide">
    <div class="mx-auto mb-8 w-lg-70 text-center">
      <h1 class="mb-3 hero-title text-dark text-center mx-auto w-lg-60">
        <!--Build tools faster.<br> Collaborate smarter.-->
        <!--BWhere teams turn <br> data into action-->
         <!--Optimize your data workflows-->
         Where teams create faster and work smarter
      </h1>
      <p class="mx-auto display-lead mb-4 w-lg-50 text-center">Budibase saves teams 100s of hours sharing data, collaborating, building tools, and automating workflows.</p>
      <div class="flex-row align-center justify-center gap-md">
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener"
        class="btn btn-cta btn-lg sm-btn-block">Get started free</a>
      <a href="https://youtu.be/xoljVpty_Kw" target="_blank"  rel="noopener" class="btn btn-secondary text-black btn-lg sm-btn-block">Watch a demo</a>      
    </div>    
</div>
<img src="https://res.cloudinary.com/daog6scxm/image/upload/v1674559266/figma-test_o0iqmz.webp" class="img-fluid" />

<section class="space-1-top space-2-bottom">
  {{ partial "logo-reel.html" }}
</section>

</div>