  <div class="bg-dark">
    <div class="container space-2-top">
        <div class="mb-4 hero-title-wrapper text-center mx-auto">
          <a href="https://github.com/Budibase/budibase/stargazers" class="btn btn-cta-light mb-6">17K+ stars on Github -></a>
          <h1 class="hero-title-lg-dark mb-4 w-lg-60 mx-auto">
            <span>Turn
              <button class="btn bg-dark-light border-light mb-1"> 
                <img class="u-avatar-5 mr-2 ml-2" src="https://res.cloudinary.com/daog6scxm/image/upload/v1677580012/partner-logos/logo_armaem.svg" alt="Google sheets icon" />
                <img class="u-avatar-5 mr-3" src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_150/v1677579834/partner-logos/logo_zklz2g.webp" alt="PostgreSQL icon" />             
                <img class="u-avatar-5 mr-2" src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_200/v1677580083/partner-logos/logo_ildpqz.webp" alt="Snowflake icon" />
                <img class="u-avatar-5 mr-1" src="https://res.cloudinary.com/daog6scxm/image/upload/v1677580067/partner-logos/logo_ib2ipt.svg" alt="Firestore icon" />
              </button>
              data into apps in minutes
            </span>
          </h1>
            <p class="display-lead text-white mx-auto text-center"><span class="w-lg-50">Budibase saves IT teams 100s of hours building internal tools that integrate perfectly with their tech stack. </span></p>
          <div class="my-5">
            <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener">
              <button type="submit" class="btn btn-cta btn-lg sm-btn-block">Get started free ->
              </button>
            </a>      
          </div>
          {{ partial "homepage/hero-solutions-banner.html" }}
          {{ partial "logo-reel-dark.html" }}
      </div>
    </div>



