<div class="space-2--sm space-1--lg container-wide">
  <div class="container-narrow mx-auto data-icons-wrapper mb-2">
    <div class="flex-row gap-lg mx-auto align-center justify-center space-1-bottom">
      <img class="platform-card-icon p-1 border shadow-sm rounded-sm mt-8" alt="airtable icon" src="/platform/integrations/database/airtable/images/logo.png" />
      <img class="platform-card-icon u-md-avatar p-2 border shadow-sm rounded mt-8" alt="mongodb icon" src="/platform/integrations/database/mongodb/images/logo.svg" />
      <img class="platform-card-icon u-lg-avatar p-3 border shadow-sm rounded-lg mt-9" alt="mysql icon" src="/platform/integrations/database/mysql/images/logo.png" />
      <img class="platform-card-icon u-lg-avatar p-3 border shadow-sm rounded-lg" alt="docker icon" src="/platform/integrations/infra/docker/images/logo.svg" />
      <img class="platform-card-icon u-xl-avatar p-4 border shadow-sm rounded-lg mt-2" alt="postgresql icon" src="/platform/integrations/database/postgresql/images/logo.png" />
      <img class="platform-card-icon u-lg-avatar p-3 border shadow-sm rounded-lg" alt="google sheets icon" src="/platform/integrations/database/google-sheets/images/logo.svg" />
      <img class="platform-card-icon u-lg-avatar p-3 border shadow-sm rounded-lg mt-9" alt="snowflake icon" src="/platform/integrations/database/snowflake/images/logo.png" />
      <img class="platform-card-icon u-md-avatar p-2 border shadow-sm rounded mt-8" alt="slack icon" src="/platform/integrations/api/slack/images/logo.svg" />
      <img class="platform-card-icon u-avatar p-1 border shadow-sm rounded-sm mt-8" alt="mssql icon" src="/platform/integrations/database/mssql/images/logo.png" />
    </div>
  </div>
    <div class="mx-auto mb-8 w-lg-70 text-center">
      <h1 class="mb-3 hero-title text-dark text-center mx-auto w-lg-65">
        <!--Build tools faster.<br> Collaborate smarter.-->
        <!--BWhere teams turn <br> data into action-->
         <!--Where teams create faster and work smarter-->
         Save 100s of hours building internal tools
      </h1>
      <p class="mx-auto display-lead mb-4 w-lg-60 text-center">Build apps, forms, and workflows that perfectly fit your business - so you can move forward, faster. Best of all, Budibase is open source!      </p>
      <div class="flex-row align-center justify-center gap-md">
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener"
        class="btn btn-cta btn-lg sm-btn-block btn-wide">Get started free</a>
    </div>    
</div>
<div class="flex-row-no-wrap gap-md ">
  <div class="shadow-lg"><img src="https://res.cloudinary.com/daog6scxm/image/upload/v1675263742/homepage-design_z9xrxs.webp" class="img-fluid rounded" /></div>
  <div class="shadow-lg"><img src="https://res.cloudinary.com/daog6scxm/image/upload/v1675263742/homepage-automate_eubylh.webp" class="img-fluid rounded display-none-on-mobile" /></div>
</div>

<section class="space-1-top space-2-bottom">
  {{ partial "logo-reel.html" }}
</section>

</div>