<div class="hero-solutions-wrapper space-1-top space-2-bottom">
    <div class="hero-solutions-form bg-dark-light">
        <div class="hero-solution-form-inner">
            <div class="hero-solution">
                    <form class="hero-form-inner mx-auto">
                        <div class="hero-form-input">
                            <label for="name" class="text-white opacity-50 hero-form-input-label">Ticket name</label>
                            <input type="text" class="hero-form-textinput text-white" placeholder="Pass not working" autofocus>
                        </div>
                        <div class="hero-form-input">
                            <label for="name" class="text-white opacity-50 hero-form-input-label">Team</label>
                            <input type="text" class="hero-form-textinput text-white">
                        </div>
                        <div class="hero-form-input">
                            <label for="name" class="text-white opacity-50 hero-form-input-label">Category</label>
                            <input type="text" class="hero-form-textinput text-white">
                        </div>
                    </form> 
            </div>
        </div>
        <div class="hero-form-content-wrapper">
            <div class="hero-form-content-inner">
                <h4 class="text-white mb-1">Forms</h4>
                <p class="text-white opacity-50 lead">Collect data securely on top of any database.</p>
            </div>
        </div>
    </div>

    <div class="hero-solutions-app bg-dark-light">
        <div class="position-relative flex-grow">
                <div class="hero-app-inner rounded">
                    <div class="hero-solution ">
                    <div class="w-100 mb-3 flex-row-space-between px-4">
                        <h3 class="text-white h4">Visitors</h3>
                        <button class="btn btn-sm btn-primary">Add visitor</button>
                    </div>
                    <table class="px-4">
                        <tr>
                            <th class="th-dark text-white pr-4 pt-2 text-left">Contact</th>
                            <th class="th-dark text-white px-4 pt-2">Company</th>
                            <th class="th-dark text-white pr-4 pt-2">Visiting</th>
                            <th class="th-dark text-white px-8 pt-2">Approve</th>
                          </tr>
                          <tr>
                            <td contenteditable='true' class="td-quiet text-white pt-2 opacity-75 text-left">Maria Anders</td>
                            <td class="td-quiet text-white pt-2 opacity-75"><img src="/img/logo-reel/google.png" class="u-sm-avatar" alt="Google icon" /></td>
                            <td contenteditable='true' class="td-quiet text-white pt-2 opacity-75 text-left">Joe Jacks</td>
                            <td class="td-quiet text-white pt-2 opacity-75"><button class="btn btn-sm btn-navigation-cta">Approve</button></td>
                          </tr>
                          <tr>
                            <td contenteditable='true' class="td-quiet text-white pt-2 opacity-75 text-left">Fran Chang</td>
                            <td class="td-quiet text-white pt-2 opacity-75"><img src="/img/logo-reel/microsoft.png" alt="Microsoft icon" class="u-sm-avatar" /></td>
                            <td contenteditable='true' class="td-quiet text-white pt-2 opacity-75 text-left">Amy Xi</td>
                            <td class="td-quiet text-white pt-2 opacity-75">
                                <button class="btn btn-sm btn-navigation-cta">Approve</button>
                            </td>
                          </tr>                              
                    </table>
                    </div> 
                </div>   
            </div>                        
                
        <div class="hero-app-content position-relative ">
            <div class="hero-app-content-inner">
                <h3 class="text-white mb-1 h4">Internal tools</h3>
                <p class="text-white opacity-50 lead">Save 100s of hours building internal tools to help your business run faster.</p>
            </div>
        </div>
    </div>
    <div class="hero-solutions-workflow bg-dark-light">
        <div class="position-relative flex-grow">
            <div class="hero-workflow-inner rounded">
                <div class="hero-solution">
                    <div class="hero-workflow-card-2">
                        <dov class="tag-teal opacity-50 mb-2">Trigger</dov>
                        <p class="text-white opacity-50">New visitor</p>
                    </div>
                    <div class="hero-workflow-card">
                        <dov class="tag-blue mb-2">Action</dov>
                        <div class="flex-row mt-3 mb-3 align-center">
                            <img src="/integrations/api/slack/images/logo.svg" alt="Slack icon" class="u-xs-avatar" />
                            <p class="text-white lead ml-2">Slack alert</p>
                        </div>
                        <p class="text-white font-weight-medium">Send notification to visitee</p>
                    </div>
                </div> 
            </div>   
        </div>   
        <div class="hero-app-content position-relative ">
            <div class="hero-workflow-content-inner">
                <h3 class="text-white mb-1 h4">Workflows</h3>
                <p class="text-white opacity-50 lead">Automate tasks and workflows with our automation platform.</p>
            </div>
        </div>
    </div>
</div>