<section class="integration-banner mt-8">
    <div class="integration-banner-container">
        <div class="integation-banner-wrapper">
            <div class="integation-banner-icon-container-12 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/zapier.svg" alt="zapier icon"  class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-1 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/docker.svg" alt="docker icon"  class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-2 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/kubernetes.svg" alt="kubernetes icon"  class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-3 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/oracle.svg" alt="oracle icon"   class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-4">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/sheets.svg" alt="sheets icon" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-5">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/postgres.svg" alt="PostgreSQL icon" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-6">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/snowflake.svg" alt="snowflake icon" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-7">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/mongo.svg" alt="mongo db icon" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-8 ">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/airtable.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-9 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/mssql.svg" alt="mssql icon" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-10 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/mysql.svg" alt="mysql icon" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-11 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/elastic.svg" alt="elastic icon" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-13 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/slack.svg" alt="slack icon" class="u-avatar" />
                </div>
            </div>
        </div>
    </div>

        <div class="container mx-auto text-center mt--4 ">
        <h2 class="text-center mb-4 text-large">Build the tools you need<br>with the tools you <span class="underlined">love</span></h2>
        <a href="/platform/integrations/"><button class="btn btn-cta">View integrations</button></a>
    </div>

</section>