<hr />
<div class="container space-3">
  <div class="flex-row mb-6">
    <div>
      <h2 class="h1">Catch a headstart with a free, <br> customizable template.</h2>

    </div>
    <div class="ml-auto">
    <a href="https://budibase.com/templates" class="btn btn-secondary"
    >View more templates --></a>
    </div>
</div>

  <ul class="platform-card-grid">
    <li class="platform-card">
        <a class="platform-card-inner" href="/business-apps/templates/applicant-tracking-system/">
          <div data-area="icon" class="template-icon-container bg-indigo" > 
            <img class="template-icon" src="/img/icon/app.svg" />
        </div>
          <span data-area="name" class="platform-card-name">Applicant tracking system</span>
          <span data-area="description"class="platform-card-description">Advertise jobs, receive applications, and track candidates.
          </span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/business-apps/templates/open-source-ticketing-system/">
          <div data-area="icon" class="template-icon-container bg-yellow" > 
            <img class="template-icon" src="/img/icon/app.svg" />
        </div>
          <span data-area="name" class="platform-card-name">Ticketing system</span>
          <span data-area="description"class="platform-card-description">Keep on top of support tickets and preventing them from falling through the cracks.</span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/business-apps/templates/open-source-ticketing-system/">
          <div data-area="icon" class="template-icon-container bg-red" > 
            <img class="template-icon" src="/img/icon/approval.svg" />
        </div>
          <span data-area="name" class="platform-card-name">Invoice approval app</span>
          <span data-area="description"class="platform-card-description">Our invoice approval software template offers a simple and secure platform to receive, manage, and approve business payments.</span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/forms/templates/multi-step-lead-form/">
          <div data-area="icon" class="template-icon-container bg-teal" > 
            <img class="template-icon" src="/img/icon/form.svg" />
        </div>
          <span data-area="name" class="platform-card-name">Multi-step form starter</span>
          <span data-area="description"class="platform-card-description">Advertise jobs, receive applications, and track candidates.
          </span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/business-apps/templates/applicant-tracking-system/">
          <div data-area="icon" class="template-icon-container bg-indigo" > 
            <img class="template-icon" src="/img/icon/app.svg" />
        </div>
          <span data-area="name" class="platform-card-name">Applicant tracking system</span>
          <span data-area="description"class="platform-card-description">Advertise jobs, receive applications, and track candidates.
          </span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/business-apps/templates/open-source-ticketing-system/">
          <div data-area="icon" class="template-icon-container bg-yellow" > 
            <img class="template-icon" src="/img/icon/app.svg" />
        </div>
          <span data-area="name" class="platform-card-name">Ticketing system</span>
          <span data-area="description"class="platform-card-description">Keep on top of support tickets and preventing them from falling through the cracks.</span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/business-apps/templates/open-source-ticketing-system/">
          <div data-area="icon" class="template-icon-container bg-red" > 
            <img class="template-icon" src="/img/icon/approval.svg" />
        </div>
          <span data-area="name" class="platform-card-name">Invoice approval app</span>
          <span data-area="description"class="platform-card-description">Our invoice approval software template offers a simple and secure platform to receive, manage, and approve business payments.</span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/forms/templates/multi-step-lead-form/">
          <div data-area="icon" class="template-icon-container bg-teal" > 
            <img class="template-icon" src="/img/icon/form.svg" />
        </div>
          <span data-area="name" class="platform-card-name">Multi-step form starter</span>
          <span data-area="description"class="platform-card-description">Advertise jobs, receive applications, and track candidates.
          </span>
        </a>
      </li>
  </ul>
</div>
