{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
<div class="bg-gradient-purple">
    <div class="container space-2-top">
      <h1 class="hero-title mb-3 mb-4 text-center hero-title-lg">
       Changelog
      </h1>
      <div class="w-80 w-lg-60 mx-auto">
        <p class="mx-auto display-lead mb-2 text-center">{{ .Description }}
        </p>
      </div>
    </div>
  </div>

  <div class="py-4">
    <div class="container-9 space-1-bottom">
      <div class="platform-subnav gap-md btn-tabs">
        <a href="/platform/features">            
         <button id="btn" type="button" class="btn btn-outline btn-lg">Features</button>
        </a>
        <a href="/platform/integrations">
        <button id="btn" type="button" class="btn btn-outline btn-lg">Integrations</button>
        </a>
        <a href="/templates">
            <button id="btn" type="button" class="btn btn-outline btn-lg">Templates</button>
        </a>
        <a href="/platform/changelog">
            <button id="btn" type="button" class="btn btn-active btn-lg">Changelog</button>
        </a>
      </div>
    </div>
  </div>
  </div>
  {{ range first 4 .RegularPagesRecursive }}
    <div class="space-1 container-9">
      <div class="feature-content-wrapper space-1-bottom">
        <div><p class="font-weight-medium opacity-50">{{ .PublishDate.Format "January 2, 2006" }}</p></div>
        <div>
          <h2 class="h1 mb-6"><a href="{{ .RelPermalink }}" class="text-dark">{{ .Title }}</a></h2>
          {{ partial "images/responsive.html" . }}
          <div class="article">{{ .Summary }}</div>
        </div>
      </div>
      <hr />
    </div>
{{ end }}


{{ partial "cta.html" . }}
{{ partial "footer.html" . }}
