{{ partial "header.html" . }}
<div class="bg-gradient-purple">
{{ partial "navigation-test.html" . }}

    <div class="container-9 space-2-top">
      <div class="flex-row gap-md align-center mb-6">
        <a href="platform/changelog" class="tag-gray rounded-pill">Changelog</a>
        <p class="font-weight-medium opacity-75 text-xs">{{ .PublishDate.Format "January 2, 2006" }}</p> 
       </div>
      <h1 class="hero-title mb-3 my-4">
        {{ .Title }}
      </h1>
      <p class="display-lead mb-6">
        {{ .Description }}
      </p>
    </div>
  </div>
  <div class="container-narrow image-landscape">
    {{ partial "images/responsive.html" . }}
  </div>   
  <div class="container-9 article space-1">
    {{ .Content }}
  </div>

{{ partial "cta.html" . }}
{{ partial "footer.html" . }}
