<div class="space-3-bottom space-1-top">
    <div class="container text-center mx-auto">

        <h2>Frequently asked questions</h2>
        <p class="mt-2   w-lg-50 mx-auto  ">Can't find the answer to your question, ask someone on
            our <a href="https://github.com/Budibase/budibase/discussions">Community Forum</a>. </p>
    </div>

    <div class="container-12">


        <details class="mt-6 my-1 p-3 bg-base-2 border rounded-sm">
            <summary class="lead">How does Budibase pricing work?</summary>
            <p class="mb-2 mx-3  ">You can get started with Budibase today with a free trial of Budibase cloud, or by self-hosting on open-source.
                Once your team is ready to collaborate with more users, you can check out our Paid plans based on your requirements.
                Our paid plans are priced per creator per app user, with custom pricing available for Enterprise plans. 
            </p>
        </details>
        <details class="my-1 p-3 bg-base-2 border rounded-sm">
            <summary class="lead">What is the difference between an app user and app creator?</summary>
            <p class="mb-2 mx-3  ">An <i>app creator</i> can create new apps and update old apps - including account admins. An <i>app user</i> can use the published apps created by app creators. App users cannot create new apps or update the designs of old apps.</p> 
        </details>
        <details class="my-1 p-3 bg-base-2 border rounded-sm">
            <summary class="lead">Does Budibase offer discounts?</summary>
            <p class="mb-2 mx-3  ">Budibase is happy to offer eligible nonprofit organizations a discount across all our paid tiers on annual plans. </p>
            <p class="mb-2 mx-3  ">Volume based discounts are also available for Enterprise plans. <a href="/contact" target="_blank">Contact Sales</a> to find out more.</p>
        </details>
        <details class="my-1 p-3 bg-base-2 border rounded-sm">
            <summary class="lead">What happens when I hit my limits?</summary>
            <p class="mb-2 mx-3  ">If you hit the user limits on the free plan, you will need to upgrade to a paid plan.
            </p>
        </details>
        <details class="my-1 p-3 bg-base-2 border rounded-sm">
            <summary class="lead">Is Budibase free to use?</summary>
            <p class="mb-2 mx-3  ">Budibase has multiple packages to help teams of all sizes orchestrate their
                work. Budibase is <a href="https://github.com/Budibase/budibase">open-source</a>, and you can run it on your own infrastructure for free. Our paid plans offer additional power and scale for teams as they grow and their needs get more complex.
            </p>
        </details>
        <details class="my-1 p-3 bg-base-2 border rounded-sm">
            <summary class="lead">Can I self-host Budibase for free?</summary>
            <p class="mb-2 mx-3  ">Yes, you can self-host Budibase for free. Check out our <a href="https://docs.budibase.com/docs/hosting-methods">self-host documentation</a> for further guidance.<p class="mb-2 mx-3  "> Enterprise customers can also benefit from on-premise deployments plus additional proprietary features.</p></p>
        </details>
        <details class="my-1 p-3 bg-base-2 border rounded-sm">
            <summary class="lead">Can I purchase one feature within the platform?</summary>
            <p class="mb-2 mx-3  ">The Budibase platform is a collaborative solution for users to manage and manipulate their data, create applications, and build business workflows based on application triggers. We cannot separately provide functionality today.
            </p>
        </details>
        <details class="my-1 p-3 bg-base-2 border rounded-sm">
            <summary class="lead">Budibase AI quotas</summary>
            <p class="mb-2 mx-3">Premium plan: 2,000,000 tokens. Enterprise plan: 4,000,000 tokens.
            </p>
        </details>
        <details class="my-1 p-3 bg-base-2 border rounded-sm">
            <summary class="lead">Do you offer support packages?</summary>
            <p class="mb-2 mx-3  "> For enterprise orgs, we can offer a custom service level agreement (SLA) and different support packages tailored to your needs. 
                <a href="/contact" target="_blank">Contact Sales</a> to learn more.</p>
        </details>
        <details class="my-1 p-3 bg-base-2 border rounded-sm">
            <summary class="lead">What are my payment options?</summary>
            <p class="mb-2 mx-3  ">All payments are made via credit card using Stripe for Premium and Business workspaces. For
                Enterprise accounts, we can issue an annual invoice with payment via PO. Please <a href="/contact"
                    target="_blank">Contact Sales</a> for more information.</p>
        </details>
    </div>
</div>