<div class="space-3-bottom space-1-top">
    <div class="container text-center mx-auto">

        <h2>FAQs</h2>
        <p class="mt-2 text-sm w-lg-40 mx-auto  opacity-75">Can't find the answer to your question, ask someone in the community on
            our <a href="https://github.com/Budibase/budibase/discussions">Github Discussions Forum</a>. </p>
    </div>

    <div class="container-9">
        <details class="mt-6 py-3">
            <summary class=" ">How does Budibase's pricing work?</summary>
            <p class="mb-2 text-sm mx-3  opacity-75">Budibase has a number of free and paid tiers for users to choose from. The Free tier on Cloud and the Community version (self-host) of Budibase are available to use for free. 
                Budibase Premium costs $8 per user per month when billed annually and $10 per user per month when billed monthly (Cloud only). The price of Budibase Business is $16 per user per month when billed annually and $20 when billed monthly. Enterprise pricing is custom.
        </details>
        <details class="py-3">
            <summary class=" ">Does Budibase offer a discount for nonprofits?</summary>
            <p class="mb-2 text-sm mx-3  opacity-75">Budibase is happy to offer eligible nonprofit organizations a discount on a Budibase Premium or Budibase Business annual plan. </p>
        </details>
        <details class="py-3">
            <summary class=" ">Can I self-host Budibase for free?</summary>
            <p class="mb-2 text-sm mx-3  opacity-75">Yes, you can self-host Budibase for free. Check out our <a href="https://docs.budibase.com/docs/hosting-methods">self-host docs</a> for further guidance. </p>
        </details>
        <details class="py-3">
            <summary class=" ">I've hit my user limit, can I add more users to my plan?</summary>
            <p class="mb-2 text-sm mx-3  opacity-75">If you are on the free plan, you have to upgrade to one of the following plans; Premium, Business or Enterprise. If you are on a paid plan, you can add as many users as you please.</p>
        </details>
        <details class="py-3">
            <summary class=" ">Is Budibase free to use?</summary>
            <p class="mb-2 text-sm mx-3  opacity-75">Budibase has multiple packages to help teams of all sizes orchestrate their
                work. Our Free plan is available to teams for no charge and provides everything you need to build
                internal tools and workflows in minutes. Budibase is also <a href="https://github.com/Budibase/budibase">open-source</a>, and you can run it on your own infrastructure for free. 
                Our paid plans offer additional power and scale for teams as they grow and their needs get more complex.
            </p>
        </details>
        <details class="py-3">
            <summary class=" ">What happens when I hit my limits?</summary>
            <p class="mb-2 text-sm mx-3  opacity-75">If you hit the user limits on the free plan, you will need to upgrade to a paid plan. If you reach our data or automation limits, you’ll still be able to use Budibase. We’ll let you know about the overage, and give you a grace period to find a plan that fits your needs!
            </p>
        </details>
        <details class="py-3">
            <summary class=" ">What are my payment options?</summary>
            <p class="mb-2 text-sm mx-3  opacity-75">All payments are made via credit card using Stripe for Premium and Business workspaces. For
                Enterprise accounts, we can issue an annual invoice with payment via PO. Please <a href="/contact"
                    target="_blank">contact Sales</a> for more information.</p>
        </details>
        <details class=" py-3">
            <summary class=" ">Can I deploy Budibase on-premise?</summary>
            <p class="mb-2 text-sm mx-3  opacity-75">Yes! You can <a href="https://docs.budibase.com/docs/hosting-methods">self-host Budibase</a> on your own infrastructure. Enterprise customers can also benefit from on-premise deployments plus additional proprietary features.</p>
        </details>
        <details class=" py-3">
            <summary class=" ">Do you have a Service-Level Agreement (SLA)?</summary>
            <p class="mb-2 text-sm mx-3  opacity-75"> For enterprise orgs, we can offer a custom SLA. 
                <a href="/contact" target="_blank">Contact Sales</a> to learn more.</p>
        </details>
    </div>
</div>