<section class="container-12 mx-auto flex-row ">
    <div class="bg-beige border nonprofit-wrapper rounded-lg flex-row">
        <div class="nonprofit-img">
            <img src="https://res.cloudinary.com/daog6scxm/image/upload//c_thumb,w_600/v1693584890/cms/pricing/nonprofit.jpg" class="img-fluid" alt="nonprofit members hugging">
        </div>
        <div class="nonprofit-text flex-column my-auto">
            <h3 class="mb-4 h2 font-weight-medium"><span class="px-3 bg-indigo-300 rounded">20% off for nonprofits</span></h3>
            <p class="text-lg mb-4">Your impact is important. Budibase is excited to support nonprofit organizations with specialized plan pricing. Build faster workflows whilst continuing to make an impact.</p>
            <a href="/contact">
                <button class="btn btn-primary">
                  Talk to Sales
                </button>
            </a>
        </div>
    </div>
</section>