<div class="pricing space-1-bottom">
  <div class="pricing-card p-4">
    <div>
      <h2 class="h4 mb-2 mt-1 gray-1300 font-weight-semi-bold plan-type">
        Community
      </h2>
      <h3 class="h2 mb-1 mr-2">$0</h3>
      <p class="text-xxs opacity-75">
        per month.<br />Open source.
      </p>
      <p class="text-xxs mb-4 mt-1 opacity-75">Deploy via Docker / Kubernetes.</p>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Unlimited users</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Up to 2 apps</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Embeds</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">SSO</p>
      </li>

      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Community support</p>
      </li>
    </div>
    <div>
      <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=navigation-cta">
        <button onClick="goToAccountPortal('free');" type="submit"
          class="btn btn-block btn-secondary mt-auto mb-4 btn-lg">
          Start for free ->
        </button>
      </a>
    </div>
  </div>

  <div class="pricing-card p-4">
    <div>
      <h2 class="h4 mb-2 mt-1 green-700 font-weight-semi-bold plan-type">
        Premium
      </h2>
      <div class="price-grid">
        <div>
          <h3 class="h2 mb-1 mr-2">$12</h3>
          <p class="text-xxs opacity-75">
            per creator / month,<br />billed annually.
          </p>
          <p class="text-xxs mb-4 mt-1 opacity-75">$15 billed monthly</p>
        </div>
        <div>
          <h3 class="h2 mb-1 mr-2">$3</h3>
          <p class="text-xxs opacity-75">
            per user / month,<br />billed annually.
          </p>
          <p class="text-xxs mb-4 mt-1 opacity-75">$3.75 billed monthly</p>
        </div>
      </div>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(0, 149, 98)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Unlimited apps</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(0, 149, 98)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">1 week backups</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(0, 149, 98)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Custom branding</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(0, 149, 98)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Unlimited plugins</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(0, 149, 98)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">1 week automation logs</p>
      </li>
    </div>
    <div>
      <a href="/free-trial"><button class="btn btn-block btn-secondary my-4 btn-lg">
          Request free trial ->
        </button></a>
    </div>
  </div>

  <div class="pricing-card p-4">
    <div>
      <h2 class="h4 mb-2 mt-1 blue-700 font-weight-semi-bold plan-type">
        Business
      </h2>
      <div class="price-grid">
        <div>
          <h3 class="h2 mb-1 mr-2">$40</h3>
          <p class="text-xxs opacity-75">
            per creator / month,<br />billed annually.
          </p>
          <p class="text-xxs mb-4 mt-1 opacity-75">$50 billed monthly</p>
        </div>
        <div>
          <h3 class="h2 mb-1 mr-2">$5</h3>
          <p class="text-xxs opacity-75">
            per user / month,<br />billed annually.
          </p>
          <p class="text-xxs mb-4 mt-1 opacity-75">$6.25 billed monthly</p>
        </div>
      </div>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Audit logs</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">User groups</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Environments</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Environment variables</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Granular RBAC</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Synchronous automations</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs">Email support</p>
      </li>
    </div>
    <div>
      <a href="/free-trial"><button class="btn btn-block btn-cta my-4 btn-lg">
          Request free trial ->
        </button></a>
    </div>
  </div>


<div class="pricing-card  p-4 flex-column-space-between">
  <div>
  <p class="mb-2 mt-1 lead-lg indigo-700 font-weight-medium">Enterprise</p>
  <h3 class="h1 mb-1 mr-2 text-dark">Custom</h3>
  <p class="text-xs text-dark opacity-75">From $15,000 per annum</p>
  <p class="text-xs mb-4 mt-1 text-dark opacity-75">Multi-year contracts available</p>
    <li class="flex-row align-center mb-2 text-dark">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
        stroke="rgb(132, 136, 253)" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>
      <p class="ml-2 text-xs text-dark">AD/SCIM</p>
    </li>
    <li class="flex-row align-center mb-2 text-dark">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
        stroke="rgb(132, 136, 253)" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>
      <p class="ml-2 text-xs text-dark">Enforceable SSO</p>
    </li>
    <li class="flex-row align-center mb-2 text-dark">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
        stroke="rgb(132, 136, 253)" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>
      <p class="ml-2 text-xs text-dark">Tailored onboarding</p>
    </li>
    <li class="flex-row align-center mb-2 text-dark">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
        stroke="rgb(132, 136, 253)" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>
      <p class="ml-2 text-xs text-dark">Priority support + SLAs</p>
    </li>
  </div>
    <div>
      <a href="/contact"><button class="btn btn-block btn-primary my-4 btn-lg">
          Contact sales ->
        </button>
      </a>
    </div>
  </div>
</div>

<div class="my-6">{{ partial "logo-reel.html" . }}</div>

<div class="mt-4 mb-6">{{ partial "pricing/table.html" . }}</div>