<div class="pricing-self-host space-1-bottom">
 

  <div class="pricing-card p-4 flex-column-space-between">
    <div>
      <p class="mb-2 mt-1 lead-lg gray-1300 font-weight-medium">Community</p>
      <h3 class="h1 mb-1 mr-2 text-dark">$0</h3>
      <p class="text-xs text-dark opacity-75">Free forever</p>
      <p class="text-xs mb-4 mt-1 text-dark opacity-75">Open source</p>
        <li class="flex-row align-center mb-2 text-dark">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
            stroke="rgb(14, 14, 14)" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-2 text-xs text-dark">All-in-one low-code platform</p>
        </li>
        <li class="flex-row align-center mb-2 text-dark">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
            stroke="rgb(14, 14, 14)" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-2 text-xs text-dark">Unlimited apps</p>
        </li>
        <li class="flex-row align-center mb-2 text-dark">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
            stroke="rgb(14, 14, 14)" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-2 text-xs text-dark">SSO</p>
        </li>
        <li class="flex-row align-center mb-2 text-dark">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
            stroke="rgb(14, 14, 14)" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-2 text-xs text-dark">Community support</p>
        </li>
      </div>
      <div>
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=navigation-cta">
          <button  class="btn btn-block btn-secondary btn-lg my-4">Start for free -></button> 
        </a>
    </div>
  </div>

  <div class="pricing-card  p-4">
    <p class="mb-2 mt-1 lead-lg text-blue font-weight-medium">Business</p>
    <h3 class="h1 mb-1 mr-2 text-dark">$16</h3>
    <p class="text-xs text-dark opacity-75">per user / month, billed annually</p>
    <p class="text-xs mb-4 mt-1 text-dark opacity-75">$20 billed monthly</p>
      <li class="flex-row align-center mb-2 text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(94, 170, 247)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs text-dark">Audit logs</p>
      </li>
      <li class="flex-row align-center mb-2 text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(94, 170, 247)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs text-dark">User groups</p>
      </li>
      <li class="flex-row align-center mb-2 text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(94, 170, 247)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs text-dark">Environment variables</p>
      </li>
      <li class="flex-row align-center mb-2 text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(94, 170, 247)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs text-dark">Backups</p>
      </li>
      <li class="flex-row align-center mb-2 text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(94, 170, 247)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs text-dark">Automation logs</p>
      </li>
      <li class="flex-row align-center mb-2 text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(94, 170, 247)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs text-dark">Custom branding</p>
      </li>
      <li class="flex-row align-center mb-2 text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(94, 170, 247)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs text-dark">Synchronous automations</p>
      </li>
      <li class="flex-row align-center mb-2 text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(94, 170, 247)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-xs text-dark">Email support</p>
      </li>
      <a href="/free-trial"><button class="btn btn-block btn-cta my-4 btn-lg">Request free trial -></button></a>
    </div>


<div class="pricing-card  p-4 flex-column-space-between">
  <div>
  <p class="mb-2 mt-1 lead-lg indigo-700 font-weight-medium">Enterprise</p>
  <h3 class="h1 mb-1 mr-2 text-dark">Custom</h3>
  <p class="text-xs text-dark opacity-75">From $15,000 per annum</p>
  <p class="text-xs mb-4 mt-1 text-dark opacity-75">Multi-year contracts available</p>
    <li class="flex-row align-center mb-2 text-dark">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
        stroke="rgb(132, 136, 253)" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>
      <p class="ml-2 text-xs text-dark">AD/SCIM</p>
    </li>
    <li class="flex-row align-center mb-2 text-dark">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
        stroke="rgb(132, 136, 253)" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>
      <p class="ml-2 text-xs text-dark">Enforceable SSO</p>
    </li>
    <li class="flex-row align-center mb-2 text-dark">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
        stroke="rgb(132, 136, 253)" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>
      <p class="ml-2 text-xs text-dark">Tailored onboarding</p>
    </li>
    <li class="flex-row align-center mb-2 text-dark">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
        stroke="rgb(132, 136, 253)" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>
      <p class="ml-2 text-xs text-dark">Priority support + SLAs</p>
    </li>
  </div>
    <div>
    <a href="/contact"><button  class="btn btn-block btn-primary btn-lg mb-4">Contact Sales -></button></a>
</div>
</div>
</div>
