<div class="pricing space-1-bottom">
  <div class="pricing-card p-4">
    <div>
      <h2 class="h4 mb-2 mt-1 font-weight-semi-bold plan-type">
        Free
      </h2>
      <p class="mb-4">The quickest and easiest way to try Budibase.</p>
      <h3 class="h2 mb-1 mr-2">$0</h3>
      <p class="text-xxs opacity-75">
        per month<br />Free forever
      </p>
      <p class="text-xxs mb-4 mt-2 opacity-75">No CC required</p>
      <div>
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=navigation-cta">
          <button onClick="goToAccountPortal('free');" type="submit"
            class="btn btn-block btn-secondary mt-auto mb-4 btn-lg">
            Start for free ->
          </button>
        </a>
      </div>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Unlimited users</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Create internal and public apps</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Embeds</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">SSO (Google/Microsoft/OIDC)</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Unlimited external data sources</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Up to 2 apps</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Community support</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(14, 14, 14)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Cloud/On-prem hosting</p>
      </li>
    </div>

  </div>

  <div class="pricing-card  border-green">
    <div class="p-4">
      <h2 class="h4 mb-2 mt-1  font-weight-semi-bold plan-type">
        Premium
      </h2>
      <p class="mb-4">More power for teams who want to transform internal processes.</p>
      <div class="price-grid">
        <div>
          <h3 class="h2 mb-1 mr-2">$12</h3>
          <p class="text-xxs opacity-75">
            per creator/month,<br />billed annually
          </p>
          <p class="text-xxs mb-4 mt-2 opacity-75">$15 billed monthly</p>
        </div>
        <div>
          <h3 class="h2 mb-1 mr-2">$3</h3>
          <p class="text-xxs opacity-75">
            per user/month,<br />billed annually
          </p>
          <p class="text-xxs mb-4 mt-2 opacity-75">$3.75 billed monthly</p>
        </div>
      </div>
      <div>
        <a href="/free-trial"><button class="btn btn-block btn-secondary mb-4 btn-lg">
            Request free trial ->
          </button></a>
      </div>
      <li class="flex-row align-center mb-2">
        <p class="text-sm font-weight-medium">Everything in Starter, and:</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(0, 149, 98)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Unlimited apps</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(0, 149, 98)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">1 week of backups</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(0, 149, 98)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">3 user groups</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(0, 149, 98)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Custom branding</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(0, 149, 98)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Unlimited plugins</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(0, 149, 98)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">1 week automation logs</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(0, 149, 98)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Cloud/On-prem hosting</p>
      </li>
    </div>
  </div>

  <div class="pricing-card p-4 border-blue">
    <div>
      <h2 class="h4 mb-2 mt-1 font-weight-semi-bold plan-type">
        Business
      </h2>
      <p class="mb-4">Scale operations and increase productivity with control & confidence.</p>
      <div class="price-grid">
        <div>
          <h3 class="h2 mb-1 mr-2">$40</h3>
          <p class="text-xxs opacity-75">
            per creator/month,<br />billed annually
          </p>
          <p class="text-xxs mb-4 mt-2 opacity-75">$50 billed monthly</p>
        </div>
        <div>
          <h3 class="h2 mb-1 mr-2">$6</h3>
          <p class="text-xxs opacity-75">
            per user/month,<br />billed annually
          </p>
          <p class="text-xxs mb-4 mt-2 opacity-75">$7.50 billed monthly</p>
        </div>
      </div>
      <div>
        <a href="/free-trial"><button class="btn btn-block btn-cta mb-4 btn-lg">
            Request free trial ->
          </button></a>
      </div>
      <li class="flex-row align-center mb-2">
        <p class="text-sm font-weight-medium">Everything in Premium, and:</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Audit logs</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">1 year of backups</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Unlimited user groups</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Environments (Git sync)</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Environment variables</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Creator access controls</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Synchronous automations</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Email support</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(6, 108, 231)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Cloud/On-prem hosting</p>
      </li>
    </div>

  </div>

  <div class="pricing-card p-4 border-indigo">
    <div>
      <h2 class="h4 mb-2 mt-1 font-weight-semi-bold">Enterprise</h2>
      <p class="mb-4">All the flexibility and power to meet your Enterprise requirements.
</p>
      <h3 class="h2 mb-1 mr-2">Custom</h3>
      <p class="text-xxs opacity-75">From $15,000 <br>billed annually</p>
      <p class="text-xxs mb-4 mt-2 opacity-75">Multi-year contracts available</p>
      <div>
        <a href="/contact"><button class="btn btn-block btn-secondary my-4 btn-lg">
            Contact sales ->
          </button>
        </a>
      </div>
      <li class="flex-row align-center mb-2">
        <p class="text-sm font-weight-medium">Everything in Business, and:</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(132, 136, 253)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Active directory/SCIM</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(132, 136, 253)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Air-gapped deployment</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(132, 136, 253)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Enforceable SSO</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(132, 136, 253)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Volume-based discounts</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(132, 136, 253)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Professional Services</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(132, 136, 253)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Dedicated support channel</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(132, 136, 253)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">SLAs</p>
      </li>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none" viewBox="0 0 24 24"
          stroke="rgb(132, 136, 253)" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-2 text-sm">Cloud/On-prem hosting</p>
      </li>
    </div>

  </div>
</div>

<div class="my-6">{{ partial "logo-reel.html" . }}</div>

<div class="mt-4 mb-6">{{ partial "pricing/table.html" . }}</div>