<div class="space-3-bottom space-1-top">
    <div class="container text-center mx-auto">
        <div class="u-xs-avatar mb-2 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="#2680eb" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
        <h2>FAQs</h2>
        <p class="mt-2 text-sm w-lg-40 mx-auto">Can't find the answer to your question, ask someone in the community on
            our <a href="https://github.com/Budibase/budibase/discussions">Github Discussions Forum</a>. </p>
    </div>

    <div class="container-9">
        <details class="mt-6 border-bottom py-3">
            <summary>How does Budibase's pricing work?</summary>
            <p class="mb-2 text-sm mx-3">Budibase has a number of free and paid tiers for users to choose from. The Free tier on Cloud and the Community version (self-host) of Budibase are available to use for free. 
                Budibase Premium costs $8 per user per month when billed annually and $10 per user per month when billed monthly. The price of Budibase Business is $16 per user per month when billed annually and $20 when billed monthly. Enterprise pricing is custom.
        </details>
        <details class=" border-bottom py-3">
            <summary>Does Budibase offer a discount for nonprofits?</summary>
            <p class="mb-2 text-sm mx-3">Budibase is happy to offer eligible nonprofit organizations a discount on a Budibase Premium or Budibase Business annual plan. </p>
        </details>
        <details class="border-bottom py-3">
            <summary>Can I self-host Budibase for free?</summary>
            <p class="mb-2 text-sm mx-3">Yes, you can self-host Budibase for free. Check out our <a href="https://docs.budibase.com/docs/hosting-methods">self-host docs</a> for further guidance. </p>
        </details>
        <details class="border-bottom py-3">
            <summary>I've hit my user limit, can I add more users to my plan?</summary>
            <p class="mb-2 text-sm mx-3">If you are on the free plan, this is not possible unless you upgrade to a paid plan. If you are on a paid plan, you can add more users on top of your allowance.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>Is Budibase free to use?</summary>
            <p class="mb-2 text-sm mx-3">Budibase has multiple packages to help teams of all sizes orchestrate their
                work. Our Free plan is available to teams for no charge and provides everything you need to build
                internal tools and workflows in minutes. Budibase is also <a href="https://github.com/Budibase/budibase">open-source</a>, and you can run it on your own infrastructure for free. 
                Our paid plans offer additional power and scale for teams as they grow and their needs get more complex.
            </p>
        </details>
        <details class="border-bottom py-3">
            <summary>What happens when I hit my limits?</summary>
            <p class="mb-2 text-sm mx-3">If you hit the user limits on the free plan (on Cloud) you will need to upgrade to a paid plan. If you reach our data or automation limits, you’ll still be able to use Budibase. We’ll let you know about the overage, and give you a grace period to find a plan that fits your needs!
            </p>
        </details>
        <details class="border-bottom py-3">
            <summary>What are my payment options?</summary>
            <p class="mb-2 text-sm mx-3">All payments are made via credit card using Stripe for Premium and Business workspaces. For
                Enterprise accounts, we can issue an annual invoice with payment via PO. Please <a href="/contact"
                    target="_blank">contact sales</a> for more information.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>Can I deploy Budibase on-premise?</summary>
            <p class="mb-2 text-sm mx-3">Yes! You can <a href="https://docs.budibase.com/docs/hosting-methods">self-host Budibase</a> on your own infrastructure. Enterprise customers can also benefit from on-premise deployments plus additional proprietary features.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>Do you have a Service-Level Agreement (SLA)?</summary>
            <p class="mb-2 text-sm mx-3">We do not offer a standard SLA. For enterprise orgs, we can offer a custom SLA. 
                <a href="/contact" target="_blank">Contact sales</a> to learn more.</p>
        </details>
    </div>
</div>