{{ partial "header.html" . }} 
{{ partial "navigation.html" . }}
  <div class="container space-2-top text-center">
    <h1 class="mb-3 hero-title text-dark">
      Product
    </h1>
    <p class="hero-description text-dark opacity-75">Everything you need to transform internal processes.</p>
  </div>
  <div class="space-1 container-narrow feature-grid">
    <section class="feature-nav">
      <ul class="feature-nav-items">
        <li>
          <a href="#data">
              <div class="flex-row align-center">
              <div class="icon-container bg-gray-300">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2H12.5C12.7761 2 13 2.22386 13 2.5V5H8V2ZM7 5V2H2.5C2.22386 2 2 2.22386 2 2.5V5H7ZM2 6V9H7V6H2ZM8 6H13V9H8V6ZM8 10H13V12.5C13 12.7761 12.7761 13 12.5 13H8V10ZM2 12.5V10H7V13H2.5C2.22386 13 2 12.7761 2 12.5ZM1 2.5C1 1.67157 1.67157 1 2.5 1H12.5C13.3284 1 14 1.67157 14 2.5V12.5C14 13.3284 13.3284 14 12.5 14H2.5C1.67157 14 1 13.3284 1 12.5V2.5Z" fill="black" fill-rule="evenodd" clip-rule="evenodd"></path></svg>              </div>
              <p class="feature-nav-subitem text-dark">Data
              </p>
            </div>
          </a>
        </li>  
        <li>
          <a href="#design">
            <div class="flex-row align-center">
              <div class="icon-container bg-gray-300">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 1.5C11 1.22386 10.7761 1 10.5 1C10.2239 1 10 1.22386 10 1.5V4H5V1.5C5 1.22386 4.77614 1 4.5 1C4.22386 1 4 1.22386 4 1.5V4H1.5C1.22386 4 1 4.22386 1 4.5C1 4.77614 1.22386 5 1.5 5H4V10H1.5C1.22386 10 1 10.2239 1 10.5C1 10.7761 1.22386 11 1.5 11H4V13.5C4 13.7761 4.22386 14 4.5 14C4.77614 14 5 13.7761 5 13.5V11H10V13.5C10 13.7761 10.2239 14 10.5 14C10.7761 14 11 13.7761 11 13.5V11H13.5C13.7761 11 14 10.7761 14 10.5C14 10.2239 13.7761 10 13.5 10H11V5H13.5C13.7761 5 14 4.77614 14 4.5C14 4.22386 13.7761 4 13.5 4H11V1.5ZM10 10V5H5V10H10Z" fill="black" fill-rule="evenodd" clip-rule="evenodd"></path></svg>            </div>
              <p class="feature-nav-subitem text-dark">Design</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#automate">
            <div class="flex-row align-center">
              <div class="icon-container bg-gray-300">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.69667 0.0403541C8.90859 0.131038 9.03106 0.354857 8.99316 0.582235L8.0902 6.00001H12.5C12.6893 6.00001 12.8625 6.10701 12.9472 6.27641C13.0319 6.4458 13.0136 6.6485 12.8999 6.80001L6.89997 14.8C6.76167 14.9844 6.51521 15.0503 6.30328 14.9597C6.09135 14.869 5.96888 14.6452 6.00678 14.4178L6.90974 9H2.49999C2.31061 9 2.13748 8.893 2.05278 8.72361C1.96809 8.55422 1.98636 8.35151 2.09999 8.2L8.09997 0.200038C8.23828 0.0156255 8.48474 -0.0503301 8.69667 0.0403541ZM3.49999 8.00001H7.49997C7.64695 8.00001 7.78648 8.06467 7.88148 8.17682C7.97648 8.28896 8.01733 8.43723 7.99317 8.5822L7.33027 12.5596L11.5 7.00001H7.49997C7.353 7.00001 7.21347 6.93534 7.11846 6.8232C7.02346 6.71105 6.98261 6.56279 7.00678 6.41781L7.66968 2.44042L3.49999 8.00001Z" fill="black" fill-rule="evenodd" clip-rule="evenodd"></path></svg>            </div>
              <p class="feature-nav-subitem text-dark">Automate</p>
            </div>
          </a>
        </li> 
        <li>
          <a href="#scale">
            <div class="flex-row align-center">
              <div class="icon-container bg-gray-300">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.5 3.04999C11.7485 3.04999 11.95 3.25146 11.95 3.49999V7.49999C11.95 7.74852 11.7485 7.94999 11.5 7.94999C11.2515 7.94999 11.05 7.74852 11.05 7.49999V4.58639L4.58638 11.05H7.49999C7.74852 11.05 7.94999 11.2515 7.94999 11.5C7.94999 11.7485 7.74852 11.95 7.49999 11.95L3.49999 11.95C3.38064 11.95 3.26618 11.9026 3.18179 11.8182C3.0974 11.7338 3.04999 11.6193 3.04999 11.5L3.04999 7.49999C3.04999 7.25146 3.25146 7.04999 3.49999 7.04999C3.74852 7.04999 3.94999 7.25146 3.94999 7.49999L3.94999 10.4136L10.4136 3.94999L7.49999 3.94999C7.25146 3.94999 7.04999 3.74852 7.04999 3.49999C7.04999 3.25146 7.25146 3.04999 7.49999 3.04999L11.5 3.04999Z" fill="black" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
            </div>
              <p class="feature-nav-subitem text-dark">Scale</p>
            </div>
          </a>
        </li> 
        <li class="mt-2">
            <a href="https://account.budibase.app/register" class="btn btn-cta">Sign up free</a>
        </li>    
    </ul>
    </section>    
    <section class="feature-body" id="data">
      <div class="feature-heading">
        <p class="detail-lg text-blue mb-4">
          Data
        </p>
        <h2 class="mb-3 h1 text-dark">Bring all your data together</h2>
        <p class="lead-lg text-dark opacity-75">Budibase is a platform that allows you to take control of the multiple datasets and rogue spreadsheets. Powerful and secure. Budibase allows you to create a safe space to connect, share, and collaborate with data in an easier, faster, and secure way.</p>
      </div>
      <hr class="my-9  "/>
      <div class="feature-content-wrapper">
        <h3 class="h2 text-dark">Connect</h3>
        <div>
            <h4 class="h3 mb-3 text-dark">Bring all your data together</h4>
            <p class="lead-lg mb-4 text-dark opacity-75">Whether your data lives in a spreadsheet, SQL database, or REST API, Budibase has got
                you covered. Securely connect to over 30 data sources (from Google Sheets to 
                PostgreSQL) and sync your data to Budibase.</p>
                <div class="rounded-lg mb-6 bg-gray-300">
                    <lottie-player src="/lottie/fetch-tables.json"  speed="1"  loop autoplay></lottie-player>
                  </div>            
            
            <h5 class="h4 mb-2 text-dark">SQL Sync</h5>
            <p class="lead mb-6 text-dark opacity-75">When using a SQL database with Budibase, you can sync your tables with Budibase which will allow you to autogenerate CRUD screens, view your data in table format, paginate your data and model relationships.</p>

            <h5 class="h4 mb-2 text-dark">REST API connector</h5>
            <p class="lead mb-6 text-dark opacity-75">Use the new powerful Rest API connector to connect with REST APIs, fetch data, receive form data, authenticate with external APIs, and build modern business apps in minutes.            </p>
            <h5 class="h4 mb-2 text-dark">Custom queries</h5>
            <p class="lead mb-6 text-dark opacity-75">Budibase supports the ability to write custom queries. These queries can be really useful if you want to perform advanced joins or server-side filtering.</p>

            <h5 class="h4 mb-2 text-dark">Transform your data</h5>
            <p class="lead mb-6 text-dark opacity-75">When retrieving data from various sources, transformers allow you transform your incoming data to fit your app's use case - from simply extracting properties from deeper JSON objects to enriching your data with more information, transformers can be used for a wide variety of applications.</p>
        </div>
      </div>
      <hr class="my-9  " id="collaborate"/>
      <div class="feature-content-wrapper mb-9">
        <h3 class="h2 text-dark">Start from scratch</h3>
        <div>
            <h4 class=" h3 mb-3 text-dark">Built-in no-code database</h4>
            <p class="lead-lg mb-4 text-dark opacity-75">When you don't have a dataset, Budibase's built-in database is the perfect solution for building tools from scratch. It's easy to use, scalable, and comes with a tonne of features out of the box.</p>
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1676451027/ui/Internal_database_ud8nrb.webp" class="img-fluid rounded-lg  mb-6" />
            
            
            <h5 class="h4 mb-2 text-dark">Upload CSVs</h5>
            <p class="lead mb-6 text-dark opacity-75">Upload CSVs straight into BudibaseDB. During the upload process, you can also configure field types.</p>

            <h5 class="h4 mb-2 text-dark">Table level security</h5>
            <p class="lead mb-6 text-dark opacity-75">Configure read and write access at the table level ensuring your data is always secure.</p>

            <h5 class="h4 mb-2 text-dark">Auto columns</h5>
            <p class="lead mb-6 text-dark opacity-75">Benefit from auto generated columns such as created by, created at, updated at, auto ID and more.</p>
        </div>
      </div>
      <div id="design"></div> 
      <div class="feature-heading space-2">
        <p class="detail-lg text-blue mb-4">
          Design
        </p>
        <h2 class="mb-3 h1 text-dark">Build apps you’re proud of</h2>
        <p class="lead-lg text-dark opacity-75">Budibase saves teams 100s of hours building internal tools. Whether you're building an admin panel, or a supplier portal, Budibase makes it super-simple to build apps you're proud of, incredibly fast.</p>
      <hr id="buildtools" class="my-9  " />
      <div class="feature-content-wrapper">
        <h3 class="h2 text-dark">Build tools</h3>
        <div>
            <h4 class=" h3 mb-3 text-dark">Drag-and-drop GUI</h4>
            <p class="lead-lg mb-4 text-dark opacity-75">Building your app is made a lot easier with Drag and Drop. Simply drag components on to your Budibase layout screen, and you're now ready to style the component as you please.</p>
                <div class="rounded-lg mb-6 bg-gray-300">
                  <lottie-player src="/lottie/components.json"  speed="1"  loop autoplay></lottie-player>
                </div>        
            
            <h5 class="h4 mb-2 text-dark">Auto-generate screens</h5>
            <p class="lead mb-6 text-dark opacity-75">After you've set your data up, you can generate a fully working CRUD app with 3 clicks. We're pretty proud of this feature and excited for you to try this out!</p>

            <h5 class="h4 mb-2 text-dark">Pre-built components</h5>
            <p class="lead mb-6 text-dark opacity-75">Budbase has over 30 pre-built components to help you build production-grade apps people enjoy using, really quickly.</p>

            <h5 class="h4 mb-2 text-dark">Coding optional</h5>
            <p class="lead mb-6 text-dark opacity-75">With Budibase, coding is optional. For no-coders, it's simple to build an app without JS. For developers, from adding logic to your components to transforming data, Budibase allows to write JavaScript almost anywhere in the builder.
            </p>

            <h5 class="h4 mb-2 text-dark">Apps that work on mobile, tablet, desktop</h5>
            <p class="lead mb-6 text-dark opacity-75">Design apps that work beautiful across multiple devices. Within the design section, you can quickly toggle between devices to ensure your app is always looking great, no matter the device.
            </p>

            <h5 class="h4 mb-2 text-dark">Light and dark mode</h5>
            <p class="lead mb-6 text-dark opacity-75">Out of the box, you can switch your app's design theme from light to dark with just 1 click. You can also configure a brand color for buttons, links, highlights, etc.
            </p>
        </div>
      </div>
      <hr class="my-9  " />
      <div class="feature-content-wrapper">
        <h3 class="h2 text-dark">Collect data</h3>
        <div>
            <h4 class=" h3 mb-3 text-dark">Data collection, your way</h4>
            <p class="lead-lg mb-4 text-dark opacity-75">Where you're replacing a paper survey or collecting ideas from employees, Budibase provides you with a platform that allows you to do this easily, quickly, and, most importantly, securely.</p>
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1676452350/ui/Multi-step-form_eljhir.webp" class="img-fluid rounded-lg mb-6" />
            <h5 class="h4 mb-2 text-dark">Create forms on top of your database</h5>
            <p class="lead mb-6 text-dark opacity-75">Whilst other form builders require you collect and store data on their databases/servers, with Budibase you can generate/build forms on top of multiple databases including PostgreSQL, MYSQL, Mongo and more, allowing you to store data in your own database on your own servers (if self-hosting).</p>

            <h5 class="h4 mb-2 text-dark">Multi-step forms</h5>
            <p class="lead mb-6 text-dark opacity-75">Create multi-step forms and surveys with ease using Budibase. As always, Budibase's flexibility allows you to add actions, validation and logic to each step.</p>

            <h5 class="h4 mb-2 text-dark">Validation</h5>
            <p class="lead mb-6 text-dark opacity-75">With Budibase you can set up a whole host of form validation rules - including regex support and some built in validations common with form based apps. Provide custom validation messages for each of your conditions for total validation control and tailored user feedback. </p>

            <h5 class="h4 mb-2 text-dark">Highly customizable</h5>
            <p class="lead mb-6 text-dark opacity-75">Forms come in all shapes and sizes and we understand that first hand. For this reason, users can build forms of all levels of complexity with Budibase; including adding extra information for each question, multi-step forms, custom logic, validation, custom styling and mroe.</p>
        </div>
      </div>
    </div>

    <div id="automate"></div> 
    <div class="feature-heading space-2">
        <p class="detail-lg feature-tag text-blue mb-4" >
          Automate
        </p>
        <h2 class="mb-3 h1 text-dark">Streamline Workflows</h2>
        <p class="lead-lg text-dark opacity-75">Bring the power of automation to any process. Build advanced workflows that incorporate custom logic, conditions, filters, and more. No code needed.</p>
      <hr class="my-9  "/>
      <div class="feature-content-wrapper">
        <h3 class="h2 text-dark">Automate processes</h3>
        <div>
            <h4 class=" h3 mb-3 text-dark">Create multi-step automations with ease</h4>
            <p class="lead-lg mb-4 text-dark opacity-75">Build automations that automate several tasks at once without coding. We’ve obsessed
              over making this experience as simple, yet powerful, as possible. When creating an
              automation you can pick from over 20 triggers and actions.</p>
                <div class="feature-image-lg rounded-lg mb-6 bg-gray-300">
                    <lottie-player src="/lottie/automations.json"  speed="1"  loop autoplay></lottie-player>
                  </div>            
            
            <h5 class="h4 mb-2 text-dark">If/then logic</h5>
            <p class="lead mb-6 text-dark opacity-75">Add conditions and logic to each step of your automation workflow.</p>

            <h5 class="h4 mb-2 text-dark">Schedule</h5>
            <p class="lead mb-6 text-dark opacity-75">Use the CRON trigger to schedule your automations.</p>

            <h5 class="h4 mb-2 text-dark">Looping</h5>
            <p class="lead mb-6 text-dark opacity-75">Run an action multiple times, and if you need to, pass that information to the next automation step. An important feature if, for example, you want to send an email to multiple recipients in a database.</p>

            <h5 class="h4 mb-2 text-dark">Test automations</h5>
            <p class="lead mb-6 text-dark opacity-75">Test your automations and view the results in the sidebar so that you can continue tweaking your automation until it works the way you want!
            </p>

            <div class="flex-row-space-between">
              <h5 class="h4 mb-2 text-dark">Automation logs</h5>
              <a href="/pricing"><div class="tag-green">Premium plan</div></a>
            </div>
            <p class="lead mb-6 text-dark opacity-75">Automation logs are a list of logs that display whether an automation was successful or not - including relevant information to help with debugging.</p>
        </div>
      </div>
      <hr class="my-9  "/>
      <div class="feature-content-wrapper">
        <h3 class="h2 text-dark">Connect outside</h3>
        <div>
            <h4 class=" h3 mb-3 text-dark">Connect to services outside Budibase</h4>
            <p class="lead-lg mb-4 text-dark opacity-75">When building tools and automating processes, sometimes its important to push data outside Budibase. With Budibase, you can achieve this in a number of sinmple ways.</p>
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1676452700/ui/webhook_m0lumg.webp" class="img-fluid rounded-lg mb-6" />
            
            <h5 class="h4 mb-2 text-dark">Send notifications</h5>
            <p class="lead mb-6 text-dark opacity-75">Send emails and Slack/Discord notifications when an automation is triggered.</p>

            <h5 class="h4 mb-2 text-dark">Webhooks</h5>
            <p class="lead mb-6 text-dark opacity-75">Webhooks allow Budibase to listen for an external application event, and trigger an automation.</p>

            <h5 class="h4 mb-2 text-dark">Extend automations with Zapier and Make</h5>
            <p class="lead mb-6 text-dark opacity-75">Extend automations by connecting to Zapier, Make and other automation platforms</p>
        </div>
      </div>
    </div>

      <div id="scale"></div>
      <div class="feature-heading space-2">
        <p class="detail-lg text-blue mb-4">
          Scale
        </p>
        <h2 class="mb-3 h1 text-dark">Take control</h2>
        <p class="lead-lg text-dark opacity-75">Maximize efficiency with a platform that works at scale and adapts to your needs. Backed by admin features, increased security, world-class support, and more.</p>

      <hr class="my-9  " />
      <div class="feature-content-wrapper">
        <h3 class="h2 text-dark">Scale</h3>
        <div>
            <h4 class=" h3 mb-3 text-dark">Scale with confidence</h4>
            <p class="lead-lg mb-4 text-dark opacity-75">Managing and scaling Budibase throughout your organization is a breeze. To make your experience even better, features such as SSO, user onboarding, and RBAC are free. We want you to feel confident when you begin your journey with Budibase.</p>
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1676302438/ui/SSO_dtcxt6.png" class="img-fluid rounded-lg mb-6" />
            
            <h5 class="h4 mb-2 text-dark">Role-based access control</h5>
            <p class="lead mb-6 text-dark opacity-75">Configure what users can and cannot access any given app. If a user is given access to an app, you can then assign them a role within that app. What a role and cannot do, can also be configured by you too - providing both flexibility and control.</p>

            <h5 class="h4 mb-2 text-dark">Free SSO</h5>
            <p class="lead mb-6 text-dark opacity-75">Budibase provides OIDC and Google SSO support out of the box, for free. If you are not aware of OIDC, it is an open standard and decentralized authentication protocol. As a user, you will have infinite possibilities for SSO, including:
              Active Directory, Auth0, Okta, OneLogin. It’s also possible to add your own authentication!</p>

            <h5 class="h4 mb-2 text-dark">User onboarding</h5>
            <p class="lead mb-6 text-dark opacity-75">Automate the onboarding of new users with email onboarding - you can even customize the content and styles of the emails. If your users don't have emails, you can create usernames and generate passwords too. You can also bulk-upload users from a CSV.</p>
            
            <div class="flex-row-space-between">
              <h5 class="h4 mb-2 text-dark">Backups</h5>
              <a href="/pricing"><div class="tag-green">Premium plan</div></a>
            </div>            
            <p class="lead mb-6 text-dark opacity-75">Backup your apps, including its data and design. Once you backup your app. you can rollback to different snapshots. </p>
            <div class="flex-row-space-between">
              <h5 class="h4 mb-2 text-dark">SCIM / Active Directory sync</h5>
              <a href="/pricing"><div class="tag-blue">Business plan</div></a>
            </div>
            <p class="lead mb-6 text-dark opacity-75">Sync an existing set of users and groups from an identity provider (Okta, AD, OneLogin) and keep these users in sync with Budibase.</p>

            <div class="flex-row-space-between">
              <h5 class="h4 mb-2 text-dark">User groups</h5>
              <a href="/pricing"><div class="tag-blue">Business plan</div></a>
            </div>
            <p class="lead mb-6 text-dark opacity-75">User groups enable you to create groups of users with which you can easily share apps. They are a great timesaver when it comes to user onboarding - simply drop a new user into their team group, and they'll inherit the default access too all the apps assigned with that group.</p>

            <div class="flex-row-space-between">
              <h5 class="h4 mb-2 text-dark">Audit logs</h5>
              <a href="/pricing"><div class="tag-blue">Business plan</div></a>
            </div>            
            <p class="lead mb-6 text-dark opacity-75">As an admin, at times you may need to perform an audit of which users have had access or have made changes to certain databases or apps. Audit logs provide you with a powerful UI to monitor activity and identify potential threats. </p>

        </div>
      </div>
      <hr class="my-9  " />
      <div class="feature-content-wrapper" id="security">
        <h3 class="h2 text-dark">Security</h3>
        <div>
            <h4 class=" h3 mb-3 text-dark">Security is at the core of all new development</h4>
            <p class="lead-lg mb-4 text-dark opacity-75">We consider privacy and security to be core functions of our platform, as well as foundational requirements for all new feature development. Earning and keeping the trust of our users is our top priority, so we hold ourselves to the highest security standards.            </p>
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1676301741/ui/env-variables_cxe1kk.png" class="img-fluid rounded-lg mb-6" />
            
            
            <div class="flex-row-space-between">
              <h5 class="h4 mb-2 text-dark">Environment variables</h5>
              <a href="/pricing"><div class="tag-blue">Business plan</div></a>
            </div>
            <p class="lead mb-6 text-dark opacity-75">Environment variables ensure the encryption of sensitive data, secure configuration management and provide the ability to switch configuration between environments.</p>
            <h5 class="h4 mb-2 text-dark">Data encryption</h5>
            <p class="lead mb-6 text-dark opacity-75">Every customer and app has its own segregated database. We force HTTPS connections 
              and data-in-transit encryption in Budibase cloud with TLS. We restrict production data 
              access to 3 team members. We also undergo quarterly independent penetration tests.</p>
            <h5 class="h4 mb-2 text-dark">Terms & Conditions, Terms of Use, Privacy Policy</h5>
            <p class="lead mb-6 text-dark opacity-75">Feel free to read our <a class="text-dark" href="https://budibase.com/self-host-master-terms">terms</a> and <a class="text-dark" href="https://budibase.com/privacy">policies</a>.
      </div>
    </div>
    </section>
  </div>


{{ partial "cta.html" . }}
{{ partial "footer.html" . }}