<!-- Features Section -->

<div class="container space-3">
  <div class="text-center mx-auto">
    <h2 class="w-lg-40 mx-auto mb-4">Turn on your full-stack superpowers</h2>
    <p class="w-lg-60 mx-auto lead mb-6">
      We agonise over the right abstractions so your teams don’t need to wrestle with boilerplate code or spend weeks designing and building UIs. Budibase empowers your team to build beautiful, modern, internal tools for your workplace in minutes.</p></div>
    <div class="benefits-new-container w-lg-80">
    <div class="benefit-container">
      <div class="benefit-image-container">
        <picture>
          <source srcset="/img/img/external-data-sources.webp" type="image/webp" />
          <source srcset="/img/img/external-data-sources.png" type="image/png" />
          <img
            src="/img/img/external-datas-ources.png"
            class="img-fluid shadow rounded"
            alt="Data"
        />
        </picture>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">Data, how you like it</h4>
        <p>
          Connect to an external data source, import data, or start from scratch with Budibase's built-in database. 
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <picture>
          <source srcset="/img/img/design.webp" type="image/webp" />
          <source srcset="/img/img/design.png" type="image/png" />
          <img
            src="/img/img/design.png"
            class="img-fluid shadow rounded"
            alt="Data"
        />
        </picture>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">Design with confidence</h4>
        <p>
          With an easy-to-use and intuitive interface, non-developers can create mission-critical applications.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <picture>
          <source srcset="/img/img/automate.webp" type="image/webp" />
          <source srcset="/img/img/automate.png" type="image/png" />
          <img src="/img/img/automate.png" class="img-fluid shadow rounded" alt="Automate apps with Budibase" />
        </picture>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">Automate everything</h4>
        <p>
          Budibase automates manual processes and replaces inefficient functions within your business.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <picture>
          <source srcset="/img/img/apps-list.webp" type="image/webp" />
          <source srcset="/img/img/apps-list.png" type="image/png" />
          <img src="/img/img/apps-list.png" class="img-fluid shadow rounded" alt="Deploy apps with Budibase" />
        </picture>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">Manage with ease</h4>
        <p>
          Benefit from automated email onboarding, global user management, granular permissions, and more.
        </p>
      </div>
    </div>




  </div>
</div>







