<!-- Features Section -->
<div class="container space-3-bottom">
  <div class="mx-auto col-12">
    <div class="w-lg-60 mx-auto space-3-bottom">
      <h2 class="mb-4 text-white text-center">Simple by default</br><span class="text-white-50"> Speed guaranteed</span></h2>

      <p class="text-light text-center lead">
        Building internal tools is time consuming - setting up web servers, writing boilerplate code, and wrestling with design takes weeks. Budibase removes the boilerplate work providing you with a platform to build, automate, and ship internal tools 50x faster. In fact, we make it so easy users with no development experience can build mission-critical apps in minutes.
      </p>
    </div>
    <div class="mb-2 steps">
      <div class="steps-content-container">
        <h6 class="text-blue mb-2">1. DATA</h6>
        <h3 class="mb-4 step-header w-80 text-white">
          Bring your own data or build internal tools from scratch
        </h3>
        <p class="mb-5 text-light">
          With Budibase, you can connect to an external data source, import data, or start from scratch with our built-in DB. You can then query, create views, and manage that data right
          within the Budibase GUI.
        </p>
        <div class="data-logo-row">
          <img class="u-data-avatar p-2 bg-dark-2 rounded" alt="Couchdb logo" src="integrations/couchdb-logo.png" > 
          <img class="u-data-avatar p-2 bg-dark-2 rounded" alt="Dyanamodb logo" src="integrations/dynamodb-logo.png" > 
          <img class="u-data-avatar p-2 bg-dark-2 rounded" alt="Elasticsearch logo" src="integrations/elasticsearch-logo.svg" > 
          <img class="u-data-avatar p-2 bg-dark-2 rounded" alt="Postgresql logo"  src="integrations/postgresql.png" > 
          <img class="u-data-avatar p-2 bg-dark-2 rounded"  alt="MongoDB logo" src="integrations/mongodb-logo.svg" > 
        </div>
      </div>
      <picture>
        <source srcset="/img/img/data-filter-2.webp" type="image/webp" />
        <source srcset="/img/img/data-filter-2.png" type="image/png" />
        <img
          src="/img/img/data-filter-2.png"
          class="img-fluid shadow-sm border-dark"
          alt="Data"
        />
      </picture>
    </div>
    <div class="steps mb-2 space-3-top space-3-bottom">
      <div class="steps-content-container">
        <h6 class="text-blue mb-2">2. DESIGN</h6>
        <h3 class="mb-4 step-header w-80 text-white">
          Build with pixel-perfect blocks
        </h3>
        <p class="mb-6 text-light">
          Budibase auto-generates beautiful
          screens, from your data, saving you precious dev time. It also comes with
          pixel-perfect, powerful components helping you build UIs users will love.
        </p>
        <div class="data-logo-row">
          <img class="u-data-avatar p-2 bg-dark-2 rounded"  alt="Image icon"  src="design-icons/image-line.png" > 
          <img class="u-data-avatar p-2 bg-dark-2 rounded"  alt="List icon" src="design-icons/list-check-2.png" > 
          <img class="u-data-avatar p-2 bg-dark-2 rounded"  alt="Layout icon" src="design-icons/layout-3-line.png" > 
          <img class="u-data-avatar p-2 bg-dark-2 rounded"  alt="Line icon" src="design-icons/line-chart-line.png" > 
          <img class="u-data-avatar p-2 bg-dark-2 rounded"  alt="Table icon" src="design-icons/table-line.svg" > 
        </div>
      </div>

      <picture>
        <source srcset="/img/img/design-chart.webp" type="image/webp" />
        <source srcset="/img/img/design-chart.png" type="image/png" />
        <img
          src="/img/img/design-chart.png"
          class="img-fluid shadow-sm border-dark"
          alt="Design"
        />
      </picture>
    </div>

    <div class="steps mb-2 space-3-bottom">
      <div class="steps-content-container">
        <h6 class="text-blue mb-2">3. AUTOMATE</h6>
        <h3 class="mb-4 step-header w-80 text-white">
          Automate manual processes
        </h3>
        <p class="mb-6 text-light">
          Save time by automating manual processes and workflows. From
          connecting to webhooks, to automating emails, simply tell Budibase
          what to do and let it work for you.
        </p>
        <div class="data-logo-row">
          <img class="u-data-avatar p-2 bg-dark-2 rounded" alt="Sendgrid logo"  src="integrations/sendgrid-logo.png" > 
          <img class="u-data-avatar p-2 bg-dark-2 rounded" alt="Zapier logo" src="integrations/zapier-logo.png" > 
          <img class="u-data-avatar p-2 bg-dark-2 rounded" alt="Integromat logo" src="integrations/integromat-logo.png" > 
          <img class="u-data-avatar p-2 bg-dark-2 rounded" alt="Discord logo" src="integrations/discord-logo.png" > 
          <img class="u-data-avatar p-2 bg-dark-2 rounded" alt="Webhooks icon"  src="integrations/webhooks.png" > 
        </div>
      </div>
      <picture class="img-fluid">
        <source srcset="/img/img/automate-action.webp" type="image/webp" />
        <source srcset="/img/img/automate-action.png" type="image/png" />
        <img
          src="/img/img/automate-ui.png"
          class="img-fluid shadow-sm border-dark"
          alt="automate"
        />
      </picture>
    </div>

    <div class="steps-center mb-2 w-lg-60 mx-auto text-center">
      <div class="steps-content-container text-center">
        <h6 class="text-blue mb-2">4. DEPLOY</h6>
        <h3 class="mx-auto mb-4 step-header text-white w-lg-80">
          Self-host your apps or host with Budibase
        </h3>
        <p class="mb-6 text-light">
          In just a few simple clicks, you can deploy your software to our infrastructure or self-host on your own infrastructure (using Docker). The choice is yours!
        </p>
      </div>
      <div class="earth mx-auto text-white"></div>
    </div>
  </div>
</div>





