<!-- Features Section -->
<div class="container space-1-bottom">
  <div class="mx-auto col-12">
    <div class="space-2-bottom">
      <h2>Build beautiful webs apps in 4 simple steps!</h2>
    </div>
    <div class="mb-2">
        <div class="steps-content-container">
            <div>
                <h3 class="mb-3">1. Add Data</h3>
                <p class="mb-5">
                    All tech startups run into the same problems; lengthy dev times, tedious
                    repetition, and multiple headaches. Budibase solves these problems,
                    speeding up the dev process by eliminating repetition and automating
                    workflows.
                </p>
            </div>
            <div>
                <h5 class="mb-2 text-light">As easy as:</h5>
                <h4 class="mb-4">
                    Adding data to a spreadsheet 
                </h4>
            </div>
        </div>
      <img
        class="img-fluid p-1"
        src="/img/img/data-ui.png"
        alt="SaaS hosting"
      />
    </div>

    <div class="mb-2 space-2-top space-2-bottom">
        <div class="steps-content-container">
            <div>
                <h3 class="mb-2">2. Design</h3>
                <p class="mb-4">
                    All tech startups run into the same problems; lengthy dev times, tedious
                    repetition, and multiple headaches. Budibase solves these problems,
                    speeding up the dev process by eliminating repetition and automating
                    workflows.
                </p>
            </div>
            <div>
                <h5 class="mb-2 text-light">As easy as:</h5>
                <h4 class="mb-4">
                    Adding data to a spreadsheet 
                </h4>
            </div>
        </div>
      <img
        class="img-fluid p-1"
        src="/img/img/design-ui-1.png"
        alt="SaaS hosting"
      />
    </div>

    <div class="mb-2 space-2-bottom">
        <div class="steps-content-container">
            <div>
                <h3 class="mb-3">3. Connect and automate</h3>
                <p class="mb-5">
                    All tech startups run into the same problems; lengthy dev times, tedious
                    repetition, and multiple headaches. Budibase solves these problems,
                    speeding up the dev process by eliminating repetition and automating
                    workflows.
                </p>
            </div>
            <div>
                <h5 class="mb-2 text-light">As easy as:</h5>
                <h4 class="mb-4">
                    Adding data to a spreadsheet 
                </h4>
            </div>
        </div>
      <img
        class="img-fluid p-1"
        src="/img/img/automate-ui.png"
        alt="SaaS hosting"
      />
    </div>

    <div class="mb-2">
        <div class="steps-content-container">
            <div>
                <h3 class="mb-3">4. Deploy</h3>
                <p class="mb-5">
                    All tech startups run into the same problems; lengthy dev times, tedious
                    repetition, and multiple headaches. Budibase solves these problems,
                    speeding up the dev process by eliminating repetition and automating
                    workflows.
                </p>
            </div>
            <div>
                <h5 class="mb-2 text-light">As easy as:</h5>
                <h4 class="mb-4">
                    Adding data to a spreadsheet 
                </h4>
            </div>
        </div>
      <img
        class="img-fluid"
        src="/img/img/deploy-ui.png"
        alt="SaaS hosting"
      />
    </div>
  </div>
</div>
