<div class="container">
  <h2 class="mb-4 text-centre">Your automation toolkit</h2>
  <div class="container-benefit">
    <div class="card-small-2">
      <h5 class="mb-1">Triggers</h5>
      <p class="small text-light">
        Choose from a number of triggers to kickstart your workflow
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Create records</h5>
      <p class="small text-light">Create new records based on an event</p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Update records</h5>
      <p class="small text-light">
        Update records, within your tables, based on an event
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Delete records</h5>
      <p class="small text-light">
        Delete records, within your tables, based on an event
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Send email</h5>
      <p class="small text-light">
        Send an email if a trigger is activated
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Delay</h5>
      <p class="small text-light">
      Add a time delay to your automations
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Conditions</h5>
      <p class="small text-light">
        Add conditional logic to your automations
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Test automations</h5>
      <p class="small text-light">
        Test your automation blocks and pinpoint any faults
      </p>
    </div>
  </div>
</div>
