<div class="container">
  <h3 class="mb-4 text-centre">Automation tools</h3>
  <div class="container-benefit">
    <div class="card-small-2">
      <h5 class="mb-1">Webhooks</h5>
      <p class="small text-grey">
        Pull data into your apps and push data out using webhooks
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Integrations</h5>
      <p class="small text-grey">
        Integrate with external platforms using
        <a href="/intgrations">integrations</a>
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Triggers</h5>
      <p class="small text-grey">
        Choose from a number of triggers to start your automation
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Chaining</h5>
      <p class="small text-grey">
        Use data from previus automation steps
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Create records</h5>
      <p class="small text-grey">Create new records based on an event</p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Actions</h5>
      <p class="small text-grey">
        Choose from a library of actions and tell you app what to do
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Send email</h5>
      <p class="small text-grey">Send an email if a trigger is activated</p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Delay</h5>
      <p class="small text-grey">Add a time delay to your automations</p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Conditions</h5>
      <p class="small text-grey">Add conditional logic to your automations</p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Test automations</h5>
      <p class="small text-grey">
        Test your automation blocks and pinpoint any faults
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Bind data</h5>
      <p class="small text-grey">
        Bind data from your tables to your actions, such as email
      </p>
    </div>
  </div>
</div>
