<div class="container">
  <div class="space-2-bottom">
    <h2>Automation the way it should be</h2>
  </div>
  <div class="benefits-new-container">
    <div class="benefit-container">
      <div class="bg-light-2 p-6 border-black rounded ">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/sequence.png"
          alt="Easy automations"
        />
      </div>
      <div class="benefit-content">
        <h3 class="mb-2">Create an automation in seconds</h3>
        <p>Automations come in 3 blocks, triggers, actions and conditions. Simply click on the blocks, and complete the settings to create your automations.</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-light-2 p-6 border-black rounded">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/play-automation.png"
          alt="Pause / play automations"
        />
    </div>
      <div class="benefit-content">
        <h3 class="mb-2">Set and forget</h3>
        <p>Once you setup your automations, they will continue to run in the background until you decide to stop them. Exactly the way it should be!</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-light-2 p-6 border-black rounded">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/sendgrid.png"
          alt="Budibase integrations"
        />
        </div>
      <div class="benefit-content">
        <h3 class="mb-2">Integrate with your favourite tools</h3>
        <p>Integrate with tools such as Sendgrid to connect with your data and automate emails. As the product grows, we will continue to add integrations, and we hope our great community can help with this. </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-light-2 p-6 border-black rounded ">
      <img
        class="img-fluid-1 benefit-img"
        src="/img/img/test-automation.png"
        alt="Test automation"
      />
      </div>
      <div class="benefit-content">
        <h3 class="mb-2">Test your automations </h3>
        <p>Within Budibase, you can test each automation block, ensuring you have the confidence your automations are successfully operating.</p>
      </div>
    </div>
  </div>
</div>
