<!-- Testimonials Section -->
<div class="container space-1 space-2--lg">
    <div class="col-lg-10 text-center mx-auto">
    <div class="mb-5 space-1">
        <h2>Empowering Makers, Inspiring Entrepeneurs</h2>
        <p class="lead mb-0">Budibase is a place where you and your team can build applications, create software, or manage your new SaaS customers. Budibase inspires you to start a career on your terms. </p>
    </div>
    </div>
    


<div class="container">
  <div class="row">
      <div class="col-sm-3 mb-7 mb-sm-0">
          <!-- Icon Block -->
          <div class="pr-lg-3">
            <img class="max-width-9 mb-2" src="img/svg/components/create-blue-icon.svg" alt="Image Description">
            <h4>App Builder</h4>
            <p>Quickly build functional applications to help fill the gaps in your life or business. </p>
          </div>
          <!-- End Icon Block -->
        </div>

    <div class="col-sm-3 mb-7 mb-sm-9">
      <!-- Icon Block -->
      <div class="pr-lg-3">
        <img class="max-width-9 mb-2" src="img/svg/components/responsive-purple-icon.svg" alt="Image Description">
        <h4>Software Maker</h4>
        <p>Build incredible SaaS applications at blazing fast speeds, with minimal effort. </p>
      </div>
      <!-- End Icon Block -->
    </div>
  
    <div class="col-sm-3 mb-7 mb-sm-9">
      <!-- Icon Block -->
      <div class="pr-lg-3">
        <img class="max-width-9 mb-2" src="img/svg/components/plan-brown-icon.svg" alt="Image Description">
        <h4>Software Manager</h4>
        <p>Budibase provides you with an application to manage your users, subscriptions, etc. </p>
      </div>
      <!-- End Icon Block -->
    </div>
  
    <div class="col-sm-3 mb-7 mb-sm-0">
      <!-- Icon Block -->
      <div class="pr-lg-3">
        <img class="max-width-9 mb-2" src="img/svg/components/moving-up-primary-icon.svg" alt="Image Description">
        <h4>Life Changer</h4>
        <p>The ultimate goal is to empower our users to begin a career on their terms.</p>
        
      </div>
      <!-- End Icon Block -->
    </div>
  </div>

  </div>
</div>
