<div class="container container-benefit space-2">
    <div class="card-small bg-dark-2 ">
        <h5 class="mb-1 text-white">Ship 50x faster</h5>
        <p class="small text-light">Build and ship custom software in minutes rather than months.</p>
    </div>
    <div class="card-small bg-dark-2 ">
        <h5 class="mb-1 text-white">Developer friendly</h5>
        <p class="small text-light">Budibase is open source, extensible, and ships real SPAs. </p>
    </div>
    <div class="card-small bg-dark-2 ">
        <h5 class="mb-1 text-white">Self-hosting</h5>
        <p class="small text-light">Self-host Budibase and your data on your own infrastructure.</p>
    </div>
    <div class="card-small bg-dark-2 ">
        <h5 class="mb-1 text-white">Build offline</h5>
        <p class="small text-light">Slow internet? No need to worry. Budibase works online & offline.</p>
    </div>
</div>