<div class="container">
  <div class="space-2-bottom">
    <h2>Why Budibase rocks!</h2>
  </div>
  <div class="benefits-new-container">
    <div class="benefit-container">
      <div class="benefit-image-container">
      <div class="bg-light-2 p-8 border-black rounded ">
        <picture>
          <source srcset="/img/img/benefit-pixel-perf.webp" type="image/webp">
          <source srcset="/img/img/benefit-pixel-perf.png" type="image/png"> 
          <img src="/img/img/benefit-pixel-perf.png" class="img-fluid benefit-img" alt="Pixel perfection">
        </picture>
      </div>
    </div>

      <div class="benefit-content">
        <h3 class="mb-2">Pixel perfection</h3>
        <p>With a growing number of pre-made elements, components, and layouts, and over 150 design controls, you can design just about anything, and look incredibly good whilst doing it.</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <div class="bg-light-2 p-8 border-black rounded">
          <picture>
            <source srcset="/img/img/benefit-perf.webp" type="image/webp">
            <source srcset="/img/img/benefit-perf.png" type="image/png"> 
            <img src="/img/img/benefit-perf.png" class="img-fluid benefit-img" alt="Performance, guaranteed">
          </picture>
      </div>
    </div>
      <div class="benefit-content">
        <h3 class="mb-2">Performance, guaranteed</h3>
        <p>Unlike other platforms, Budibase apps are Single Page Applications. This type of architecture ensures your apps perform smoothly and delight users. </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
      <div class="bg-light-2 p-8 border-black rounded">
        <picture>
          <source srcset="/img/img/offline.webp" type="image/webp">
          <source srcset="/img/img/offline.png" type="image/png"> 
          <img src="/img/img/offline.png" class="img-fluid benefit-img" alt="Offline">
        </picture>
        </div>
      </div>
      <div class="benefit-content">
        <h3 class="mb-2">No internet, no problem</h3>
        <p>Budibase is different. It's unique. It runs locally on your computer just like an IDE. So if the internet cuts out, or someone is hogging the Wifi, not to worry. We got this. You've got this! </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
      <div class="bg-light-2 p-8 border-black rounded ">
        <picture>
          <source srcset="/img/img/data-ownership2.webp" type="image/webp">
          <source srcset="/img/img/data-ownership2.png" type="image/png"> 
          <img src="/img/img/data-ownership2.png" class="img-fluid benefit-img" alt="Control your own data">
        </picture>
      </div>
    </div>
      <div class="benefit-content">
        <h3 class="mb-2">You control your data</h3>
        <p>This is huge! Data is important and we understand this. We also understand that your data is... your data and you should have access and control over it - which you do with Budibase.</p>
      </div>
    </div>
  </div>
</div>
