<div class="container container-benefit space-2">
    <div class="card-small bg-dark-2 ">
        <h5 class="mb-1 text-white">Build for free</h5>
        <p class="small text-light">Download, design and build for free. No credit card required!</p>
    </div>
    <div class="card-small bg-dark-2 ">
        <h5 class="mb-1 text-white">No coding required</h5>
        <p class="small text-light">Build your web app without writing code.</p>
    </div>
    <div class="card-small bg-dark-2 ">
        <h5 class="mb-1 text-white">Lightning fast</h5>
        <p class="small text-light">Build apps in minutes rather than months.</p>
    </div>
    <div class="card-small bg-dark-2 ">
        <h5 class="mb-1 text-white">Build offline</h5>
        <p class="small text-light">Slow internet? No need to worry. Budibase works online & offline.</p>
    </div>
</div>