<div class="container container-benefit space-2">
    <div class="card-small">
        <h5 class="mb-1">Build for free</h5>
        <p class="small text-light">Download, design and build for free.No credit card required!</p>
    </div>
    <div class="card-small">
        <h5 class="mb-1">No code required</h5>
        <p class="small text-light">Build your web app without a single line of code.</p>
    </div>
    <div class="card-small">
        <h5 class="mb-1">Open source</h5>
        <p class="small text-light">Budibase is open source, bringing you freedom & long-term viability.</p>
    </div>
    <div class="card-small bg-blue">
        <h5 class="text-white">Get started</h5>
    </div>
</div>