<a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener">
    <button type="submit" class="btn btn-primary sm-btn-block btn-lg mr-1 mb-2 mb-sm-0 mr-sm-2">Try Budibase free</button>
  </a>
  <a href="https://account.budibase.app/api/auth/google" target="_blank"   rel="noopener">
    <button type="submit" class="btn btn-secondary btn-lg sm-btn-block"><img src="img/logo-reel/google.png" alt="Google icon" class="mr-2 u-xs-avatar"/>
      Sign-up with Google</button>
  </a>