<div class="space-3 container">
    <div class="mx-auto text-center mb-2 mb-sm-0 pb-lg-4 w-sm-80 w-md-60 ">
        <h2 class="mb-4">Join our community</h2>
        <div class="stats mb-4">
    <div class="text-center">
      <h2 class="h1 mb-2">5000</h2>
      <p class="detail text-center">Github stars</p>
    </div>
    <div class="text-center">
      <h2 class="h1 mb-2">500</h2>
      <p class="detail text-center">Discussions</p>
    </div>
    <div class="text-center">
      <h2 class="h1 mb-2">7000
      </h2>
      <p class="detail text-center">Developers</p>
    </div>
    <div class="text-center">
      <h2 class="h1 mb-2">200000</h2>
      <p class="detail text-center">Downloads</p>
    </div>
  </div>
            <a href="https://github.com/Budibase/budibase/discussions" target="_blank" rel="noopener"> 
                <button type="submit" class="btn btn-secondary btn-lg sm-btn-block mb-2">Visit Github Discussions</button> 
              </a>
    </div>
    <div class="w-sm-80 mx-auto">
        <img class="img-fluid rounded" src="img/hero-images/community.webp" alt="budibase community"/>
    </div>
</div>