<div class="space-3 container">
    <div class="mx-auto text-center mb-2 mb-sm-0 pb-lg-4 w-sm-80 w-md-60 ">
        <h2 class="mb-4">Join our community</h2>
        <p class="text-center mb-4">Join our community, and help us transform the working lives of millions of developers, employees, and
            businesses.</p>
            <a href="https://github.com/Budibase/budibase/discussions" target="_blank" id="goal"> 
                <button type="submit" class="btn btn-secondary btn-lg mb-2">Visit Github Discussions</button> 
              </a>
    </div>
    <div class="w-sm-80 mx-auto">
        <img class="img-fluid rounded" src="img/hero-images/community.webp" alt="budibase community"/>
    </div>
</div>