<!-- Subscribe Section -->
<div id="signup" class="bg-primary bg-img-hero" style="background-image: url(img/bg/bg2.png);">
        <div class="container space-2 space-3-top--lg space-3-bottom--lg col-12">
          <div class="row justify-content-md-center align-items-md-center">
            <div class="col-md-8 col-lg-6">
              <!-- Title -->
              <div class="mb-5 text-center">
                <h2 class="text-white mb-1">Sign up for early access</h2>
                <p class="lead text-light">We will notify you when BudiBase is ready to shine.</p>
              </div>
              <!-- End Title -->
      
              <!-- Input -->
              <form action="/thankyou" class="js-validate" form name="signup" method="POST" data-netlify="true">
                  <div class="row mx-gutters-2">
                    <div class="col-sm-7 mb-3">
                      <!-- Input -->
                      <div class="js-form-message">
                        <div class="js-focus-state input-group form">
                          <input type="email" class="form-control form__input" name="email" required
                                 placeholder="Submit Email Address"
                                 aria-label="Email"
                                 data-msg="Please enter a valid email address.">
                        </div>
                      </div>
                      <!-- End Input -->
                    </div>
    
                    <div class="col-sm-5 mb-3">
                      <button type="submit" class="btn btn-block btn-secondary">Get Early Access</button>
                    </div>
                  </div>
                </form>
              <!-- End Input -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Subscribe Section -->