<div class="bg-light3 container space-2 text-center rounded border">
    <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1663435119/1.%20Illustrations/11._Profile_cards_qh1xnk.webp" class="cta-img mb-4"/>
    <h2 class="mx-auto mb-3">Join 40,000 fast-moving companies today</h2>
    <p class="lead mb-4 text-center">It only takes a few seconds to get up and running!</p>
    <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=body-section-cta" rel="noopener" target="_blank"  ><button type="submit" class="btn btn-cta btn-lg">Get started for free --></button></a>
</div>