<div class="cta-container container bg-blue mb-8 space-2">
    <h2 class="text-white w-md-60 text-center mx-auto mb-1">Choose the new and better way to build custom software</h2>
    <div class="col-sm-5 mb-2 mx-auto">
        <form class="js-validate" form action="https://budibase.us20.list-manage.com/subscribe/post" form name="signup" method="POST">
            <input type="hidden" name="u" value="761756dde90443a4375dead81">
            <input type="hidden" name="id" value="4999d7f159">  
            <div class="container">
              <div class="mb-3">
                <!-- Input -->
                <div class="js-form-message">
                  <div class="js-focus-state input-group form">
                      <p style="display:none;">
                          <label>Don’t fill this out: <input name="bot-field"></label>
                        </p>
                        <input type="email" class="form-control form__input rounded" name="MERGE0" id="MERGE0" required
                           placeholder="Submit Email Address"
                           aria-label="Email"
                           data-msg="Please enter a valid email address.">
                  </div>
                </div>
                <!-- End Input -->
                </div>
                  <button type="submit" class="btn btn-block btn-secondary">Request Access</button>
              </div>
            </form>
    </div>
    </div>
</div>