<div class="container">
  <h2 class="mb-4 text-centre">Data tools</h2>
  <div class="container-benefit">
    <div class="card-small-2">
      <h5 class="mb-1">Control and security</h5>
      <p class="small text-grey">
        When building with Budibase, your data is stored locally     
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Connect data sources</h5>
      <p class="small text-grey">
        Connect and pull in data from <a href="/intgrations">external data sources</a>
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Budibase Database</h5>
      <p class="small text-grey">
       Build apps without the need for an external database.
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Export data</h5>
      <p class="small text-grey">
       Export the data from your tables in 2 clicks.
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Tables</h5>
      <p class="small text-grey">
        View and analyse your data in a simple table format.
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Views</h5>
      <p class="small text-grey">
        Create views from your tables for data subsets and joins
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">User authentication</h5>
      <p class="small text-grey">
        Add a new user to your app in just a few quick clicks
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Access controls</h5>
      <p class="small text-grey">
        Create and assign access roles to different users
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Calculations</h5>
      <p class="small text-grey">
        Calculate fields, groups or entire views with 1 click.
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Filters and Groups</h5>
      <p class="small text-grey">
        Structure your data exactly how you need it.
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Data upload</h5>
      <p class="small text-grey">Upload data to Budibase from a simple CSV</p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Field types</h5>
      <p class="small text-grey">
        Budibase supports multiple field types, including
        stings, options.
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Relationships</h5>
      <p class="small text-grey">
        Budibase supports many-to-many relationships
      </p>
    </div>
  </div>
</div>
