<div class="container">
  <h2 class="mb-4 text-centre">
    Your data toolkit
  </h2>
  <div class="container-benefit">
    <div class="card-small-2">
        <h5 class="mb-1">Tables</h5>
        <p class="small text-light">View and analyse your data in a simple table format.</p>
    </div>
    <div class="card-small-2">
        <h5 class="mb-1">Views</h5>
      <p class="small text-light">
        Create views from your tables
        for data subsets and joins      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">User authentication</h5>
      <p class="small text-light">
        Add a new user to your web app
        in just a few quick clicks      </p>
    </div>
    <div class="card-small-2">
        <h5 class="mb-1">Calculations</h5>
        <p class="small text-light">
            Calculate fields, groups or entire 
            views with 1 click.        </p>    </div>
    <div class="card-small-2">
        <h5 class="mb-1">Filters and Groups</h5>
      <p class="small text-light">
        Structure your data exactly how you need it.      </p>
    </div>
    <div class="card-small-2">
        <h5 class="mb-1">Data upload</h5>
      <p class="small text-light">
        Upload data to Budibase from a 
        CSV      </p>
    </div>
    <div class="card-small-2">
        <h5 class="mb-1">Field types</h5>
      <p class="small text-light">
        Strings, numbers, booleans, dates, 
        images, docs, relationships.      </p>
    </div>
    <div class="card-small-2">
        <h5 class="mb-1">Permissions</h5>
        <p class="small text-light">
            Manage what data users can and 
            cannot see and edit.        </p>    </div>
  </div>
</div>
