<div class="container">
  <div class="space-2-bottom">
    <h2>The number 1 database application builder</h2>
  </div>
  <div class="benefits-new-container">
    <div class="benefit-container">
      <div class="bg-light-2 p-6 border-black rounded">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/new-user.png"
          alt="User authentication"
        />
      </div>
      <div class="benefit-content">
        <h3 class="mb-2">User authentication out of the box</h3>
        <p>Out of the box, Budibase offers you a simple way to add users, choose and create accessibily levels, and delete users.</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-light-2 p-6 border-black rounded">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/view.png"
          alt="Create views"
        />
    </div>
      <div class="benefit-content">
        <h3 class="mb-2">Create specific views of your data</h3>
        <p>Data is precious and a mistake can cause a lot of pain. Views offer you a great way to extract data into a safe environment.</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-light-2 p-6 border-black rounded">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/data-export.png"
          alt="Data export"
        />
        </div>
      <div class="benefit-content">
        <h3 class="mb-2">You own your data and it is always accessible</h3>
        <p>Budibase is open source and you can always access your data when you need it.</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-light-2 p-6 border-black rounded ">
      <img
        class="img-fluid-1 benefit-img"
        src="/img/img/calculate.png"
        alt="Calculations, groups and filtering"
      />
      </div>
      <div class="benefit-content">
        <h3 class="mb-2">Calculations, groups and filters in just a few clicks </h3>
        <p>Digging into your data is crucial. With Budibase, you can create a new view, filter, group and run calculations with just a few clicks.</p>
      </div>
    </div>
  </div>
</div>
