<div class="container">
  <div class="space-2-bottom">
    <h2>Data the way it should be</h2>
  </div>
  <div class="benefits-new-container">
    <div class="benefit-container">
      <div class="bg-yellow p-6 border-black rounded ">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/build.png"
          alt="SaaS hosting"
        />
      </div>
      <div class="benefit-content">
        <h3 class="mb-2">User authentication out of the box</h3>
        <p>We implement security best practices, so you can focus on building your application.</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-orange p-6 border-black rounded">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/24.png"
          alt="SaaS hosting"
        />
    </div>
      <div class="benefit-content">
        <h3 class="mb-2">You own your data and it is always accessible</h3>
        <p>Budibase runs locally on your machine, ensuring you have no issues when the internet drops out</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-green p-6 border-black rounded">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/design.png"
          alt="SaaS hosting"
        />
        </div>
      <div class="benefit-content">
        <h3 class="mb-2">Create specific views of your data</h3>
        <p>We implement security best practices, so you can focus on building your application.</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-purple p-6 border-black rounded ">
      <img
        class="img-fluid-1 benefit-img"
        src="/img/img/docs.png"
        alt="SaaS hosting"
      />
      </div>
      <div class="benefit-content">
        <h3 class="mb-2">Calculations, groups and filters in just a few clicks </h3>
        <p>We implement security best practices, so you can focus on building your application.</p>
      </div>
    </div>
  </div>
</div>
