<div class="mb-2 bg-teal p-6 rounded-sm">
    <h2 class="text-white mb-2 font-weight-bold">🎟️ Day passes explained</h2>
    <p class="text-white font-weight-medium">At Budibase, you only get billed for what you use, so you don’t pay for inactive users. With day passes, if a user uses Budibase within a 24 hr period, 1 day pass is used. Public users are free. </p>
    <p class="text-white mt-4 mb-2 font-weight-bold">Team example:</p>
    <div class="day-pass-wrapper bg-teal4 px-4 py-2 my-2 rounded-sm col-2 flex-row">
      <p class="text-white">John uses Budibase on Monday, Wednesday and Thursday</p>
      <p class="text-white ml-auto">3 day passes</p>
    </div>
    <div class="day-pass-wrapper bg-teal4 px-4 py-2 my-2 rounded-sm col-2 flex-row">
      <p class="text-white">Lisa uses Budibase every weekday in September</p>
      <p class="text-white ml-auto">22 day passes</p>
    </div>
    <div class="day-pass-wrapper bg-teal4 px-4 py-2 my-2 rounded-sm col-2 flex-row">
      <p class="text-white">Richard uses Budibase every Monday and Tuesday in September</p>
      <p class="text-white ml-auto">8 day passes</p>
    </div>
    <div class="day-pass-wrapper bg-teal5 px-4 py-2 my-2 rounded-sm col-2 flex-row">
      <p class="text-white">Total day passes used by team</p>
      <p class="text-white ml-auto">33 day passes</p>
    </div>
  </div>