<div class="container">
  <div class="space-2-bottom">
    <h2>Deployment the way it should be</h2>
  </div>
  <div class="benefits-new-container">
    <div class="benefit-container">
      <div class="bg-light p-2 p-md-6 border-black rounded ">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/1-click-deployment.png"
          alt="1 click deployment"
        />
      </div>
      <div class="benefit-content">
        <h3 class="mb-2">1 click deployment</h3>
        <p>No setup, no worries about where to host or what bucket to store your data in. From within the Budibase builder, deploy your new web app to the internet with just 1 click. It really is that simple!</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-light p-2 p-md-6 border-black rounded">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/tld.png"
          alt="Top level domain budi.live"
        />
    </div>
      <div class="benefit-content">
        <h3 class="mb-2">Budi.live domain</h3>
        <p>Out of the box, we will provide you with a domain using the TLD budi.live so you can quickly share with your colleagues. You can easily change this to your own domain.</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-light p-2 p-md-6 border-black rounded">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/aws.png"
          alt="AWS hosting"
        />
        </div>
      <div class="benefit-content">
        <h3 class="mb-2">Hosted with AWS</h3>
        <p>Your web app will be hosted within Amazon Web Services (AWS) and managed by Budibase. We will ensure your web app is live and accessible.</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-light p-2 p-md-6 border-black rounded ">
      <img
        class="img-fluid-1 benefit-img"
        src="/img/img/self-host.png"
        alt="Self-hosting with Budibase"
      />
      </div>
      <div class="benefit-content">
        <h3 class="mb-2">Self-hosting</h3>
        <p>The Budibase builder is open source allowing you take your web app and host elsewhere, other than Budibase. We also have an optional support service for customers who go down this route.</p>
      </div>
    </div>
  </div>
</div>

