<div class="container bg-gradient rounded space-2">
    <div class="mx-auto text-sm-center mb-2 mb-sm-0 pb-lg-4 w-sm-80 w-md-60 ">
        <p class="detail text-indigo mb-2">Deploy</p>
        <h2 class="mb-2 text-white ">Hosting on your terms</h2>
        <p class="display-lead text-white mb-4">With our open source platform, application data never has to leave your infrastructure. Deploy via Kubernetes, Docker, Digital Ocean. Or host with Budibase and let us manage everything for you. </p>
    </div>
    <div class="mb-6 flex-gap-lg">
        <img class="u-avatar" alt="Budibase icon" src="img/logo/budibase-icon-white.svg" >
        <img class="u-avatar" alt="Kubernetes icon" src="integration/kubernetes/images/logo.png" >
        <img class="u-avatar" alt="Docker logo"  src="integration/docker/images/logo.svg" > 
        <img class="u-avatar" alt="Digital Ocean logo" src="integration/digitalocean/images/logo.svg" >
    </div>
    <div class="text-sm-center">
        <a href="https://account.budibase.app/register" rel="noopener" target="_blank"><button type="submit" class="btn btn-cta btn-lg sm-btn-block">Get started</button></a>
    </div>
</div>