<div class="container">
  <h2 class="mb-4 text-centre">Your deployment toolkit</h2>
  <div class="container-benefit">
    <div class="card-small-2">
      <h5 class="mb-1">AWS hosting</h5>
      <p class="small text-grey">
        Your web app is hosted with Amazon Web Services
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">1 click deployment</h5>
      <p class="small text-grey">
        1 click and your web app is deployed
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Managed by Budibase</h5>
      <p class="small text-grey">
        We will manage your hosting so you don't have to
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Self-hosting</h5>
      <p class="small text-grey">
        You also have the option to self-host, and we can help
      </p>
    </div>
  </div>
</div>
