<div class="container-benefit mt-6">
  <div class="card-small-light">
    <img class="u-avatar mb-3" alt="Budibase icon" src="img/logo/budibase-icon.svg" >
    <h4 class="mb-2">Budibase Cloud</h4>
    <p class="text-sm text-thin">
      Host with Budibase and let us manage everything for you - easiest and quickest way.
    </p>
  </div>
  <div class="card-small-light">
    <img class="u-avatar mb-3" alt="Budibase icon" src="platform/integrations/docker/images/logo.svg" >
    <h4 class="mb-2">Docker</h4>
    <p class="text-sm text-thin">
      Deploy Budibase to your own infrastructure using Docker and Docker Compose.
    </p>
  </div>
  <div class="card-small-light">
    <img class="u-avatar mb-3" alt="Budibase icon" src="platform/integrations/kubernetes/images/logo.png" >
    <h4 class="mb-2">Kubernetes</h4>
    <p class="text-sm text-thin">
        Use the Budibase helm chart to deploy Budibase directly into your Kubernetes cluster.
    </p>
  </div>
  <div class="card-small-light">
    <img class="u-avatar mb-3" alt="Budibase icon" src="platform/integrations/digitalocean/images/logo.svg" >
    <h4 class="mb-2">Digital Ocean</h4>
    <p class="text-sm text-thin">
        The simplest way to self-host Budibase on your own infrastructure - 1 click install.
    </p>
  </div>
</div>
  