<div class="container">
  <h2 class="mb-4 text-centre">Your design toolkit</h2>
  <div class="container-benefit">
    <div class="card-small-2">
      <h5 class="mb-1">Login including</h5>
      <p class="small text-grey">
        We've included a functional login screen out of the box
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Screens</h5>
      <p class="small text-grey">
        Screens form the structure of your web app
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Components</h5>
      <p class="small text-grey">
        A number of components such as buttons, text, inputs, are available
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Magic components</h5>
      <p class="small text-grey">
        Components which know about your data, and take 2 clicks to add
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Layouts</h5>
      <p class="small text-grey">
        Responsive layout components included to speed up design
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Pseudo-classes</h5>
      <p class="small text-grey">
        Add Pseudo-classes such as hover and active in just a few clicks
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Design controls</h5>
      <p class="small text-grey">Over 150 design controls covering all your design requirements</p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Quick settings</h5>
      <p class="small text-grey">
        Shortcuts to help you build bespoke software quicker
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Dnd navigation</h5>
      <p class="small text-grey">
        Budibase's navigation has drag and drop functionality
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Actions</h5>
      <p class="small text-grey">
        Add actions to components and create automations
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Binding</h5>
      <p class="small text-grey">
        Bind components to data from your tables or other components
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Conditional UI</h5>
      <p class="small text-grey">
        Tie the UI of a component to a condition
      </p>
    </div>
  </div>
</div>
