<div class="container">
  <h2 class="mb-4 text-centre">Design tools</h2>
  <div class="container-benefit">
    <div class="card-small-2">
      <h5 class="mb-1">Private/Public apps</h5>
      <p class="small text-grey">
        Build private and public applications
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Build real apps</h5>
      <p class="small text-grey">
        Budibase outputs real single page Svelte applications
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Login including</h5>
      <p class="small text-grey">
        We've included a functional login screen out of the box
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Magic Screens</h5>
      <p class="small text-grey">
        Budibase auto-generates CRUD screens from your data
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Screen templates</h5>
      <p class="small text-grey">
      Utilize premade templates to build faster
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Powerful Components</h5>
      <p class="small text-grey">
        Grab a headstart with premade, powerful components
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Magic components</h5>
      <p class="small text-grey">
        Components which are bound to data, and take 2 clicks to add
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Layouts</h5>
      <p class="small text-grey">
        Responsive layout components included to speed up design
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Pseudo-classes</h5>
      <p class="small text-grey">
        Add Pseudo-classes to your components
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">150+ Design controls</h5>
      <p class="small text-grey">
        Budibase exposes the power of CSS in a user-friendly way</p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Responsive design</h5>
      <p class="small text-grey">
        Utilize Flex and build responsive designs</p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Screen transitions</h5>
      <p class="small text-grey">
        Built-in page transitions improve the app's user experience
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Hot reloading</h5>
      <p class="small text-grey">
        Enjoy hot-reloading when building your apps
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Quick settings</h5>
      <p class="small text-grey">
        Shortcuts to help you build your applications quicker
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Dnd navigation</h5>
      <p class="small text-grey">
        Budibase's navigation has drag and drop functionality
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Actions</h5>
      <p class="small text-grey">
        Add actions to components and create automations
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Binding</h5>
      <p class="small text-grey">
        Bind components to data from your tables or other components
      </p>
    </div>
    <div class="card-small-2">
      <h5 class="mb-1">Conditional UI</h5>
      <p class="small text-grey">
        Tie the UI of a component to a condition
      </p>
    </div>
  </div>
</div>
