<div class="container">
  <div class="space-2-bottom">
    <h2>Software users, to bespoke software builders</h2>
  </div>
  <div class="benefits-new-container">
    <div class="benefit-container">
      <div class="bg-light-2 p-2 p-md-6 border-black rounded ">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/data-components.png"
          alt="Data components"
        />
      </div>
      <div class="benefit-content">
        <h3 class="mb-2">Data components</h3>
        <p>Budibase's design components are tied to your data. This allows you to add connected components, such as tables, forms, charts in just two clicks. Not magical, but certainly awesome!</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-light-2 p-2 p-md-6 border-black rounded">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/design-controls.png"
          alt="Design with freedom"
        />
    </div>
      <div class="benefit-content">
        <h3 class="mb-2">Design with freedom</h3>
        <p>Having the freedom to build a web app you are proud of is important to us. We have made a conscious decision to expose 150+ design controls so you can easily create beautiful web apps.</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-light-2 p-2 p-md-6 border-black rounded">
        <img
          class="img-fluid-1 benefit-img"
          src="/img/img/performance.png"
          alt="Performance baked in"
        />
        </div>
      <div class="benefit-content">
        <h3 class="mb-2">Performance baked in</h3>
        <p>Budibase web apps are single page applications. We have the concept of a masterscreen where you can add repetitive components. This ensures your web apps perform seemlessly.</p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="bg-light-2 p-2 p-md-6 border-black rounded ">
      <img
        class="img-fluid-1 benefit-img"
        src="/img/img/actions.png"
        alt="Bind components"
      />
      </div>
      <div class="benefit-content">
        <h3 class="mb-2">Bring your interface to life</h3>
        <p>Bind components to the backend and other components. Add conditional logic to your web app in just a few clicks. And tell your components exactly what to do with actions.</p>
      </div>
    </div>
  </div>
</div>
