<div class="container space-3">
  <h2>Sparking joy in IT teams</h2>
  <p class="w-md-80 w-lg-60 mt-2">
    As IT professionals, we were frustrated building internal tools. The process was
    repetitive and slow. That is why we built Budibase - a development platform
    that sparks joy, helps you ship faster, and delivers real business value. 
  </p>
  <div class="container-benefit mt-6">
    <div class="card-small mr-6">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01"
          />
        </svg>
      </div>
      <h4 class="mb-1">Open source / self-host</h4>
      <p class="text-sm">
        Budibase is <a href="https://github.com/Budibase/budibase">open source</a> and you can self-host Budibase apps on your own infrastructure.
      </p>
    </div>
    <div class="card-small mr-6 mt-6 mt-md-0">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
          />
        </svg>
      </div>
      <h4 class="mb-1">Easily extendible</h4>
      <p class="text-sm">
        Easily extend Budibase apps and the platform with code, and reduce technical debt.
      </p>
    </div>
    <div class="card-small mr-6 mt-6 mt-md-4 mt-lg-0">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path d="M12 14l9-5-9-5-9 5 9 5z" />
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
          />
        </svg>
      </div>
      <h4 class="mb-1">Best-in-class DX</h4>
      <p class="text-sm">
        Budibase combines the best dev experience with an obsessive focus on
        end-user performance.
      </p>
    </div>
    <div class="card-small mr-4 mt-6 mt-md-4 mt-lg-0">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 10V3L4 14h7v7l9-11h-7z"
          />
        </svg>
      </div>
      <h4 class="mb-1">Speed, speed, speed</h4>
      <p class="text-sm">
        With Budibase, development velocity and app deliver times are improved by up to 20x.
      </p>
    </div>
  </div>
</div>
