<div class="space-2 mb-9 container bg-light-1">
    <div class="mx-auto text-center mb-2 mb-sm-0 pb-lg-4 w-sm-80 w-md-60 ">
        <h2 class="mb-4">Create apps people enjoy using</h2>
        <p class="display-lead text-center mb-4">With automated onboarding flows, a beautiful portal with accessible apps, SSO, and group managers, your colleagues are going to owe you a pat on the back.</p>
    </div>
    <div class="w-sm-80 mx-auto">
        <img class="img-fluid rounded" src="img/img/portal.webp" alt="budibase portal"/>
    </div>
</div>
