<div class="container space-3">
    <h2 class="mb-6">FAQs</h2>
    <div class="faq">
        <div class="question">
            <p><b>Design with absolute freedom </b></p>
        </div>
        <div class="answer">
            <p>Budibase is changing the way you build web applications, saving you time and giving you unmatched functionality. </p>
        </div>
    </div>
    <div class="faq">
        <div class="question">
            <p><b>Design with absolute freedom </b></p>
        </div>
        <div class="answer">
            <p>Budibase is changing the way you build web applications, saving you time and giving you unmatched functionality. </p>
        </div>
    </div>
    <div class="faq">
        <div class="question">
            <p><b>Design with absolute freedom </b></p>
        </div>
        <div class="answer">
            <p>Budibase is changing the way you build web applications, saving you time and giving you unmatched functionality. </p>
        </div>
    </div>
    <div class="faq">
        <div class="question">
            <p><b>Design with absolute freedom </b></p>
        </div>
        <div class="answer">
            <p>Budibase is changing the way you build web applications, saving you time and giving you unmatched functionality. </p>
        </div>
    </div>
    <div class="faq">
        <div class="question">
            <p><b>Design with absolute freedom </b></p>
        </div>
        <div class="answer">
            <p>Budibase is changing the way you build web applications, saving you time and giving you unmatched functionality. </p>
        </div>
    </div>
    <div class="faq">
        <div class="question">
            <p><b>Design with absolute freedom </b></p>
        </div>
        <div class="answer">
            <p>Budibase is changing the way you build web applications, saving you time and giving you unmatched functionality. </p>
        </div>
    </div>
</div>