<div class="container space-2">
    <h2 class="mb-6">FAQs</h2>
    <div class="faq">
        <div class="question">
            <p><b>When is the launch?</b></p>
        </div>
        <div class="answer">
            <p>We're in public beta and you can <a href="https://docs.budibase.com/">try it now for free.</a>  We will publicly launch in January/February 2021. </p>
        </div>
    </div>
    <div class="faq">
        <div class="question">
            <p><b>Do I need to know how to code</b></p>
        </div>
        <div class="answer">
            <p>You do not need to know how to code, but in some cases, knowing some code will allow you to build better web apps. </p>
        </div>
    </div>
    <div class="faq">
        <div class="question">
            <p><b>Is Budibase open source?</b></p>
        </div>
        <div class="answer">
            <p>Budibase is open-source. The builder is licensed AGPL v3, the server is licensed GPL v3, and the client is licensed MPL.</p>
        </div>
    </div>
    <div class="faq">
        <div class="question">
            <p><b>Can I build a website with Budibase?</b></p>
        </div>
        <div class="answer">
            <p>Budibase is for building internal tools and custom software.</p>
        </div>
    </div>
    <div class="faq">
        <div class="question">
            <p><b>Is Budibase free?</b></p>
        </div>
        <div class="answer">
            <p>Yes, to an extent. You will never pay for using the builder. There are certain processes you might need to pay for depending on the extent of your usage - for example, hosting and workflows. </p>
        </div>
    </div>
    <div class="faq">
        <div class="question">
            <p><b>Can I become a Budibase partner?</b></p>
        </div>
        <div class="answer">
            <p>Not yet, but we are exploring the finer details of partnerships so please register your interest: <a href="mailto:partnerships@budibase.com?subject=Partnerships%20-%20website%20enquiry&body=Hi%0D%0A%0D%0AMy%20name%20is%3A%0D%0AMy%20company's%20name%20is%3A%0D%0AWhat%20type%20of%20partnership%20do%20you%20seek%3A%0D%0AWhy%20do%20you%20want%20to%20become%20a%20Budibase%20partner%3A">Partnerships</a></p>
        </div>
    </div>
</div>