<!-- FAQ Section -->
 
<div class="bg-gray-100 bg-img-hero" style="background-image: url(img/svg/shapes/faqbgv2.svg);">
  <div class="container space-2 space-2--lg ">
    <div class="row justify-content-lg-between col-12">

      <div class="col-lg-8 text-center mx-auto">
        <div class="mb-5">
          <h2>FAQs</h2>
          <p class="lead mb-0">We're at the beginning of an exciting journey and we understand there may be lots of
            questions. We've included some of the most popular below. For other questions, send us a message on live
            chat.</p>
        </div>
      </div>

      <div class="col-lg-6 ">
        <div class="mb-5" id="basicsAccordion1">
          <div class="card card-collapse mb-3 p-3 bg-white">
            <div class="card-header card-collapse__header" id="basicsHeadingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                  data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false"
                  aria-controls="basicsCollapseTwo">
                  <h5>When is the launch?</h5>

                  <span class="card-collapse__btn-arrow">
                    <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                  </span>
                </button>
              </h5>
            </div>
            <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo"
              data-parent="#basicsAccordion1">
              <div class="card-body card-collapse__body">
                We will soon begin Alpha. Alpha/Beta will run until 2020. We will then release Budibase to new users in phases. If you would like to be one of the first users, please request access ASAP.
              </div>
            </div>
          </div>

          <div class="card card-collapse p-3 bg-white">
            <div class="card-header card-collapse__header" id="basicsHeadingFour">
              <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                  data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                  aria-controls="basicsCollapseFour">
                  <h5>Is Budibase open source?</h5>

                  <span class="card-collapse__btn-arrow">
                    <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                  </span>
                </button>
              </h5>
            </div>
            <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour"
              data-parent="#basicsAccordion1">
              <div class="card-body card-collapse__body">
                Yes. We fully believe open source is the way forward and hope to create a community which contributes to
                making Budibase the best SaaS platform in the world.
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="mb-5" id="basicsAccordion2">
          <div class="card card-collapse mb-3 p-3 bg-white">
            <div class="card-header card-collapse__header" id="basicsHeadingOne">
              <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                  data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="false"
                  aria-controls="basicsCollapseOne">
                  <h5>Do I need to know how to code?</h5>

                  <span class="card-collapse__btn-arrow">
                    <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                  </span>
                </button>
              </h5>
            </div>
            <div id="basicsCollapseOne" class="collapse" aria-labelledby="basicsHeadingOne"
              data-parent="#basicsAccordion2">
              <div class="card-body card-collapse__body">
                We recommend you have some coding knowledge. We will provide a simple UI builder, which at a push, would allow you build a web app with no code. But, we classify Budibase as a low code platform.
              </div>
            </div>
          </div>
          <div class="card card-collapse mb-3 p-3 bg-white">
            <div class="card-header card-collapse__header" id="basicsHeadingThree">
              <h4 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                  data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false"
                  aria-controls="basicsCollapseThree">
                  <h5>Can I build a website?</h4>

              <span class="card-collapse__btn-arrow">
                <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
              </span>
              </button>
              </h4>
            </div>
            <div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree"
              data-parent="#basicsAccordion2">
              <div class="card-body card-collapse__body">
                You can build web apps, including CRMs, Note taking software, project trackers, to-do apps. For now, Budibase is not a great option for building marketing websites due to SEO reasons. Better website platforms include WordPress and Hugo.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- End FAQ Section -->
