<!-- FAQ Section -->
<div class="bg-gray-100 bg-img-hero" style="background-image: url(img/svg/shapes/faqbgv2.svg);">
    <div class="container space-3 space-2--lg ">
      <div class="row justify-content-lg-between col-12">
              
                      <div class="col-lg-8 text-center mx-auto space-2-bottom">
                      <div class="mb-5">
                          <h2>What The FAQ</h2>
                          <p class="lead mb-0">We're at the beginning of an exciting journey and we understand there may be lots of questions. We've included some of the most popular below. For other questions, <a href="/contact">send us a message.</a> </p>
                      </div>
                      </div>

              <div class="col-lg-6 ">
                      <div class="mb-5" id="basicsAccordion">
                        <div class="card card-collapse mb-3 p-3 bg-white">
                          <div class="card-header card-collapse__header" id="basicsHeadingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                      data-toggle="collapse"
                                      data-target="#basicsCollapseTwo"
                                      aria-expanded="false"
                                      aria-controls="basicsCollapseTwo">
                                <h5>When is the launch?</h5>
                
                                <span class="card-collapse__btn-arrow">
                                  <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                                </span>
                              </button>
                            </h5>
                          </div>
                          <div id="basicsCollapseTwo" class="collapse"
                               aria-labelledby="basicsHeadingTwo"
                               data-parent="#basicsAccordion">
                            <div class="card-body card-collapse__body">
                                    We will soft-launch the builder in November 2019. In January 2020, we will fully launch Budibase, with hosting and management capability. 
                            </div>
                          </div>
                        </div>
                      

                
                        <div class="card card-collapse p-3 bg-white">
                          <div class="card-header card-collapse__header" id="basicsHeadingFour">
                            <h5 class="mb-0">
                              <button class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                      data-toggle="collapse"
                                      data-target="#basicsCollapseFour"
                                      aria-expanded="false"
                                      aria-controls="basicsCollapseFour">
                                <h5>Is Budibase open source?</h5>
                
                                <span class="card-collapse__btn-arrow">
                                  <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                                </span>
                              </button>
                            </h5>
                          </div>
                          <div id="basicsCollapseFour" class="collapse"
                               aria-labelledby="basicsHeadingFour"
                               data-parent="#basicsAccordion">
                            <div class="card-body card-collapse__body">
                                    Yes. We fully believe open source is the way forward and hope to create a community which contributes to making Budibase the best SaaS platform in the world.
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <!-- End Accordion -->
                          </div>
                          <div class="col-lg-6">
                                  <div class="mb-5" id="basicsAccordion">
                                    <div class="card card-collapse mb-3 p-3 bg-white">
                                      <div class="card-header card-collapse__header" id="basicsHeadingOne">
                                        <h5 class="mb-0">
                                          <button class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                                  data-toggle="collapse"
                                                  data-target="#basicsCollapseOne"
                                                  aria-expanded="false"
                                                  aria-controls="basicsCollapseOne">
                                            <h5>Where can I get more info?</h5>
                            
                                            <span class="card-collapse__btn-arrow">
                                              <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                                            </span>
                                          </button>
                                        </h5>
                                      </div>
                                      <div id="basicsCollapseOne" class="collapse"
                                           aria-labelledby="basicsHeadingOne"
                                           data-parent="#basicsAccordion">
                                        <div class="card-body card-collapse__body">
                                                We will circulate additional information via email as the launch gets closed. Use the sign-up forms on this page to sign up to receive notifications.
                                        </div>
                                      </div>
                                    </div>




                                    <div class="card card-collapse mb-3 p-3 bg-white">
                                          <div class="card-header card-collapse__header" id="basicsHeadingThree">
                                            <h4 class="mb-0">
                                              <button class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                                      data-toggle="collapse"
                                                      data-target="#basicsCollapseThree"
                                                      aria-expanded="false"
                                                      aria-controls="basicsCollapseThree">
                                               <h5>Can I become a BETA user?</h4> 
                                
                                                <span class="card-collapse__btn-arrow">
                                                  <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                                                </span>
                                              </button>
                                            </h4>
                                          </div>
                                          <div id="basicsCollapseThree" class="collapse"
                                               aria-labelledby="basicsHeadingThree"
                                               data-parent="#basicsAccordion">
                                            <div class="card-body card-collapse__body">
                                                    Hell yeah! We love user feedback and beta users will receive small Budi gifts along the way. Drop us an email, if you’re interested in becoming a BetaBudi, let us know at https://www.budibase.com/contact
                                            </div>
                                          </div>
                                        </div>
      </div>
    </div>
  </div>
</div>
</div>
    <!-- End FAQ Section -->