<!-- Features Section -->
<div class="container space-2">
    <div class="rightmobile text-centre mx-auto col-12 w-md-80">
    <div class="mb-5 space-1 ">
            <h2>All-In-One Web App Builder</h2>
            <p class="lead mb-0">Budibase is changing the way you build web applications, saving you time and giving you unmatched functionality. Unlike other Web App Builders, Budibase provides you with a platform to build faster, host securely, and manage smarter.</p>
          </div>
    </div> 
  <!-- Manage Projects -->
  <div class="row justify-content-lg-between align-items-md-center space-3-bottom space-1-top space-2-bottom--lg col-12">
    <div class="col-md-6 order-md-2 mb-5 mb-md-0">
      <div class="pl-md-4">
          <span class="u-label u-label--purple mb-3">Build </span>
        <h3>Design Freely, Build Faster</h3>
        <h6>Beta launch in Sep 2019</h6>
        
          <p>All tech startups run into the same problems; lengthy dev times, tedious repetition, and multiple headaches. Budibase solves these problems, speeding up the dev process by eliminating repetition and automating workflows.</p>
      </div>
      <li class="d-flex align-items-center py-2">
        <span class="fa fa-check text-purple font-size-13 mr-3"></span>
        Automate your backend 
      </li>
      <li class="d-flex align-items-center py-2">
        <span class="fa fa-check text-purple font-size-13 mr-3"></span>
        Choose your framework (Vue, React, Ember, etc)
      </li>
      <li class="d-flex align-items-center py-2">
        <span class="fa fa-check text-purple font-size-13 mr-3"></span>
        Design with an intuitive UI Builder
      </li>    
       
      <div class="pl-md-4 space-1">
          <a class="text-purple border-bottom" href="/build-a-web-app">Build your web app ></a>
        </div>
    </div>

    <div class="col-md-6 order-md-1">
      <img class="img-fluid" src="img/img/saas-builder.png" alt="Web App builder">
    </div>
  </div>
  <!-- End Manage Projects -->

  <!-- Monitor Details -->
  <div class="row justify-content-lg-between align-items-md-center space-3-bottom space-2-bottom--lg col-12">
    <div class="col-md-6 mb-5 mb-md-0">
      <div class="pr-md-4">
          <span class="u-label u-label--green mb-3">Launch</span>
        <h3>Host Securely, Deploy Easily</h3>
        <h6>Launch in Feb 2020</h6>
        <p>We take care of hosting so you can focus on making your web application a success. We host your web applications using the secure and reliable Google Cloud. If you prefer to manage hosting, that's completely fine - the power is in your hands.
          </p>
      </div>
      <li class="d-flex align-items-center py-2">
        <span class="fa fa-check text-green font-size-13 mr-3"></span>
        Host your web app in just a few clicks
      </li>
      <li class="d-flex align-items-center py-2">
        <span class="fa fa-check text-green font-size-13 mr-3"></span>
        Add your own custom domain
      </li>
      <li class="d-flex align-items-center py-2">
        <span class="fa fa-check text-green font-size-13 mr-3"></span>
        Controlled Privacy
      </li>
     <div class="pl-md-4 space-1">
      <a class="text-green border-bottom" href="/host-a-web-app">Host your web app ></a>
    </div>
    </div>

    <div class="col-md-6">
      <img class="img-fluid" src="img/img/saas-hosting.png" alt="App hosting">
    </div>
  </div>
  <!-- End Monitor Details -->

  <!-- Measure Performance -->
  <div class="row justify-content-lg-between align-items-md-center bottom--lg col-12">
      <div class="col-md-6 order-md-2 mb-5 mb-md-0">
      <div class="pl-md-4">
          <span class="u-label u-label--yellow mb-3">Grow</span>
        <h3>Manage Smarter, Grow Quickly</h3>
        <h6>Launch in Feb 2020</h6>
        <p>A single, centralised home for all your web application's activity including reporting and invoicing. Budibase's user management interface provides everything you need to know to make the right decisions for your new web application. </p>
      </div>
      <li class="d-flex align-items-center py-2">
        <span class="fa fa-check text-yellow  font-size-13 mr-3"></span>
        One platform to manage your app, customers and payments
      </li>
      <li class="d-flex align-items-center py-2">
        <span class="fa fa-check text-yellow font-size-13 mr-3"></span>
        A CRM to manage your customers
      </li>
      <li class="d-flex align-items-center py-2">
        <span class="fa fa-check text-yellow font-size-13 mr-3"></span>
        Reporting to pinpoint your growth
      </li>
      <div class="pl-md-4 space-1">
      <a class="text-yellow border-bottom" href="/manage-a-web-app">Manage your web app ></a>
    </div>
  </div>

    <div class="col-md-6 order-md-1 ">
      <img class="img-fluid" src="img/img/saas-management.png" alt="Web App manager">
    </div>
  </div>
  <!-- End Measure Performance -->
</div>
