<div class="container-fw bg-black space-3">
  <div class="container mx-auto">
    <h2 class="mx-auto w-lg-65 text-white text-center mb-3">We're flipping the script on low-code</h2>
    <p class="mx-auto text-center w-lg-65 text-white opacity-75 mb-6">Budibase gives everyone the tools to build apps faster and drive business transformation.</p>
  <div class="container-benefit">
    <div class="card-small bg-dark p-5 mr-4 mt-6 mt-md-4 mt-lg-0">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
        </svg>
      </div>
      <h4 class="mb-2 text-white">Open source</h4>
      <p class="text-sm text-white opacity-50">
        Budibase is <a href="https://github.com/Budibase/budibase" class="opacity-75 text-white"><u>open source</u></a> and you can self-host apps using Docker, Kubernetes, and other options.
      </p>
    </div>
    <div class="card-small bg-dark p-5 mr-4 mt-6 mt-md-4 mt-lg-0">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>
      </div>
      <h4 class="mb-2 text-white">Coding optional</h4>
      <p class="text-sm text-white opacity-50">
        Users can build apps with or without writing code - the decision is yours.
      </p>
    </div>
    <div class="card-small bg-dark p-5 mr-4 mt-6 mt-md-4 mt-lg-0">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
        </svg>
      </div>
      <h4 class="mb-2 text-white">Responsive apps</h4>
      <p class="text-sm text-white opacity-50">
        Budibase apps perform perfectly across all devices; mobile, tablet, desktop.
      </p>
    </div>
    <div class="card-small bg-dark p-5 mr-4 mt-6 mt-md-4 mt-lg-0">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"  d="M13 10V3L4 14h7v7l9-11h-7z" />
        </svg>
      </div>
      <h4 class="mb-2 text-white">Automations included</h4>
      <p class="text-sm text-white opacity-50">
       Save time and speed up processes with built-in automations.
      </p>
    </div>
  </div>
</div>
