<div class="container mx-auto space-1-top space-3-bottom">
<div class="flex-row justify-center">
    <div class="text-center mx-auto w-lg-50">
      <p class="detail-lg text-blue text-center">DATA</p>
        <img src="/img/svg/data.svg" class="u-xl-avatar my-2" />
      <h2 class="mx-auto mb-3">Instantly turn data into apps
      </h2>
      <p class="display-lead mb-8 text-center">Connect to an external database, pull data from a Rest API, import a CSV, or start from scratch with Budibase's built-in database.</p>
    </div>
    
  
      <div class="external-datasources bg-light3 rounded p-5 p-md-7 p-lg-9 border">
        <div class="feature-text">
          <h3 class="mb-3 text-dark">Connect to anything</h3>
          <p class="display-lead">Securely connect to a number of datasources including Postgres, MySQL, MSSQL, Oracle, Google Sheets, and build apps in minutes.
        </div>
        <div class="feature-image-lg">
          <img
          src="img/feature-section/external-datasources.webp"
          class="img-fluid rounded w-100"
          alt="Data"  
          loading="lazy"                 
        />
        </div>
      </div>   
  
      <div class="feature-data-subsection">
        <div class="rest-api bg-light3 rounded border">
          <div class="feature-text p-5 p-md-7 p-lg-9">
            <h3 class="mb-3 text-dark">Internal database</h3>
            <p class="display-lead">Create apps from scratch with our no-code internal database. </p>
          </div>
          <div class="feature-image">
            <img
            src="img/feature-section/internal-db.webp"
            class="img-fluid rounded w-100"
            alt="Data"  
            loading="lazy"                 
          />
          </div>
      </div> 
  
      <div class="internal-db rounded p-5 p-md-7 p-lg-9 border bg-light3">
        <div class="feature-text">
          <h3 class="mb-3 text-dark">Rest API connector <span class="detail text-white bg-blue rounded text-sm py-1 px-2 ml-2">New</span></h3>
          <p class="display-lead">Use our powerful Rest API connector to connect with REST APIs, fetch data, receive form data, authenticate with external APIs, and build modern business apps in minutes. </p>
        </div>
        <div class="feature-image ">
          <img
          src="img/feature-section/rest-api-2.webp"
          class="img-fluid rounded w-100 "
          alt="Data"  
          loading="lazy"                 
        />
        </div>
      </div> 
    </div>
  </div> 
</div>