<div class="container mx-auto space-3-bottom">
      <div class="homepage-features">
        <div class="feature-text"> 
          <div class="">
              <img src="/img/svg/data.svg" class="u-lg-avatar mb-3" />
            <h2 class="mb-3 w-lg-80">Instantly turn data into apps
            </h2>
            <p>Connect to an external database, pull data from a Rest API, import a CSV, or start from scratch with Budibase's built-in database.            </p>
            <div class="alert text-xs p-3 border mt-3 bg-light3 rounded">
              <h6 class="mb-1">Connect to anything</h6>
              <p class="font-weight-medium">Connect to MySQL, Postgres, Mongo, Airtable, Google Sheets, and more.</p>
            </div>
          </div>
        </div>
        <div class="feature-image-lg">
          <video
          src="https://res.cloudinary.com/daog6scxm/video/upload/v1660134256/ui/comp_2_4.mov_1080p_cyi0g4.mp4"
          class="img-fluid rounded w-100 "
          alt="Data"  
          autoplay
          loop                
        />
        </div>
      </div>   
    </div>


    <div class="container mx-auto space-3-bottom">
      <div class="homepage-features">
        <div class="feature-text">
          <div class="">
            <img src="/img/svg/design.svg" class="u-lg-avatar mb-3" />
            <h2 class="mb-3">Build apps you're proud off
            </h2>
            <p class="">Create beautiful apps that work perfectly across mobile, tablet, and desktop.</p>
            <div class="alert text-xs p-3 border mt-3 bg-light3 rounded">
              <h6 class="mb-1">Did you know</h6>
              <p class="font-weight-medium">You can build apps with over 30 powerful components</p>
            </div>
          </div>
        </div>
        <div class="feature-image-lg">
          <video
          src="https://res.cloudinary.com/daog6scxm/video/upload/v1660068311/ui/CleanShot_2022-08-09_at_19.04.23_h3sxo3.mov"          
          class="img-fluid rounded w-100 shadow-lg"
          alt="design"  
          autoplay
          loop
        />
        </div>
      </div>   
    </div>


    <div class="container mx-auto space-3-bottom">
      <div class="homepage-features">
        <div class="feature-text">
          <div class="">
            <img src="/img/svg/design.svg" class="u-lg-avatar mb-3" />
            <h2 class="mb-3">Build apps you're proud off
            </h2>
            <p class="">Create beautiful apps that work perfectly across mobile, tablet, and desktop.</p>
            <div class="alert text-xs p-3 border mt-3 bg-light3 rounded">
              <h6 class="mb-1">Did you know</h6>
              <p class="font-weight-medium">You can build apps with over 30 powerful components</p>
            </div>
          </div>
        </div>
        <div class="feature-image-lg">
          <video
          src="https://res.cloudinary.com/daog6scxm/video/upload/v1660062620/ui/CleanShot_2022-08-09_at_17.28.34_e5kwzt.mp4"
          class="img-fluid rounded w-100 shadow-lg"
          alt="design"  
          autoplay
          loop
        />
        </div>
      </div>   
    </div>

    <div class="container mx-auto space-3-bottom">
      <div class="homepage-features">
        <div class="feature-text">
          <div class="">
              <img src="/img/svg/automate.svg" class="u-lg-avatar my-2" />
            <h2 class="mb-3 ">Automate workflows with ease
            </h2>
            <p class="">With just a few clicks, automate manual processes and streamline operations within your business.
            </p>
            <div class="alert text-xs p-3 border mt-3 bg-light3 rounded">
              <h6 class="mb-1">Did you know</h6>
              <p class="font-weight-medium">You can trigger your Budibase automations on a daily, weekly, monthly basis.</p>
            </div>
          </div>
        </div>
        <div class="feature-image-lg">
          <img
          src="https://res.cloudinary.com/daog6scxm/image/upload/v1660060344/ui/CleanShot_2022-08-09_at_16.50.43_2x_iolrvq.png"
          class="img-fluid rounded w-100"
          alt="Data"              
        />
        </div>
      </div>   
    </div>

    <div class="container mx-auto space-1-bottom">
      <div class="homepage-features">
        <div class="feature-text">
          <div class="">
            <img src="/img/svg/design.svg" class="u-lg-avatar my-2" />
            <h2 class="mb-3 w-lg-60">Scale with condidence
            </h2>
            <p class="">Managing and scaling Budibase throughout your organization is a breeze with the following features. </p>
            <div class="alert text-xs p-3 border mt-3 bg-light3 rounded">
              <h6 class="mb-1">Did you know</h6>
              <p class="font-weight-medium">There are Budibase deployments with over 100,000 users</p>
            </div>
          </div>
        </div>
        <div class="feature-image-lg">
          <img
          src="https://res.cloudinary.com/daog6scxm/image/upload/v1660062020/ui/CleanShot_2022-08-09_at_17.20.11_2x_o9jaxb.webp"
          class="img-fluid rounded w-100"
          alt="Data"  
          loading="lazy"                 
        />
        </div>
      </div>   
    </div>
