<div class="container-fw bg-black space-3 mx-auto">
    <div class="container">
        <div class="text-center mx-auto w-lg-50">
          <p class="detail-lg text-blue text-center">DESIGN</p>
          <img src="/img/svg/design.svg" class="u-xl-avatar my-2" />
            <h2 class="mx-auto mb-3 text-white">Create apps you're proud of</h2>
            <p class="lead mb-8 text-light-dark text-center">At Budibase, we offer the best development experience with an obsessive focus on application design. Budibase enables everybody to design like professionals.</p>
        </div>

        <div class="multi-device bg-dark-2 rounded-lg ">
            <div class="feature-text p-5 p-md-7 p-lg-9">
              <h3 class="mb-3 text-white">Design for every occasion</h3>
              <p class="lead text-light-dark">Create apps that work perfectly across mobile, tablet, and desktop. And update the theme of your app with 2 clicks.
            </div>
            <div class="feature-image">
              <img
              src="img/feature-section/design-like-a-pro.gif"
              class="img-fluid rounded-lg w-100"
              alt="Data"  
              loading="lazy"                 
            />
            </div>
          </div>   
          <h3 class="mt-9 mb-4 text-white text-light-dark detail-lg text-center">Powerful building blocks</h3>

          <div class="feature-design-subsection">
            <div class="table bg-dark-2 rounded ">
              <div class="feature-text p-5 p-md-7 p-lg-9">
                <h3 class="mb-3 text-white">Table</h3>
                <p class="lead text-light-dark">The Budibase table is lightweight, themeable, and easy to filter. </p>
              </div>
              <div class="feature-image">
                <img
                src="img/feature-section/table.webp"
                class="img-fluid rounded w-100"
                alt="Data"  
                loading="lazy"                 
              />
              </div>
          </div> 

            <div class="table bg-dark-2 rounded ">
              <div class="chart p-5 p-md-7 p-lg-9">
                <h3 class="mb-3 text-white">Charts</h3>
                <p class="lead text-light-dark">Budibase has a number of charts that are easily configurable.</p>
              </div>
              <div class="feature-image">
                <img
                src="img/feature-section/chart.webp"
                class="img-fluid rounded w-100"
                alt="Data"  
                loading="lazy"                 
              />
              </div>
          </div> 
      
          <div class="card  bg-dark-2 rounded " style="block-size: auto;">
            <div class="feature-text p-5 p-md-7 p-lg-9">
              <h3 class="mb-3 text-white">Cards</h3>
              <p class="lead text-light-dark">Budibase cards are beautiful to look at and simple to implement. </p>
            </div>
            <div class="feature-image">
              <img
              src="img/feature-section/card.webp"
              class="img-fluid rounded w-100"
              alt="Data"  
              loading="lazy"                 
            />
            </div>
          </div> 

        </div>

      <div class="feature-design-form-subsection ">
        <div class="form bg-dark-2 rounded p-5 p-md-7 p-lg-9">
          <div class="feature-text ">
            <h3 class="mb-3 text-white">Best-in-class form builder</h3>
            <p class="lead text-light-dark">Build powerful, custom forms for any scenario including multi-step forms, public forms, surveys, and more. </p>
          </div>
          <div class="feature-image">
            <img
            src="img/feature-section/form.gif"
            class="img-fluid rounded w-100"
            alt="Data"  
            loading="lazy"           
          />
          </div>
      </div> 
  
      <div class="validation bg-dark-2 rounded ">
        <div class="feature-text pt-lg-9 pl-lg-9 pr-lg-9 p-5 p-md-7">
          <h3 class="mb-3 text-white">Custom validation </h3>
          <p class="lead text-light-dark">Take total control over your form validation - regex supported.</p>
        </div>
        <div class="feature-image">
          <img
          src="img/feature-section/validation.webp"
          class="img-fluid rounded w-100"
          alt="Data"  
          loading="lazy"                 
        />
        </div>
      </div> 
    </div> 
    <div class="feature-design-functions-subsection">
        <div class=" bg-dark-2 rounded ">
            <div class="functions p-7">
                <div class="icon u-sm-avatar mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                    </svg>
                </div>
              <h3 class="mb-3 text-white">Conditional UI</h3>
              <p class="lead text-light-dark">Change your user interface based on app conditions.</p>
            </div>
        </div> 
        <div class=" bg-dark-2 rounded ">
            <div class="functions p-7">
                <div class="icon u-sm-avatar mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
                      </svg>    
                </div>
              <h3 class="mb-3 text-white">Actions</h3>
              <p class="lead text-light-dark">Choose from a number of actions to chain to user events.</p>
            </div>
        </div> 
        <div class=" bg-dark-2 rounded ">
            <div class="functions p-7">
                <div class="icon u-sm-avatar mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>                
                </div>
              <h3 class="mb-3 text-white">Roles</h3>
              <p class="lead text-light-dark">Ensure certain groups of people can only access certain screens.</p>
            </div>
        </div> 
        <div class=" bg-dark-2 rounded ">
            <div class="functions p-7">
                <div class="icon u-sm-avatar mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                    </svg>
                </div>
              <h3 class="mb-3 text-white">JavaScript</h3>
              <p class="lead text-light-dark">Increase the power of your apps with JS and Handlebars.</p>
            </div>
        </div> 
    </div>

</div>
</div>
</div>
