
      <div class="container space-3 mx-auto flex-row justify-center">
        <div class="text-center mx-auto w-lg-50">
          <p class="detail-lg text-blue text-center ">AUTOMATE</p>
          <img src="/img/svg/automate.svg" class="u-xl-avatar my-2" />
          <h2 class="mx-auto mb-3">Automate processes, the easy way
          </h2>
          <p class="display-lead mb-8 text-center ">With just a few clicks, automate manual processes and streamline operations within your business.</p>
        </div>
    <div class="features-automations bg-alt rounded-lg ">
      <div class="feature-text p-5 p-md-7 p-lg-9">
        <h3 class="mb-3 text-dark">Anyone can build automations</h3>
        <p class="display-lead">Budibase automations are designed to allow anyone the power to connect apps and automate processes. 
          <div class="my-4">
            <img class="u-sm-avatar mr-3" alt="Slack icon" src="integration/slack/images/logo.svg" >
            <img class="u-sm-avatar mr-3" alt="Discord logo"  src="integration/discord/images/logo.svg" > 
            <img class="u-sm-avatar mr-3" alt="zapier logo" src="integration/zapier/images/logo.png" >
            <img class="u-sm-avatar mr-3"  alt="Integromat logo" src="integration/integromat/images/logo.png" >
          </div>
      </div>
      <div class="feature-image pt-lg-9">
        <img
        src="img/feature-section/automation.gif"
        class="img-fluid rounded w-100"
        alt="Data"  
        loading="lazy"                 
      />
      </div>
    </div>   

    <div class="feature-design-functions-subsection">
      <div class=" bg-alt rounded ">
          <div class="functions p-7">
              <div class="icon u-sm-avatar mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
                    </svg>
              </div>
            <h3 class="mb-3 text-dark">Test automations</h3>
            <p class="display-lead">Test your integrations and get immediate feedback.</p>
          </div>
      </div> 
      <div class=" bg-alt rounded ">
        <div class="functions p-7">
              <div class="icon u-sm-avatar mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                  </svg>    
              </div>
              <h3 class="mb-3 text-dark">Run bash scripts</h3>
              <p class="display-lead">Run bash scripts within automations.</p>
          </div>
      </div> 
      <div class=" bg-alt rounded ">
        <div class="functions p-7">
              <div class="icon u-sm-avatar mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                    </svg>                
              </div>
              <h3 class="mb-3 text-dark">Webhooks</h3>
              <p class="display-lead">Trigger automations using webhooks.</p>
          </div>
      </div> 
      <div class=" bg-alt rounded ">
        <div class="functions p-7">
              <div class="icon u-sm-avatar mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                  </svg>
              </div>
              <h3 class="mb-3 text-dark">Add JavaScript</h3>
              <p class="display-lead">Add JavaScript to your automations.</p>
          </div>
      </div> 
  </div>
</div>



