
      <div class="container space-2 mx-auto flex-row justify-center">
        <div class="text-center mx-auto w-lg-50">
          <p class="detail-lg text-blue text-center">SCALE</p>
          <h2 class="mx-auto mb-3">Scale with confidence
          </h2>
          <p class="lead mb-6 text-center ">Managing and scaling Budibase throughout your organization is a breeze with the following features.</p>
        </div>
    <div class="feature-design-subsection rounded-lg ">
      <div class="chart border bg-gray-300 rounded" >
        <div class="feature-text p-5 p-md-7 p-lg-9">
          <h3 class="mb-3 text-dark">SSO</h3>
          <p class="lead  ">Let your users sign-in with Google, Active Directory, Auth0 and more. </p>
        </div>
        <div class="feature-image">
          <img
          src="img/feature-section/sso.webp"
          class="img-fluid rounded w-100"
          alt="Data"  
          loading="lazy"                 
        />
        </div>
      </div> 
      <div class="chart border bg-gray-300 rounded" >
        <div class="feature-text p-5 p-md-7 p-lg-9">
          <h3 class="mb-3 text-dark">Access control</h3>
          <p class="lead">Control what level of access each user has for each app.</p>
        </div>
        <div class="feature-image">
          <img
          src="img/feature-section/rbac.webp"
          class="img-fluid rounded w-100"
          alt="Data"  
          loading="lazy"                 
        />
        </div>
      </div> 
      <div class="chart border bg-gray-300 rounded" >
        <div class="feature-text p-5 p-md-7 p-lg-9">
          <h3 class="mb-3 text-dark">Email user onboarding</h3>
          <p class="lead ">Automate onboarding with email or manually onboard users. </p>
        </div>
        <div class="feature-image">
          <img
          src="img/feature-section/email-onboarding.webp"
          class="img-fluid rounded w-100"
          alt="Data"  
          loading="lazy"                 
        />
        </div>
      </div> 
      </div> 
  </div>

