<!-- Features Section -->
<div class="container space-2">
    <div class="rightmobile text-centre mx-auto col-12 w-md-80">
    <div class="mb-5 space-1 ">
            <h2>All-In-One SaaS Builder</h2>
            <p class="lead mb-0">Budibase is changing the way you build SaaS applications, saving you time and giving you unmatched functionality. Unlike other SaaS Builders, Budibase provides you with a platform to build faster, host safer, and manage better.</p>
          </div>
    </div> 
  <!-- Manage Projects -->
  <div class="row justify-content-lg-between align-items-md-center space-2-bottom space-2-bottom--lg col-12">
    <div class="col-md-6 order-md-2 mb-5 mb-md-0">
      <div class="pl-md-4">
        <h3>Build Quicker</h3>
          <p>All SaaS startups run into the same problems; lengthy dev times, tedious repetition, and multiple headaches. Budibase solves these problems, speeding up the dev process by eliminating repetition and automating workflows.</p>
      </div>
    </div>

    <div class="col-md-6 order-md-1">
      <img class="img-fluid" src="img/img/saas-builder.png" alt="SaaS builder">
    </div>
  </div>
  <!-- End Manage Projects -->

  <!-- Monitor Details -->
  <div class="row justify-content-lg-between align-items-md-center space-2-bottom space-2-bottom--lg col-12">
    <div class="col-md-6 mb-5 mb-md-0">
      <div class="pr-md-4">
        <h3>Host Easier</h3>
        <p>We take care of hosting so you can focus on making your application a success. We host your applications using the secure and reliable Azure. If you prefer to manage hosting, that's completely fine - the power is in your hands.
          </p>
      </div>
    </div>

    <div class="col-md-6">
      <img class="img-fluid" src="img/img/saas-hosting.png" alt="SaaS hosting">
    </div>
  </div>
  <!-- End Monitor Details -->

  <!-- Measure Performance -->
  <div class="row justify-content-lg-between align-items-md-center space-2-bottom--lg col-12">
      <div class="col-md-6 order-md-2 mb-5 mb-md-0">
      <div class="pl-md-4">
        <h3>Manage Better</h3>
        <p>A single, centralised home for all your applications activity including reporting and invoicing. Budibase's user management interface provides everything you need to know to make the right decisions for your new application. </p>
      </div>
    </div>

    <div class="col-md-6 order-md-1">
      <img class="img-fluid" src="img/img/saas-management.png" alt="SaaS manager">
    </div>
  </div>
  <!-- End Measure Performance -->
</div>

<!-- End Features Section -->
<hr>

<!-- FAQ Section 
<div class="bg-gray-100 bg-img-hero" style="background-image: url(img/bg/bg2.png);">
  <div class="container space-2 space-3--lg">
    <div class="row justify-content-lg-between ">
            
                    <div class="col-lg-7 text-center mx-auto">
                    <div class="mb-5">
                        <h2>The SaaS Builders Toolkit</h2>
                        <p class="lead mb-0">Features to save you time and empower you to build great software.</p>
                    </div>
                    </div>

            <div class="col-lg-6 ">
                    <div class="mb-5" id="basicsAccordion">
                      <div class="card card-collapse mb-3 p-3 bg-white">
                        <div class="card-header card-collapse__header" id="basicsHeadingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                    data-toggle="collapse"
                                    data-target="#basicsCollapseTwo"
                                    aria-expanded="false"
                                    aria-controls="basicsCollapseTwo">
                              <h3>Workflow Automation</h3>
              
                              <span class="card-collapse__btn-arrow">
                                <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                              </span>
                            </button>
                          </h5>
                        </div>
                        <div id="basicsCollapseTwo" class="collapse"
                             aria-labelledby="basicsHeadingTwo"
                             data-parent="#basicsAccordion">
                          <div class="card-body card-collapse__body">
                           Budibase, your new software superhero fights repetition and automates workflow. Repetitive development tasks waste valuable time and sometimes feel like the root of all evil. Budibase reduces repetition and automates tedious manual tasks, freeing up valuable time for you and your team. 
                          </div>
                        </div>
                      </div>
                    

              
                      <div class="card card-collapse p-3 bg-white">
                        <div class="card-header card-collapse__header" id="basicsHeadingFour">
                          <h5 class="mb-0">
                            <button class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                    data-toggle="collapse"
                                    data-target="#basicsCollapseFour"
                                    aria-expanded="false"
                                    aria-controls="basicsCollapseFour">
                              <h3>Customizable</h3>
              
                              <span class="card-collapse__btn-arrow">
                                <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                              </span>
                            </button>
                          </h5>
                        </div>
                        <div id="basicsCollapseFour" class="collapse"
                             aria-labelledby="basicsHeadingFour"
                             data-parent="#basicsAccordion">
                          <div class="card-body card-collapse__body">
                            Unleash your creative potential with Budibase. Budibase provides you with a platlform to design and develop with freedom. Apply your own UI or use one of our templates, add plugins from the Budibase marketplace or design your own. Budibase empowers creativity and allows you the flexibility to build awesome software.
                          </div>
                        </div>
                      </div>
                      
                    </div>
                    <!-- End Accordion 
                        </div>
                        <div class="col-lg-6">
                                <div class="mb-5" id="basicsAccordion">
                                  <div class="card card-collapse mb-3 p-3 bg-white">
                                    <div class="card-header card-collapse__header" id="basicsHeadingOne">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                                data-toggle="collapse"
                                                data-target="#basicsCollapseOne"
                                                aria-expanded="false"
                                                aria-controls="basicsCollapseOne">
                                          <h3>Data Integration</h3>
                          
                                          <span class="card-collapse__btn-arrow">
                                            <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                                          </span>
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="basicsCollapseOne" class="collapse"
                                         aria-labelledby="basicsHeadingOne"
                                         data-parent="#basicsAccordion">
                                      <div class="card-body card-collapse__body">
                                          Access the data you need when you need it, no matter where it's stored. With Budbase, you can integrate with over 100 popular applications including Excel, Google Analytics, Salesforce. Pull in data to your application and Budibase will take care of the syncing. We've got this.
                                      </div>
                                    </div>
                                  </div>




                                  <div class="card card-collapse mb-3 p-3 bg-white">
                                        <div class="card-header card-collapse__header" id="basicsHeadingThree">
                                          <h4 class="mb-0">
                                            <button class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                                    data-toggle="collapse"
                                                    data-target="#basicsCollapseThree"
                                                    aria-expanded="false"
                                                    aria-controls="basicsCollapseThree">
                                             <h3>Stability Meets Security</h3> 
                              
                                              <span class="card-collapse__btn-arrow">
                                                <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                                              </span>
                                            </button>
                                          </h4>
                                        </div>
                                        <div id="basicsCollapseThree" class="collapse"
                                             aria-labelledby="basicsHeadingThree"
                                             data-parent="#basicsAccordion">
                                          <div class="card-body card-collapse__body">
                                           GDPR compliant and hugely reliant, Budibase's primary focus is providing our customers with a stable and reliable service. It's one of our primary selling points and we're proud of it. All information we store is monitored 24/7 and is fully encrypted. Focus on building awesome software, and we'll focus on stability. We've got your back.
                                          </div>
                                        </div>
                                      </div>
    </div>
  </div>
</div>
</div>
</div>
  End FAQ Section -->