<!-- Features Section -->
<div class="container space-2">
    <div class="rightmobile text-centre mx-auto col-12 w-md-80">
    <div class="mb-5 space-1 ">
            <h2>All-In-One Web App Builder</h2>
            <p class="lead mb-0">Budibase is changing the way you build web applications, saving you time and giving you unmatched functionality. Unlike other Web App Builders, Budibase provides you with a platform to build faster, host securely, and manage smarter.</p>
          </div>
    </div> 
  <!-- Manage Projects -->
  <div class="row justify-content-lg-between align-items-md-center space-2-bottom space-2-bottom--lg col-12">
    <div class="col-md-6 order-md-2 mb-5 mb-md-0">
      <div class="pl-md-4">
        <h3>Build Quicker</h3>
          <p>All software startups run into the same problems; lengthy dev times, tedious repetition, and multiple headaches. Budibase solves these problems, speeding up the dev process by eliminating repetition and automating workflows.</p>
      </div>
    </div>

    <div class="col-md-6 order-md-1">
      <img class="img-fluid" src="img/img/saas-builder.png" alt="Web App builder">
    </div>
  </div>
  <!-- End Manage Projects -->

  <!-- Monitor Details -->
  <div class="row justify-content-lg-between align-items-md-center space-2-bottom space-2-bottom--lg col-12">
    <div class="col-md-6 mb-5 mb-md-0">
      <div class="pr-md-4">
        <h3>Host Easier</h3>
        <p>We take care of hosting so you can focus on making your application a success. We host your applications using the secure and reliable Google Cloud. If you prefer to manage hosting, that's completely fine - the power is in your hands.
          </p>
      </div>
    </div>

    <div class="col-md-6">
      <img class="img-fluid" src="img/img/saas-hosting.png" alt="App hosting">
    </div>
  </div>
  <!-- End Monitor Details -->

  <!-- Measure Performance -->
  <div class="row justify-content-lg-between align-items-md-center space-2-bottom--lg col-12">
      <div class="col-md-6 order-md-2 mb-5 mb-md-0">
      <div class="pl-md-4">
        <h3>Manage Better</h3>
        <p>A single, centralised home for all your applications activity including reporting and invoicing. Budibase's user management interface provides everything you need to know to make the right decisions for your new application. </p>
      </div>
    </div>

    <div class="col-md-6 order-md-1">
      <img class="img-fluid" src="img/img/saas-management.png" alt="Web App manager">
    </div>
  </div>
  <!-- End Measure Performance -->
</div>
