<div class="container mx-auto space-3-bottom">
      <div class="homepage-features">
        <div class="feature-text">
          <div class="">
              <img src="/img/svg/data.svg" class="u-lg-avatar mb-3" />
            <h2 class="mb-3 w-lg-60">Instantly turn data into apps
            </h2>
            <p class="">Connect to an external database, pull data from a Rest API, import a CSV, or start from scratch with Budibase's built-in database.</p>
          </div>
        </div>
        <div class="feature-image-lg">
          <img
          src="img/feature-section/external-datasources.webp"
          class="img-fluid rounded w-100"
          alt="Data"  
          loading="lazy"                 
        />
        </div>
      </div>   
    </div>

    <div class="container mx-auto space-3-bottom">
      <div class="homepage-features">
        <div class="feature-text">
          <div class="">
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1628150998/3.%20Stickers/Sticker2_urwgif.png" class="u-lg-avatar mb-3" />
            <h2 class="mb-3 w-lg-60">Instantly turn data into apps
            </h2>
            <p class="">Connect to an external database, pull data from a Rest API, import a CSV, or start from scratch with Budibase's built-in database.</p>
          </div>
        </div>
        <div class="feature-image-lg">
          <img
          src="img/feature-section/external-datasources.webp"
          class="img-fluid rounded w-100"
          alt="Data"  
          loading="lazy"                 
        />
        </div>
      </div>   
    </div>

    <div class="container mx-auto space-3-bottom">
      <div class="homepage-features">
        <div class="feature-text">
          <div class="">
              <img src="/img/svg/data.svg" class="u-lg-avatar my-2" />
            <h2 class="mb-3 w-lg-60">Instantly turn data into apps
            </h2>
            <p class="">Connect to an external database, pull data from a Rest API, import a CSV, or start from scratch with Budibase's built-in database.</p>
          </div>
        </div>
        <div class="feature-image-lg">
          <img
          src="img/feature-section/external-datasources.webp"
          class="img-fluid rounded w-100"
          alt="Data"  
          loading="lazy"                 
        />
        </div>
      </div>   
    </div>

    <div class="container mx-auto space-3-bottom">
      <div class="homepage-features">
        <div class="feature-text">
          <div class="">
            <img src="/img/svg/design.svg" class="u-lg-avatar my-2" />
            <h2 class="mb-3 w-lg-60">Instantly turn data into apps
            </h2>
            <p class="">Connect to an external database, pull data from a Rest API, import a CSV, or start from scratch with Budibase's built-in database.</p>
          </div>
        </div>
        <div class="feature-image-lg">
          <img
          src="img/feature-section/external-datasources.webp"
          class="img-fluid rounded w-100"
          alt="Data"  
          loading="lazy"                 
        />
        </div>
      </div>   
    </div>
