{{ $staticHash := now.Unix }}
<footer class="bg-dark">
    <div class="container space-2">
      <div class="row justify-content-md-between">
        <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-7 mb-lg-0">
          <h3 class="h6 text-white mb-3">About</h3>
  
          <!-- List Group -->
          <div class="list-group list-group-flush list-group-transparent">
            <a class="list-group-item list-group-item-action" href="/about">About BudiBase</a>
          </div>
          <!-- End List Group -->
        </div>
  
        <div class="col-6 col-md-3 col-lg-2 order-lg-4 mb-7 mb-lg-0">
          <h3 class="h6 text-white mb-3">Information</h3>
  
          <!-- List Group -->
          <div class="list-group list-group-flush list-group-transparent">
            <a class="list-group-item list-group-item-action" href="/blog">Blog</a>
            <a class="list-group-item list-group-item-action" href="/terms">Terms & Conditions</a>
            <a class="list-group-item list-group-item-action" href="/privacy">Privacy & Policy</a>
          </div>
          <!-- End List Group -->
        </div>
  
  
        <div class="col-6 col-md-3 col-lg-2 order-lg-6 mb-7 mb-lg-0">
          <h3 class="h6 text-white mb-3">Contact</h3>
  
          <!-- List -->
          <div class="list-group list-group-flush list-group-transparent">
              <a class="list-group-item list-group-item-action" href="/contact">Contact Us</a>

            <a class="list-group-item list-group-item-action" href="https://twitter.com/budibase">
              <span class="fab fa-twitter min-width-3 text-center mr-2"></span>
              Twitter
            </a>
          </div>
          
          <!-- End List -->
        </div>
  
        <div class="col-lg-4 order-lg-1 d-flex align-items-start flex-column">
          <!-- Logo -->
          <a class="d-inline-block mb-5" href="/" aria-label="Space">
            <img src="img/logo/budibase-white-emblem.svg" alt="Logo" style="width: 40px; max-width: 100%;">
          </a>
          <!-- End Logo -->
  
         
  
          <p class="small text-muted">All rights reserved. ©BudiBase 2019</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->
<!-- Footer -->

<!-- JS - CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/languages/go.min.js"></script>

<!-- JS -->
<script src="{{ .Site.BaseURL }}js/menu.js?hash={{ $staticHash }}"></script>
<script src="{{ .Site.BaseURL }}js/theme.min.js?hash={{ $staticHash }}"></script>
<script src="{{ .Site.BaseURL }}js/hs.core.js?hash={{ $staticHash }}"></script>
<script src="{{ .Site.BaseURL }}js/mobile-menu.js?hash={{ $staticHash }}"></script>
<script src="{{ .Site.BaseURL }}js/mbclicker.min.js?hash={{ $staticHash }}"></script>
<script>hljs.initHighlightingOnLoad();</script>


</body>
</html>
