<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
  <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="/privacy" target="_blank">Budibase Privacy</a>

  <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
      I agree
  </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->

{{ $staticHash := now.Unix }}
<footer class="bg-black">
    <div class="container space-2">
      <div class="row justify-content-md-between">
        <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-7 mb-lg-0">
          <h3 class="h6 mb-3 text-white">Company</h3>
  
          <!-- List Group -->
          <div class="list-group list-group-flush ">
            <a class="list-group-item list-group-item-action text-white-60" href="/about">About</a>
          </div>
          <div class="list-group list-group-flush ">
            <a class="list-group-item list-group-item-action text-white-60" href="/people">People</a>
          </div>
          <div class="list-group list-group-flush ">
            <a class="list-group-item list-group-item-action text-white-60" href="/investment">Investment</a>
          </div>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action text-white-60" href="/careers">Careers</a>
          </div>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action text-white-60" href="/privacy">Privacy Policy</a>
          </div>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action text-white-60" href="/terms-of-service">Terms of Service</a>
          </div>
          <!-- End List Group -->
        </div>

        <div class="col-6 col-md-3 col-lg-2 order-lg-4 mb-7 mb-lg-0">
          <h3 class="h6 mb-3 text-white">Product</h3>
  
          <!-- List Group -->
          <div class="list-group list-group-flush ">
            <a class="list-group-item list-group-item-action text-white-60" href="/data">Data</a>
          </div>
          <div class="list-group list-group-flush ">
            <a class="list-group-item list-group-item-action text-white-60" href="/design">Design</a>
          </div>
          <div class="list-group list-group-flush ">
            <a class="list-group-item list-group-item-action text-white-60" href="/automate">Automate</a>
          </div>
          <div class="list-group list-group-flush ">
            <a class="list-group-item list-group-item-action text-white-60" href="/deploy">Deploy</a>
          </div>
          <div class="list-group list-group-flush ">
            <a class="list-group-item list-group-item-action text-white-60" href="/pricing">Pricing</a>
          </div>
          <!-- End List Group -->
        </div>
  
        <div class="col-6 col-md-3 col-lg-2 order-lg-4 mb-7 mb-lg-0">
          <h3 class="h6 mb-3 text-white">Learn</h3>
  
          <!-- List Group -->
          <div class="list-group list-group-flush ">
            <a class="list-group-item list-group-item-action text-white-60" href="/blog">Blog</a>
            <a class="list-group-item list-group-item-action text-white-60" href="https://docs.budibase.com/" target="_blank">
              Docs
            </a>
          </div>
          <!-- End List Group -->
        </div>
  
  
        <div class="col-6 col-md-3 col-lg-2 order-lg-6 mb-7 mb-lg-0">
          <h3 class="h6 mb-3 text-white">Community</h3>
  
          <!-- List -->
          <div class="list-group list-group-flush ">
            <a class="list-group-item list-group-item-action text-white-60" href="https://github.com/Budibase/budibase/discussions" target="_blank">
              Community
            </a>
            <a class="list-group-item list-group-item-action text-white-60" href="https://github.com/Budibase/budibase" target="_blank">
              Github
            </a>
            <a class="list-group-item list-group-item-action text-white-60" href="https://twitter.com/budibase" target="_blank">
              Twitter
            </a>
            <a class="list-group-item list-group-item-action text-white-60" href="https://discord.com/invite/rCYayfe" target="_blank">
              Discord
            </a>
          </div>
          
          <!-- End List -->
        </div>
  
        <div class="col-lg-2 order-lg-1 d-flex align-items-start flex-column">
          <!-- Logo -->
          <a class="d-inline-block mb-5" href="/" aria-label="Space">
            <img src="img/logo/bb-emblem.svg" alt="Logo" style="width: 40px; max-width: 100%;">
          </a>
          <!-- End Logo -->
  
         
  
          <p class="small text-white-60">All rights reserved. ©Budibase 2021</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->
<!-- Footer -->

<!-- JS - CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/languages/go.min.js"></script>

<!-- JS -->
<script src="{{ "js/menu.js" | absURL }}"></script>
<script src="{{ "js/theme.min.js" | absURL }}"></script>
<script src="{{ "js/hs.core.js" | absURL }}"></script>
<script src="{{ "js/mobile-menu.js" | absURL }}"></script>
<script src="{{ "js/mbclicker.min.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{{ "js/components/hs.header.js" | absURL }}"></script>
<script src="{{ "js/components/hs.megamenu.js" | absURL }}"></script>
<script src="{{ "js/components/hs.unfold.js" | absURL }}"></script>
<script src="{{ "js/cookiealert.js" | absURL }}"></script>



<script>
  $(document).on('ready', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#header'));
  });
</script>
<script>
  $(document).on('ready', function () {
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));
  });
</script>

<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 767.98,
      hideTimeOut: 0
    });
  });
</script>
</body>
</html>
