<!-- Hero Section -->
<div class="bg-img-hero">
  <div class="container space-2-top">
    <p class="alert-text bg-light p-2 rounder m-4 w-lg-60 mx-auto">🎉 Budibase is currently in public beta. Try it out and let us know how it goes 🎉</p>
    <div class="row align-items-lg-center mt-lg-8">
      <div class="container text-center col-lg-12">
        <!-- Title -->
        <div class="mx-auto mb-4">
          <h1 class="display-5 mb-2">
            Build custom software without coding
            <!--
            No code, no problem
            Forget coding, beautiful web apps start here
            No coding required
            There's a better way to build software
            Digital transformation starts here
          Digital transformation, without the coding
        Build web apps you're proud of
        Build web apps without coding
        Build custom software without coding
        Turn processes into web apps

      
      -->
          </h1>
          <div class="w-md-80 mb-lg-5 mt-lg-3 mx-auto">
            <p class="lead mb-0">
              Budibase is an open-source no code platform. It empowers people and organisations around the world to build and deploy beautiful custom software, <span class="text-dark"><b>and it's free!</b></em>
            </p>
          </div>
        </div>
        <div class="col-lg-5 mx-auto">
          <a href="https://portal.budi.live/signup" target="_blank" id="goal"> <button type="submit" class="btn btn-block btn-secondary mt-2 mb-6 ">Get started for free →</button> </a>
      </div>
        <div class="product-hero-image bg-gradient">
          <picture>
            <source srcset="/img/img/design-ui.webp" type="image/webp">
            <source srcset="/img/img/design-ui.png" type="image/png"> 
            <img src="/img/img/design-ui.png" class="img-fluid border-grey" alt="Design">
        </picture>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
</div>
