<!-- Hero Section -->
  <div class="container">
    <div class="space-3">
      <div class="mx-auto w-60 text-center">
      <h1 class="display-1 mb-4">
        The modern way to build internal tools
        <!--Transform data and processes into modern apps in minutes-->
        <!--Build modern apps and transform your workplace in minutes-->
        <!--The workplace development platform designed for speed-->
        <!--Where IT teams build apps and transform their workplace-->
        <!--Where developers transform the workplace-->
        <!--The modern way to build apps and transform operations-->
        <!--Build custom business apps in minutes and on your own infrastruture-->
        <!--Build apps and modernize business operations in minutes-->
        <!--Build modern apps and level-up your business operations-->
        <!--Build and ship business apps in minutes-->
        <!--Build, automate, and ship business apps in minutes-->
        <!--Turn business data and processes into modern apps in mins-->
        <!--Build business apps in minutes and on your own infrastruture-->
        <!--Build business apps in minutes and with confidence-->
        <!--The all-in-one development platform for business operations -->
      </h1>
      <p class="display-lead mb-4">Budibase is an open source low-code platform, helping teams transform data and operations into powerful internal tools in minutes.</p>
      <a href="https://docs.budibase.com/" target="_blank" id="goal"> 
        <button type="submit" class="btn btn-primary btn-lg mr-1 mb-2 mb-sm-0 mr-sm-2">Get started for free -></button> 
      </a>
      <a href="https://github.com/Budibase/budibase" target="_blank" id="goal"> 
        <button type="submit" class="btn btn-secondary btn-lg">Visit our Github</button> 
      </a>
      </div>
      <div class="hero-image w-80 mx-auto mt-8">
          <img src="/img/hero-images/features.webp" class="img-fluid rounded" loading="lazy" />
      </div>
    </div>
  </div>


