<!-- 
  <div class="hero-svg-line-section">
    <div class="hero-svg-line">
      <div class="svg-line w-embed">
        {{ partial "svg-line.html" . }}
      </div>
    </div>
  </div>
  Hero Section -->
  <div class="container space-2">
  <div class="mx-auto">
    <div class="w-lg-60 mx-auto text-center">
      <h1 class="text-dark mb-4">
        Create business apps in minutes
        <!--Streamline operations with modern applications-->
        <!--Your secret weapon for building internal tools-->
      </h1>
      <p class="mx-auto display-lead-sm mb-4 w-lg-80">Budibase is an open-source low-code platform, and the faster way to create business apps, automate processes and streamline operations.
      </p>
      <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener">
        <button type="submit" class="btn btn-primary btn-lg sm-btn-block mr-1 mb-2 mb-sm-0 mr-sm-2">Get started for free</button>
      </a>
      <a href="https://calendly.com/mjashanks/budibase-demo" target="_blank"   rel="noopener">
        <button type="submit" class="btn btn-secondary btn-lg sm-btn-block"><img src="img/logo-reel/google.png" alt="Google icon" class="mr-2 u-xs-avatar"/>
          Sign-up with Google</button>
      </a>
    </div>
    <div class="container-7 mt-6">
      <p class="detail-sm text-thin text-center mb-2">Trusted by</p>
      <div class="trusted-by-logos-sm text-center mx-auto">
          <img src="img/logo-reel/google.png" alt="Google logo" title="Google" class="u-sm-avatar mr-3"/>
          <img src="img/logo-reel/p&g.svg" alt="P&G logo" title="Proctor & Gamble"  class="u-sm-avatar mr-3"/>
          <img src="img/logo-reel/microsoft.png" alt="Microsoft icon" title="Microsoft" class="u-sm-avatar mr-2"/>
          <img src="img/logo-reel/nfl.svg" alt="NFL icon" title="National football league" class="u-avatar mr-1"/>
          <img src="img/logo-reel/louis-vuitton.svg" alt="louis-vuitton. icon" title="Louis Vuitton" class="u-sm-avatar"/>
    </div>
  </div>
    <img src="/img/img/hero-ui-test.png" class="img-fluid w-100 mt-6 py-6 px-8 rounded-sm bg-alt" />

    </div>
</div>
