  <div class="bg-light1">
  <div class="container space-1">
    <div class="homepage-hero-container w-100 w-md-80 w-lg-100 mx-auto" >
      <div class="text-center text-lg-left ">
        <h1 class="mb-5 hero-title text-dark w-lg-90">
          <!--Transform your business with modern apps-->
          <!--Building internal tools has never been easier-->
          Build apps for your workplace in minutes
        </h1>
        <p class="mb-5 mr-2 w-lg-90 text-center text-lg-left lead">Build <span class="text-test-purple">apps</span>, <span class="text-test-teal">forms</span>, and <span class="text-test-coral">workflows</span> that perfectly fit your business - so you can move forward, faster. Best of all, Budibase is open source!</p>
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener">
          <button type="submit" class="btn btn-primary btn-lg sm-btn-block">Try for free
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" class="ml-2" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          </button>
        </a>       
        <a href="https://www.youtube.com/watch?v=xoljVpty_Kw" target="_blank" rel="noopener">
          <button type="submit" class="btn btn-quiet btn-lg sm-btn-block">
            <svg width="18" height="18" viewBox="0 0 15 15" fill="none" class="mr-2" xmlns="http://www.w3.org/2000/svg"><path d="M3.24182 2.32181C3.3919 2.23132 3.5784 2.22601 3.73338 2.30781L12.7334 7.05781C12.8974 7.14436 13 7.31457 13 7.5C13 7.68543 12.8974 7.85564 12.7334 7.94219L3.73338 12.6922C3.5784 12.774 3.3919 12.7687 3.24182 12.6782C3.09175 12.5877 3 12.4252 3 12.25V2.75C3 2.57476 3.09175 2.4123 3.24182 2.32181ZM4 3.57925V11.4207L11.4288 7.5L4 3.57925Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
             Watch video </button>
        </a>     
        <!--<div class="mt-6">{{ partial "logo-reel-sm.html" . }}</div> -->
      </div>
      <div class="hero-image ">
        <video src="https://res.cloudinary.com/daog6scxm/video/upload/r_8,b_white/v1628151026/2.%20Animation/1._1200px-10s_kp1nyz.mp4" class="img-fluid" preload="auto" autoplay="true" loop="loop" />
        <!--<div style="padding:56.25% 0 0 0;position:relative;"><iframe
            src="https://player.vimeo.com/video/696052886?h=a0babe9d15&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
            frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
            style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Budibase intro.mov"></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>-->
      </div>
    </div>
  </div>
  <img class="img-fluid mt-6" src="https://unsplash.com/assets/api/api-photo-grid@2x-3b92db4cdfc938c6dde2291ca1c78ab7ace98ef916a8dd08c00a6b006c0b631b.jpg" />
  

  
