<div class="space-2 container-wide">
    <div class="mx-auto mb-8 w-lg-70 text-center">
      <h1 class="mb-3 hero-title text-dark text-center mx-auto">
        <!--Build tools faster.<br> Collaborate smarter.-->
        Where teams turn data into action
         <!--Optimize your data workflows-->
         <!--Where teams create faster and work smarter.-->
      </h1>
      <!--<p class="mx-auto display-lead mb-4 w-lg-60 text-center">Budibase connects teams with data so everyone can work smarter, faster.</p>-->
      <p class="mx-auto display-lead mb-4 w-lg-60 text-center">Budibase is a dataspace where teams collaborate and save 100s of hours sharing data, building tools, and automating workflows.</p>
      <!-- <p class="mb-5 text-center lead">Build <span class="text-test-purple">apps</span>, <span class="text-test-teal">forms</span>, and <span class="text-test-coral">workflows</span> that perfectly fit your business - so you can move forward, faster. Best of all, Budibase is <span class="underlined">open source!</span></p --> 
      <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener">
        <button type="submit" class="btn btn-primary btn-lg sm-btn-block mr-1">Get started free
        </button>
      </a>          
</div>
<img src="https://res.cloudinary.com/daog6scxm/image/upload/v1674559266/figma-test_o0iqmz.webp" class="img-fluid" />

<section class="space-1">
  {{ partial "logo-reel.html" }}
</section>

</div>