<!-- Hero Section -->
<div class="bg-img-hero">
  <div class="container space-2-top">
    <a href="https://portal.budi.live/signup">
      <p class=" p-2 alert-text m-4 w-lg-60 mx-auto"> <span class="text-blue strong">Exciting News:</span> Budibase is in public beta. Try it out --></p>
    </a>
    <div class="row align-items-lg-center mt-lg-6">
      <div class="container text-center col-lg-12">
        <!-- Title -->
        <div class="mx-auto mb-4">
          <h1 class="mb-2 w-lg-60 mx-auto">
            Build custom software without coding
            <!--
            Where software users, become software makers
            Data to web app in 30 seconds
            No code, no problem
            Forget coding, beautiful web apps start here
            No coding required
            There's a better way to build software
            Digital transformation starts here
            Digital transformation, without the coding
            Build web apps you're proud of
            Build web apps without coding
            Build custom software without coding
            Turn processes into web apps
      -->
          </h1>
          <div class="w-md-80 mb-lg-5 mt-lg-3 mx-auto">
            <p class="lead mb-0 ">
              Budibase is an open-source no code platform. It empowers people and organizations around the world to build and deploy beautiful custom software, <span class="text-dark"><b>and it's free!</b></em>
            </p>
          </div>
        </div>
        <div class="col-lg-5 mx-auto">
          <a href="https://portal.budi.live/signup" target="_blank" id="goal"> <button type="submit" class="btn btn-block btn-secondary mt-2 mb-6 ">Get started for free →</button> </a>
      </div>
        <div class="container ">
          <picture>
            <source srcset="/img/img/design-ui.webp" type="image/webp">
            <source srcset="/img/img/design-ui.png" type="image/png"> 
            <img src="/img/img/design-ui.png" class="img-fluid border-grey" alt="Design">
        </picture>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
</div>
