  <div class="bg-light1">
  <div class="container-fw bg-light1">
    <div class="homepage-hero-container w-100 mx-auto mb-9" >
      <div class="homepage-hero-content text-center text-lg-left ">
        <h1 class="mb-5 hero-title text-dark ">
          Save 100s of hours building internal tools
          <!--Build apps for your workplace in minutes-->
          <!--Transform your workplace-->
          <!--Save months building custom internal tools-->
        </h1>
        <p class="mb-5 mr-2 w-lg-90 text-center text-lg-left lead">Build <span class="text-purple">apps</span>, <span class="text-teal">forms</span>, and <span class="text-orange">workflows</span> that perfectly fit your business - so you can move forward, faster. Best of all, Budibase is <span class="underlined">open source!</span></p>
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener">
          <button type="submit" class="btn btn-primary btn-lg sm-btn-block mr-1">Get started - it's free ->
          </button>
        </a>       
        <a href="https://www.producthunt.com/posts/budibase-2-0?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-budibase&#0045;2&#0045;0" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=361573&theme=light" alt="Budibase&#0032;2&#0046;0 - Build&#0032;internal&#0032;tools&#0032;in&#0032;minutes&#0032;&#0045;&#0032;easy&#0044;&#0032;fast&#0032;&#0038;&#0032;open&#0045;source | Product Hunt" style="width: 210px; height: 60px;" width="210" height="60" /></a>    
        <!--<div class="mt-6">{{ partial "logo-reel-sm.html" . }}</div> -->
      </div>
      <div class="bg-teal pt-4 pl-4 pt-lg-9 border video-mask">
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1663432062/ui/customer-refunds_egpvyn.webp" class="img-fluid pl-lg-9 py-lg-9 " />
      </div>
    </div>
  </div>
  {{ partial "logo-reel.html" }}

  
