<!-- Hero Section -->
<div class="bg-img-hero" style="background-image: url(img/svg/shapes/herobg.svg);">
        <div class="container text-center space-4">
          <div class="w-md-100 mx-auto mb-3">
            <h1 class="display-4 font-size-48--md-down">A Better Way To Build SaaS Applications</h1>
          </div>
      
        <div class="col-lg-8 mx-auto">
            <div class="mb-5">
          <p class="lead mb-0"> Budibase transforms your ideas into SaaS applications people love. When you need to create an application, build software, manage your users, Budibase has you covered.</p>
            </div>
            <div class="d-sm-flex justify-content-sm-center align-items-sm-center mb-7">
                    <form class="js-validate w-lg-80">
                            <div class="row mx-gutters-2">
                              <div class="col-sm-7 mb-3">
                                <!-- Input -->
                                <div class="js-form-message">
                                  <div class="js-focus-state input-group form">
                                    <input type="email" class="form-control form__input" name="email" required
                                           placeholder="Submit Email Address"
                                           aria-label="Email"
                                           data-msg="Please enter a valid email address.">
                                  </div>
                                </div>
                                <!-- End Input -->
                              </div>
              
                              <div class="col-sm-5 mb-3">
                                <button type="submit" class="btn btn-block btn-primary">Get early access</button>
                              </div>
                            </div>
                          </form>
            </div>
    
            <!-- End Clients -->
        </div>

        <div class="w-lg-75 mx-lg-auto">
                <object type="image/svg+xml" data="img/svg/mockups/create-your-own-software.svg"></object>
        </div>
    </div>
</div>
      <!-- End Hero Section -->