<!-- Hero Section -->
<div class="container-fw bg-light-2">
    <div class="container space-hero ">
      <div class="mx-auto text-sm-center w-lg-75">
        <p class="detail-lg mb-2 text-indigo"> THE OPEN SOURCE LOW CODE PLATFORM</p>
      <h1 class="mb-3 text-dark ">
        Build internal applications in minutes
      </h1>
      <p class="mx-auto display-lead-lg text-dark">Budibase is the fastest way to transform data, spreadsheets, and manual processes into modern applications that work across all devices. </p>
      </div>
      <div class="hero-subcontainer space-2-top">
        <div class="hero-ctas bg-white p-6 rounded-sm">
          <h2 class="text-dark mb-3">Try for free</h2>
          <p class="text-sm mb-4 text-dark">Why the world's leading organizations and IT professionals choose Budibase: </p>
          <div class="hero-ctas-benefits mb-2">
            <div class="u-sm-avatar icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="white" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
          <p class="text-dark">Self-host your data</p>
        </div>
        <div class="hero-ctas-benefits mb-2">
          <div class="u-sm-avatar icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="white" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
          <p class="text-dark">Build mobile & desktop applications</p>
        </div>
        <div class="hero-ctas-benefits mb-2">
          <div class="u-sm-avatar icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="white" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
          <p class="text-dark">Build public & private applications</p>
        </div>
        <div class="hero-ctas-benefits mb-4">
          <div class="u-sm-avatar icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="white" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
          <p class="text-dark">Best-in-class form builder</p>
        </div>
        <a href="https://docs.budibase.com/" target="_blank"   rel="noopener"> 
          <button type="submit" class="btn btn-cta btn-block btn-lg mb-2">Try for free</button> 
        </a>
        <a href="https://docs.budibase.com/" target="_blank"   rel="noopener"> 
          <button type="submit" class="btn btn-secondary btn-block btn-lg">Talk to sales</button> 
        </a>

      </div>
      <div class="hero-image video-mask rounded">
        <script src="https://fast.wistia.com/embed/medias/sznykf7ivf.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:66.67% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_sznykf7ivf popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
      </div>
      </div>

    <div class="container text-center space-2-top">
      <div class="trusted-by-logos flex-gap-lg">
          <img src="img/logo-reel/amazon.png" alt="Amazon logo" class="trusted-by-logo"/>
          <img src="img/logo-reel/F1.png" alt="F1 logo" class="trusted-by-logo p-2"/>
          <img src="img/logo-reel/KPMG_logo.svg" alt="F1 logo" class="trusted-by-logo p-1"/>
          <img src="img/logo-reel/rakuten.svg" alt="F1 logo" class="trusted-by-logo p-2"/>
          <img src="img/logo-reel/airbus.png" alt="F1 logo" class="trusted-by-logo p-2"/>
          <img src="img/logo-reel/deloitte.png" alt="F1 logo" class="trusted-by-logo p-2"/>
      </div>
    </div>

  </div>
  </div>


