
  <div class="container">
  <div class="hero-container">
    <div>
      <h1 class="text-dark mb-5 hero-title">
        Create modern business apps in minutes
        <!--Create modern business apps in minutess-->
        <!--Streamline operations with modern applications-->
        <!--Your secret weapon for building internal tools-->
      </h1>
      <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener">
        <button type="submit" class="btn btn-cta btn-lg sm-btn-block mr-1 mb-2 mb-sm-0 mr-sm-2">Get started for free →</button>
      </a>
      <a href="https://account.budibase.app/api/auth/google" target="_blank"   rel="noopener">
        <button type="submit" class="btn btn-secondary btn-lg sm-btn-block"><img src="img/logo-reel/google.png" alt="Google icon" class="mr-2 u-xs-avatar"/>
          Sign-up with Google</button>
      </a>
      <div class="mt-5">
        {{ partial "logo-reel-sm.html" . }}
        </div>
    </div>

    <div class="hero-image video-mask ">
      <script src="https://fast.wistia.com/embed/medias/fype6towz4.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_fype6towz4 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/fype6towz4/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>    </div>
    </div>
</div>


