
  <div class="container space-2">
    <div class="text-center mx-auto">
      <h1 class="text-dark mb-3 hero-title font-weight-bold">
        Build internal tools in minutes, the easy way
      </h1>
      <p class="display-lead-lg mb-4 w-lg-45 mx-auto text-center">Finally, an open source low-code platform you'll enjoy using. Secure, flexible, and integrated with the tools you love.</p>
      {{ partial "button-block.html" . }}
      <div class="mt-5">
        {{ partial "logo-reel-sm-center.html" . }}
        </div>
    </div>

    <div class="hero-image video-mask rounded-lg  w-lg-90 mx-auto">
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/696052886?h=a0babe9d15&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Budibase intro.mov"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>    </div>
    </div>

  {{ partial "testimonial-block-gray.html" . }}



