<!-- Hero Section -->
  <div class="container">
    <div class="space-hero-top space-2-bottom">
      <div class="mx-auto text-sm-center w-lg-60">
      <h1 class="mb-3">
        Build, automate and self-host internal tools in minutes
        <!--Transform data and processes into modern apps in minutes-->
        <!--Build modern apps and transform your workplace in minutes-->
        <!--The workplace development platform designed for speed-->
        <!--Where IT teams build apps and transform their workplace-->
        <!--Where developers transform the workplace-->
        <!--The modern way to build apps and transform operations-->
        <!--Build custom business apps in minutes and on your own infrastruture-->
        <!--Build apps and modernize business operations in minutes-->
        <!--Build modern apps and level-up your business operations-->
        <!--Build and ship business apps in minutes-->
        <!--Build, automate, and ship business apps in minutes-->
        <!--Turn business data and processes into modern apps in mins-->
        <!--Build business apps in minutes and on your own infrastruture-->
        <!--Build business apps in minutes and with confidence-->
        <!--The all-in-one development platform for business operations -->
      </h1>
      <p class="display-lead mb-4">Budibase is an <span class="p-dark">open source</span> low-code platform, helping teams transform data and processes into modern internal tools.</p>
      <a href="https://docs.budibase.com/" target="_blank" id="goal" rel="noopener"> 
        <button type="submit" class="btn btn-primary btn-lg mr-1 mb-2 mb-sm-0 mr-sm-2">Get started for free</button> 
      </a>
      <a href="https://calendly.com/mjashanks/budibase-demo" target="_blank" id="goal" rel="noopener"> 
        <button type="submit" class="btn btn-secondary btn-lg">Book a demo</button> 
      </a>
      </div>
      <div class="hero-image w-lg-80 mx-auto mt-6">
          <img src="/img/hero-images/700features.webp" class="img-fluid rounded" alt="budibase workplace" loading="lazy" />
      </div>
    </div>
  </div>


