  <div class="bg-light1">
  <div class="container space-2">
    <div class="homepage-hero-container w-100 w-md-80 w-lg-100 mx-auto" >
      <div class="text-center text-lg-left ">
        <h1 class="mb-3 hero-title text-dark">
          Build internal apps the easy way
        </h1>
        <p class="mb-4 mr-2 w-lg-75 text-center text-lg-left ">Budibase is <span class="text-black font-weight-medium">open-source</span>, and the easy way to build custom apps, forms, workflows - so you can move forward, faster.</p>
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener">
          <button type="submit" class="btn btn-cta btn-lg sm-btn-block">Try Budibase for free</button>
        </a>       
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener">
          <button type="submit" class="btn btn-quiet btn-lg sm-btn-block">Watch video ▶</button>
        </a>     
        <div class="mt-4">{{ partial "logo-reel-sm.html" . }}</div> 
      </div>
      <div class="hero-image video-mask rounded">
        <video src="https://res.cloudinary.com/daog6scxm/video/upload/r_20,b_white/v1628151026/2.%20Animation/1._1200px-10s_kp1nyz.mp4" class="img-fluid" preload="auto" autoplay="true" loop="loop" />
        <!--<div style="padding:56.25% 0 0 0;position:relative;"><iframe
            src="https://player.vimeo.com/video/696052886?h=a0babe9d15&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
            frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
            style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Budibase intro.mov"></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>-->
      </div>
    </div>
  </div>
  

  
