<!-- Hero Section -->
<div class="bg-radial"></div>
<div class="container-fw space-2-top">
  <div class="container ">
    <div class="w-lg-50">
      <h1 class="text-dark hero-title-lg mb-4">
        Build internal tools the easy way
        <!--Your secret weapon for building internal tools-->
      </h1>
    </div>
    <div class="w-lg-65">
      <p class="mx-auto display-lead-lg mb-4">Budibase is an open source no-code platform, and the easiest way to build internal tools that empower teams and improve productivity.</p>
      <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener">
        <button type="submit" class="btn btn-primary btn-lg sm-btn-block mr-1 mb-2 mb-sm-0 mr-sm-2">Get started for free</button>
      </a>
      <a href="https://calendly.com/mjashanks/budibase" target="_blank"   rel="noopener">
        <button type="submit" class="btn btn-secondary btn-lg sm-btn-block">Contact sales</button>
      </a>
    </div>
  </div>
    <div class="container mt-4">
      <p class="detail-sm text-thin">TRUSTED BY TEAMS AT</p>
    <div class="trusted-by-logos-sm">
        <img loading="lazy" src="img/logo-reel/amazon.webp" alt="Amazon logo" class="trusted-by-logo-sm"/>
        <img src="img/logo-reel/F1.webp" alt="F1 logo" class="trusted-by-logo-sm"/>
        <img src="img/logo-reel/rakuten.svg" alt="Rakuten logo" class="trusted-by-logo-sm"/>
        <img src="img/logo-reel/p&g.svg" alt="P&G logo" class="trusted-by-logo-sm"/>
        <img src="img/logo-reel/airbus.webp" alt="Airbus logo" class="trusted-by-logo-sm"/>
        <img src="img/logo-reel/deloitte.webp" alt="Deloitte logo" class="trusted-by-logo-sm"/>
        <img src="img/logo-reel/ibm.webp" alt="Deloitte logo" class="trusted-by-logo-sm"/>
</div>
</div>

  <div class="space-1">
    <div class="scrolling-wrapper-flexbox no-scrollbar">
      <div class="hero-card">
        <img src="/img/hero-gallery/internal-tool.webp" class="img-fluid rounded" alt="Data" />
        <h4 class="text-dark mt-4">Internal tools</h4>
        <p class="text-sm w-xxl-80 mt-2">
          Create internal tools that streamline operations and fit seamlessly into your workflows.
        </p>
      </div>


      <div class="hero-card">
        <img src="/img/hero-gallery/form.webp" class="img-fluid rounded" alt="Data" />
        <h4 class="text-dark mt-4">Forms</h4>
        <p class="text-sm w-xxl-80 mt-2">
          Collect data publicly, privately, or both using the Budibase best-in-class form builder. 
        </p>
      </div>

      <div class="hero-card">
        <img src="/img/hero-gallery/admin-panel.webp" class="img-fluid shadow rounded" alt="Data" />
        <h4 class="text-dark mt-4">Admin panels</h4>
        <p class="text-sm w-xxl-80 mt-2">
          Connect to your database and build an admin panel with the relevant permissions in minutes.
        </p>
      </div>

      <div class="hero-card">
        <img src="/img/hero-gallery/portal.webp" class="img-fluid rounded" alt="Data" />
        <h4 class="text-dark mt-4">Portals</h4>
        <p class="text-sm w-xxl-80 mt-2">
          Create secure and engaging portals for your clients, partners, suppliers, employees.
        </p>
      </div>

      <div class="hero-card">
        <img src="/img/hero-gallery/dashboard-2.webp" class="img-fluid rounded" alt="Data" />
        <h4 class="text-dark mt-4">Dashboards</h4>
        <p class="text-sm w-xxl-80 mt-2">
          Display data from multiples sources in beautiful interactive charts that are fully customizable.
        </p>
      </div>

    </div>
  </div>
</div>