<!-- Hero Section -->
<div class="bg-img-hero" style="background-image: url(img/bg/shapes/herobg.svg);">
  <div class="container space-4-top--lg space-3-top space-2-bottom">
    <div class="row align-items-lg-center">
      <div class="col-lg-6 mb-9 mb-lg-0">
        <!-- Title -->
        <div class="mb-4">
          <h1 class="display-4 font-size-48--md-down">Build The SaaS App You Want, Quickly!</h1>
          <p class="lead mb-0">Budibase is an open-source SaaS builder for super-fast development. When you need to build a SaaS application, host it, manage users, and escape the 9-5, Budibase has you covered.</p>
        </div>
        <!-- End Title -->

            <!-- Form -->
            <form class="js-validate w-lg-80" form name="signup" method="POST" data-netlify="true">
              <div class="row mx-gutters-2">
                <div class="col-sm-7 mb-3">
                  <!-- Input -->
                  <div class="js-form-message">
                    <div class="js-focus-state input-group form">
                      <input type="email" class="form-control form__input" name="email" required
                             placeholder="Submit Email Address"
                             aria-label="Email"
                             data-msg="Please enter a valid email address.">
                    </div>
                  </div>
                  <!-- End Input -->
                </div>

                <div class="col-sm-5 mb-3">
                  <button type="submit" class="btn btn-block btn-primary">Get early access</button>
                </div>
              </div>
            </form>
      </div>

      <div class="col-lg-6">
        <img class="img-fluid" src="img/img/saas-app-header.png" alt="SaaS hosting">
        </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->
