<div class="space-2">
  <div class="container">
    <div class="mx-auto mb-8 w-lg-70 text-center">
      <h1 class="mb-3 hero-title text-dark text-center">
        Save weeks building internal tools and transforming processes
      </h1>
      <p class="mx-auto lead mb-4 w-lg-80 text-center">Budibase is an <span class="underlined">open-source</span> low-code platform that saves teams 100s of hours sharing data, collecting data, building tools and automating workflows.</p>
      <!-- <p class="mb-5 text-center lead">Build <span class="text-test-purple">apps</span>, <span class="text-test-teal">forms</span>, and <span class="text-test-coral">workflows</span> that perfectly fit your business - so you can move forward, faster. Best of all, Budibase is <span class="underlined">open source!</span></p --> 
      <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener">
        <button type="submit" class="btn btn-primary btn-lg sm-btn-block mr-1">Get started - it's free
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" class="ml-2" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
        </button>
      </a>          
      <!--<div class="mt-6">{{ partial "logo-reel-sm.html" . }}</div> -->
    </div>
    <!--
    <div class="container px-lg-9">
      <div class="flex-row-center gap-md mb-3">
        <button class="btn btn-cta rounded-pill">Connect data</button>
        <button class="btn btn-outline rounded-pill">Collaborate</button>
        <button class="btn btn-outline rounded-pill">Collect data</button>
        <button class="btn btn-outline rounded-pill">Build tools</button>
        <button class="btn btn-outline rounded-pill">Automate workflows</button>
      </div>
      <img src="https://res.cloudinary.com/daog6scxm/image/upload/r_10/v1671134149/ui/bb-prototype_goz5vy.webp" class="img-fluid rounded" />
    </div>
</div>
-->
</div>

{{ partial "logo-reel.html" }}

