<section class="integration-banner mt-8">
    <div class="integration-banner-container">
        <div class="integation-banner-wrapper">
            <div class="integation-banner-icon-container-12 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/zapier.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-1 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/docker.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-2 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/kubernetes.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-3 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/oracle.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-4">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/sheets.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-5">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/postgres.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-6">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/snowflake.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-7">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/mongo.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-8 ">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/airtable.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-9 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/mssql.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-10 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/mysql.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-11 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/elastic.svg" class="u-avatar" />
                </div>
            </div>
            <div class="integation-banner-icon-container-13 display-none-icon">
                <div class="integration-banner-icon-spacing">
                    <img src="/img/integrations/slack.svg" class="u-avatar" />
                </div>
            </div>
        </div>
        <h2 class="text-center mt--4 text-large">Build the tools you need<br>with the tools you <span class="underlined">love</span></h2>
    </div>

</section>