<div class="container space-3 text-center">
    <h2 class="mb-4 mx-auto w-lg-40">Build the tools you need <br> with the tools you love</h2>
    <div class="mx-auto mb-4">
        <img class="u-data-avatar p-2 rounded" alt="Airtable logo" src="integrations/airtable-icon.png" > 
        <img class="u-data-avatar p-2 rounded" alt="Docker icon" src="integrations/docker-logo.svg" > 
        <img class="u-data-avatar p-2 rounded" alt="Elasticsearch logo" src="integrations/elasticsearch-logo.svg" > 
        <img class="u-data-avatar p-2 rounded" alt="Postgresql logo"  src="integrations/postgresql.png" > 
        <img class="u-data-avatar p-2 rounded"  alt="MongoDB logo" src="integrations/mongodb-logo.svg" >
    </div>
    <div class="mx-auto mb-4">
        <img class="u-data-avatar p-2 rounded" alt="Sendgrid logo"  src="integrations/sendgrid-logo.png" > 
        <img class="u-data-avatar p-2 rounded" alt="Zapier logo" src="integrations/zapier-logo.png" > 
        <img class="u-data-avatar p-2 rounded" alt="Integromat logo" src="integrations/integromat-logo.png" > 
        <img class="u-data-avatar p-2 rounded" alt="Discord logo" src="integrations/discord-logo.png" > 
        <img class="u-data-avatar p-2 rounded" alt="Digital Ocean logo" src="integrations/digitalocean-icon.svg" > 
    </div>
    <a href="/integration" class="btn btn-secondary mx-auto text-center font-weight-medium">View all integrations</a>
</div>