<div class="container space-1">
    <div class="integrations-row mb-4">
        <img class="u-data-avatar rounded" alt="Airtable logo" src="integrations/airtable-icon.png" > 
        <img class="u-data-avatar rounded" alt="Docker icon" src="integrations/docker-logo.svg" > 
        <img class="u-data-avatar rounded" alt="Elasticsearch logo" src="integrations/elasticsearch-logo.svg" > 
        <img class="u-data-avatar rounded" alt="Postgresql logo"  src="integrations/postgresql.png" > 
        <img class="u-data-avatar rounded"  alt="MongoDB logo" src="integrations/mongodb-logo.svg" >
        <img class="u-data-avatar rounded" alt="Sendgrid logo"  src="integrations/sendgrid-logo.png" > 
        <img class="u-data-avatar rounded" alt="Zapier logo" src="integrations/zapier-logo.png" > 
        <img class="u-data-avatar rounded" alt="Integromat logo" src="integrations/integromat-logo.png" > 
        <img class="u-data-avatar rounded" alt="Discord logo" src="integrations/discord-logo.png" > 
        <img class="u-data-avatar rounded" alt="Digital Ocean logo" src="integrations/digitalocean-icon.svg" > 
    </div>
</div>