<div class="container-fw bg-{{ .Params.theme}} space-2 text-center">
    <h2 class="mb-4 mx-auto w-lg-40 ">Build the tools you need <br> with the tools you love</h2>
    <div class="mx-auto mb-4 flex-gap-lg">
        <img class="u-avatar" alt="Postgresql logo"  src="integration/postgresql/images/logo.png" > 
        <img class="u-avatar" alt="mysql logo" src="integration/mysql/images/logo.png" >
        <img class="u-avatar"  alt="MongoDB logo" src="integration/mongodb/images/logo.svg" >
        <img class="u-avatar" alt="rest api" src="integration/rest-api/images/logo.png" >
        <img class="u-avatar"  alt="mssql logo" src="integration/mssql/images/logo.png" >
        <img class="u-avatar" alt="Airtable logo" src="integration/airtable/images/logo.png" > 
    </div>
    <div class="mx-auto mb-4 flex-gap-lg">
        <img class="u-avatar" alt="Slack icon" src="integration/slack/images/logo.svg" >
        <img class="u-avatar" alt="Discord logo"  src="integration/discord/images/logo.svg" > 
        <img class="u-avatar" alt="zapier logo" src="integration/zapier/images/logo.png" >
        <img class="u-avatar"  alt="Integromat logo" src="integration/integromat/images/logo.png" >
        <img class="u-avatar" alt="Google icon" src="integration/google-auth/images/logo.png" >
    </div>
    <div class="mx-auto mb-4 flex-gap-lg">
        <img class="u-avatar" alt="Budibase icon" src="integration/docker/images/logo.svg" >
        <img class="u-avatar" alt="Budibase icon" src="integration/kubernetes/images/logo.png" >
        <img class="u-avatar" alt="Budibase icon" src="integration/digitalocean/images/logo.svg" >
    </div>
    <a href="/integration" class="btn btn-secondary mx-auto text-center font-weight-medium">View all integrations</a>
</div>