    <p class="detail-sm text-thin mb-2">Trusted by over 10000 companies, including</p>
    <div class="trusted-by-logos-sm flex-row justify-center mb-6">
      <img src="img/logo-reel/microsoft.png" alt="Microsoft icon" title="Microsoft" class="u-sm-avatar"/>
      <img src="img/logo-reel/apple-2.png" alt="Apple icon" title="apple" class="u-sm-avatar"/>
        <img src="img/logo-reel/p&g.svg" alt="P&G logo" title="Proctor & Gamble"  class="u-sm-avatar"/>
        <img src="img/logo-reel/louis-vuitton.svg" alt="louis-vuitton icon" title="Louis Vuitton" class="u-sm-avatar"/>
        <img src="img/logo-reel/nfl.svg" alt="NFL icon" title="National football league" class="u-avatar"/>
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_100/v1677588811/partner-logos/google_zqcmfw.webp" alt="Google logo" title="Google" class="u-sm-avatar"/>
</div>