  <section class="mt-6 space-2-bottom">
    <p class="text-center mb-2">Trusted by over 40,000 companies, including:</p>
    <div class="trusted-by-logos-grid text-center mx-auto justify-center">
        <img src="img/logo-reel/p&g.svg" alt="P&G logo" id="pg" title="Proctor & Gamble" class="trusted-by-logo u-md-avatar"/>
        <img src="img/logo-reel/netflix-full.png" alt="netflix logo" id="netflix" title="netflix" class="trusted-by-logo"/>
        <img src="img/logo-reel/lv.svg" alt="louis-vuitton icon" title="Louis Vuitton" id="lv" class="trusted-by-logo"/>
        <img src="img/logo-reel/google-full.png" alt="Google logo" title="Google" id="google" class="trusted-by-logo"/>
        <img src="img/logo-reel/tesla.svg" alt="Tesla icon" title="Tesla" id="tesla" class="trusted-by-logo"/>
        <img src="img/logo-reel/disney.png" alt="NFL icon" title="National football league" id="nfl" class="trusted-by-logo"/>
    </div>
  </section>