<div class="container-fw bg-alt space-1">
    <div class="container text-center">
    <div class="trusted-by-logos">
        <img src="img/logo-reel/amazon.webp" alt="Amazon logo" class="trusted-by-logo"/>
        <img src="img/logo-reel/F1.webp" alt="F1 logo" class="trusted-by-logo p-2"/>
        <img src="img/logo-reel/KPMG_logo.svg" alt="KPMG logo" class="trusted-by-logo p-1"/>
        <img src="img/logo-reel/ibm.webp" alt="KPMG logo" class="trusted-by-logo p-1"/>
        <img src="img/logo-reel/p&g.svg" alt="Deloitte logo" class="trusted-by-logo p-3"/>
        <img src="img/logo-reel/rakuten.svg" alt="Rakuten logo" class="trusted-by-logo p-2"/>
        <img src="img/logo-reel/airbus.webp" alt="Airbus logo" class="trusted-by-logo p-2"/>
        <img src="img/logo-reel/deloitte.webp" alt="Deloitte logo" class="trusted-by-logo p-2"/>
    </div>
</div>
</div>
