  <section class="space-1">
    <p class="text-center  lead text-white opacity-75">Trusted by over 75,000 teams</p>
    <div class="trusted-by-logos-grid text-center mx-auto justify-center">
        <img src="/img/logo-reel/wetransfer.png" alt="Wetransfer logo" id="wetransfer" title="Wetransfer" class=" trusted-by-logo-white"/>
        <img src="/img/logo-reel/netflix-full.png" alt="netflix logo" id="netflix" title="netflix" class=" trusted-by-logo-white"/>
        <img src="/img/logo-reel/lv.svg" alt="louis-vuitton icon" title="Louis Vuitton" id="lv" class=" trusted-by-logo-white"/>
        <img src="/img/logo-reel/google-full.png" alt="Google logo" title="Google" id="google" class=" trusted-by-logo-white"/>
        <img src="/img/logo-reel/tesla.svg" alt="Tesla icon" title="Tesla" id="tesla" class=" trusted-by-logo-white"/>
        <img src="/img/logo-reel/disney.png" alt="NFL icon" title="National football league" id="disney" class=" trusted-by-logo-white"/>
    </div>
  </section>