  <div class="space-1">
    <p class="detail text-thin text-center mb-3 ">Trusted by over 30,000 companies, including</p>
    <div class="trusted-by-logos-sm text-center mx-auto justify-center">
      <img src="img/logo-reel/apple-2.png" alt="Apple icon" title="apple" class="u-apple-avatar mr-1 mb-1"/>
        <img src="img/logo-reel/p&g.svg" alt="P&G logo" title="Proctor & Gamble"  class="u-avatar mr-1"/>
        <img src="img/logo-reel/microsoft.png" alt="Microsoft icon" title="Microsoft" class="u-avatar mr-1"/>
        <img src="img/logo-reel/louis-vuitton.svg" alt="louis-vuitton icon" title="Louis Vuitton" class="u-avatar"/>
        <img src="img/logo-reel/nfl.svg" alt="NFL icon" title="National football league" class="u-apple-avatar"/>
        <img src="img/logo-reel/google.png" alt="Google logo" title="Google" class="u-avatar"/>
    </div>
  </div>