{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ if eq $url "" }}
<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
{{ with .Site.Params.Keywords }}<meta name="keywords" content="{{ range $index, $tag := . }}{{ if $index }},{{ end }}{{ $tag }}{{ end }}">{{ end }}
<title>{{ .Site.Title }}</title>
{{ else }}
{{ with .Params.Tags }}<meta name="keywords" content="{{ range $index, $tag := . }}{{ if $index }},{{ end }}{{ $tag }}{{ end }}">{{ end }}
<title>{{ .Title }}</title>
{{ with .Params.Description }}<meta name="description" content="{{ . }}">{{ end }}
{{ end }}

    <meta name="robots" content="noodp"/>
    <link rel="canonical" href="{{ .Permalink }}" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <meta name="twitter:title" content="{{ .Title }}{{ if .IsHome }} - {{ .Site.Params.Tagline }}{{ else }} - {{ .Site.Title }}{{ end }}" />
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />
    <!-- OG data -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
    <meta content="{{ .Title }}{{ if .IsHome }} - {{ .Site.Params.Tagline }}{{ else }} - Budibase {{ end }}" property="og:title">
    <meta content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" property="og:description">
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    {{ range .Params.categories }}<meta property="article:section" content="{{ . }}" />{{ end }}
    {{ if isset .Params "date" }}<meta property="article:published_time" content="{{ time .Date }}" />{{ end }}

    {{ if .IsHome }}
    <script type="application/ld+json">
    { 
      "@context": "http://schema.org", 
      "@type": "WebSite", 
      "url": "{{ .Permalink }}", 
      "name": "{{ .Site.Title }}",
       "author": {
          "@type": "Person",
          "name": "{ .Site.Params.author }}"
        },
      "description": "{ .Site.Params.description }}",
    }
    </script>
    {{ end }}
    {{ if .IsPage }}
        <script type="application/ld+json">
        {{if eq .Section "post"}}
        { 
            "@context": "http://schema.org", 
            "@type": "BlogPosting",
            "headline": "{{ .Title }}",
            "genre": "{{ range .Params.categories }}{{ . }}{{ end }}",  
            "url": "{{ .Permalink }}",
            "datePublished": "{{ time .Date }}",
            "description": "{{ .Description }}",
            "author": {
                "@type": "Person",
                "name": "{{ .Site.Params.author }}"
            }
         }
        {{ else }}
        { 
          "@context": "http://schema.org", 
          "@type": "WebSite", 
          "url": "{{ .Permalink }}", 
          "name": "{{ .Title }}",
           "author": {
              "@type": "Person",
              "name": "{ .Site.Params.author }}"
            },
          "description": "{ .Site.Params.description }}",
        }
        </script>
        {{ end }}
    {{ end }}


