<header class="u-header u-header--left-aligned-nav u-header--sticky-top">
  <div class="u-header__section">
    <div id="logoAndNav" class="container">
        <div class="js-scrollbar-header u-header--sticky__inner">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar">
        <!-- Logo -->
        <div class="u-header__navbar-brand-wrapper">
          <a class="navbar-brand u-header__navbar-brand" href="/" aria-label="Space">
            <img class="u-header__navbar-brand-default" src="img/logo/budibase-logo.svg" alt="Logo">
            <img class="u-header__navbar-brand-mobile" src="img/logo/budibase-logo.svg" alt="Logo">
          </a>
        </div>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span class="d-none d-sm-inline-block">Menu</span>
          <span id="hamburgerTrigger" class="u-hamburger__box ml-3">
            <span class="u-hamburger__inner"></span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse py-0">
          <ul class="navbar-nav u-header__navbar-nav">

            <!-- About - Link -->
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/about">
                About
              </a>
            </li>
            <!-- About - Link -->
            
            <!-- Blog -->
            <!-- Starter - Link -->
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/blog">
                Blog
              </a>
            </li>
            <!-- End Blog -->
            <!-- Starter - Link -->
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/contact">
                Contact
              </a>
            </li>
            <!-- End Blog -->

            <!-- Button -->
            <li class="nav-item u-header__nav-item-btn">
              <a class="btn btn-sm btn-primary" href="#signup" role="button"
                 data-modal-target="#signupModal"
                 data-overlay-color="#151b26">
                Get Early Access
              </a>
            </li>
            <!-- End Button -->

          </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
