
<section class="container-fw promo-banner">
  <a class="a-alt-2 font-weight-semi-bold" target="_blank" rel="noopener" href="https://github.com/Budibase/budibase/stargazers"><img class="u-xxs-avatar mr-1" src="/img/img/github-icon.png" /> 9.4k stars on Github →</a></p>
</section>
<header id="headerDropdown" class="u-header sticky-top bg-white">
  <div class="u-header__section u-header--left-aligned-nav mt-2 mt-sm-0 ">
    <div id="logoAndNav" class="container">
      <div class="js-scrollbar-header u-header--sticky__inner">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar">
          <!-- Logo -->
          <div class="u-header__navbar-brand-wrapper">
            <a class="navbar-brand u-header__navbar-brand logo" href="/" aria-label="Space">
              <img src="/budibase-logo.png" alt="Budibase logo" height="36" width="144" data-atf="1" data-frt="0" />
            </a>
          </div>

          <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger"
            aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBarDropdown" data-toggle="collapse"
            data-target="#navBarDropdown">
            <span id="hamburgerTriggerDropdown" class="u-hamburger__box ml-3">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>

          <div id="navBarDropdown"
            class="collapse navbar-collapse u-header__navbar-collapse py-0 u-header--left-aligned-nav">
            <ul class="navbar-nav u-header__navbar-nav">
              <li class="nav-item u-header__nav-item hs-has-sub-menu" data-event="hover" data-animation-in="fadeInUp"
                data-animation-out="fadeOut">
                <a id="dropdownMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true"
                  aria-expanded="false" aria-labelledby="dropdownSubMenu">
                  Product ▾
                </a>
                <ul id="dropdownSubMenu" class="list-inline hs-sub-menu u-header__sub-menu mb-0"
                  style="min-width: 240px;" aria-labelledby="dropdownMegaMenu">
                  <li class="dropdown-item u-header__sub-menu-list-item py-0">
                    <a class="nav-link u-header__sub-menu-nav-link" href="/product">Overview</a>
                  </li>
                  <li class="dropdown-item u-header__sub-menu-list-item py-0">
                    <a class="nav-link u-header__sub-menu-nav-link" href="/integration">Integrations</a>
                  </li>
                </ul>
              </li>
              
              <li class="nav-item u-header__nav-item hs-has-sub-menu" data-event="hover" data-animation-in="fadeInUp"
                data-animation-out="fadeOut">
                <a id="dropdownMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true"
                  aria-expanded="false" aria-labelledby="dropdownSubMenu">
                  Solutions  ▾
                </a>
                <ul id="dropdownSubMenu" class="list-inline hs-sub-menu u-header__sub-menu mb-0"
                  style="min-width: 220px;" aria-labelledby="dropdownMegaMenu">
                  <li class="dropdown-item u-header__sub-menu-list-item py-0">
                    <a class="nav-link u-header__sub-menu-nav-link" href="/business-apps">Business Apps</a>
                  </li>
                  <li class="dropdown-item u-header__sub-menu-list-item py-0">
                    <a class="nav-link u-header__sub-menu-nav-link" href="/forms">Forms</a>
                  </li>
                  <li class="dropdown-item u-header__sub-menu-list-item py-0">
                    <a class="nav-link u-header__sub-menu-nav-link" href="/approval-apps">Approval apps</a>
                  </li>
                  <li class="dropdown-item u-header__sub-menu-list-item py-0">
                    <a class="nav-link u-header__sub-menu-nav-link" href="/portals">Portals</a>
                  </li>
                  <li class="dropdown-item u-header__sub-menu-list-item py-0">
                    <a class="nav-link u-header__sub-menu-nav-link" href="/admin-panels">Admin panels</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="/templates">
                  Templates
                </a>
              </li>
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="/customers">
                  Customers
                </a>
              </li>
              <!--
              <li class="nav-item u-header__nav-item hs-has-sub-menu" data-event="hover" data-animation-in="fadeInUp"
              data-animation-out="fadeOut">
              <a id="dropdownMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true"
                aria-expanded="false" aria-labelledby="dropdownSubMenu">
                Resources  ▾
              </a>
              <ul id="dropdownSubMenu" class="list-inline hs-sub-menu u-header__sub-menu mb-0"
                style="min-width: 220px;" aria-labelledby="dropdownMegaMenu">
                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                  <a class="nav-link u-header__sub-menu-nav-link" target="_blank" rel="noopener"
                    href="https://docs.budibase.com/">Docs</a>
                </li>
                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                  <a class="nav-link u-header__sub-menu-nav-link" target="_blank" rel="noopener"
                    href="https://github.com/Budibase/budibase/discussions/">Community</a>
                </li>
                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                  <a class="nav-link u-header__sub-menu-nav-link" rel="noopener"
                    href="https://github.com/Budibase/budibase" target="_blank">Github</a>
                </li>
                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                  <a class="nav-link u-header__sub-menu-nav-link" href="/blog">Blog</a>
                </li>
              </ul>
            </li>
          -->
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/pricing">
                Pricing
              </a>
            </li>

              <div class="navbar-nav u-header__nav-item-btn">
                <li class="nav-item u-header__nav-item hs-has-sub-menu" data-event="hover" data-animation-in="fadeInUp"
                data-animation-out="fadeOut">
                <a id="dropdownMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true"
                  aria-expanded="false" aria-labelledby="dropdownSubMenu">
                  Community  ▾
                </a>
                <ul id="dropdownSubMenu" class="list-inline hs-sub-menu u-header__sub-menu mb-0"
                  style="min-width: 220px;" aria-labelledby="dropdownMegaMenu">
                  <li class="dropdown-item u-header__sub-menu-list-item py-0">
                    <a class="nav-link u-header__sub-menu-nav-link" target="_blank" rel="noopener"
                      href="https://docs.budibase.com/">Docs</a>
                  </li>
                  <li class="dropdown-item u-header__sub-menu-list-item py-0">
                    <a class="nav-link u-header__sub-menu-nav-link" target="_blank" rel="noopener"
                      href="https://github.com/Budibase/budibase/discussions/">Community</a>
                  </li>
                  <li class="dropdown-item u-header__sub-menu-list-item py-0">
                    <a class="nav-link u-header__sub-menu-nav-link" rel="noopener"
                      href="https://github.com/Budibase/budibase" target="_blank">Github</a>
                  </li>
                  <li class="dropdown-item u-header__sub-menu-list-item py-0">
                    <a class="nav-link u-header__sub-menu-nav-link" href="/blog">Blog</a>
                  </li>
                </ul>
              </li>
                <li class="nav-item u-header__nav-item">
                  <a class="nav-link u-header__nav-link " rel="noopener"  href="https://calendly.com/mjashanks/budibase" target="_blank">
                    Contact sales
                  </a>
                </li>
                <li class="nav-item u-header__nav-item">
                  <a class="nav-link u-header__nav-link ph-no-capture mr-3" href="https://account.budibase.app/auth/login" target="_blank">
                    Log in
                  </a>
                </li>
                <li>
                  <a class="btn btn-primary my-2 sm-btn-block" rel="noopener" href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=navigation-cta" target="_blank"  
                    role="button" data-overlay-color="#151b26">
                    Get started for free
                  </a>
                </li>
                <!-- End Button -->
              </div>
        </nav>
        </ul>
        <!-- End Nav -->
      </div>
    </div>
</header>
<!-- ========== END HEADER ========== -->
