<header id="headerDropdown" class="bg-white u-header sticky-top">
  <div class="u-header__section u-header--left-aligned-nav mt-2 mt-sm-0 ">
    <div id="logoAndNav" class="container-fw px-4">
      <div class="js-scrollbar-header u-header--sticky__inner ">
        <!-- Nav -->
        <nav class="nav-center js-mega-menu navbar navbar-expand-lg u-header__navbar ">
          <!-- Logo -->
          <div class="u-header__navbar-brand-wrapper">
            <a class="navbar-brand u-header__navbar-brand logo" href="/" aria-label="Space">
              <img src="/budibase-logo.png" alt="Budibase logo" height="36" width="144" data-atf="1" data-frt="0" />
            </a>
          </div>

          <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger"
            aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBarDropdown" data-toggle="collapse"
            data-target="#navBarDropdown">
            <span id="hamburgerTriggerDropdown" class="u-hamburger__box ml-3">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>

          <div id="navBarDropdown" class="collapse navbar-collapse u-header__navbar-collapse py-0 ">
            <ul class="navbar-nav u-header__navbar-nav u-header--center-aligned">
              <!-- End Two Columns Mega Menu -->
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="/blog">
                  Home
                </a>
              </li>
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="/blog/data">
                  Data 
                </a>
              </li>
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="/blog/app-building">
                  App building
                </a>
              </li>
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="/blog/automation">
                  Automation
                </a>
              </li>
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="/blog/tutorials">
                  Tutorials
                </a>
              </li>
              <!--
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="/blog/low-code-low-down">
                  Low-code Low-down
                </a>
              </li>
              -->
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="/blog/inside-it">
                  Inside IT
                </a>
              </li>
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="/blog/updates">
                  Updates
                </a>
              </li>
          </div>
          <div class="display-none-on-mobile navbar-nav u-header__nav-item-btn">
            <li>
              <a class="btn btn-primary my-2 sm-btn-block " rel="noopener"
                href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=navigation-cta"
                target="_blank" role="button" data-overlay-color="#151b26">
                Sign up for free
              </a>
            </li>
          </div>
        </nav>
        </ul>
      </div>
    </div>
</header>
<!-- ========== END HEADER ========== -->