
<!--<section class="container-fw promo-banner">
  <a class="a-alt-2 font-weight-semi-bold" target="_blank" rel="noopener"
    href="https://github.com/Budibase/budibase/stargazers">🎉 Introducing Budibase 2.0 →</a></p>
</section>
-->
<div>
  <header id="headerDropdown" class="u-header sticky-top">
    <div class="u-header__section u-header--left-aligned-nav mt-1 mt-sm-0">
      <div id="logoAndNav" class="container">
        <div class="js-scrollbar-header u-header--sticky__inner">
          <!-- Nav -->
          <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar">
            <!-- Logo -->
            <div class="u-header__navbar-brand-wrapper">
              <a class="navbar-brand u-header__navbar-brand logo" href="/" aria-label="Space">
                <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1632818914/logo/budibase-icon-sm_xchngj.svg"
                alt="Budibase logo" width="36" data-atf="1" data-frt="0" />            
              </a>
            </div>
            <div class="flex-row gap-md">
              <a class="btn btn-mobile btn-primary" rel="noopener"
              href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=navigation-cta"
              target="_blank" role="button" data-overlay-color="#151b26">
              Sign up free
            </a>
              <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger"
                aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBarDropdown" data-toggle="collapse"
                data-target="#navBarDropdown">
                <span id="hamburgerTriggerDropdown" class="u-hamburger__box">
                  <span class="u-hamburger__inner"></span>
                </span>
              </button>
            </div>
            <div id="navBarDropdown"
              class="collapse navbar-collapse u-header__navbar-collapse py-0 u-header--left-aligned-nav">
              <ul class="navbar-nav u-header__navbar-nav">
                <div id="navBarBasic" class="navbar-collapse u-header__navbar-collapse">                     
                  <li class="nav-item u-header__nav-item">
                    <a class="nav-link u-header__nav-link text-black font-weight-medium" href="/platform/features/data/">
                      Platform
                    </a>
                  </li>
                  <li class="nav-item u-header__nav-item">
                    <a class="nav-link u-header__nav-link text-black" href="/enterprise">
                      Enterprise 
                    </a>
                  </li>
                  <li class="nav-item u-header__nav-item">
                    <a class="nav-link u-header__nav-link text-black" href="/pricing">
                      Pricing 
                    </a>
                  </li>
                    <!-- Two Columns Mega Menu -->
                    <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover"
                    data-animation-in="slideInUp" data-animation-out="fadeOut" data-position="left">
                    <a id="twoColumnsMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                      aria-haspopup="true" aria-expanded="false">
                      Resources +
                    </a>
                    <!-- Mega Menu -->
                    <div class="ml-lg-2 hs-mega-menu w-auto u-header__sub-menu" aria-labelledby="twoColumnsMegaMenu">
                      <div class="u-header__mega-menu-wrapper-v1">
                        <ul class="row list-unstyled u-header__mega-menu-list ">
                          <li class="col-sm-6 col-lg u-header__mega-menu-col mb-3 mb-lg-0">
                            <div class="mt-2">
                              <span class="px-2 detail-sm opacity-75">Support</span>
                              <!-- Links -->
                              <ul class="list-inline min-width-180 pr-2 mb-3">
                                <li class="col-sm-6 dropdown-item u-header__sub-menu-list-item py-0">
                                  <a class="nav-link u-header__sub-menu-nav-link text-dark" target="_blank" href="https://docs.budibase.com/">Docs</a>
                                </li>
                                <li class="col-sm-6 dropdown-item u-header__sub-menu-list-item py-0">
                                  <a class="nav-link u-header__sub-menu-nav-link text-dark" href="https://docs.budibase.com/docs/examples-and-guides" target="_blank" >Tutorials</a>
                                </li>
                                <li class="col-sm-6 dropdown-item u-header__sub-menu-list-item py-0">
                                  <a class="nav-link u-header__sub-menu-nav-link text-dark" target="_blank" href="https://vimeo.com/showcase/budibase-university">Budibase University</a>
                                </li>
                                <li class="dropdown-item u-header__sub-menu-list-item py-0 w-100">
                                  <a class="nav-link u-header__sub-menu-nav-link" target="_blank" href="https://github.com/Budibase/budibase/discussions/">
                                    Community support
                                  </a>
                                </li>
                                <li class="dropdown-item u-header__sub-menu-list-item py-0 w-100">
                                  <a class="nav-link u-header__sub-menu-nav-link" target="_blank" href="https://discord.com/invite/ZepTmGbtfF">
                                    Discord channel
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <!-- End Links -->
                          </li>
                          <li class="col-sm-6 col-lg u-header__mega-menu-col mb-3 mb-lg-0">
                            <div class="mt-2">
                              <span class="px-2 detail-sm opacity-75">Company</span>
                              <!-- Links -->
                              <ul class="list-inline min-width-180 pr-2 mb-3">
  
                                <li class="col-sm-6 dropdown-item u-header__sub-menu-list-item py-0">
                                  <a class="nav-link u-header__sub-menu-nav-link text-dark" href="/careers">Careers</a>
                                </li>
                                <li class="dropdown-item u-header__sub-menu-list-item py-0 w-100">
                                  <a class="nav-link u-header__sub-menu-nav-link" href="/blog">Blog</a>
                                </li>
                                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                  <a class="nav-link u-header__sub-menu-nav-link"  href="https://status.budibase.com/" target="_blank">Status</a>
                                </li>
                                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                  <a class="nav-link u-header__sub-menu-nav-link" href="/about">Our story</a>
                                </li>
                              </ul>
                            </div>
                            <!-- End Links -->
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- End Mega Menu -->
                  </li>
                  <div class="navbar-nav u-header__nav-item-btn">  
            
                    <li class="nav-item u-header__nav-item">
                      <a class="nav-link u-header__nav-link text-black" rel="noopener" href="/contact"
                        target="_blank">
                        Contact sales
                      </a>
                    </li>
                    <li class="nav-item u-header__nav-item">
                      <a class="nav-link u-header__nav-link ph-no-capture mr-3 text-black"
                        href="https://account.budibase.app/auth/login" target="_blank">
                        Log in
                      </a>
                    </li>
                    <li>
                      <a class="btn btn-primary my-2 sm-btn-block" rel="noopener"
                        href="/contact"
                         role="button" data-overlay-color="#151b26">
                        Contact sales
                      </a>
                    </li>
                    <!-- End Button -->
                  </div>
          </nav>
          </ul>
          <!-- End Nav -->
        </div>
      </div>
  </header>
  <!-- ========== END HEADER ========== -->
  