<header id="headerDropdown" class=" bg-white">
  <div class="tablet-nav u-header sticky-top u-header__section u-header--left-aligned-nav mt-1 mt-sm-0 ">
    <div id="logoAndNav">
      <div class="js-scrollbar-header u-header--sticky__inner">
        <nav class="mobile-nav-wrapper">
          <div class="mobile-nav-header u-header sticky-top">
            <a class="navbar-brand u-header__navbar-brand logo" href="/" aria-label="Space">
              <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1632818914/logo/budibase-icon-sm_xchngj.svg"
                alt="Budibase logo" width="36" data-atf="1" data-frt="0" />
            </a>
            <a href="https://account.budibase.app/register" class="btn btn-primary">Sign up free</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  {{ partial "mobile-nav.html" }}
</header>
<!-- ========== END HEADER ========== -->