<div class="container-fw my-9 bg-light3">
    <div class="w-xl-30 w-lg-50 mx-auto space-2 text-center">
        <div class="u-xs-avatar mb-2 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
            </svg>
        </div>
        <h2 class="mb-3 text-blue">Fair billing policy</h2>
        <p>Most enterprise software pricing is designed to charge you per user regardless of how many people on your
            team are actively using the software. At Budibase, you only get billed for what you use, so you don’t pay
            for the users who aren’t using Budibase. Fair’s fair. </p>
    </div>
</div>

<div class="space-3-bottom space-1-top">
    <div class="container text-center mx-auto">
        <div class="u-xs-avatar mb-2 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
        <h2>FAQs</h2>
        <p class="mt-2 text-xs w-lg-40 mx-auto">Can't find the answer to your question, ask someone in the community on
            our <a href="https://github.com/Budibase/budibase/discussions">Github Discussions Forum</a>. </p>
    </div>

    <div class="container-9">
        <details class="mt-6 border-bottom py-3">
            <summary>What are active users?</summary>
            <p class="mb-2 text-sm mx-3">An active user is anyone who has logged in and used Budibase, or an app built
                with Budibase, within a 30 day period. If a user has not used Budibase or an app built with Budibase,
                within a 30-day period, they are deemed inactive. In other words, you will be charge based on
                monthly-active-users.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>Do you charge for users?</summary>
            <p class="mb-2 text-sm mx-3">At Budibase, you only get billed for what you use, so you don’t pay for the
                users who aren’t using Budibase. Fair’s fair. You only pay for the users who use Budibase within a
                30-day billing period.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>Is Budibase free to use?</summary>
            <p class="mb-2 text-sm mx-3">Budibase has multiple packages to help teams of all sizes orchestrate their
                work. Our Free plan is available to teams for no charge and provides everything you need to build
                internal apps and workflows in minutes. The Free plan and the open source plan are free forever and are
                formulated for single developers, small teams or those with lightweight needs. Our paid plans offer
                additional power and scale for teams as they grow and their needs get more complex.
            </p>
        </details>
        <details class="border-bottom py-3">
            <summary>We need to add new users to our team. How will that be billed?</summary>
            <p class="mb-2 text-sm mx-3">We’ll make a one-time, prorated charge to your credit card to cover your new team user’s account for the remainder of the current billing period. As an example, suppose your team is on the “Pro plan,” which costs $8 USD per active user per month when billed monthly. You add a new team member 10 days into your billing period and there are 20 remaining days in the month. The per-day cost for each user is $8 USD / 30, so we will make a one-time charge of $5.33 USD ($8 USD / 30 days * 20 days) to your team’s credit card on file.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>What happens when I hit my usage limits?</summary>
            <p class="mb-2 text-sm mx-3">If you reach your plan's limits, you’ll still be able to use your apps. We’ll
                let you know about the overage, and give you a grace period (72 hours) to find a plan that fits your
                needs!</p>
        </details>
        <details class="border-bottom py-3">
            <summary>Can I buy additional queries, automation runs, storage?</summary>
            <p class="mb-2 text-sm mx-3">To get more queries, automation runs, internal records, or storage, you can
                upgrade to a new plan with higher limits.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>What are my payment options?</summary>
            <p class="mb-2 text-sm mx-3">All payments are made via credit card for Pro and Team+ workspaces. For
                Enterprise accounts, we can issue an annual invoice with payment via PO. Please <a href="/contact"
                    target="_blank">contact sales</a> for more information.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>Can I deploy Budibase on-premise?</summary>
            <p class="mb-2 text-sm mx-3">Yes! You can self-host Budibase on your own infrastructure. See <a
                    href="/self-host">self-managed plans</a> for further info.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>Are there usage limits on self-managed plans?</summary>
            <p class="mb-2 text-sm mx-3">There are no usage limits on self-managed plans. There are limits around
                management features. For further info, please see <a href="/self-host">self-managed plans</a>.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>How does annual pricing work?</summary>
            <p class="mb-2 text-sm mx-3">At the start of the billing period you will be charged for all the agreed users. If you go over, you will be charged based on when the user was created 
                   a) next billing period for monthly, b) end of every month for annual. At the end of every billing period before your are charged, inactive users will be applied as credit</p>
        </details>
        <details class="border-bottom py-3">
            <summary>Do you have a Service-Level Agreement (SLA)?</summary>
            <p class="mb-2 text-sm mx-3">We do not offer a standard SLA. For enterprise orgs, we can offer a custom SLA. 
                <a href="/contact" target="_blank">Contact sales</a> to learn more.</p>
        </details>
    </div>
</div>