<div class="space-3-bottom space-1-top">
    <div class="container text-center mx-auto">
        <div class="u-xs-avatar mb-2 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="#2680eb" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
        <h2>FAQs</h2>
        <p class="mt-2 text-xs w-lg-40 mx-auto">Can't find the answer to your question, ask someone in the community on
            our <a href="https://github.com/Budibase/budibase/discussions">Github Discussions Forum</a>. </p>
    </div>

    <div class="container-9">
        <details class="mt-6 border-bottom py-3">
            <summary>What are day passes?</summary>
            <p class="mb-2 text-sm mx-3">Most software pricing is designed to charge you per user regardless of how many people on your
                team are actively using the software. At Budibase, you only get billed for what you use, so you don’t pay
                for the users who aren’t using Budibase. Fair’s fair. With day passes, if a user uses Budibase within a 24 hour period, one day pass is used. For example, if a user uses Budibase (including apps built) on Monday, Wednesday and Friday, but not Tuesday and Thursday - that's 3 day passes deducted from your quota. If a user uses Budibase on Monday afternoon and Tuesday morning - a single day pass is deducted from your quota.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>Do you charge for users?</summary>
            <p class="mb-2 text-sm mx-3">At Budibase, you only get billed for what you use, so you don’t pay for the
                users who aren’t using Budibase. It's usage based pricing, rather than user based.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>Is Budibase free to use?</summary>
            <p class="mb-2 text-sm mx-3">Budibase has multiple packages to help teams of all sizes orchestrate their
                work. Our Free plan is available to teams for no charge and provides everything you need to build
                internal apps and workflows in minutes. The Free plan and the Open Source plan are free forever and are
                formulated for single developers, small teams or those with lightweight needs. Our paid plans offer
                additional power and scale for teams as they grow and their needs get more complex.
            </p>
        </details>
        <details class="border-bottom py-3">
            <summary>What happens when I hit my usage limits?</summary>
            <p class="mb-2 text-sm mx-3">If you're close to reaching your plan's limits, we'll you know in advance.
                Once you reach your plan's limits, for example day passes, your apps will be taken offline until the next quota reset.
            </p>
        </details>
        <details class="border-bottom py-3">
            <summary>What are my payment options?</summary>
            <p class="mb-2 text-sm mx-3">All payments are made via credit card using Stripe for Pro, Team, and Business workspaces. For
                Enterprise accounts, we can issue an annual invoice with payment via PO. Please <a href="/contact"
                    target="_blank">contact sales</a> for more information.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>Can I deploy Budibase on-premise?</summary>
            <p class="mb-2 text-sm mx-3">Yes! You can self-host Budibase on your own infrastructure. See <a
                    href="/self-host">self-managed plans</a> for further info.</p>
        </details>
        <details class="border-bottom py-3">
            <summary>How does annual pricing work?</summary>
            <p class="mb-2 text-sm mx-3">The way that this works for annual payments is that we charge you the base subscription price at the time of your upgrade (and then yearly). If you require additional day passes, you have the ability to switch between tiers - prorata charges will apply.  </p>
        </details>
        <details class="border-bottom py-3">
            <summary>Do you have a Service-Level Agreement (SLA)?</summary>
            <p class="mb-2 text-sm mx-3">We do not offer a standard SLA. For enterprise orgs, we can offer a custom SLA. 
                <a href="/contact" target="_blank">Contact sales</a> to learn more.</p>
        </details>
    </div>
</div>