<div class="container mt-9 mb-6 text-center mx-auto">
    <div class="u-xs-avatar mb-2 mx-auto">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </div>
    <h2>Compare Plans</h2>
  </div>
  <div class="pricing-grid-display scrolling-wrapper-flexbox no-scrollbar mx-auto container">
  <table class="pricing-grid space-1">
    <tbody class="pricing-grid-body">
    <tr class="pricing-grid-header">
      <td class="pricing-section-label">
        USAGE
      </td>
      <td class="plan-label text-gray">
        Free
      </td>
      <td class="plan-label text-blue">
        Pro      
      </td>
      <td class="plan-label text-blue">
        Team      
      </td>
      <td class="plan-label text-blue">
        Business      
      </td>
      <td class="plan-label text-dark">
        Enterprise
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Apps
      </td>
      <td class="pricing-row-label">
       4
      </td>
      <td class="pricing-row-label">
        Unlimited
      </td>
      <td class="pricing-row-label">
        Unlimited
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        App developers
      </td>
      <td class="pricing-row-label">
        Unlimited
      </td>
      <td class="pricing-row-label">
        Unlimited
      </td>
      <td class="pricing-row-label">
        Unlimited
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        App users
      </td>
      <td class="pricing-row-label">
        Unlimited
      </td>
      <td class="pricing-row-label">
        Unlimited
      </td>
      <td class="pricing-row-label">
        Unlimited
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Queries
      </td>
      <td class="pricing-row-label">
       500
      </td>
      <td class="pricing-row-label">
        5,000
      </td>
      <td class="pricing-row-label">
        Unlimited
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Automation runs
      </td>
      <td class="pricing-row-label">
        500
      </td>
      <td class="pricing-row-label">
        5,000
      </td>
      <td class="pricing-row-label">
        Unlimited
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Storage
      </td>
      <td class="pricing-row-label">
       1GB
      </td>
      <td class="pricing-row-label">
        5GB
      </td>
      <td class="pricing-row-label">
        1,000GB
      </td>
    </tr>
  </tbody>
  </table>
  
  
  
  <table class="pricing-grid space-1">
    <tbody class="pricing-grid-body">
    <tr class="pricing-grid-header">
      <td class="pricing-section-label">
        Features
      </td>
      <td class="plan-label text-gray">
        Free
      </td>
      <td class="plan-label text-blue">
        Pro      
      </td>
      <td class="plan-label text-blue">
        Team      
      </td>
      <td class="plan-label text-blue">
        Business      
      </td>
      <td class="plan-label text-dark">
        Enterprise
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        External data sources
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Internal database
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Pre-built components
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Automation blocks
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Email onboarding
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        SSO
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Budibase branding removed
      </td>
      <td class="pricing-row-label">
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Advanced RBAC
      </td>
      <td class="pricing-row-label">
       
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Custom domain
      </td>
      <td class="pricing-row-label">
       
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Revision history
      </td>
      <td class="pricing-row-label">
       
      </td>
      <td class="pricing-row-label">
       1-month
      </td>
      <td class="pricing-row-label">
       3-years
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        User-groups
      </td>
      <td class="pricing-row-label">
       
      </td>
      <td class="pricing-row-label">
       10
      </td>
      <td class="pricing-row-label">
       Unlimited
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Automation logs
      </td>
      <td class="pricing-row-label">
       24-hours
      </td>
      <td class="pricing-row-label">
       1-week
      </td>
      <td class="pricing-row-label">
       3-years
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Multi-tenancy
      </td>
      <td class="pricing-row-label"> 
      </td>
      <td class="pricing-row-label">
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
  </tbody>
  </table>
  
  <table class="pricing-grid space-1">
    <tbody class="pricing-grid-body">
    <tr class="pricing-grid-header">
      <td class="pricing-section-label">
        Support
      </td>
      <td class="plan-label text-gray">
        Free
      </td>
      <td class="plan-label text-blue">
        Pro      
      </td>
      <td class="plan-label text-blue">
        Team      
      </td>
      <td class="plan-label text-blue">
        Business      
      </td>
      <td class="plan-label text-dark">
        Enterprise
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Community support
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Email support
      </td>
      <td class="pricing-row-label">
       
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Priority support
      </td>
      <td class="pricing-row-label">
       
      </td>
      <td class="pricing-row-label">
        
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        SLAs
      </td>
      <td class="pricing-row-label">
       
      </td>
      <td class="pricing-row-label">
        
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Dedicated account manager
      </td>
      <td class="pricing-row-label">
       
      </td>
      <td class="pricing-row-label">
        
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Dedicated onboarding
      </td>
      <td class="pricing-row-label">
       
      </td>
      <td class="pricing-row-label">
        
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
    <tr class="pricing-grid-header">
      <td class="pricing-grid-row ml-2">
        Consultations with Budibase experts
      </td>
      <td class="pricing-row-label">
       
      </td>
      <td class="pricing-row-label">
        
      </td>
      <td class="pricing-row-label">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="21" height="21" fill="none" viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
      </td>
    </tr>
  </tbody>
  </table>
  
  
  <table class="pricing-grid pricing-grid-display scrolling-wrapper-flexbox no-scrollbar mx-auto container">
    <tbody class="pricing-grid-body">
    <tr class="pricing-grid-header">
      <td class="pricing-section-label">
      </td>
      <td class="pr-4">
       <p class="plan-label">Free</p> 
       <h1>Free</h1>
       <p class="text-xxs mt-2 mb-3">for trying Budibase</p>
       <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=open-source-pricing"
       target="_blank"><button type="submit" class="btn btn-block btn-cta btn-outline mb-4">
         Try for free
       </button></a>
      </td>
      <td class="pr-4">
        <p class="plan-label">Pro</p> 
        <h1>$40</h1>
        <p class="text-xxs mt-2 mb-3">per month, billed annually </p>
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=open-source-pricing"
        target="_blank"><button type="submit" class="btn btn-block btn-cta mb-4">
          Try for free
        </button></a>
       </td>
       <td class="pr-4">
        <p class="plan-label">Enterprise</p> 
        <h1>Custom</h1>
        <p class="text-xxs mt-2 mb-3">billed annually</p>
        <a href="https://budibase.com/contact"
        target="_blank"><button type="submit" class="btn btn-block btn-primary mb-4">
          Contact us
        </button></a>
       </td>
    </tr>
  </tbody>
  </table>
  </div>