<!-- Icon Blocks Section -->
<div class="bg-gray-100">
        <div class="container space-1 space-3-top--lg">
        <div class="col-lg-7 text-center mx-auto">
            <div class="mb-5">
                <span class="u-label u-label--sm u-label--danger mb-3">Traditionally</span>
                <h2>Building a web app from scratch takes time, </h2>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-7 mb-md-0">
            <!-- Icon Blocks -->
            <div class="text-center px-lg-3">
              <img class="max-width-14 mb-2" src="img/svg/components/trophy-purple-icon.svg" alt="Image Description">
              <p class="mb-0">Continuous repetition is the bain of evil.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
      
          <div class="col-md-4 mb-7 mb-md-0">
            <!-- Icon Blocks -->
            <div class="text-center px-lg-3">
              <img class="max-width-14 mb-2" src="img/svg/components/idea-primary-icon.svg" alt="Image Description">
              <p class="mb-0">Manual input = instability.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
      
          <div class="col-md-4">
            <!-- Icon Blocks -->
            <div class="text-center px-lg-3">
              <img class="max-width-14 mb-2" src="img/svg/components/rocket-red-icon.svg" alt="Image Description">
              <p class="mb-0">Software builders are hard to customise.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>

      <div class="col-lg-10 text-center mx-auto">            
        <div class="mb-5">
          <hr>
        </div>
        </div>
      
<!-- Icon Blocks Section -->
<div class="container space-1 space-3-bottom--lg">
        <div class="col-lg-7 text-center mx-auto">
            <div class="mb-5">
                <span class="u-label u-label--sm u-label--blue mb-3">The New Way</span>
                <h2>BudiBase brings you focus and a head start.</h2>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-7 mb-md-0">
            <!-- Icon Blocks -->
            <div class="text-center px-sm-3">
              <img class="max-width-14 mb-2" src="img/svg/components/trophy-purple-icon.svg" alt="Image Description">
              <h4>Have some time back</h4>
              <p class="mb-0">BudiBase makes the repetitive task a doddle giving you time back.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
      
          <div class="col-md-4 mb-7 mb-md-0">
            <!-- Icon Blocks -->
            <div class="text-center px-sm-3">
              <img class="max-width-14 mb-2" src="img/svg/components/idea-primary-icon.svg" alt="Image Description">
              <h4>Calm is on the horizon</h4>
              <p class="mb-0">A stable product leads to a stable mind. BudiBase fosters stability.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
      
          <div class="col-md-4">
            <!-- Icon Blocks -->
            <div class="text-center px-sm-3">
              <img class="max-width-14 mb-2" src="img/svg/components/rocket-red-icon.svg" alt="Image Description">
              <h4>Get creative</h4>
              <p class="mb-0">I have a idea for software but I don't know how to code.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
</div>
      <!-- End Icon Blocks Section -->

     