<div class="bg-gray-100">

    <div class="container space-1 space-3-top--lg ">
    <div class="col-lg-10 text-center mx-auto">
    <div class="mb-5">
        <h2>Build Your Next SaaS Applications At Blazing Fast Speeds</h2>
        <p class="lead mb-0">Budibase is to SaaS, what WordPress is to websites. We are changing the way you build SaaS applications. We are saving you time and giving you unmatched functionality so you can build the best possible SaaS applications for your users.  </p>
    </div>
    </div>


<div class="container space-3-bottom--lg">
    <div class="card-deck card-sm-gutters-2 d-block d-sm-flex w-lg-90 mx-lg-auto">
      <div class="card card-frame card-danger-frame mb-3 mb-sm-0">
        <!-- Icon Blocks -->
        <div class="card-body p-6">
          <span class="u-icon u-icon--md rounded-circle p-2 mb-3">
            <img class="u-icon__inner" src="img/svg/components/arrow-red-icon.svg" alt="Image Description">
          </span>
          <h3 class="h5 text-danger">The Problem</h3>
          <p>Creating a boilerplate for a product takes so much time and involves painful repetition and instability.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
  
      <div class="card card-frame bg-dark">
        <!-- Icon Blocks -->
        <div class="card-body p-6">
          <span class="u-icon u-icon--md  rounded-circle p-2 mb-3">
            <img class="u-icon__inner" src="img/svg/components/trophy-primary-icon.svg" alt="Image Description">
          </span>
          <h3 class="h5 text-white">The Solution</h3>
          <p class="text-white">BudiBase automates your workflow so you can focus on building your new SaaS application.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
  </div>
  <!-- End Icon Blocks Section -->
</div>
</div>

