    <marquee>
        <div class="marquee__inner" aria-hidden="true">
            <span class="marquee-item">Deloitte</span>
            <span class="marquee-item">PWC</span>
            <span class="marquee-item">KPMG</span>
            <span class="marquee-item">SWISS</span>
            <span class="marquee-item">Formula 1</span>
            <span class="marquee-item">Philips</span>
            <span class="marquee-item">IBM</span>
            <span class="marquee-item">New Zealand Football</span>
        </div>
    </marquee>
