
    <div class="container scrolling-wrapper-flexbox no-scrollbar template-cards">
        <div class="template-card-sm">
            <a href="https://budibase.com/business-apps">
                <div class="image-hover-overlay">
                    <img src="/img/homepage-solutions/business-apps.png" class="img-fluid rounded bg-alt img-hover" alt="business apps img" />
                    <div class="overlay">
                        <div class="btn btn-primary">View business apps</div>
                    </div>
                </div>
            <p class=" mt-3 font-weight-semi-bold">Business apps</p>
        </a>
        </div>

        <div class="template-card-sm">
            <a href="https://budibase.com/forms/">
                <div class="image-hover-overlay">
                    <img src="/img/homepage-solutions/forms.png" class="img-fluid rounded bg-alt img-hover" alt="fomrs img" />
                    <div class="overlay">
                        <div class="btn btn-primary">View forms</div>
                    </div>
                </div>
                <p class="mt-3 font-weight-semi-bold">Forms</p>
            </a>
        </div>

        <div class="template-card-sm">
            <a href="https://budibase.com/portals/">
                <div class="image-hover-overlay">
                    <img src="/img/homepage-solutions/portal.png" class="img-fluid rounded bg-alt  img-hover" alt="portals" />
                    <div class="overlay">
                        <div class="btn btn-primary">View portals</div>
                    </div>
                </div>
                <p class="mt-3 font-weight-semi-bold">Portals</p>
            </a>
        </div>

        <div class="template-card-sm">
            <a href="https://budibase.com/approval-apps/">
                <div class="image-hover-overlay">
                    <img src="/img/homepage-solutions/approval-apps.png" class="img-fluid rounded bg-alt  img-hover" alt="approval-apps img" />
                    <div class="overlay">
                        <div class="btn btn-primary">View approval apps</div>
                    </div>
                </div>
                <p class="mt-3 font-weight-semi-bold">Approval apps</p>
            </a>
        </div>

        <div class="template-card-sm">
            <a href="https://budibase.com/admin-panels/">
                <div class="image-hover-overlay">
                    <img src="/img/homepage-solutions/admin-panel.png" class="img-fluid rounded bg-alt  img-hover" alt="Admin panels" />
                    <div class="overlay">
                        <div class="btn btn-primary">View admin panels</div>
                    </div>
                </div>
                <p class="mt-3 font-weight-semi-bold">Admin panels</p>
            </a>
        </div>

    </div>
