<div class="container-narrow">
  <div class="stats mb-4">
    <div class="stat">
      <img src="/img/svg/money.svg" class="u-avatar pt-2 mr-3"/>
      <div>
        <h2 class="hero-title mb-2">$3M</h2>
        <p>annual savings made in data entry<br>
          <a href="/customers/covanta/" class="text-dark underlined-green">- Covantav</a>

        </p>
      </div>
    </div>
    <div class="stat">
      <img src="/img/svg/calendar.svg" class="u-avatar pt-2 mr-3"/>
      <div>
        <h2 class="hero-title mb-2">4 days</h2>
        <p>to deploy an app that rehomed
          100K refugees <br>
          <a href="/customers/bulgarian-government/" class="text-dark underlined">- Bulgarian Gov</a>
        </p>
      </div>
    </div>
    <div class="stat">
      <img src="/img/svg/forward.svg" class="u-avatar pt-2 mr-3"/>
      <div>
        <h2 class="hero-title mb-2">90%</h2>
        <p>faster at building and deploying internal tools <br>
          <a href="/customers/schnellecke/" class="text-dark underlined-red">- Schnellecke</a>
        </p>
      </div>
    </div>
  </div>
</div>
