<div class="container-narrow">
  <div class="stats mb-4">
    <div class="stat">
      <img src="/img/svg/money.svg" class="u-avatar pt-2 mr-3"/>
      <div>
        <h2 class="hero-title mb-2">$3M</h2>
        <p>annual savings made in data entry<br>(Covanta)</p>
      </div>
    </div>
    <div class="stat">
      <img src="/img/svg/calendar.svg" class="u-avatar pt-2 mr-3"/>
      <div>
        <h2 class="hero-title mb-2">4 days</h2>
        <p>to deploy an app that rehomed
          100K refugees <br>(Bulgarian Gov)</p>
      </div>
    </div>
    <div class="stat">
      <img src="/img/svg/forward.svg" class="u-avatar pt-2 mr-3"/>
      <div>
        <h2 class="hero-title mb-2">90%</h2>
        <p>faster at building and deploying internal tools <br>(Schnellecke)</p>
      </div>
    </div>
  </div>
</div>
