<div class="container-7 space-2">
  <h2 class="text-center mb-4">Stats</h2>
  <div class="stats mb-4">
    <div class="text-center">
      <h2 class="display-1 mb-2">300k</h2>
      <p class="detail text-center">Downloads</p>
    </div>
    <div class="text-center">
      <h2 class="display-1 mb-2">50k</h2>
      <p class="detail text-center">Apps created</p>
    </div>
    <div class="text-center">
      <h2 class="display-1 mb-2">10k</h2>
      <p class="detail text-center">Apps deployed</p>
    </div>
    <div class="text-center">
      <h2 class="display-1 mb-2">5k</h2>
      <p class="detail text-center">Github stars</p>
    </div>
  </div>
  <div class="text-center">
    <a
      href=" https://account.budibase.app/register"
      rel="noopener"
      target="_blank"
       
      ><button type="submit" class="btn btn-primary">
        Get started for free
      </button></a
    >
  </div>
</div>
