<div class="container">
  <h2 class="w-lg-40 mb-4">Start with a template. <br />Fully customizable.</h2>
  <p class="w-md-60 w-lg-40 mt-2 mb-4">
    Choose from lots of free, customizable templates to help you accelerate your
    workplace.
  </p>
  <a href="https:budibase.com/templates" class="btn btn-secondary mb-6"
    >View more templates</a
  >

  <div class=" scrolling-wrapper-flexbox no-scrollbar template-cards">
    <div class="template-card-sm">
      <a href="/business-apps/templates/applicant-tracking-system">
        <div class="image-hover-overlay">
          <img
            src="/img/hero-gallery/portal.webp"
            class="img-fluid rounded-sm img-hover"
            alt="Data"
          />
          <div class="overlay">
            <div class="btn btn-primary">View template</div>
          </div>
          <p class="text-dark mt-3 font-weight-semi-bold">
            Applicant tracking system
          </p>
        </div>
      </a>
    </div>
    <div class="template-card-sm">
      <a href="/forms/templates/multi-step-lead-form">
        <div class="image-hover-overlay">
          <img
            src="/img/hero-gallery/form.webp"
            class="img-fluid rounded-sm img-hover"
            alt="Data"
          />
          <div class="overlay">
            <div class="btn btn-primary">View template</div>
          </div>
          <p class="text-dark mt-3 font-weight-semi-bold">
            Lead generation app
          </p>
        </div>
      </a>
    </div>
    <div class="template-card-sm">
      <a href="/business-apps/templates/open-source-ticketing-system">
        <div class="image-hover-overlay">
          <img
            src="/img/hero-gallery/admin-panel.webp"
            class="img-fluid rounded-sm img-hover"
            alt="Data"
          />
          <div class="overlay">
            <div class="btn btn-primary">View template</div>
          </div>
          <p class="text-dark mt-3 font-weight-semi-bold">
            Internal ticketing system
          </p>
        </div>
      </a>
    </div>
    <div class="template-card-sm">
      <a href="/business-apps/templates/hashicorp-scorecard">
        <div class="image-hover-overlay">
          <img
            src="/business-apps/templates/hashicorp-scorecard/images/thumbnail.jpg"
            class="img-fluid rounded-sm img-hover"
            alt="Data"
          />
          <div class="overlay">
            <div class="btn btn-primary">View template</div>
          </div>
          <p class="text-dark mt-3 font-weight-semi-bold">
            Hashicorp scorecard app
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
