<div class="container">
  <div class="deploy-wrapper mb-6">
    <div>
      <h2 class="mb-4">Start with a template. <br />Fully customizable.</h2>
      <p class="w-md-80 mt-2 mb-4">
        Choose from lots of free, customizable templates to help you accelerate your
        workplace.
      </p>
      <a href="https://budibase.com/templates" class="btn btn-secondary"
        >View more templates</a
      >
    </div>
    <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_600/v1663173952/1.%20Illustrations/15._Templates_grmn9v.webp" class="deploy-image" />
</div>

  <div class=" scrolling-wrapper-flexbox no-scrollbar template-cards">
    <div class="template-card-sm">
      <a href="/business-apps/templates/applicant-tracking-system">
        <div class="image-hover-overlay">
          <img
            src="/business-apps/templates/applicant-tracking-system/images/thumbnail.webp"
            class="img-fluid pl-4 pt-4 bg-indigo rounded-sm img-hover"
            alt="Data"
          />
          <div class="overlay">
            <div class="btn btn-primary">View template</div>
          </div>
          <p class="text-dark mt-3 font-weight-semi-bold">
            Applicant tracking system
          </p>
        </div>
      </a>
    </div>
    <div class="template-card-sm">
      <a href="/forms/templates/multi-step-lead-form">
        <div class="image-hover-overlay">
          <img
          src="/forms/templates/multi-step-lead-form/images/thumbnail.webp"
          class="img-fluid pl-4 pt-4 bg-teal rounded-sm img-hover"
            alt="Data"
          />
          <div class="overlay">
            <div class="btn btn-primary">View template</div>
          </div>
          <p class="text-dark mt-3 font-weight-semi-bold">
            Lead generation app
          </p>
        </div>
      </a>
    </div>
    <div class="template-card-sm">
      <a href="/business-apps/templates/open-source-ticketing-system">
        <div class="image-hover-overlay">
          <img
          src="/business-apps/templates/open-source-ticketing-system/images/thumbnail.webp"
          class="img-fluid pl-4 pt-4 bg-yellow rounded-sm img-hover"
            alt="Data"
          />
          <div class="overlay">
            <div class="btn btn-primary">View template</div>
          </div>
          <p class="text-dark mt-3 font-weight-semi-bold">
            Internal ticketing system
          </p>
        </div>
      </a>
    </div>
    <div class="template-card-sm">
      <a href="/business-apps/templates/hashicorp-scorecard">
        <div class="image-hover-overlay">
          <img
          src="/business-apps/templates/hashicorp-scorecard/images/thumbnail.webp"
          class="img-fluid pl-4 pt-4 bg-blue rounded-sm img-hover"
            alt="Data"
          />
          <div class="overlay">
            <div class="btn btn-primary">View template</div>
          </div>
          <p class="text-dark mt-3 font-weight-semi-bold">
            Hashicorp scorecard app
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
