    <div class="container border rounded p-4">
    <div class="testimonial-block-content">
        <div>
        <img src="/img/img/shawn.jpeg" class="img-fluid rounded u-xl-avatar" />
        </div>
        <div class="ml-sm-4 mt-2 mt-sm-0">
        <p class="display-lead text-dark">
            Budibase removed a lot of grunt work involved with building internal tools and saved me days!
        </p>
        <p class="text-xs mt-2"><i>Shawn (@swyx), Engineer at Temporal; Ex Amazon and Netlify</i></p>
        </div>
    </div>
    </div>
