
<div class="container mx-auto w-lg-40">
    <p class="display-lead-xl text-dark text-center">
        The #1 problem with the <span class="linear-wipe">low-code movement</span> is proprietary lock-in which is unacceptable for <span class="linear-wipe">critical business apps</span>. Budibase helps you <span class="linear-wipe">create apps faster,</span> which <span class="linear-wipe">developers love</span> because their <span class="linear-wipe">internal tickets disappear</span> and the entire thing is <span class="linear-wipe">open source!</span>
    </p>
    <div class="mx-auto text-center">
        <img src="/img/img/shawn.jpeg" class="img-fluid rounded u-lg-avatar mt-4 my-2" />
        <p class="text-xs mt-2"><i>Shawn (@swyx), Engineer at Temporal; Ex Amazon and Netlify</i></p>
    </div>
</div>
 
