<div class="container-fluid bg-light-2 space-3">
    <div class="container testimonial-container">
            <div class="testimonial-content">
                <p class="display-lead mb-2">
                    "Budibase gives us a single tool that lets us turn everyday processes into apps. It also makes us more productive and look super-smart too which is nice.”
                </p>
                <p class="text-light">Gerard McNulty</p>
            </div>
            <img
            class="img-fluid"
            src="/img/img/testimonial2.png"
            alt="SaaS hosting"
            />
    </div>
</div>