<div class="container-fluid bg-light-2 space-3">
    <div class="container testimonial-container">
            <div class="testimonial-content">
                <p class="lead mb-2">“Budibase is a no code platform which helps 
                    businesses build, design,and launch better 
                    web apps. The purpose of lorem ipsum is 
                    to create a natural looking block of text 
                    (sentence, paragraph, page, etc.)”</p>
                <p class="text-light">Jason Mills</p>
            </div>
            <img
            class="img-fluid"
            src="/img/img/image2.jpg"
            alt="SaaS hosting"
            />
    </div>
</div>