<div class="space-3-bottom space-2-top">
    <div class="container testimonial-block">
    <div class="testimonial-block-content">
        <div>
        <img src="/img/img/shawn.jpeg" class="img-fluid rounded u-xl-avatar" />
        </div>
        <div class="ml-sm-4 mt-2 mt-sm-0">
        <p class="text-xs">
            Budibase makes creating and deploying internal tools fun. It’s removed a
            lot of grunt work involved with building these tools, and replaced it
            with an intuitive and inviting UI - and saved me days!
        </p>
        <p class="text-xs mt-2"><i>Shawn (@swyx), Engineer, Ex: Amazon, Netlify</i></p>
        </div>
    </div>
    </div>
</div>
