<div class="container-fw space-3 bg-black">
  <div class="container">
    <h2 class="mb-6 mv-auto text-center text-white">Driving business transformation</h2>
    <div class="hero-testimonial">
      <a href="">
        <div class="hero-testimonial-covanta bg-dark">
          <div class="flex-row align-center mb-4">
            <img src="/img/img/shawn.jpeg" class="img-fluid rounded-sm u-medium-avatar  mr-3" />
            <h4 class="text-white mb-2">Covanta</h4>
          </div>
          <p class="text-white opacity-75">      "Budibase was the only solution that checked all the boxes for Covanta. Covanta expects to realize $3.2MM in savings due to the elimination of redundant data entry."          </p>
          <div class="flex-row align-center">
              <p class="text-xs mt-4 text-white ">Shawn (@swyx) <span class="opacity-50"><br> Head of Dev Experience at Temporal</span></p>
          </div>
        </div>
      </a>
      <a href="">
        <div class="hero-testimonial-covanta bg-dark">
          <div class="flex-row align-center mb-4">
            <img src="/img/img/shawn.jpeg" class="img-fluid rounded-sm u-medium-avatar  mr-3" />
            <h4 class="text-white mb-2">Schnellecke</h4>
          </div>
          <p class="text-white opacity-75">"Those same apps, with Budibase, are now here in less than an hour. Colleagues were stunned by the data import functionality, seeing a sheet turn into a web app in minutes was the cherry on top."</p>
          <div class="flex-row align-center">
              <p class="text-xs mt-4 text-white ">Shawn (@swyx) <span class="opacity-50"><br> Head of Dev Experience at Temporal</span></p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>