<div class="container-fluid bg-light space-3">
    <div class="container testimonial-container">
            <div class="testimonial-content">
                <p class="display-lead mb-2">
                    "Budibase gives us a single tool that lets us turn everyday processes into apps. It also makes us more productive and look super-smart too which is nice.”
                </p>
                <p class="text-grey">Gerard McNulty</p>
            </div>
            <picture class="img-fluid">
                <source srcset="/img/img/testimonial2.webp" type="image/webp">
                <source srcset="/img/img/testimonial2.png" type="image/png"> 
                <img src="/img/img/testimonial2.png" class="img-fluid" alt="G McNulty">
            </picture>
    </div>
</div>