<!-- Features Section -->
<div class="container space-3 rounded">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-4">Transform data and processes into modern business applications</h2>
      <p class="w-lg-65 mx-auto display-lead mb-6">
        Budibase brings together everything that’s required to build internal applications, such as; internal tools, admin panels, digital forms, and everything in between.
    </p>
    <div class="mx-auto text-center flex-gap mb-6">
      <img class="u-data-avatar p-2 p-md-1 " alt="Postgresql logo"  src="integrations/postgresql.png" > 
      <img class="u-data-avatar p-2 p-md-0 "  alt="mysql logo" src="integrations/mysql-logo.png" >
      <img class="u-data-avatar p-2 p-md-0 "  alt="MongoDB logo" src="integrations/mongodb-logo.svg" >
      <img class="u-data-avatar p-2 p-md-0 "  alt="rest api" src="integrations/rest-api-icon.png" >
      <img class="u-data-avatar p-2 p-md-0 "  alt="mssql logo" src="integrations/mssql-icon.png" >
      <img class="u-data-avatar p-2 p-md-1 " alt="Elasticsearch logo" src="integrations/elasticsearch-logo.svg" > 
      <img class="u-data-avatar p-2 p-md-1 " alt="Airtable logo" src="integrations/airtable-icon.png" > 
      <img class="u-data-avatar p-2 p-md-1 " alt="Couchdb logo" src="integrations/couchdb-logo.png" > 
      <img class="u-data-avatar p-2 p-md-1 " alt="Budibase logo" src="img/logo/budibase-icon.svg" > 
    </div>
      <div class="use-cases-tabs flex-gap-lg my-5">
          <div class="use-cases-tab-select">Internal tools</div>
          <div class="use-cases-tab">Admin panels</div>
          <div class="use-cases-tab">Forms</div>
          <div class="use-cases-tab">Client portals</div>
          <div class="use-cases-tab">Dashboards</div>
      </div>
    <div class="img-fluid">
        <img
        src="/img/production-apps/internal-tool.png"
        class="img-fluid shadow rounded"
        alt="Data"          
        />
    </div>
        </div>
    </div>
  </div>
  