<!-- Features Section -->
<div class="container space-2-top mb-4">
  <h2 class="mb-4 w-lg-30 text-sm-center mx-auto">The low code platform you'll enjoy using</h2>
      <p class="w-lg-60 text-sm-center lead mx-auto mb-6">
        Budibase brings together everything that’s required to build internal tools, such as; dashboards, admin panels, approval apps, and everything in between. Within minutes, transform data and processes into powerful internal tools.
      </p>
      <div class="mx-auto text-center">
        
        <img class="u-data-avatar p-3 p-sm-2 rounded" alt="Postgresql logo"  src="integrations/postgresql.png" > 
        <img class="u-data-avatar p-2 rounded"  alt="MongoDB logo" src="integrations/mongodb-logo.svg" >
        <img class="u-data-avatar p-3 p-sm-2 rounded" alt="Elasticsearch logo" src="integrations/elasticsearch-logo.svg" > 
        <img class="u-data-avatar p-3 p-sm-2 rounded" alt="Digital Ocean logo" src="integrations/digitalocean-icon.svg" > 
        <img class="u-data-avatar p-2 rounded" alt="Docker icon" src="integrations/docker-logo.svg" > 
        <img class="u-data-avatar p-3 p-sm-2 rounded" alt="Zapier logo" src="integrations/zapier-logo.png" > 
        <img class="u-data-avatar p-3 p-sm-2 rounded" alt="Integromat logo" src="integrations/integromat-logo.png" >         
        <img class="u-data-avatar p-3 p-sm-2 rounded" alt="Airtable logo" src="integrations/airtable-icon.png" > 
      </div>
    </div>
  </div>
</div>
    <div class="container">
      <div class="gallery">
  <figure class="gallery__item gallery__item--1"><img class="gallery__img opacity-8 mt-lg-2" src="/img/img/gallery-item-1.png" alt="budibase diagram" loading="lazy" />
  </figure>
  <figure class="gallery__item gallery__item--2"><img class="gallery__img" src="/img/img/gallery-item-2.png" alt="budibase diagram" loading="lazy" />
  </figure>
  <figure class="gallery__item gallery__item--3"><img class="gallery__img opacity-8 mt-lg-2" src="/img/img/gallery-item-3.png" alt="budibase diagram" loading="lazy" />
  </figure>
  <figure class="gallery__item gallery__item--4"><img class="gallery__img opacity-8 pb-lg-2" src="/img/img/gallery-item-4.png" alt="budibase diagram" loading="lazy" />
  </figure>
  <figure class="gallery__item gallery__item--5"><img class="gallery__img opacity-8 pb-lg-2" src="/img/img/gallery-item-5.png" alt="budibase diagram" loading="lazy" />
  </figure>
</div>
</div>
</div>



<!-- Old What diagram
<div class="process">
  <div class="process-card bg-dark">
    <div class="process-title bg-dark-2">
      Problems
    </div>
    <div class="process-in-content">
      <div class="mb-4">
        <p class=" mb-1 text-light">Lack of developer bandwidth</p>
        <p class=" mb-1 text-light">Boilerplate code</p>
        <p class=" mb-1 text-light">Generic software</p>
        <p class=" mb-1 text-light">Manual processes</p>
        <p class=" mb-1 text-light">Need for speed</p>
        <p class=" mb-1 text-light">No time</p>
        <p class=" mb-1 text-light">Legacy systems</p>
        <p class=" mb-1 text-light">Expensive outsourcing</p>
      </div>
    </div>
  </div>
  <div class="process-dots"></div>

  <div class="process-card bg-dark">
    <div class="process-title bg-dark-2">
      Budibase
    </div>
    <div class="process-in-content">
      <div class="blob">
        <img
        class="img-fluid-2 p-1 blob-image"
        src="/img/img/bb-emblem.svg"
        alt="bb emblem"
      />
      </div>
    </div>
  </div>
  <div class="process-dots"></div>
  <div class="process-card bg-dark">
    <div class="process-title bg-dark-2">
      Solutions
    </div>
    <div class="process-in-content">
      <div class="mb-4">
        <p class=" mb-1 text-light">✓ CRMs</p>
        <p class=" mb-1 text-light">✓ Dashboards</p>
        <p class=" mb-1 text-light">✓ Inventory platforms</p>
        <p class=" mb-1 text-light">✓ Admin panels</p>
        <p class=" mb-1 text-light">✓ Booking systems</p>
        <p class=" mb-1 text-light">✓ Wikis</p>
        <p class=" mb-1 text-light">✓ Custom reports</p>
        <p class=" mb-1 text-light">✓ And much more</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

-->


<!--
<div class="image-grid">
  <div class="image1 ">
    <img class="img-fluid bg-light" src="/img/img/edit-row.png" alt="Edit row within Budibase data ui" />
  </div>
  <div class="image2">
    <img class="img-fluid bg-light" src="/img/img/table.png" alt="SaaS hosting" />
  </div>
  <div class="image3">
    <img class="img-fluid" src="/img/img/budibase-ui.svg" alt="SaaS hosting" />
  </div>
  <div class="image4">
    <img class="img-fluid" src="/img/img/budibase-ui.svg" alt="SaaS hosting" />
  </div>
</div>
</div>
</div>
-->

