<!-- Features Section -->
<div class="container">
  <div class="col-12 space-3-bottom">
    <div class="w-lg-60 mx-auto">
      <h2 class="mb-4 text-white text-center">Ship fast and move forward</h2>
          <p class="text-light text-center lead">
            Building internal tools and custom software is slow and not very exciting work. Budibase completely changes this. With Budibase, create internal tools and ship software with speed, simplicity, and excitement; whilst propeling your organization forward.
          </p>
      </div>
    </div>

    <div class="process">
      <div class="process-card bg-dark">
        <div class="process-title bg-dark-2">
          Problems
        </div>
        <div class="process-in-content">
          <div class="mb-4">
            <p class=" mb-1 text-light">Lack of developer bandwidth</p>
            <p class=" mb-1 text-light">Boilerplate code</p>
            <p class=" mb-1 text-light">Generic software</p>
            <p class=" mb-1 text-light">Manual processes</p>
            <p class=" mb-1 text-light">Need for speed</p>
            <p class=" mb-1 text-light">No time</p>
            <p class=" mb-1 text-light">Legacy systems</p>
            <p class=" mb-1 text-light">Expensive outsourcing</p>
          </div>
        </div>
      </div>
      <div class="process-dots"></div>

      <div class="process-card bg-dark">
        <div class="process-title bg-dark-2">
          Budibase
        </div>
        <div class="process-in-content">
          <div class="blob">
            <img
            class="img-fluid-2 p-1 blob-image"
            src="/img/img/bb-emblem.svg"
            alt="bb emblem"
          />
          </div>
        </div>
      </div>
      <div class="process-dots"></div>
      <div class="process-card bg-dark">
        <div class="process-title bg-dark-2">
          Solutions
        </div>
        <div class="process-in-content">
          <div class="mb-4">
            <p class=" mb-1 text-light">✓ CRMs</p>
            <p class=" mb-1 text-light">✓ Dashboards</p>
            <p class=" mb-1 text-light">✓ Inventory platforms</p>
            <p class=" mb-1 text-light">✓ Admin panels</p>
            <p class=" mb-1 text-light">✓ Booking systems</p>
            <p class=" mb-1 text-light">✓ Wikis</p>
            <p class=" mb-1 text-light">✓ Custom reports</p>
            <p class=" mb-1 text-light">✓ And much more</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  


    <!--
    <div class="image-grid">
      <div class="image1 ">
        <img class="img-fluid bg-light" src="/img/img/edit-row.png" alt="Edit row within Budibase data ui" />
      </div>
      <div class="image2">
        <img class="img-fluid bg-light" src="/img/img/table.png" alt="SaaS hosting" />
      </div>
      <div class="image3">
        <img class="img-fluid" src="/img/img/budibase-ui.svg" alt="SaaS hosting" />
      </div>
      <div class="image4">
        <img class="img-fluid" src="/img/img/budibase-ui.svg" alt="SaaS hosting" />
      </div>
    </div>
  </div>
</div>
-->

