<!-- Features Section -->
<div class="container">
  <div class="mx-auto col-12 space-2-bottom">
    <div class="mb-6">
      <h2 class="mb-2 w-60">All-in-one no code platform built to power your business</h2>
      <div class="row ">
        <div class="col-sm">
          <p class=" mb-0">
            Budibase is changing how the world builds web apps, replacing coding with a simple interface. And unlike other platforms, you don’t have to connect to 
            Google Sheet, Airtable, or any other data source.
          </p>
        </div>
        <div class="col-sm">
          <p class=" mb-0">
            Completely self-sustainable; design, build, and launch your web app 
            all within Budibase. This saves you time, money, frustration, and improves overall performance. 
          </p>
        </div>
      </div>
    </div>

    <div class="process">
      <div class="process-card">
        <div class="process-title">
          In
        </div>
        <div class="process-in-content">
          <div class="mb-4">
            <h5 class="mb-2">Processes</h5>
            <p class="small mb-1">✗ Employee management</p>
            <p class="small mb-1">✗ Customer engagement</p>
            <p class="small mb-1">✗ Holiday bookings</p>
            <p class="small mb-1">✗ Purchasing requests</p>
            <p class="small mb-1">✗ Student communication</p>
            <p class="small mb-1">✗ Inventory management</p>
            <p class="small mb-1">✗ Data analysis</p>
            <p class="small mb-1">✗ Content planning</p>
          </div>
          <div class="mb-4">
            <h5 class="mb-2">Problems</h5>
            <p class="small mb-1">✗ Spreadsheet overload</p>
            <p class="small mb-1">✗ Other solutions too complicated</p>
            <p class="small mb-1">✗ SaaS software too expensive</p>
            <p class="small mb-1">✗ Inefficient operations</p>
            <p class="small mb-1">✗ Can't source a solution</p>
            <p class="small mb-1">✗ Shadow IT</p>
            <p class="small mb-1">✗ Remote working</p>
          </div>
        </div>
      </div>
      <div class="process-dots"></div>

      <div class="process-card">
        <div class="process-title">
          Build
        </div>
        <div class="process-in-content">
          <div class="mb-4">
            <h5 class="mb-2">Workplace toolkit</h5>
            <p class="small mb-1">⊶ Backend and data management</p>
            <p class="small mb-1">⊶ UI Design</p>
            <p class="small mb-1">⊶ Workflow and automation</p>
            <p class="small mb-1">⊶ Hosting</p>
            <p class="small mb-1">⊶ User management</p>
            <p class="small mb-1">⊶ Integrations</p>
          </div>
        </div>
      </div>
      <div class="process-dots"></div>

      <div class="process-card">
        <div class="process-title">
          Out
        </div>
        <div class="process-in-content">
          <div class="mb-4">
            <h5 class="mb-2">Solutions</h5>
            <p class="small mb-1">✓ CRMs</p>
            <p class="small mb-1">✓ Inventory Platforms</p>
            <p class="small mb-1">✓ Booking systems</p>
            <p class="small mb-1">✓ Employee management platforms</p>
            <p class="small mb-1">✓ Wikis</p>
            <p class="small mb-1">✓ Communication tools</p>
            <p class="small mb-1">✓ Project management solutions</p>
            <p class="small mb-1">✓ ERPs</p>
            <p class="small mb-1">✓ Learning management systems</p>
            <p class="small mb-1">✓ Automate purchasing requests</p>
            <p class="small mb-1">✓ Dashboards</p>
            <p class="small mb-1">✓ To-do lists</p>
            <p class="small mb-1">✓ And much more</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  


    <!--
    <div class="image-grid">
      <div class="image1 ">
        <img class="img-fluid bg-light" src="/img/img/edit-row.png" alt="Edit row within Budibase data ui" />
      </div>
      <div class="image2">
        <img class="img-fluid bg-light" src="/img/img/table.png" alt="SaaS hosting" />
      </div>
      <div class="image3">
        <img class="img-fluid" src="/img/img/budibase-ui.svg" alt="SaaS hosting" />
      </div>
      <div class="image4">
        <img class="img-fluid" src="/img/img/budibase-ui.svg" alt="SaaS hosting" />
      </div>
    </div>
  </div>
</div>
-->

