<div class="container-fluid bg-dark space-3">
    <h2 class="text-white text-center mb-6">Empowering organisations of all shapes and sizes</h2>
    <div class="who-container container">
            <div class="who-item">
                <img
                class="img-fluid"
                src="/img/img/it.webp"
                alt="IT departments"
                />
                <div class="who-content">
                    <h4 class="text-white mb-2">IT / Engineering</h4>
                    <p class="text-white">Take control and drive digital transformation</p>
                </div>
            </div>
            <div class="who-item">
                <img
                class="img-fluid"
                src="/img/img/it-consultant.webp"
                alt="IT Consultants"
                />
                <div class="who-content">
                    <h4 class="text-white mb-2">IT Consultants</h4>
                    <p class="text-white">Build solutions for clients in minutes</p>
                </div>
            </div>
            <div class="who-item">
                <img
                class="img-fluid"
                src="/img/img/logistics.webp"
                alt="SaaS hosting"
                />
                <div class="who-content">
                    <h4 class="text-white mb-2">Transport & Logistics</h4>
                    <p class="text-white">Automate processes, reduce errors and operate efficiently</p>
                </div>
            </div>
            <div class="who-item">
                <img
                class="img-fluid"
                src="/img/img/education.webp"
                alt="Education organisations"
                />
                <div class="who-content">
                    <h4 class="text-white mb-2">Education</h4>
                    <p class="text-white">Provide students with an online platform to interact with</p>
                </div>
            </div>
            <div class="who-item">
                <img
                class="img-fluid"
                src="/img/img/sales.webp"
                alt="Sales team"
                />
                <div class="who-content">
                    <h4 class="text-white mb-2">Sales and Marketing</h4>
                    <p class="text-white">Keep on top of your leads, and automate processes</p>
                </div>
            </div>
            <div class="who-item">
                <img
                class="img-fluid"
                src="/img/img/finance.webp"
                alt="Finance teams"
                />
                <div class="who-content">
                    <h4 class="text-white mb-2">Finance</h4>
                    <p class="text-white">Analyse and visualize data in a way which suits you</p>
                </div>
            </div>
        </div>
    </div>
</div>