<div class="container-fluid bg-dark space-3">
    <h2 class="text-white text-center mb-6">Empowering organisations of all shapes and sizes</h2>
    <div class="who-container container">
            <div class="who-item">
                <picture class="img-fluid">
                    <source srcset="/img/img/it.webp" type="image/webp">
                    <source srcset="/img/img/it.png" type="image/png"> 
                    <img src="/img/img/it.png" class="img-fluid" alt="Sales">
                </picture>
                <div class="who-content">
                    <h4 class="text-white mb-2">IT / Engineering</h4>
                    <p class="text-white">Take control and drive digital transformation</p>
                </div>
            </div>
            <div class="who-item">
                <picture class="img-fluid">
                    <source srcset="/img/img/it-consultant.webp" type="image/webp">
                    <source srcset="/img/img/it-consultant.png" type="image/png"> 
                    <img src="/img/img/it-consultant.png" class="img-fluid" alt="IT Consultants">
                </picture>
                <div class="who-content">
                    <h4 class="text-white mb-2">Consultants / Agencies</h4>
                    <p class="text-white">Build custom software for clients in minutes</p>
                </div>
            </div>
            <div class="who-item">
                <picture class="img-fluid">
                    <source srcset="/img/img/logistics.webp" type="image/webp">
                    <source srcset="/img/img/logistics.png" type="image/png"> 
                    <img src="/img/img/logistics.png" class="img-fluid" alt="Logistics">
                </picture>
                <div class="who-content">
                    <h4 class="text-white mb-2">Transport & Logistics</h4>
                    <p class="text-white">Automate processes, reduce errors and operate efficiently</p>
                </div>
            </div>
            <div class="who-item">
                <picture class="img-fluid">
                    <source srcset="/img/img/education.webp" type="image/webp">
                    <source srcset="/img/img/education.png" type="image/png"> 
                    <img src="/img/img/education.png" class="img-fluid" alt="Education">
                </picture>
                <div class="who-content">
                    <h4 class="text-white mb-2">Education</h4>
                    <p class="text-white">Provide students with an online platform to interact with</p>
                </div>
            </div>
            <div class="who-item">
                <picture class="img-fluid">
                    <source srcset="/img/img/sales.webp" type="image/webp">
                    <source srcset="/img/img/sales.png" type="image/png"> 
                    <img src="/img/img/sales.png" class="img-fluid" alt="Sales">
                </picture>
                <div class="who-content">
                    <h4 class="text-white mb-2">Sales and Marketing</h4>
                    <p class="text-white">Keep on top of your leads, and automate processes</p>
                </div>
            </div>
            <div class="who-item">
                <picture class="img-fluid">
                    <source srcset="/img/img/finance.webp" type="image/webp">
                    <source srcset="/img/img/finance.png" type="image/png"> 
                    <img src="/img/img/finance.png" class="img-fluid" alt="Finance">
                </picture>
                <div class="who-content">
                    <h4 class="text-white mb-2">Finance</h4>
                    <p class="text-white">Analyse and visualize data in a way which suits you</p>
                </div>
            </div>
        </div>
    </div>
</div>