<div class="container-fluid bg-dark space-3">
    <h2 class="text-white text-center mb-6">Empowering teams of all shapes and sizes</h2>
    <div class="who-container container">
            <div class="who-item">
                <img
                class="img-fluid"
                src="/img/img/image2.jpg"
                alt="SaaS hosting"
                />
                <div class="who-content">
                    <h4 class="text-white mb-2">IT / Engineering</h4>
                    <p class="text-white">Take control and drive digital transformation</p>
                </div>
            </div>
            <div class="who-item">
                <img
                class="img-fluid"
                src="/img/img/image2.jpg"
                alt="SaaS hosting"
                />
                <div class="who-content">
                    <h4 class="text-white mb-2">IT / Engineering</h4>
                    <p class="text-white">Take control and drive digital transformation</p>
                </div>
            </div>
            <div class="who-item">
                <img
                class="img-fluid"
                src="/img/img/image2.jpg"
                alt="SaaS hosting"
                />
                <div class="who-content">
                    <h4 class="text-white mb-2">IT / Engineering</h4>
                    <p class="text-white">Take control and drive digital transformation</p>
                </div>
            </div>
            <div class="who-item">
                <img
                class="img-fluid"
                src="/img/img/image2.jpg"
                alt="SaaS hosting"
                />
                <div class="who-content">
                    <h4 class="text-white mb-2">IT / Engineering</h4>
                    <p class="text-white">Take control and drive digital transformation</p>
                </div>
            </div>
            <div class="who-item">
                <img
                class="img-fluid"
                src="/img/img/image2.jpg"
                alt="SaaS hosting"
                />
                <div class="who-content">
                    <h4 class="text-white mb-2">IT / Engineering</h4>
                    <p class="text-white">Take control and drive digital transformation</p>
                </div>
            </div>
            <div class="who-item">
                <img
                class="img-fluid"
                src="/img/img/image2.jpg"
                alt="SaaS hosting"
                />
                <div class="who-content">
                    <h4 class="text-white mb-2">IT / Engineering</h4>
                    <p class="text-white">Take control and drive digital transformation</p>
                </div>
            </div>
        </div>
    </div>
</div>