  <div class="container-fluid bg-black space-2">
    <div class="container mb-2 steps">
      <div class="steps-content-container">
        <h2 class="mb-4 step-header w-80 text-white">
          Developer-friendly      </h2>
        <p class="mb-6 text-light">
          Budibase was built by developers who were fed up building internal tools 
          from scratch and having to repeat the same development processes over and over again.
          Our intentions with Budibase is not to replace coding, but to augment the developer experience and allow you to ship beautiful apps faster.
        </p>
        <a class="text-blue" href="https://docs.budibase.com/" target="_blank" id="goal" role="button"
        data-overlay-color="#151b26">
       Check out the Budibase Github Repo -->
     </a> 
      </div>
      <picture>
        <source srcset="/img/img/data-filter-2.png" type="image/png" />
        <img
          src="/img/img/data-ui.png"
          class="img-fluid shadow-sm border-dark"
          alt="Data"
        />
      </picture>
    </div>
    <div class="container container-benefit space-1 space-3-bottom">
      <div class="card-small bg-dark-2 ">
          <h5 class="mb-1 text-white">Coding optional</h5>
          <p class="small text-light">If you need to, you can write JavaScript within Budibase. </p>
      </div>
      <div class="card-small bg-dark-2 ">
          <h5 class="mb-1 text-white">Ship real SPAs</h5>
          <p class="small text-light">Create and ship real single page applications.</p>
      </div>
      <div class="card-small bg-dark-2 ">
          <h5 class="mb-1 text-white">Open Source</h5>
          <p class="small text-light">Feel confident that Budibase will always be around.</p>
      </div>
      <div class="card-small bg-dark-2 ">
          <h5 class="mb-1 text-white">Local development</h5>
          <p class="small text-light">Continue to build software in your local env, with your favorite tools.</p>
      </div>
  </div>



