<div class="container-fw bg-black space-3">
  <div class="container">
  <h2 class="mx-auto text-center text-white w-lg-50 mb-8">We're flipping the script on low-code</h2>
  <div class="container-why-org">
  <div class="container-benefit-org">
    <div class="mb-6 mr-sm-6">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 10V3L4 14h7v7l9-11h-7z"
          />
        </svg>
      </div>
      <h4 class="mb-2 text-white">Open-source</h4>
      <p>
        Budibase is open-source.
      </p>
    </div>
    <div class="mb-6 mr-sm-6">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
        </svg>
      </div>
        <h4 class="mb-2 text-white">Integrates seamlessly</h4>
        <p>
          Provide employees with the perfect tools to grow.
        </p>
      </div>

      <div class="mb-4 mr-sm-6">
        <div class="u-avatar mb-3 icon bg-dark rounded p-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
          </svg>
        </div>
        <h4 class="mb-2 text-white">Automations included</h4>
        <p>
          Streamline operations with built-in automations.
        </p>
      </div>
      <div class="mb-4 mr-sm-6">
        <div class="u-sm-avatar mb-3 icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
          </svg>
        </div>
        <h4 class="mb-2 text-white">Automations included</h4>
        <p>
          Connect your data to pinpoint growth opportunties.
        </p>
      </div>
  </div>
  <img src="img/img/employees.jpeg" class="img-fluid rounded" alt="budibase real workplace" />
</div>
</div>
</div>
