<div class="container">
  <div class="space-2-bottom text-center mx-auto">
    <h2 class="w-lg-40 mx-auto mb-4">Why businesses choose Budibase</h2>
    <p class="w-lg-60 mx-auto lead">
      Businesses choose Budibase because they need a platform, not a product. We understand the uniqueness of different businesses, which is why we aim to create an ecosystem which supports the ambitions of our users.
    </p>
  </div>
  <div class="benefits-new-container w-80 ">
    <div class="benefit-container">
      <div class="benefit-image-container">
        <picture>
          <source srcset="/img/img/data-components.webp" type="image/webp" />
          <source srcset="/img/img/data-components.png" type="image/png" />
          <img
            src="/img/img/data-components.png"
            class="img-fluid  bg-light p-lg-4 p-2"
            alt="Pixel perfection"
          />
        </picture>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2">Ship ahead of the competition</h4>
        <p class="text-grey">
          With Budibase, you ship applications/solutions 50x quicker, giving you the competitive edge.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <picture>
          <source srcset="/img/img/calculate.webp" type="image/webp" />
          <source srcset="/img/img/calculate.png" type="image/png" />
          <img
            src="/img/img/calculate.png"
            class="img-fluid bg-light p-lg-4 p-2"
            alt="Performance, guaranteed"
          />
        </picture>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2">The future of work</h4>
        <p class="text-grey">
          With an easy-to-use and intuitive interface, non-developers can create mission-critical applications.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <picture>
          <source srcset="/img/img/sequence.webp" type="image/webp" />
          <source srcset="/img/img/sequence.png" type="image/png" />
          <img
            src="/img/img/sequence.png"
            class="img-fluid bg-light p-lg-4 p-2"
            alt="Control your own data"
          />
        </picture>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2">Digital transformation</h4>
        <p class="text-grey">
          Budibase automates manual processes and replaces inefficient functions within your business.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <picture>
          <source srcset="/img/img/open-source.webp" type="image/webp" />
          <source srcset="/img/img/open-source.png" type="image/png" />
          <img
            src="/img/img/open-source.png"
            class="img-fluid bg-light p-lg-4 p-2"
            alt="Offline"
          />
        </picture>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2">Open source</h4>
        <p class="text-grey">
        Budibase is extensible, futureproof, and you can self-host on your own infrastructure.
        </p>
      </div>
    </div>
  </div>
</div>
