<!-- What Section -->
<div class="container">
      <h2 class="mb-6 w-lg-30">We've flipped the script on low-code</h2>
  </duv>
  <div class="container-benefit">
    <div class="card-small mr-6">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
        </svg>
      </div>
      <h4 class="mb-1">Self-hosting</h4>
      <p class="text-sm  text-light">
        Budibase is <a href="https://github.com/Budibase/budibase">open source</a> and you can self-host apps using Docker and Kubernetes.
      </p>
    </div>
    <div class="card-small mr-4 mt-6 mt-md-4 mt-lg-0">
      <div class="u-sm-avatar mb-3 icon">
          <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
          </svg>
      </div>
      <h4 class="mb-1">We care about design</h4>
      <p class="text-sm  text-light">
        We spark joy in our users with great design and a best-in-class dev experience.
      </p>
    </div>
    <div class="card-small mr-6 mt-6 mt-md-0">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
        </svg>
      </div>
      <h4 class="mb-1">Apps work on all devices</h4>
      <p class="text-sm  text-light">
        Budibase apps perform perfectly across all devices; mobile, tablet, desktop.
      </p>
    </div>
    <div class="card-small mr-6 mt-6 mt-md-4 mt-lg-0">
      <div class="u-sm-avatar mb-3 icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
        </svg>
      </div>
      <h4 class="mb-1">Coding optional</h4>
      <p class="text-sm  text-light">
        Users can build apps with or without writing code - the decision is yours.
      </p>
    </div>
  </div>
</div>

