{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<!-- Hero Section -->
<div class="bg-img-hero">
  <div class="container text-center space-2 space-4-top space-1-bottom--lg">
    <div class="w-md-80 mx-auto mb-3">
      <h1 class="col display-4 font-size-48--md-down">{{ .Title }}</h1>
    </div>
  </div>
        <div class="container space-3-bottom--lg">
          <div class="col-lg-8 mx-auto">
            <div class="mb-5">
              <p class="lead mb-0">
                {{ .Content }}
              </p>
            </div>
          </div>
        </div>
      </div>

      {{ partial "cta.html" . }}
      {{ partial "footer.html" . }}

</div>
