
   <section id="hello" class="container section">
    <div class="row cta">  
      <div class="col-md-12">
          <div class="cta__card">
            <div class="cta__info">
              <h3 class="cta_title">Success Is Just Around The Corner</h3>
              <p class="cta_description">If you'd like to find out more about my services, simply click the button below and complete the form. Speak soon!</p>
             <a class="btn btn-outline-light" href="/contact" role="button">GET STARTED</a> 
            </div>
          </div>
      </div>
    </div>
  </section> 
