  <section id="blog" class="container section">
    <div class="row centered">
      <div class="menu__wrapper d-none d-lg-block col-md-12">

          <ul>
            <li class="display__inline "><a href="#graphicdesignexpert" title="" class="display__inline color__black font--extra__small font--family__tertiary link__filter">ALL PORTFOLIO</a></li>
            <li class="display__inline "><a href="portfolio/seo-belfast" title="" class="display__inline color__black font--extra__small font--family__tertiary link__filter {{ if  eq  .URL "seo-belfast"}} link__filter__active {{end}}">SEO</a></li>
            <li class="display__inline "><a href="portfolio/ppc-belfast" title="" class="display__inline color__black font--extra__small font--family__tertiary link__filter {{ if  eq  .URL "ppc-belfast"}} link__filter__active {{end}}">PPC</a></li>
            <li class="display__inline "><a href="portfolio/social-media-belfast" title="" class="display__inline color__black font--extra__small font--family__tertiary link__filter {{ if  eq  .URL "social-media-belfast"}}  link__filter__active {{end}}">SOCIAL MEDIA</a></li>
          </ul>

      </div>
    </div>
  </section>
