<section class="home-newsletter">
	<div class="container cta-background">
	<div class="row ">
	<div class="col-sm-12">
		<div class="single">
			<h2>Subscribe to my Newsletter</h2>
			<p>My monthly email will educate you, tickle you, and help you.
			No spam, just quality marketing beef. </p>
			<form action="https://formspree.io/hi@digijo.co.uk" method="POST">
		<div class="input-group">	
		
			 <input type="email" class="form-control" name="_replyto" placeholder="Enter your email">
			 <span class="input-group-btn">
			 <button class="btn btn-orange" input type="submit" value="Send">Subscribe</button>
			 </span>

		 </form>
			  </div>
		</div>
	</div>
	</div>
	</div>
	</section>