<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-newsletter">
		<div class="modal-content">
			<form action="/examples/actions/confirmation.php" method="post">
				<div class="modal-header">
					<h4>Join Our Newsletter</h4>	
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>&times;</span></button>
				</div>
				<div class="modal-body text-center">				
					<p>Subscribe our newsletter to receive the latest news and exclusive offers every week. No spam.</p>
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Enter your email" required>
						<input type="submit" class="btn btn-primary btn-block" value="Subscribe">
					</div>
				</div>
			</form>			
		</div>
	</div>
</div>