<!--Road to success-->

<section id="success" class="container section">
  <div class="row">
    <div class="col-md-12 ">
      <h2 id="portfolio_header" class="section__title">Road To Success_</h2>
    </div>
  </div>


      <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam.</p>

      <!--Grid row-->
      <div class="row text-left">

      <!--Grid column-->
      <div class="col-md-4 mb-4">

          <div class="col-1 col-md-2 float-left ">
          <i class="fa fa-bullhorn blue-text fa-2x"></i>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Marketing</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
          <a class="btn btn-primary btn-sm ml-0">Learn more</a>

          </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
          <div class="col-1 col-md-2 float-left">
          <i class="fa fa-cogs pink-text fa-2x"></i>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Customization</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
          <a class="btn btn-pink btn-sm ml-0">Learn more</a>
          </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
          <div class="col-1 col-md-2 float-left">
          <i class="fa fa-dashboard purple-text fa-2x"></i>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Support</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
          <a class="btn btn-secondary btn-sm ml-0">Learn more</a>
          </div>
      </div>
      <!--Grid column-->

      </div>
      <!--Grid row-->

  </section>


<!--Road To Success-->
