<div class="container ">
  <div class="row personal-profile">
    <div class="col-md-6 personal-profile__avatar">
      <img class="" src="img/seo/seo-header.jpg" alt="Say Hello To Joe">
    </div>
    <div class="col-md-6">
      <h1 class="personal-profile__name">Belfast SEO Expert_</h1>
      <h1 class="personal-profile__work">As a Google specialist and Belfast SEO Expert, I am certified to escort your website to the top of Google's search results</h1>
      <div class="personal-profile__contacts">
        <dl class="contact-list contact-list__opacity-titles">
	  {{ range $info := .Site.Params.Info }}
	  <dt>Certified</dt>
    <dd>Google Specialist</dd>
	  {{ end }}
        </dl>
      </div>

      {{ partial "social.html" . }}

    </div>
  </div>
</div>
