<!--Services-->

<section id="services" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="portfolio_header" class="section__title">My services_</h2>
    </div>
  </div>

<div class="card-deck">
  <div class="card mb-4">
    <img class="card-img-top" src="img/digital-marketing-png.png" alt="Card image cap">
    <div class="card-body">
      <h3 class="font-family-title">SEO</h3>
      <p class="card-text">Customers are searching for your products and finding your competitors. Let's stop this! I am here to help you increase visability and drive sales. Your top product deserves a top ranking!</p>
      <a ref="nofollow" href="/seo" target="_blank" class="project-card__link">SEO</a>
    </div>
  </div>
  <div class="card mb-4">
    <img class="card-img-top" src="img/web-design-png.png" alt="Card image cap">
    <div class="card-body">
      <h3 class="font-family-title">PPC</h3>
      <p class="card-text">I've recently been awarded Google Specialist status due to my knowledge and skills around Google Adwords. I've learnt to apply these skills to businesses achieving extremely positive results.</p>
      <a ref="nofollow" href="/PPC" target="_blank" class="project-card__link">PPC</a>
    </div>
  </div>
  <div class="card mb-4">
    <img class="card-img-top" src="img/illustration-png.png" alt="Card image cap">
    <div class="card-body">
      <h3 class="font-family-title">Web Design</h3>
      <p class="font-family-main">I design websites that break the mould, carefully mixing the visually creative with the analytical convertive. Whatever your objective, we'll begin with a concept and end with a beautiful, converting website.</p>
      <a ref="nofollow" href="/web-design" target="_blank" class="project-card__link">Web-design</a>
    </div>
  </div>

</div>
</section>
<!--Services-->
