<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">SUBSCRIBE TO NEWSLETTER</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Subscribe To The DigiJo Newsletter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="https://formspree.io/hi@digijo.co.uk" method="POST">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
           <input type="email" class="form-control" name="_replyto" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-dark" input type="submit" value="Send">Subscribe</button>
      </div>
    </form>
    </div>
  </div>
</div>