{{ partial "header.html" . }} 
{{ partial "navigation.html" . }}
    <div class="container-12 space-2-top flex flex-column text-center mx-auto position-relative align-center">
        <h1 class="hero-title text-center">
            Transformation at scale
        </h1>
        <p class="hero-description text-center">We’re here to help enterprises drive transformation at scale</p>
        <a href="/contact"><button class="mx-auto align-center btn-cta btn">Contact sales -></button></a>
    </div>
<div class="container-12 space-1-top enterprise-image">
<img src="https://res.cloudinary.com/daog6scxm/image/upload/q_70/v1674639374/1.%20Illustrations/Scene_2_web_version_slh7z7_nubfoj.webp" class="enterprise-image" />
</div>


<section class="space-2">
    {{ partial "stats.html" . }}
</section>
<div class="container space-1">
    <hr />
</div>
<section class="space-2 enterprise-benefits-section container text-center">
    <h2 class="h1">Keep your teams productive and your data safe</h2>
    <div class="enterprise-benefits-grid mt-6">
        <div class="enterprise-benefit">
            <div data-area="icon">
                <img src="/img/svg/data-control.svg" class="p-2 bg-gray rounded mb-2" />
            </div>
            <div data-area="title">
                <h4 class="h6">Take control of your data</h4>

            </div>
            <div data-area="description">
                <p>Work without worry – move 
                    data from spreadsheets and 
                    SaaS tools into your chosen 
                    database, and provide teams
                    with secure access.
                    </p>
            </div>
        </div>
        <div class="enterprise-benefit">
            <div data-area="icon">
                <img src="/img/svg/workflow.svg" class="p-2 bg-gray rounded mb-2" />
            </div>
            <div data-area="title">
                <h4 class="h6">Integrate 
                     existing workflows</h4>

            </div>
            <div data-area="description">
                <p>Finally, all your teams can work 
                    together in one place. Seamlessly 
                    integrate your existing datasets 
                    and workflows – only with 
                    Budibase. 
                    </p>
            </div>
        </div>
        <div class="enterprise-benefit">
            <div data-area="icon">
                <img src="/img/svg/correlate.svg" class="p-2 bg-gray rounded mb-2" />
            </div>
            <div data-area="title">
                <h4 class="h6">Connect teams with 
                    data</h4>
            </div>
            <div data-area="description">
                <p>Bring all your data and workflows
                    together and create a shared
                    source of truth. All your teams
                    can work together, faster and
                    smarter.
                    </p>
            </div>
        </div>
        <div class="enterprise-benefit">
            <div data-area="icon" >
                <img src="/img/svg/server.svg" class="p-2 bg-gray rounded mb-2" />
            </div>
            <div data-area="title">
                <h4 class="h6">Self-managed deployments</h4>
            </div>
            <div data-area="description">
                <p>Budibase is open-source and you can self-manage 
                    Budibase within your own 
                    infrastructure using Docker 
                    or Kubernetes. 
                    </p>
            </div>
        </div>
    </div>
</section>
<div class="container space-1">
    <hr />
</div>
<section class="space-1">
    {{ partial "logo-reel.html" . }}
</section>
<div class="container space-1">
    <hr />
</div>
<section class="space-2 container-12 text-center ">
    <h2 class="h1 mb-6">Support at every step </h2>
    <div class="extensibility-wrapper">
        <div class="bg-gray-1200 p-4 rounded border">
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,h_168/v1663173413/1.%20Illustrations/14._Support_ihbj1k.webp" class="p-4 rounded mb-4" />
            <h3 class="h6 mb-2 text-left">Priority support</h3>
            <p class="text-left">We prioritize support queries from
                enterprise customers.</p>
        </div>
        <div class="bg-gray-1200 p-4 rounded text-left border">
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_329/v1666617787/1.%20Illustrations/13._Security_jkmexs.webp" class="p-4 rounded mb-4" />
            <h3 class="h6 mb-2">Support SLAs</h3>
            <p>We include a 2 business day support
                SLA with all enterprise contracts. </p>
        </div>
        <div class="bg-gray-1200 p-4 rounded text-left border">
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,h_168/v1663170785/1.%20Illustrations/02._Control_gybepl.webp" class="p-4 rounded mb-4" />
            <h3 class="h6 mb-2">Transformation plan</h3>
            <p>We’ll deliver a tailored transformation 
                plan - further information below.</p>
        </div>
    </div>
</section>
<div class="container space-1">
    <hr />
</div>
<section class="space-2 enterprise-benefits-section container text-center">
    <h2 class="h1 mb-6">Our proven approach to drive transformation</h2>
    <ul class="platform-card-grid">
        <li class="platform-card">
          <div class="platform-card-inner">
            <div data-area="icon" class="template-icon-container bg-orange">
                <div class="text-white font-weight-bold">1</div>
            </div>
            <span data-area="name" class="platform-card-name">Onboard</h4></span>
            <span data-area="description" class="platform-card-description">We’ll help you get onboarded and setup with Budibase.</span>
          </div>
        </li>
        <li class="platform-card">
            <div class="platform-card-inner">
              <div data-area="icon" class="template-icon-container bg-red">
                  <div class="text-white font-weight-bold">2</div>
              </div>
              <span data-area="name" class="platform-card-name">Plan</h4></span>
              <span data-area="description" class="platform-card-description">We’ll create a transformation plan 
                to help you achieve your goals.</span>
            </div>
          </li>
          <li class="platform-card">
            <div class="platform-card-inner">
              <div data-area="icon" class="template-icon-container bg-green">
                  <div class="text-white font-weight-bold">3</div>
              </div>
              <span data-area="name" class="platform-card-name">Adopt</h4></span>
              <span data-area="description" class="platform-card-description">We’ll deliver tailored training 
                to help you adopt Budibase.</span>
            </div>
          </li>
          <li class="platform-card">
            <div class="platform-card-inner">
              <div data-area="icon" class="template-icon-container bg-blue">
                  <div class="text-white font-weight-bold">4</div>
              </div>
              <span data-area="name" class="platform-card-name">Scale</h4></span>
              <span data-area="description" class="platform-card-description">We’ll run quarterly review calls to
                you help you scale Budibase.</span>
            </div>
          </li>
        </div>
    </div>
</section>
<div class="container space-1">
    <hr />
</div>
<section class="space-3 container-12 text-center">
    <h2 class="h1 mb-6">75,000 teams and counting</h2>
    <div class="enterprise-testimonial">

            <img src="/customers/schnellecke/images/cover.jpeg" class="img-fluid"/>
        <div class="text-left">
            <p class="lead">
                “Centralization of authentication, quick turnaround time for requests, integration with different database systems has given it the edge and it’s now used daily for internal development for those apps that you know you need but don’t feel value in losing days of development to reinvent the wheel.
            </p>
            <p class="mt-4 text-xs mb-2">Davide Lenzarini, <br>IT manager at Schnellecke</p>
            <a href="/customers/schnellecke">View case study</a>
        </div>
    </div>
</section>
{{ partial "cta.html" . }}
{{ partial "footer.html" . }}
