{{ partial "head/header.html" . }} {{ partial "navigation.html" . }}
<div class="space-2 bg-base-1">
  <div class="container text-center">
      <h1 class="hero-title mx-auto text-center w-lg-60 mb-4">Find a plan to power your workflows.
      </h1>
      <p class="hero-description">With each plan, you can <span class="text-coral">self-host<svg class="ml-1 u-xxs-avatar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><rect x="40" y="144" width="176" height="64" rx="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><rect x="40" y="48" width="176" height="64" rx="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><circle cx="180" cy="80" r="12"/><circle cx="180" cy="176" r="12"/></svg></span> or <span class="text-indigo">host with Budibase<svg class="ml-1 u-xxs-avatar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M80,128a80,80,0,1,1,80,80H72A56,56,0,1,1,85.92,97.74" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg></span></p>
   </div>
    <div class="container-12 my-6">
      {{ partial "pricing/plans.html" }}
    </div>
    <div class="space-2-top">
      {{ partial "pricing/faqs.html" . }}
    </div>
  </div>
</div>
{{ partial "cta.html" . }}
{{ partial "footer.html" . }}

<!-- JS -->
<script src="{{ "js/pricing.js" | absURL }}"></script>
<script src="{{ "js/pricing-tabs.js" | absURL }}"></script>
<script src="{{ "js/tooltip.js" | absURL }}"></script>
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script>
  document.getElementById("defaultOpen").click();
</script>