{{ partial "header.html" . }} {{ partial "navigation.html" . }}
  <div class="space-2">
    <div class="container text-center mb-6">
      <h1 class="hero-title text-center mb-4 w-lg-50 mx-auto">Find a plan to transform your workflows</h1>
      <p class="lead-lg mx-auto text-center w-lg-50 ">Cloud and on-prem hosting supported for each tier.</p>
    </div>
<!--
    <div class="pricing-tabs-container flex-row gap-md">
      <div class="tab">
          <button class="btn btn-lg tablinks" onclick="openPricing(event, 'annual')" id="defaultOpen">
            Pay annually (Save 20%)
          </button>
          <button class="btn btn-lg tablinks" onclick="openPricing(event, 'monthly')" >
            Pay monthly <strike>(Save 20%)</strike>
          </button>
      </div>
    </div>
-->
<div class="container mt-4 mb-6">
  {{ partial "pricing/package-new.html" }}
<!--
  <div id="annual" class="tabcontent">
    {{ partial "pricing/new-per-user.html"}}
  </div>
  <div id="monthly" class="tabcontent">
    {{ partial "pricing/monthly.html"}}
  </div>
-->
</div>

<div class="space-2-top">
  {{ partial "pricing/faqs.html" . }}
</div>
</div>
</div>

{{ partial "cta.html" . }}
{{ partial "footer.html" . }}

<!-- JS -->
<script src="{{ "js/pricing.js" | absURL }}"></script>
<script src="{{ "js/pricing-tabs.js" | absURL }}"></script>
<script src="{{ "js/tooltip.js" | absURL }}"></script>
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script>
  document.getElementById("defaultOpen").click();
</script>