{{ partial "head/header.html" . }}
{{ partial "navigation.html" . }}

<div class="container space-2 h-100vh">
    <div class="d-lg-flex align-items-lg-center">
        <div class="container-7 space-0--lg">
            <h1 class="hero-title mb-2 coral">404</h1>
            <p class="lead mb-4">For some reason your page has not been found. Apologies for an inconvenience caused. I'd recommend you go back to the homepage.</p>
            <a class="lead" href="/">
                <button class="btn-primary btn">
                    Back to the homepage
                </button>
            </a>
        </div>
    </div>
</div>
  {{ partial "footer.html" . }}