{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
{{ partial "circle-cta.html" . }}


<div class="container space-3-top">
    <div class="mb-4">
        <h1 class="mb-4">As simple as a spreadsheet,<br> 
            yet powerful like a database</h1>
        <p class="lead mb-4">Budibase’s data interface looks like a simple spreadsheet but behaves like a powerful database. Whether you need to import data from a spreadsheet, manage long-form content, or make calculations, Budibase has you covered.</p>
    </div>
    <div class="product-hero-image">
        <img class="img-fluid col-lg-12" src="/img/img/data.png" alt="SaaS hosting">
    </div>
</div>

<div class="space-2"></div>
  {{ partial "data-benefits.html" . }}  
  <hr class="mv-12" style="width:50%;">
  {{ partial "data-toolbox.html" . }}
  <div class="space-2"></div>
  {{ partial "testimonial.html" . }}
  <div class="space-2"></div>
  {{ partial "cta.html" . }}
  <hr class="mv-12" style="width:50%;">
  {{ partial "footer.html" . }}
