{{ partial "head/header.html" . }}

{{ partial "navigation.html" . }}

<style>

.form {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 5px;
}

</style>

<div class="free-trial-grid space-3-top space-5-bottom">
    <div>
        <h1 class="mb-3 hero-title">
        Become a Budibase<br/>Partner
        </h1>
        <p class="lead-lg">Join our growing ecosystem of developers and agencies. As a Budibase partner, you'll connect with clients who need your expertise to build their workflows in Budibase.
        </p>
    <ul class="list-grid mt-4">
        <li class="list-card">
            <div class="list-card-inner">
              <div data-area="icon" class="list-card-icon" > 
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#000000" viewBox="0 0 256 256"><path d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z"></path></svg>
              </div>
                <span data-area="name" class="list-card-name">Insider Track</span>
                <span data-area="description"class="list-card-description">Get priority access to new platform features and exclusive resources.
              </span>
            </div>
          </li>
          <li class="list-card">
            <div class="list-card-inner">
              <div data-area="icon" class="list-card-icon" > 
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#000000" viewBox="0 0 256 256"><path d="M240,56v64a8,8,0,0,1-16,0V75.31l-82.34,82.35a8,8,0,0,1-11.32,0L96,123.31,29.66,189.66a8,8,0,0,1-11.32-11.32l72-72a8,8,0,0,1,11.32,0L136,140.69,212.69,64H168a8,8,0,0,1,0-16h64A8,8,0,0,1,240,56Z"></path></svg>  
              </div>
              <span data-area="name" class="list-card-name">Grow with us</span>
              <span data-area="description"class="list-card-description">Grow your business with co-marketing opportunities and revenue sharing.
            </span>
          </div>
        </li>
          <li class="list-card">
            <div class="list-card-inner">
              <div data-area="icon" class="list-card-icon" > 
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#000000" viewBox="0 0 256 256"><path d="M201.89,54.66A103.43,103.43,0,0,0,128.79,24H128A104,104,0,0,0,24,128v56a24,24,0,0,0,24,24H64a24,24,0,0,0,24-24V144a24,24,0,0,0-24-24H40.36A88.12,88.12,0,0,1,190.54,65.93,87.39,87.39,0,0,1,215.65,120H192a24,24,0,0,0-24,24v40a24,24,0,0,0,24,24h24a24,24,0,0,1-24,24H136a8,8,0,0,0,0,16h56a40,40,0,0,0,40-40V128A103.41,103.41,0,0,0,201.89,54.66ZM64,136a8,8,0,0,1,8,8v40a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V136Zm128,56a8,8,0,0,1-8-8V144a8,8,0,0,1,8-8h24v56Z"></path></svg>  
              </div>
              <span data-area="name" class="list-card-name">Priority Support</span>
              <span data-area="description"class="list-card-description">We treat you like one of our own, with access to our support and product team. </span>
            </div>
          </li>
      </ul>
      <p>Looking for support? <a href="https://docs.budibase.com" target="_blank" class="a-underline">Visit help & documentation</a></p>
    </div>

    <div class="bg-white px-5 mt-3">
   

      <div style="display:flex; align-items: center; flex-direction: column; gap: 20px" >

        <iframe title="Partners" width="800" height="600" frameborder="0" allow="clipboard-write;camera;geolocation;fullscreen" src="https://budimaster.budibase.app/embed/gtm/partners#/apply"> </iframe>

      </div>
   

          
    </div>
</div>

{{ partial "footer.html" . }}

