
{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<!--Header-->
<header class="main-header">
  {{ partial "social-media-header.html" . }}
</header>

<!--HeaderEnd-->



<!--What is SEO-->

<section id="hello" class="container section">
    <div class="row">
      <div class="col-md-6">
        <h2 id="hello_header" class="section__title">What is Social Media Marketing</h2>
        <p>Social media marketing provides you with the opportunity to get digitally social with your prospects and customers. I can guarantee your customers and prospects are already interacting with brands through social media, and if you're not speaking to your audience through platforms like Facebook, Twitter, Instagram and LinkedIn, you're missing out! Smart marketing on social media can bring huge success to your business, generating leads, creating devoted brand advocates and even closing sales. Belfast social media marketing is hot right now, and you can't miss out. </p>
      </div>
      <div class="col-md-6 personal-profile__avatar center">
        <img class="img-fluid rounded" src="img/social-media/what-is-social-media.jpg" alt="What is social media in Belfast">
      </div>
    </div>
</section>

<!--End of What is SEO-->

<!--Intro-->

<section id="hello" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="portfolio_header" class="section__title">Join The Social Party Of Opportunity_</h2>
      <p>The benefits of Social Media are plentiful, but this Belfast social media expert has picked 6 which will bring a smile to that beautiful face.
          </p><br>
    </div>
  </div>


<!--IntroEnd-->

    <div class="row post-cards">
  
   
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">1. Increased Traffic</h3>
            <p class="project-card__description small">Once we get you to the top of Google SERPs, we might need to hire a traffic marshall as your site is going to get busy!</p>
          </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">2. ROI</h3>
            <p class="project-card__description small">SEO provides trackable and quantifiable results. It's my job to make sure SEO is providing you with a healthy ROI.  </p>
          </div>
        </div>
      </div>
  
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
              <h3 class="post-cards_title">3. Cost Effectiveness</h3>
              <p class="project-card__description small">SEO is one of the most cost-effective tactics. SEO's inbound nature helps you save money as opposed to outbound strategies.</p>
          </div>
        </div>
    </div>

  </div>

  <div class="row post-cards">
  
   
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">4. Brand Awareness</h3>
            <p class="project-card__description small">When your website ranks well, you get more impressions. Users also associate trust with top ranking websites.</p>
          </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">5. Better User Experience</h3>
            <p class="project-card__description small">An important element of SEO is UX. This demands us to provide your users with a great experience. Which is great! </p>
          </div>
        </div>
      </div>
  
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
              <h3 class="post-cards_title">6. Optimisation</h3>
              <p class="project-card__description small">SEO-optimised websites load faster, are easy to read, and look amazing on all devices, including mobile, laptops and tablets. </p>
          </div>
        </div>
    </div>

  </div>
  
  </section>
  
  <!--IntroEnd-->
  <hr>
<!--Partners-->

<div class="background">
  <div class="container section">
  <div class="row">
    <div class="col-md-10">
      <h2 id="hello_header" class="section__title">Stat Attack_</h2>
      <p class="section__description">
        Businesses that have a strong keyword in the business name rank 1.5 spots higher than if there is no keyword in the name. (Source: Local SEO Guide, 2016)

      </p>
    </div>
  </div>
</div>
</div>

<section id="hello" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="portfolio_header" class="section__title">Services_</h2>
    </div>
  </div>
  <div class="row post-cards">
  
   
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">1. Local Belfast SEO</h3>
            <p class="project-card__description small">The perfect option if you have a physical location or customers in a specific area, targeting a local audience.</p>
          </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">2. International SEO</h3>
            <p class="project-card__description small">If you want to break into new territories and reach an international audience, International SEO is a cost-effective solution. </p>
          </div>
        </div>
      </div>
  
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
              <h3 class="post-cards_title">3. SEO Audit</h3>
              <p class="project-card__description small"> We'll get under the bonnet, analyse your competitors and find you SEO pathways to success. A great way to locate opportunities.

            </p>
          </div>
        </div>
    </div>

  </div>

  <div class="row post-cards">
  
   
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">4. Ecommerce SEO</h3>
            <p class="project-card__description small">If you sell your products online, I can optimise them to rank at the top of search engines, and even Amazon!

            </p>
          </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">5. Mobile SEO</h3>
            <p class="project-card__description small">Responsive display is a key SEO ranking factor. Is your company mobile-ready? If not, it will be! </p>
          </div>
        </div>
      </div>
  
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
              <h3 class="post-cards_title">6. New Website SEO Strategy</h3>
              <p class="project-card__description small">If you're investing in a new website it's important we define aN SEO strategy to help your website rank well and drive ROI. 

            </p>
          </div>
        </div>
    </div>

  </div>
  

  {{ partial "cta.html" . }}

  
</section>

<!--Success Stories-->
<div class="background">
<section id="projects" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="portfolio_header" class="section__title">Success Story_</h2>
    </div>
  </div>

  <div class="portfolio-cards">
    <div class="row project-card" data-toggle="modal" data-target="#portfolioModal" data-portfolio-tag="web-sites">
      <div class="col-md-6 col-lg-5 project-card__img">
        <img class="" src="img/homepage/testimonials/tm3.jpg" alt="">
      </div>
      <div class="col-md-6 col-lg-7 project-card__info">
        <h3 class="project-card__title">TM3</h3>
        <p class="project-card__description">Physio Software was the primary keyword. They were ranking 8th. I applied my SEO wizardry and BOOM. Number 1. Success.</p>

      </div>
    </div>
  </div>

</section>
</div>


{{ partial "allsystemsgrow.html" . }}

{{ partial "footer.html" . }}
