
{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<!--Header-->
<header class="main-header">
  {{ partial "social-media-header.html" . }}
</header>

<!--HeaderEnd-->



<!--What is SEO-->

<section id="hello" class="container section">
    <div class="row">
      <div class="col-md-6">
        <h2 id="hello_header" class="section__title">What is Social Media Marketing</h2>
        <p>Social media marketing provides you with the opportunity to get digitally social with your prospects and customers. I can guarantee your customers and prospects are already interacting with brands through social media, and if you're not speaking to your audience through platforms like Facebook, Twitter, Instagram and LinkedIn, you're missing out! Smart marketing on social media can bring huge success to your business, generating leads, creating devoted brand advocates and even closing sales. Belfast social media marketing is hot right now, and you can't miss out. </p>
      </div>
      <div class="col-md-6 personal-profile__avatar center">
        <img class="img-fluid rounded" src="img/social-media/what-is-social-media.jpg" alt="What is social media in Belfast">
      </div>
    </div>
</section>

<!--End of What is SEO-->

<!--Intro-->

<section id="hello" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="portfolio_header" class="section__title">Get Social_</h2>
      <p>The benefits of Social Media are plentiful, but this Belfast social media expert has picked 6 which will bring a smile to that beautiful face.
          </p><br>
    </div>
  </div>


<!--IntroEnd-->

    <div class="row post-cards">
  
   
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">1. Brand Recognition</h3>
            <p class="project-card__description small">Brand recognition is a global business objective. Social media is a key platform for get your brand in from of customers quickly and easily.</p>
          </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">2. Customer Engagement</h3>
            <p class="project-card__description small">Engaging with your customers on a regular basis is imperative. Customer churn can increase by 15% if you don't respond to customers on social media! (Gartner) </p>
          </div>
        </div>
      </div>
  
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
              <h3 class="post-cards_title">3. Website Traffic</h3>
              <p class="project-card__description small">Social media is a great platform for sharing your blog posts, promotions, or video content from your website. Who doesn't want more traffic to their website?</p>
          </div>
        </div>
    </div>

  </div>

  <div class="row post-cards">
  
   
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">4. Targeted Advertising</h3>
            <p class="project-card__description small">Social media sites like Facebook have a lot of data about its users - sneeky buggers. As a result, their advertising platforms allow for very indepth audience targeting.</p>
          </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">5. Social Sales</h3>
            <p class="project-card__description small">Sales teams are closing deals on social media by the minute. According to Hubspot, social media lead conversion rates are 13% higher than the average lead conversion rate.  </p>
          </div>
        </div>
      </div>
  
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
              <h3 class="post-cards_title">6. Recruitment</h3>
              <p class="project-card__description small">Have a personality on social media can increase job applicants. Everyone wants to work for the cool company - social media is a great platform to show-off your personality. </p>
          </div>
        </div>
    </div>

  </div>
  
  </section>
  
  <!--IntroEnd-->
  <hr>
<!--Partners-->

<div class="background">
  <div class="container section">
  <div class="row">
    <div class="col-md-10">
      <h2 id="hello_header" class="section__title">Stat Attack_</h2>
      <p class="section__description">
          71% of consumers who have had a good social media service experience with a brand are likely to recommend it to others. (Source: <a href="https://www.getambassador.com/blog/social-customer-service-infographicAmbassador">Ambassador</a>)
      </p>
    </div>
  </div>
</div>
</div>

<section id="hello" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="portfolio_header" class="section__title">Services_</h2>
    </div>
  </div>
  <div class="row post-cards">
  
   
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">1. Social Media Management</h3>
            <p class="project-card__description small">Not all businesses have the time/skill to utilise social media. Thankfully, I'm here to exploit social avenues to direct customers to your business. With this service I'll  monitor, post and engage with leads and customers. Sit back, relax and watch me/us succeed. </p>
          </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <h3 class="post-cards_title">2. Social Media Advertising</h3>
            <p class="project-card__description small">Social media advertising is a cost effective method for targeting ads towards your customers. Whether I utilise the 'unicorn strategy' or the 'michigan method', I've got the experience and skills to target and engage with your future customers. </p>
          </div>
        </div>
      </div>
  
    <div class="col-md-4">
        <div class="post-cards__card">
          <div class="post-cards__info">
              <h3 class="post-cards_title">3. Insight and Strategy</h3>
              <p class="project-card__description small">I will define you a data-backed strategy, that will bring your business success. The devil is in the detail with social media. I will analyse your data, your competitors and your customers to provide a detailed strategy for social success.</p>
          </div>
        </div>
    </div>
  </div>
</section>



{{ partial "allsystemsgrow.html" . }}

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}
