{{ partial "header.html" . }}
<div class="container-7 space-hero">
  <a href="/" title="Return to Budibase homepage"><img src="/img/logo/budibase-icon.svg" class="u-avatar mb-4"/></a>
  <h1 class="mb-2 h2">Contact Sales</h1>
  <p class="mb-4">Please complete the form below and we will respond as soon as possible. </p>

  <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      region: "eu1",
      portalId: "26121987",
      formId: "59b1f493-4794-4229-9b9f-316628174eb9",
      version: "V2_PRERELEASE"
    });
  </script>
    </div>

