{{ partial "header.html" . }}
<div class="bg-light1">
<div class="container-7 space-hero">
  <a href="/" title="Return to Budibase homepage"><img src="/img/logo/budibase-icon.svg" class="u-avatar mb-4"/></a>
  <h1 class="mb-2 h2">Contact Sales</h1>
  <p class="mb-4">Please complete the form below and we will respond as soon as possible. </p>

<form class="js-validate" form name="contact sales" method="POST" data-netlify="true" action="/thankyou">
        <div class="col-lg-6 mx-auto">
          <!-- Input -->
          <p class="mb-2 detail text-gray font-weight-medium">Name</p>
          <div class="col-sm-12 mb-4">
            <div class="js-form-message ">
              <div class="js-focus-state input-group form">
                <input class="form-control form__input" 
                       type="text" 
                       name="name" 
                       required
                       aria-label="Your name"
                       data-msg="Please enter your name."
                       data-error-class="u-has-error"
                       data-success-class="u-has-success">
              </div>
            </div>
          </div>
          <!-- End Input -->
      
          <!-- Input -->
          <p class="mb-2 detail text-gray font-weight-medium">Business email</p>
          <div class="col-sm-12 mb-4">
            <div class="js-form-message">
              <div class="js-focus-state input-group form">
                <input class="form-control form__input" type="email" name="email" required
                       aria-label="Your email address"
                       data-msg="Please enter a valid email address."
                       data-error-class="u-has-error"
                       data-success-class="u-has-success">
              </div>
            </div>
          </div>
          <!-- End Input -->
      
        <!-- Input -->
        <p class="mb-2 detail text-gray font-weight-medium">Company</p>
        <div class="col-sm-12 mb-4">
          <div class="js-form-message ">
            <div class="js-focus-state input-group form">
              <input class="form-control form__input" 
                     type="text" 
                     name="company" 
                     required
                     aria-label="Your company name"
                     data-msg="Please enter your company name."
                     data-error-class="u-has-error"
                     data-success-class="u-has-success">
            </div>
          </div>
        </div>
        <!-- End Input -->

            <!-- Input -->
            <p class="mb-2 detail text-gray font-weight-medium">Company size</p>
            <div class="col-sm-12 mb-6">
              <div class="js-form-message ">
                <div class="js-focus-state input-group form">
                  <select class="form-control custom-select" 
                          type="select" 
                          name="company size" 
                          required
                          aria-label="Your company size"
                          data-msg="Please enter your company size."
                          data-error-class="u-has-error"
                          data-success-class="u-has-success">
                          <option value="1 - 100">1 - 100 employees</option>
                          <option value="101 - 1000">101 - 1000 employees</option>
                          <option value="1001 - 10000">1001 - 10000 employees</option>
                          <option value="10000+">10000+ employees</option>

                    </select>
                </div>
              </div>
            </div>
          <!-- End Input -->
      
          <button type="submit" class="btn btn-cta btn-lg btn-wide mb-4">Submit form</button>
      </form>
    </div>
  </div>
