{{ partial "head/header.html" . }}
{{ partial "navigation.html" . }}

<div class="bg-base-3">
  <div class="hero-container">
    <div class="hero-content">
      <div class="flex flex-column pb-2">
        <p class="mb-3 text-crimson">PROFESSIONAL SERVICES</p>
        <h1 class="hero-title-lg mb-2">
            Deliver wow-worthy apps and solutions in a fraction of the time
        </h1>
        <p class="hero-description">Make clients happier with faster delivery, boosted productivity and custom tools that fit their unique processes.



        </p>
        <div class="mb-4 mt-3 gap-sm flex-row">
          <a href="/contact" target="_blank" rel="noopener">
            <button type="submit" class="btn btn-primary btn-lg sm-btn-block">Contact sales</button>
          </a>
        </div>
      </div>
    </div>
    <div class="hero-media">
      <div class="feature-image-lg">
        <img
          src="https://res.cloudinary.com/daog6scxm/image/upload/v1713448672/cms/solutions/professional%20services/pro-services.webp"
          class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<!-- What Section -->
<section class="space-2 bg-light-2">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="h1">Deliver custom solutions at scale in a fraction of the time.</h2>
    </div>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar bg-base-3 rounded mb-2 p-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 256 256"><path d="M248.67,114.66,160.48,58.5A15.91,15.91,0,0,0,136,71.84v37.3L56.48,58.5A15.91,15.91,0,0,0,32,71.84V184.16A15.92,15.92,0,0,0,56.48,197.5L136,146.86v37.3a15.92,15.92,0,0,0,24.48,13.34l88.19-56.16a15.8,15.8,0,0,0,0-26.68ZM48,183.94V72.07L135.82,128Zm104,0V72.07L239.82,128Z"></path></svg>
        </div>
        <h4 class="mb-2">Optimize workflows</h4>
        <p class="text-sm text-thin">
            Optimize workflows, eliminate admin tasks, and supercharge efficiency. Budibase is the fast and easy way to drastically cut operating costs.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar bg-base-3 rounded mb-2 p-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 256 256"><path d="M254.3,107.91,228.78,56.85a16,16,0,0,0-21.47-7.15L182.44,62.13,130.05,48.27a8.14,8.14,0,0,0-4.1,0L73.56,62.13,48.69,49.7a16,16,0,0,0-21.47,7.15L1.7,107.9a16,16,0,0,0,7.15,21.47l27,13.51,55.49,39.63a8.06,8.06,0,0,0,2.71,1.25l64,16a8,8,0,0,0,7.6-2.1l55.07-55.08,26.42-13.21a16,16,0,0,0,7.15-21.46Zm-54.89,33.37L165,113.72a8,8,0,0,0-10.68.61C136.51,132.27,116.66,130,104,122L147.24,80h31.81l27.21,54.41ZM41.53,64,62,74.22,36.43,125.27,16,115.06Zm116,119.13L99.42,168.61l-49.2-35.14,28-56L128,64.28l9.8,2.59-45,43.68-.08.09a16,16,0,0,0,2.72,24.81c20.56,13.13,45.37,11,64.91-5L188,152.66Zm62-57.87-25.52-51L214.47,64,240,115.06Zm-87.75,92.67a8,8,0,0,1-7.75,6.06,8.13,8.13,0,0,1-1.95-.24L80.41,213.33a7.89,7.89,0,0,1-2.71-1.25L51.35,193.26a8,8,0,0,1,9.3-13l25.11,17.94L126,208.24A8,8,0,0,1,131.82,217.94Z"></path></svg>
        </div>
        <h4 class="mb-2">Improve relationships</h4>
        <p class="text-sm text-thin">
            Build client relationships using Budibase. Collect, store, and manage user data without the need for custom code.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar bg-base-3 rounded mb-2 p-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 256 256"><path d="M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,16V96H40V56ZM40,112H96v88H40Zm176,88H112V112H216v88Z"></path></svg>
        </div>
        <h4 class="mb-2">Intuitive client-facing apps
        </h4>
        <p class="text-sm text-thin">
            Use Budibase to automate client communications and administration. Create intuitive client-facing apps in minutes.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar bg-base-3 rounded mb-2 p-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 256 256">
                <path
                  d="M223.68,66.15,135.68,18h0a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32h0l80.34,44L128,120,47.66,76ZM40,90l80,43.78v85.79L40,175.82Zm96,129.57V133.82L216,90v85.78Z">
                </path>
              </svg>

        </div>
        <h4 class="mb-2">Centralize resources</h4>
        <p class="text-sm text-thin">
            Choose Budibase for secure file sharing, communications, status reports, and more. Collaborate anywhere, anytime.
        </p>
      </div>
    </div>
  </div>
</section>
</div>


{{ partial "solutions/benefits.html" . }}

<section class="text-center space-2 bg-crimson">
  {{ partial "logo-reel-dark.html" }}
</section>
<section class="text-center">
  {{ partial "forms/security.html" }}
</section>
{{ partial "solutions/support.html" . }}


<section class="space-2 bg-dark">
  <div class="enterprise-testimonial container">
    <img src="/customers/schnellecke/images/cover.jpeg" class="img-fluid p-4 bg-crimson" />
    <div class="text-left">
      <p class="lead text-white">
        “Centralization of authentication, quick turnaround time for requests, integration with different database
        systems has given it the edge and it’s now used daily for internal development for those apps that you know you
        need but don’t feel value in losing days of development to reinvent the wheel.
      </p>
      <p class="mt-2 text-xs mb- text-white">Davide Lenzarini, <br>IT manager at Schnellecke</p>
      <a href="/customers/schnellecke">
        <button class="mt-3 btn btn-secondary">
          View case study
        </button>
      </a>
    </div>
  </div>
</section>
<section class="space-2 ">
  {{ partial "stats.html" . }}
</section>
<div class="article space-2 bg-base-3">
  <div class="container-9">
    <h2>FAQs</h2>
    <div class="faq space-1-top space-3-bottom ">
      {{ .Content }}
    </div>
  </div>
</div>

{{ partial "cta.html" . }}
{{ partial "footer.html" . }}