{{ partial "header.html" . }} {{ partial "navigation.html" . }}


<!-- Hero Section -->
<div class="space-2">
  <div class="container mb-9">
    <div class="w-lg-60 mx-auto text-center">
      <h1 class="mb-3 mb-4">
        Low-Code for Professional Services Automation
      </h1>
      <p class="mx-auto lead mb-8 text-center"> Budibase is the smart choice for low-code professional services automation. Our open-source platform is the fast and cost-effective way to digitize admin processes. Cut operating costs and supercharge profitability with our innovative low-code technology. Build everything from client portals, to document management tools and employee timesheets. With Budibase, you can create custom professional services software, in minutes.</p>
    </div>
    <div class="template-hero-images no-scrollbar mb-6 ">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/admin-panels/order-status-admin-panel.webp" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/img/industries/professional-services.jpg" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/portals/portal-employee.webp" />
    </div>
  </div>
  <div class="container mx-auto w-lg-60  space-2 flex-row">
    <p class="lead text-dark text-center">
        "Those same apps, with Budibase, are now here in less than an hour. Colleagues were stunned by the data import functionality, seeing a spreadsheet turn into a web app in minutes was the cherry on top."
    </p>
    <div class="mx-auto text-center">
        <p class="text-xs mt-4"><i>Davide Lenzarini, IT manager</i></p>
        <img src="/img/customers/schnellecke-logistics.png" class="img-fluid rounded w-lg-25 mb-2" />
        <a href="/customers/schnellecke/" class="a-alt"><p class="text-xs">Read more</p></a>

    </div>
</div>
</div>

<!-- What Section -->
<div class="space-2 bg-light-2">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-4 text-center">Digital transformation in the professional services industry      </h2>
    </div>
    <p class="w-lg-60 text-center mx-auto lead text-thin">For service-based businesses, efficiency is everything. Creating cost-effective internal processes is the difference between success and failure. These days, automation is critical.
    </p>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
          </svg>
        </div>
        <h4 class="mb-2">Optimize workflows</h4>
        <p class="text-sm text-thin">
          Optimize workflows, eliminate admin tasks, and supercharge efficiency. Budibase is the fast and easy way to drastically cut operating costs.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <h4 class="mb-2">Improve relationships</h4>
        <p class="text-sm text-thin">
          Build client relationships using Budibase. Collect, store, and manage user data without the need for custom code.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
          </svg>
        </div>
        <h4 class="mb-2">Intuitive client-facing apps
        </h4>
        <p class="text-sm text-thin">
          Use Budibase to automate client communications and administration. Create intuitive client-facing apps in minutes.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
          </svg>
        </div>
        <h4 class="mb-2">Centralize resources
        </h4>
        <p class="text-sm text-thin">
          Choose Budibase for secure file sharing, communications, status reports, and more. Collaborate anywhere, anytime.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container space-2">
  <div class="hero-container">
    <div>
      <h2 class="mb-3">Introducing Budibase, an open-source low-code platform</h2>
      <p class="lead">At Budibase, we’re revolutionizing the way businesses manage workflows. With our intuitive <a href="https://budibase.com/product">low-code platform</a>, you can create fully functional and deployable custom tools, in as little as five minutes.
      </p>
    </div>
    <div class="hero-image rounded">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/homepage-meta.png" />
    </div>
  </div>
  <div class="mt-8 container-benefit">
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
        </svg>
      </div>
      <h4 class="mb-2">Total customization</h4>
      <p class="text-sm text-thin">
        Build fully custom, automation software, with minimal code.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
        </svg>
      </div>
      <h4 class="mb-2">Mobile-friendly apps</h4>
      <p class="text-sm text-thin">
        Budibase tools work perfectly on any device.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
        </svg>
      </div>
      <h4 class="mb-2">Self-hosting
      </h4>
      <p class="text-sm text-thin">
        Choose self-hosting or our Budibase Cloud platform.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
        </svg>
      </div>
      <h4 class="mb-2">Public & private screens</h4>
      <p class="text-sm text-thin">
        Grant access to users, based on seniority, job title, location, and more.
      </p>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Custom role-based access control</h2>
        <p class="lead-sm">Budibase offers customizable role-based access control. Grant different permission tiers to users, based on their seniority, job role, department, location, and more. Take control of exactly who can access different screens, data, and functions. With Budibase, it’s easy to create fully customized RBAC to match your specific needs. Budibase offers unrivaled security. We offer free SSO, optional self-hosting, custom RBAC, and support for a range of authentication standards. Organizations around the world choose Budibase tools to keep their data safe. We empower our users to implement the exact right security standards for their business needs. We also offer enterprise support packages and SLAs. Check out our pricing page for more information.
          </p>
      </div>
      <div class="hero-image bg-indigo-200 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/rbac.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Hosting and deployment</h2>
        <p class="lead-sm">Choose self-hosting or our Budibase Cloud platform. With Budibase, you have complete control over how you deploy your professional services automation software. Deploy to your own infrastructure, using Kubernetes, Docker, Docker Compose, Digital Ocean, and more.
          Budibase tools work perfectly as web applications, local software, internal tools, mobile apps, and more.          
        </p>
      </div>
      <div class="hero-image bg-blue-100 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/self-host.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Custom automations
        </h2>
        <p class="lead-sm">Build powerful custom automations with Budibase. We provide a library of built-in automations, that are triggerable by any in-app action. We also offer a proprietary JavaScript editor, <a href="https://budibase.com/integration">third-party integrations</a>, and formula variables, for creating powerful custom functionality. Automate key admin tasks, approval processes, communications, and more, without the need for custom code.
          </p>
      </div>
      <div class="hero-image bg-red-200 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/automation.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="hero-container">
      <div>
        <h2 class="mb-3">Centralize resources + external data support</h2>
        <p class="lead-sm">Use Budibase to centralize data, resources, and admin tasks. Say goodbye to relying on spreadsheets, email chains, or unrecorded information for project management. Budibase makes it easy to create knowledge bases, CRMs, libraries, and paper trails. Used centralized tools to streamline workflows and maximize usability.
           Connect your Budibase tools to existing databases. We support external datasets, using MySQL, MSSQL, Postgresql, Airtable, Oracle, Couch DB, MongoDB, RestAPI, and more. We also provide our own built-in database with direct CSV uploads. Call, query, and manipulate a range of external data sources, using our intuitive low-code interfaces.</p>
      </div>
      <div class="hero-image bg-green-200 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/external-data.webp" />
      </div>
    </div>
  </div>
</div>

{{ partial "integrations-templates.html" . }}

<!-- Create Section -->
<div class="space-2 bg-light-2">
  <div class="container-narrow">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-8">Automate workflows in 4 steps</h2>
    </div>
    <div class="benefits-new-container w-lg-80">
      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/external-data-sources.webp" target="_blank">
            <img src="/img/ui/data-sm.webp" class="img-fluid rounded-sm" alt="Data" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Connect your data</h4>
          <p class="text-sm">
            Build your app around existing data sources or our built-in BudibaseDB.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/design.webp" target="_blank">
            <img src="/img/hero-gallery/portal.webp" class="img-fluid rounded-sm" alt="design" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Design your app</h4>
          <p class="text-sm">
            Use our built-in themes and simple design tools to create professional app screens.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/automate.webp" target="_blank"><img src="/img/ui/automate-sm.webp"
              class="img-fluid rounded-sm" alt="automate" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Create automations</h4>
          <p class="text-sm">
            Set your automation rules, in just a few clicks.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/ui/design-wide.webp" target="_blank">
            <img src="/img/ui/admin-sm.webp" class="img-fluid rounded-sm" alt="apps-list" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Deploy and scale</h4>
          <p class="text-sm">
            Self-host or use our Budibase Cloud platform to deploy your tools.
          </div>
      </div>
    </div>
  </div>
</div>


<div class="space-2" id="features">
  <div class="container text-center">
    <h2 class="mb-3">Feature-rich, low-code platform</h2>
    <p class="mb-6 w-lg-50 mx-auto text-center">Budibase is the fast and easy way to build deployable tools with totally custom functionality. Build incredible professional services automation software, in as little as five minutes.
    </p>
    <div class="solutions-features">
      <div class="solutions-features-card rounded-xs">
        <h4>Multi-screen apps</h4>
        <p class="text-xs text-thin">Build navigable, multi-screen custom apps, in minutes.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>RBAC</h4>
        <p class="text-xs text-thin">Give different users access to the exact data and features they need.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Conditionality</h4>
        <p class="text-xs text-thin">Create powerful conditional UIs, in seconds.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Low-code design tools</h4>
        <p class="text-xs text-thin">Our platform offers a range of intuitive, low-code design tools.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Accessible components</h4>
        <p class="text-xs text-thin">Budibase app components are fully tested for key accessibility standards.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Responsive apps</h4>
        <p class="text-xs text-thin">Budibase tools work seamlessly on desktop, mobile, or tablet devices.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Automated workflows</h4>
        <p class="text-xs text-thin">Automate professional services workflows, for maximum efficiency.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Free SSO</h4>
        <p class="text-xs text-thin">Enjoy single sign-on across all of your Budibase tools.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="space-2-top space-3-bottom">
  <div class="container text-center">
    <h2 class="mb-3">Deploy your apps</h2>
    <p class="mx-auto w-lg-50 text-center">Deploy your appsvia Kubernetes,
      Docker, Digital Ocean. Or choose the Budibase Cloud and let Budibase manage everything for you.
    </p>
    {{ partial "deploy-options.html" . }}
  </div>
</div>
</div>

<div class="bg-light-2">
  <div class="container space-2 mx-auto">
    <h2 class="mb-3 mb-4 text-center">
      Professional services software templates
    </h1>
      <div class=" w-lg-60 mx-auto">
        <p class="mx-auto lead-sm mb-6 text-center">We’ve built a range of free, ready-to-use templates for professional services automation. Use our pre-built tools as deployable solutions, or tweak and customize them to match your specific workflows.
        </p>
      </div>
      <div class="container-narrow space-2-bottom">
        <div class="templates-cards">
          {{ range where .Pages "Section" "!=" "templates" }}
          {{ range first 3 .Pages }}
          <a href="{{.Permalink}}">
            <div class="templates-card rounded-sm">
              <div class="template-thumbnail pt-4 pl-4  mb-4 img-fluid bg-{{ .Params.thumbnailColor }}">
                <img class="template-card-img img-fluid" src="{{ .Params.thumbnail }}" />
              </div>
              <h2 class="h4 mb-3">{{ .Params.label }}</h2>
              <p class="mb-3">{{ .Summary }} </p>
              <p class="text-blue text-sm templates-card-link">Get this template</p>
            </div>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="my-3 text-center">
        <a href="/{{ .Section }}/templates" class="btn btn-cta btn-lg"> Browse all {{ .Section | singularize | humanize
          | lower }} templates</a>
      </div>
  </div>
</div>


<div class="article space-2 ">
  <div class="container-9">
    <h2>FAQs</h2>
    <p>Budibase is the easy way to use low-code for professional services automation. Here’s everything you need to know to get started with our open-source, low-code platform.
    </p>
    <div class="faq space-1-top space-3-bottom ">
    {{ .Content }}
    </div>
  </div>
</div>

{{ partial "cta.html" . }}
<hr style="width: 30%" />
{{ partial "footer.html" . }}
</div>