{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<div class="space-2 container">
      <h1 class="mb-3 mb-4 text-center">
        Free Budibase templates
      </h1>
    <div class=" w-lg-60 mx-auto">
      <p class="mx-auto display-lead-sm mb-4 text-center"> Explore a growing list of beautiful free Budibase templates. With Budibase's intuitive low-code platform, you can customize your design in just a few clicks.
    </p>
    </div>
</div>

<div class="container space-2-bottom">
    <div class="templates-cards">
        <a href="/internal-tools/templates/applicant-tracking-system">
            <div class="templates-card rounded-sm">
                <img class="template-card-img img-fluid mb-4" src="/img/hero-gallery/portal.webp" />
                    <h2 class="h4 mb-3">Applicant tracking system</h2>
                    <p class="mb-3">Advertise jobs, receive applications, and track candidates. </p>
                    <p class="text-blue text-sm templates-card-link">Get this template</p>
            </div>
        </a>
        <a href="">
            <div class="templates-card rounded-sm">
                <img class="template-card-img img-fluid mb-4" src="/img/hero-gallery/form.webp" />
                    <h2 class="h4 mb-3">Lead generation app</h2>
                    <p class="mb-3">Capture leads with a public multi-step form, and analyse results with a private dashboard. </p>
                    <p class="text-blue text-sm templates-card-link">Get this template</p>
            </div>
        </a>
        <a href="">
            <div class="templates-card rounded-sm">
                <img class="template-card-img img-fluid mb-4" src="/img/hero-gallery/admin-panel.webp" />
                    <h2 class="h4 mb-3">Internal ticketing system</h2>
                    <p class="mb-3">Receive and manage internal support tickets from coworkers.</p>
                    <p class="text-blue text-sm templates-card-link">Get this template</p>
            </div>
        </a>
        <a href="/internal-tools/templates/hashicorp-scorecard">
            <div class="templates-card rounded-sm">
                <img class="template-card-img img-fluid mb-4" src="/internal-tools/templates/hashicorp-scorecard/images/thumbnail.jpg" />
                    <h2 class="h4 mb-3">Hashicorp scorecard app</h2>
                    <p class="mb-3">The Hashicorp alternative to OKRs - a great application for managing goals. </p>
                    <p class="text-blue text-sm templates-card-link">Get this template</p>
            </div>
        </a>
    </div>
</div>




{{ partial "cta.html" . }} {{ partial "footer.html" . }}
</div>
</div>