{{ partial "header.html" . }}

{{ partial "navigation-test.html" . }}


<div class="space-2">
  <div class="container">
    <div class="w-lg-50 mx-auto">
      <h1 class="mb-3 text-center mb-4">
        Explore integrations
      </h1>
    </div>
    <div class="w-lg-60 mx-auto">
      <p class="w-lg-80 mx-auto mb-4 text-center"> Connect to almost anything with a REST API, or use one of our native integrations to extend and automate your workflows.
      </p>
    </div>
  </div>
</div>
<div class="container-narrow">
  <h2 class="mt-4 h3">Database</h2>
  <div class="integration-card-container mt-4 space-2-bottom">
    {{ range .Data.Pages.ByTitle }}
    {{ if in .Params.categories "data" }}
    <a href="{{ .Permalink}}" class="integrations-card">
      {{ with .Resources.Match "*/logo*" }}
      {{ range . }}
      <img class="u-avatar mb-3" src="{{ .RelPermalink }}" />
      {{ end }}
      {{ end }}
      <div>
        <h5 class="mb-2">{{ .Params.page_title }}</h5>
        <p class="integration-des">{{ .Description }}</p>
      </div>
    </a>
    {{ end }}
    {{ end }}
  </div>
</div>

<div class="mt-6">
  <div class="container-narrow">
    <h2 class="mt-4 h3">APIs</h2>
    <div class="integration-card-container mt-4 space-2-bottom">
      {{ range .Data.Pages.ByTitle }}
      {{ if in .Params.categories "api" }}
      <a href="{{ .Permalink}}" class="integrations-card">
        {{ with .Resources.Match "*/logo*" }}
        {{ range . }}
        <img class="u-avatar mb-3" src="{{ .RelPermalink }}" />
        {{ end }}
        {{ end }} <div>
          <h5 class="mb-2">{{ .Params.page_title }}</h5>
          <p class="integration-des">{{ .Description }}</p>
        </div>
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>

<div class="mt-6">
  <div class="container-narrow">
    <h2 class="mt-4 h3">SSO</h2>
    <div class="integration-card-container mt-4 space-2-bottom">
      {{ range .Data.Pages.ByTitle }}
      {{ if in .Params.categories "admin" }}
      <a href="{{ .Permalink}}" class="integrations-card">
        {{ with .Resources.Match "*/logo*" }}
        {{ range . }}
        <img class="u-avatar mb-3" src="{{ .RelPermalink }}" />
        {{ end }}
        {{ end }} <div>
          <h5 class="mb-2">{{ .Params.page_title }}</h5>
          <p class="integration-des">{{ .Description }}</p>
        </div>
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>

<div class="mt-6 mb-6">
  <div class="container-narrow">
    <h2 class="mt-4 h3">Infrastructure</h2>
    <div class="integration-card-container mt-4 space-2-bottom">
      {{ range .Data.Pages.ByTitle }}
      {{ if in .Params.categories "deploy" }}
      <a href="{{ .Permalink}}" class="integrations-card">
        {{ with .Resources.Match "*/logo*" }}
        {{ range . }}
        <img class="u-avatar mb-3" src="{{ .RelPermalink }}" />
        {{ end }}
        {{ end }} <div>
          <h5 class="mb-2">{{ .Params.page_title }}</h5>
          <p class="integration-des">{{ .Description }}</p>
        </div>
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>

{{ partial "cta.html" . }} {{ partial "footer.html" . }}
