{{ partial "header.html" . }}

{{ partial "navigation.html" . }}



<main id="content" role="main">
  <div class="space-1-top space-2-bottom ">
    <div class="container integration">
      <a href="/integration" class="mb-8 a-alt small">← All integrations</a>

      <div class=" integration-header mx-md-auto">
        <div class="integration-left-panel">
        {{ with .Resources.Match "*/logo*" }}
          {{ range . }}
          <img class="u-xl-avatar mb-4" src="{{ .RelPermalink }}" />
          {{ end }}          
        {{ end }}
        <h5>Details</h5>        
      <div class="integration-nav-item mt-3">
        <p class="integration-nav-item-font ">Published By</p>
        <p class="integration-nav-item-font text-grey">{{.Params.published_by}}</p>
    </div>
    <div class="integration-nav-item mt-3">
      <p class="integration-nav-item-font ">Status</p>
      <p class="integration-nav-item-font text-grey">{{.Params.status}}</p>
  </div>
  <div class="integration-nav-item mt-3">
    <p class="integration-nav-item-font">Website</p>
    <a href="{{.Params.site_url}}" target="_blank"> <div class="integration-nav-item-font text-grey">{{.Params.page_title}}</div></a>
  </div>
  <div class="integration-nav-item mt-3">
    <p class="integration-nav-item-font">Docs</p>
    <a href="{{.Params.docs_url}}" target="_blank"> <div class="integration-nav-item-font text-grey">Visit Docs</div></a>
  </div>

  <div class="mt-3">
  <a href="https://docs.budibase.com/" target="_blank" rel="noopener"><button type="submit" class="btn btn-block btn-primary small">Get Started</button></a>
</div>

  </div>
      <div class="integration-title">
        <h1 class="h2">{{ .Params.page_title }} integration</h1>
        <div class="space-1-top">
          <div class="mb-6">{{ .Content }}</div>
          {{ with .Resources.Match "*/screenshot*" }}
            {{ range . }}
              <img src="{{ .RelPermalink }}" class="mb-8 img-fluid shadow">
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>


</main>

<!--Article-->

{{ partial "cta.html" . }} {{ partial "footer.html" . }}
