{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<div class="bg-light">
<div class="space-2 hero-container container-narrow">
  <div>
      <h1 class="mb-3 mb-4">
        Components
      </h1>
      <p class="mx-auto display-lead-sm opacity-75 mb-4"> Sprinkle a little magic on your apps and build beautiful experiences you're proud of with Budibase's powerful, accessible, and customizable components.
      </p>
      {{ partial "button-block.html" . }}
    </div>
    <div class="video-mask rounded">
      <img src="/banner-gradient.jpg" class="image-fluid" />
    </div>
</div>
</div>
<div class="py-6">
<div class="container-narrow space-2-bottom">
  <h3 class="mb-4 detail-lg opacity-75">Data display components</h3>
    <div class="components-cards">
      <a href="https://docs.budibase.com/docs/blocks" target="_blank">
        <div class="templates-card rounded-sm border">
            <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
              <img class="img-fluid thumbnail-image"  src="/img/components/tablefilter.png"/> </div> 
              <div class="flex-row align-center mb-3 pl-3">
                <div class="tag mr-2">Block</div>
                <p class="lead ">Table + Filter </p>
              </div>
        </div>
      </a>
      <a href="https://docs.budibase.com/docs/blocks" target="_blank">
        <div class="templates-card rounded-sm border">
            <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
              <img class="img-fluid thumbnail-image"  src="/img/components/cardfilter.png"/> </div> 
              <div class="flex-row align-center mb-3 pl-3">
                <div class="tag mr-2">Block</div>
                <p class="lead ">Card + Filter </p>
              </div>
        </div>
      </a>
      <a href="https://docs.budibase.com/docs/table" target="_blank">
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/table.png"/> </div> 
                  <p class="lead mb-3 pl-3">Table</p>
          </div>
        </a>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/map.png"/> </div> 
                <div class="flex-row align-center mb-3 pl-3">
                  <div class="tag-gray mr-2">Coming soon</div>
                  <p class="lead ">Map </p>
                </div>
          </div>
        <a href="https://docs.budibase.com/docs/card" target="_blank">
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/card.png"/> </div> 
                <p class="lead mb-3 pl-3">Card</p>
          </div>
        </a>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/stat.png"/> </div> 
                <p class="lead mb-3 pl-3">Stat card</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/bar.png"/> </div> 
                  <p class="lead mb-3 pl-3">Bar chart</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/Line.png"/> </div> 
                  <p class="lead mb-3 pl-3">Line chart</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/area.png"/> </div> 
                  <p class="lead mb-3 pl-3">Area chart</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/donut.png"/> </div> 
                  <p class="lead mb-3 pl-3">Pie / Donut chart</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail py-2 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/candlestick.svg"/> </div> 
                  <p class="lead mb-3 pl-3">Candelstick chart</p>
          </div>
      </div>
    </div>

    <div class="py-6">
      <div class="container-narrow space-2-bottom">
        <h3 class="mb-4  detail-lg opacity-75">Form components</h3>
          <div class="components-cards">
            <a href="https://docs.budibase.com/docs/forms" target="_blank">
              <div class="templates-card rounded-sm border">
                  <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                    <img class="img-fluid thumbnail-image"  src="/img/components/form.png"/> </div> 
                      <p class="lead mb-3 pl-3">Form</p>
              </div>
            </a>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/form-step.png"/> </div> 
                  <p class="lead mb-3 pl-3">Form stepper</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/text-field.png"/> </div> 
                  <p class="lead mb-3 pl-3">Text field</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/Picker.png"/> </div> 
                  <p class="lead mb-3 pl-3">Options picker</p>

          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/Multi-select.png"/> </div> 
                  <p class="lead mb-3 pl-3">Multi-select picker</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/number.png"/> </div> 
                  <p class="lead mb-3 pl-3">Number field</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/password.png"/> </div> 
                  <p class="lead mb-3 pl-3">Password field</p>

          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/Checkbox.png"/> </div> 
                  <p class="lead mb-3 pl-3">Checkbox</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/radio.png"/> </div> 
                  <p class="lead mb-3 pl-3">Radio button</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/text-area.png"/> </div> 
                  <p class="lead mb-3 pl-3">Text area</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/date.png"/> </div> 
                  <p class="lead mb-3 pl-3">Date picker</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/attachment.png"/> </div> 
                  <p class="lead mb-3 pl-3">Attachment</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/daterange.png"/> </div> 
                  <p class="lead mb-3 pl-3">Date range</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/json.png"/> </div> 
                  <p class="lead mb-3 pl-3">JSON field</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/s3minio.png"/> </div> 
                  <p class="lead mb-3 pl-3">S3 file upload</p>
          </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/text-editor.png"/> </div> 
                <div class="flex-row align-center mb-3 pl-3">
                  <div class="tag-green mr-2">New</div>
                  <p class="lead ">Text editor </p>
                </div>
          </div>
      </div>
    </div>

    <div class="py-6">
      <div class="container-narrow space-2-bottom">
        <h3 class="mb-4 detail-lg opacity-75">Basic components</h3>
          <div class="components-cards">

              <div class="templates-card rounded-sm border">
                  <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                    <img class="img-fluid thumbnail-image"  src="/img/components/Button.png"/> </div> 
                    <p class="lead mb-3 pl-3">Button</p>
                  </div>
              <div class="templates-card rounded-sm border">
                  <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                    <img class="img-fluid thumbnail-image"  src="/img/components/heading.png"/> </div> 
                    <p class="lead mb-3 pl-3">Header</p>
              </div>
              <div class="templates-card rounded-sm border">
                  <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                    <img class="img-fluid thumbnail-image"  src="/img/components/paragraph.png"/> </div> 
                    <p class="lead mb-3 pl-3">Paragraph</p>
              </div>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/tag.png"/> </div> 
                <p class="lead mb-3 pl-3">Tag</p>
          </div>
          <a href="https://docs.budibase.com/docs/forms" target="_blank">
            <div class="templates-card rounded-sm border">
                <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                  <img class="img-fluid thumbnail-image"  src="/img/components/Divider.png"/> </div> 
                    <p class="lead mb-3 pl-3">Divider</p>
            </div>
          </a>
        <a href="https://docs.budibase.com/docs/image" target="_blank">
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/banner-gradient.jpg"/> </div> 
                  <p class="lead mb-3 pl-3">Image</p>
          </div>
        </a>
        <a href="https://docs.budibase.com/docs/icon" target="_blank">
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/icon.png"/> </div> 
                  <p class="lead mb-3 pl-3">Icon</p>
          </div>
        </a>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/Link.png"/> </div> 
                  <p class="lead mb-3 pl-3">Link</p>
          </div>
        <a href="https://docs.budibase.com/docs/embed" target="_blank" >
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/embed.png"/> </div> 
                  <p class="lead mb-3 pl-3">Embed</p>
          </div>
        </a>
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/mardown.png"/> </div> 
                  <p class="lead mb-3 pl-3">Markdown viewer</p>
          </div>
        <a href="https://docs.budibase.com/docs/dynamic-filter" target="_blank" >
          <div class="templates-card rounded-sm border">
              <div class="template-thumbnail pt-4 px-3 mb-3 img-fluid bg-alt">
                <img class="img-fluid thumbnail-image"  src="/img/components/dynamicfilter.png"/> </div> 
                <div class="flex-row align-center mb-3 pl-3">
                  <div class="tag-green mr-2">New</div>
                  <p class="lead ">Dyanmic filter</p>
                </div>
          </div>
        </a>

        </div> 
    </div>
</div>




{{ partial "cta.html" . }} {{ partial "footer.html" . }}
</div>
</div>