{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
{{ partial "circle-cta.html" . }}


<div class="container space-3-top">
    <div class="mb-4">
        <h1 class="mb-4 w-60">Automate your problems and processes away</h1>
        <p class="lead mb-4">Budibase is not just about developing web apps, it's also about solving your problems. Budibase's automation functionality allows you to automate tasks and processes so you can focus on your most important work.</p>
    </div>
    <div class="product-hero-image bg-purple">
        <img class="img-fluid col-lg-12 border-black" src="/img/img/automate-ui.webp" alt="SaaS hosting">
    </div>
</div>

<div class="space-2"></div>
  {{ partial "automate-benefits.html" . }}  
  <hr class="mv-12 container">
  {{ partial "automate-toolbox.html" . }}
  <div class="space-2"></div>
  {{ partial "cta-dark.html" . }}
  <hr class="mv-12 container">
  {{ partial "footer.html" . }}
