<a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section" target="_blank"  rel="noopener">
    <button type="submit" class="btn btn-cta sm-btn-block btn-lg mr-1 mb-2 mb-sm-0 mr-sm-2">Get started free -></button>
  </a>
  <a href="https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?response_type=code&redirect_uri=https%3A%2F%2Faccount.budibase.app%2Fapi%2Fauth%2Fsso%2Fgoogle%2Fcallback&scope=profile%20email&client_id=1060236014593-m5ta155i5cv27nalcqk18uj62voqg3eb.apps.googleusercontent.com&service=lso&o2v=2&flowName=GeneralOAuthFlow" target="_blank"   rel="noopener">
    <button type="submit" class="btn btn-outline btn-lg sm-btn-block"><img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_100/v1677588811/partner-logos/google_zqcmfw.webp" alt="Google icon" class="mr-2 u-xs-avatar"/>
      Sign-up with Google</button>
  </a>