<section id="contact-header" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="blog_header" class="section__title">Drop me a line_</h2>
    </div>
  </div>
          <div class="row">
              <div class="col-lg-8">
                  <!-- Contact form -->
                  <form id="form_contact" data-action="" class="form-default" role="form">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group has-feedback ">
                                  <label for="" class="text-uppercase c-gray-light">Your name</label>
                                  <input type="text" name="name" class="form-control form-control-lg" required>
                                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                  <div class="help-block with-errors"></div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group has-feedback">
                                  <label for="" class="text-uppercase c-gray-light">Email address</label>
                                  <input type="email" name="email" class="form-control form-control-lg" required>
                                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                  <div class="help-block with-errors"></div>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group has-feedback">
                                  <label for="" class="text-uppercase c-gray-light">Website</label>
                                  <input type="text" name="website" class="form-control form-control-lg" required>
                                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                  <div class="help-block with-errors"></div>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group has-feedback">
                                  <label for="Phone" class="text-uppercase c-gray-light">Phone</label>
                                  <input type="text" name="phone" class="form-control form-control-lg" required>
                                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                  <div class="help-block with-errors"></div>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group has-feedback">
                                  <label for=""  class="text-uppercase c-gray-light">Message</label>
                                  <textarea name="message" class="form-control no-resize" rows="5" required></textarea>
                                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                  <div class="help-block with-errors"></div>
                              </div>
                          </div>
                      </div>

                      <div class="">
                          <div class="g-recaptcha mt-3" data-sitekey="6Lfs5ScUAAAAANAJwGrdfvWLFRRiVbKRE2vfoaFj"></div>

                          <button type="reset" class="btn-reset d-none"></button>
                          <button type="submit" class="btn btn-styled btn-base-1 mt-4">Send message</button>
                      </div>
                  </form>
              </div>
              <div class="col-md-4 personal-profile__avatar center">
                <img class="img-fluid rounded" src="img/contact/belfast.jpg" alt="About-DigiJo">
              </div>
          </div>
</section>
