<div class=" text-center space-2 bg-indigo-dark  ">
    <h2 class="hero-title mb-6 mx-auto text-white w-lg-50 mx-auto">Join 100,000 teams building apps and <span class="coral">making work flow</span></h2>
    <div class="flex-row gap-sm justify-center">
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=body-section-cta"
            rel="noopener" target="_blank">
            <button type="submit" class="btn btn-cta btn-lg">
            Get started - it's free        
            </button>
        </a>
    </div>
</div>