<div class="bg-gradient-gray text-center space-3">
    <h2 class="h1 mb-6 w-lg-50 mx-auto">Join 75,000 teams building tools and transforming operations</h2>
    <div class="flex-row gap-md justify-center">
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=body-section-cta"
            rel="noopener" target="_blank">
            <button type="submit" class="btn btn-primary btn-lg">Get started for free --></button></a>
        <a href="https://account.budibase.app/api/auth/google" target="_blank" rel="noopener">
            <button type="submit" class="btn btn-secondary text-dark btn-lg bg-white">
                <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_100/v1677588811/partner-logos/google_zqcmfw.webp"
                    alt="Google icon" class="mr-2 u-xs-avatar" />
                Sign-up with Google
            </button>
        </a>
    </div>
</div>