
    <div class="row post-cards">  
      <div class="col-md-12">
          <div class="post-cards__card">
            <div class="post-cards__info">
              <h3 class="post-cards_title">Success Is Just Around The Corner</h3>
              <p class="project-card__description small">If you'd like to find out more about my services, simply click the button below and complete the form. You can also contact me via live chat below. Whatever works best for you. Even if it's just for advice, I'm happy to chat about marketing, always. Speak soon, succeed later!</p>
             <a class="btn btn-outline-dark" href="/contact" role="button">Find Out More</a> 
            </div>
          </div>
      </div>
    </div>
