<div class="border-y">
<section class="container space-2-top space-3-bottom">
    <div class="deploy-wrapper">
        <div class="deploy-content">
            <h2 class="mb-3">Hosting on your terms</h2>
            <p class="lead">
                With our open source platform, application data never has to leave your infrastructure. Deploy via
                Kubernetes, Docker, Digital Ocean. Or choose the Budibase Cloud and let Budibase manage everything for
                you.
            </p>
        </div>
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_400/v1663170785/1.%20Illustrations/04._Database_ajnovo.webp"
            alt="Budibase database illustration" class="deploy-image">
    </div>
    {{ partial "deploy-options.html" . }}
</section>
</div>