
<ul class="platform-card-grid mt-4 pb-4">
  <li class="platform-card">
      <a class="platform-card-inner" href="/integrations/infra/budibase">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/img/logo/budibase-icon.svg" />
      </div>
        <span data-area="name" class="platform-card-name">Budibase Cloud</span>
        <span data-area="description"class="platform-card-description">Host with Budibase and let us manage everything for you. Quick and easy.


        </span>
      </a>
    </li>

    <li class="platform-card">
      <a class="platform-card-inner" href="/integrations/infra/docker">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/integrations/infra/docker/images/logo.svg" />
      </div>
        <span data-area="name" class="platform-card-name">Docker</span>
        <span data-area="description"class="platform-card-description">Self-manage Budibase using Docker and Docker Compose.
      </span>
      </a>
    </li>
    <li class="platform-card">
      <a class="platform-card-inner" href="/integrations/infra/kubernetes">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/integrations/infra/kubernetes/images/logo.png" />
      </div>
        <span data-area="name" class="platform-card-name">Kubernetes</span>
        <span data-area="description"class="platform-card-description">Use the Budibase helm chart to deploy Budibase directly into your Kubernetes cluster.

        </span>
      </a>
    </li>
    <li class="platform-card">
      <a class="platform-card-inner" href="/integrations/infra/digitalocean">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/integrations/infra/digitalocean/images/logo.svg" />
      </div>
        <span data-area="name" class="platform-card-name">Digital Ocean</span>
        <span data-area="description"class="platform-card-description">The simplest way to self-host Budibase on your own infrastructure - 1 click install.
        </span>
      </a>
    </li></ul>