<div class="container space-1-top space-3-bottom text-center">
    <h2 class="mb-6 mx-auto w-lg-40 "> {{ .Section | humanize }} that perfectly integrate and improve operations</h2>
    <div class="mx-auto mb-4 flex-gap-lg">
        <img class="u-avatar" alt="Postgresql logo"  src="/integrations/database/postgresql/images/logo.png" > 
        <img class="u-avatar" alt="mysql logo" src="/integrations/database/mysql/images/logo.png" >
        <img class="u-avatar"  alt="MongoDB logo" src="/integrations/database/mongodb/images/logo.svg" >
        <img class="u-avatar" alt="rest api" src="/integrations/api/rest-api/images/logo.png" >
        <img class="u-avatar"  alt="mssql logo" src="/integrations/database/mssql/images/logo.png" >
        <img class="u-avatar" alt="Airtable logo" src="/integrations/database/airtable/images/logo.png" > 
    </div>
    <div class="mx-auto mb-4 flex-gap-lg">
        <img class="u-avatar" alt="Slack icon" src="/integrations/api/slack/images/logo.svg" >
        <img class="u-avatar" alt="Discord logo"  src="/integrations/api/discord/images/logo.svg" > 
        <img class="u-avatar" alt="zapier logo" src="/integrations/api/zapier/images/logo.png" >
        <img class="u-avatar"  alt="Integromat logo" src="/integrations/api/integromat/images/logo.png" >
    </div>
</div>