<div class="container-fw bg-{{ .Params.theme}} space-2 text-center">
    <h2 class="mb-4 mx-auto w-lg-40 ">Build the tools you need <br> with the tools you love</h2>
    <div class="mx-auto mb-4 flex-gap-lg">
        <img class="u-avatar" alt="Postgresql logo"  src="platform/integrations/postgresql/images/logo.png" > 
        <img class="u-avatar" alt="mysql logo" src="platform/integrations/mysql/images/logo.png" >
        <img class="u-avatar"  alt="MongoDB logo" src="platform/integrations/mongodb/images/logo.svg" >
        <img class="u-avatar" alt="rest api" src="platform/integrations/rest-api/images/logo.png" >
        <img class="u-avatar"  alt="mssql logo" src="platform/integrations/mssql/images/logo.png" >
        <img class="u-avatar" alt="Airtable logo" src="platform/integrations/airtable/images/logo.png" > 
    </div>
    <div class="mx-auto mb-4 flex-gap-lg">
        <img class="u-avatar" alt="Slack icon" src="platform/integrations/slack/images/logo.svg" >
        <img class="u-avatar" alt="Discord logo"  src="platform/integrations/discord/images/logo.svg" > 
        <img class="u-avatar" alt="zapier logo" src="platform/integrations/zapier/images/logo.png" >
        <img class="u-avatar"  alt="Integromat logo" src="platform/integrations/integromat/images/logo.png" >
        <img class="u-avatar" alt="Google icon" src="platform/integrations/google-auth/images/logo.png" >
    </div>
    <div class="mx-auto mb-4 flex-gap-lg">
        <img class="u-avatar" alt="Budibase icon" src="platform/integrations/docker/images/logo.svg" >
        <img class="u-avatar" alt="Budibase icon" src="platform/integrations/kubernetes/images/logo.png" >
        <img class="u-avatar" alt="Budibase icon" src="platform/integrations/digitalocean/images/logo.svg" >
    </div>
    <a href="platform/integrations" class="btn btn-secondary mx-auto text-center font-weight-medium">View all integrations</a>
</div>