<section class="mb-6">
  <p class="text-xxs font-weight-medium opacity-50">TRUSTED BY TEAMS AT</p>
  <div class="trusted-by-logos-grid-sm text-center mx-auto justify-center">
    <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1681224576/partner-logos/netflix-full_zrpbl5.webp" alt="netflix logo" id="netflix"  class="trusted-by-logo-dark-sm"/>
      <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_355/v1677583268/partner-logos/wetransfer_c4bizk.webp" alt="Wetransfer logo" id="wetransfer" class="trusted-by-logo-dark-sm" />
      <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1681224471/partner-logos/google-full_qcpcik.webp" alt="Google logo"  id="google" class="trusted-by-logo-dark-sm"/>
      <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1677583713/partner-logos/tesla_rp5bkz.svg" alt="Tesla icon"  id="tesla" class=" trusted-by-logo-dark-sm"/>
      <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_300/v1677583577/partner-logos/disney_rknzrc.webp" alt="Disney icon"  id="disney" class=" trusted-by-logo-dark-sm"/>
      <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1677583602/partner-logos/lv_uvaydb.svg" alt="louis-vuitton icon" id="lv" class=" trusted-by-logo-dark-sm"/>
  </div>
</section>