  <section>
    <p class="text-center lead text-white opacity-75">Trusted by over 75,000 teams</p>
    <div class="trusted-by-logos-grid text-center mx-auto justify-center">
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_355/v1677583268/partner-logos/wetransfer_c4bizk.webp" alt="Wetransfer logo" id="wetransfer" class="trusted-by-logo-white" />
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_200/v1677583577/partner-logos/netflix-full_zrpbl5.webp" alt="Netflix logo" id="netflix" class="trusted-by-logo-white"/>
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1677583602/partner-logos/lv_uvaydb.svg" alt="louis-vuitton icon" title="Louis Vuitton" id="lv" class="trusted-by-logo-white"/>
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_300/v1677583577/partner-logos/google-full_qcpcik.webp" alt="Google logo" id="google" class=" trusted-by-logo-white"/>
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1677583713/partner-logos/tesla_rp5bkz.svg" alt="Tesla icon" id="tesla" class=" trusted-by-logo-white"/>
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_300/v1677583577/partner-logos/disney_rknzrc.webp" alt="NFL icon" id="disney" class=" trusted-by-logo-white"/>
    </div>
  </section>