<div class="mobile-nav-menu">
<ul class="mobile-nav-links">
    <li class="nav-item u-header__nav-item ">
      <a class="btn btn-sm btn-outline font-weight-medium" href="/platform/features/data/">
        Platform
      </a>
    </li>
    <li class="nav-item u-header__nav-item">
        <a class="btn btn-sm btn-outline" href="/platform/integrations">
          Integrations
        </a>
      </li>
    <li class="nav-item u-header__nav-item">
      <a class="btn btn-sm btn-outline" href="/enterprise">
        Enterprise 
      </a>
    </li>
    <li class="nav-item u-header__nav-item">
      <a class="btn btn-sm btn-outline" href="/pricing">
        Pricing 
      </a>
    </li>
  </ul>
</div>