<!--<section class="container-fw promo-banner">
  <a class="a-alt-2 font-weight-semi-bold" target="_blank" rel="noopener"
    href="https://github.com/Budibase/budibase/stargazers">🎉 Introducing Budibase 2.0 →</a></p>
</section>
-->
<header id="headerDropdown" class="u-header sticky-top">
  <div class="nav u-header__section u-header--left-aligned-nav py-1">
    <div id="logoAndNav" class="container-12">
      <div class="js-scrollbar-header u-header--sticky__inner">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar">
          <!-- Logo -->
          <div class="u-header__navbar-brand-wrapper">
            <a class="navbar-brand u-header__navbar-brand logo" href="/" aria-label="Space">
              <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1631276453/logo/budibase-logo_sabjd9.svg"
                alt="Budibase logo" width="146" data-atf="1" data-frt="0" />
            </a>
          </div>
          <div class="flex-row gap-md">
            <a class="btn btn-mobile btn-primary" rel="noopener"
              href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=navigation-cta"
              target="_blank" role="button" data-overlay-color="#151b26">
              Sign up free
            </a>
            <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger"
              aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBarDropdown" data-toggle="collapse"
              data-target="#navBarDropdown">
              <span id="hamburgerTriggerDropdown" class="u-hamburger__box">
                <span class="u-hamburger__inner"></span>
              </span>
            </button>
          </div>
          <div id="navBarDropdown"
            class="collapse navbar-collapse u-header__navbar-collapse py-0 u-header--left-aligned-nav">
            <ul class="navbar-nav u-header__navbar-nav">
              <div id="navBarBasic" class="navbar-collapse u-header__navbar-collapse">
                

                  
                <div class="navbar-nav u-header__nav-item-btn">
                  <li class="nav-item u-header__nav-item">
                    <a class="nav-link u-header__nav-link ph-no-capture mr-3 text-black"
                      href="https://account.budibase.app/auth/login" target="_blank">
                      <span class=" nav-link-hover-bg  ">Log in</span>
                    </a>
                  </li>
                  <li>
                    <a class="btn btn-primary my-2 sm-btn-block" rel="noopener"
                      href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=navigation-cta"
                      target="_blank" role="button" data-overlay-color="#151b26">
                      Sign up free
                    </a>
                  </li>
                  <!-- End Button -->
                </div>
        </nav>
        </ul>
        <!-- End Nav -->
      </div>
    </div>
</header>
<!-- ========== END HEADER ========== -->