<div class="container space-2">
    <p class="detail-sm text-center text-light">What can I build with Budibase?</p>
    <h2 class="mb-4 text-center">
      Create business apps people enjoy using
    </h2>
    <div class="example-apps">
      <div class="hero-card">
        <img src="/img/hero-gallery/internal-tool.webp" class="img-fluid bg-mustard rounded-xs" alt="Data" />
        <h4 class=" mt-4 h5">Business apps</h4>
      </div>
      <div class="hero-card">
        <img src="/img/hero-gallery/form.webp" class="img-fluid rounded-xs bg-green-alt" alt="Data" />
        <h4 class=" mt-4 h5">Forms</h4>
      </div>
  
      <div class="hero-card">
        <img src="/img/hero-gallery/admin-panel.webp" class="img-fluid bg-red   rounded-xs" alt="Data" />
        <h4 class=" mt-4 h5">Admin panels</h4>
      </div>
      <div class="hero-card">
        <img src="/img/hero-gallery/portal.webp" class="img-fluid rounded-xs bg-peach" alt="Data" />
        <h4 class=" mt-4 h5">Portals</h4>
      </div>
      <div class="hero-card">
        <img src="/img/hero-gallery/dashboard-2.webp" class="img-fluid bg-sage  rounded-xs" alt="Data" />
        <h4 class="mt-4 h5">Dashboards</h4>
      </div>
    </div>
  </div>