<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1414.4 957.9">
    <defs>
      <style>
        .gradient-line-1 {
          fill: none;
          stroke-width: 4px;
          stroke: url(#linear-gradient);
        }
        @media screen and (min-width: 1920px) {
        .gradient-line-1 {
          stroke-width: 3px;
        }
        }
        @media screen and (max-width: 991px) and (min-width: 768px) {
        .gradient-line-1 {
          stroke-width: 6px;
        }
        }
        @media screen and (max-width: 768px) and (min-width: 200px) {
        .gradient-line-1 {
          stroke-width: 8px;
        }   
      }
      </style>
      <linearGradient id="linear-gradient" x1="394.58" y1="-1234.3" x2="1176.2" y2="-77.76" gradientTransform="translate(-89 1104)" gradientUnits="userSpaceOnUse">
        <stop offset="0.45" stop-color="#5115aa"></stop>
        <stop offset="1" stop-color="#f36464"></stop>
      </linearGradient>
    </defs>
    <title></title>
    <path class="gradient-line-1" d="M16.3,486.3c0-98,16-176.5,46.6-239.2s75.9-109.6,134.9-144.4C316,33,489.1,11.9,708.6,11.9s398.7,14.7,522.8,81.3c61.9,33.2,110.2,79.4,143,143.2s50.3,145.5,50.3,249.9-19.2,186.3-53.9,250.5-85.4,110.7-148.4,144.3C1096.3,948.6,920.2,964,720.5,964s-375.8-14.9-502-82.1c-63-33.4-113.4-80-148.3-144.2S16.3,591.2,16.3,486.3Z" transform="translate(-13.3 -9)"></path>
  </svg>