<div class="container-fw space-3-bottom">
  <div class="container">
    <div class="testimonial-block">
        <div class="bg-base-3 border rounded testimonial-card-container">
          <div class="p-6 align-center">
            <h2 class="h3 text-dark mb-4">Covanta expect to realize $3.2MM in savings</h2>
            <p class="text-xs text-dark opacity-75">Budibase was the only solution that checked all the boxes for Covanta. Covanta expects to realize $3.2MM in savings due to the elimination of redundant data entry.          </p>
          </div>
          <div class="features-image">
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1653684845/Covanta_Dublin_-_6th_November_2017_Pic-64_2_copy_as1jnn.webp" class="img-fluid rounded w-100 h-100" />
          </div>
          </div>
      <div>
        <div class="bg-base-3 border rounded mb-6 testimonial-card-container">
          <div class="align-center p-6">
            <h3 class="h4 text-dark mb-2">Bulgarian Gov deploy app to 120,000 users</h3>
            <p class="text-xs text-dark opacity-75">We researched the market, and Budibase was a clear winner and the perfect solution for our requirements.</p>
          </div>
          <div class="features-image">
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1653684845/Covanta_Dublin_-_6th_November_2017_Pic-64_2_copy_as1jnn.webp" class="img-fluid rounded w-100 h-100" />
          </div>
        </div>
        <div class="bg-base-3 border rounded testimonial-card-container">
          <div class="align-center p-6">
            <h3 class="h4 text-dark mb-2">Schnellecke delivers app in under 1 hour</h3>
            <p class="text-xs text-dark opacity-75">Seeing a spreadsheet turn into a web app in minutes was the cherry on top.</p>
          </div>
          <div class="features-image">
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1653684845/Covanta_Dublin_-_6th_November_2017_Pic-64_2_copy_as1jnn.webp" class="img-fluid rounded w-100 h-100" />
          </div>
        </div>
    </div>
  </div>
</div>
</div>
