
<div class="container mx-auto w-lg-70">
    <p class="lead text-dark text-center">
        "The #1 problem with the low-code movement is proprietary lock-in which is unacceptable for critical business apps</span>. Budibase helps you <span class="linear-wipe">create apps faster,</span> which <span class="linear-wipe">developers love</span> because their <span class="linear-wipe">internal tickets disappear</span> and the entire thing is <span class="linear-wipe">open source!</span>"
    </p>
    <div class="mx-auto text-center">
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_200/v1677584721/partner-logos/shawn_vvb8u7.webp" class="img-fluid rounded u-lg-avatar mt-4 my-2" />
        <p class="text-xs mt-2"><i>Shawn (@swyx), Head of Dev Experience at Temporal; Ex Amazon and Netlify</i></p>
    </div>
</div>
 
