<div class="container ">
        <div class="row personal-profile">
          <div class="col-md-6 personal-profile__avatar">
            <img class="" src="img/web-design/web-design-header.jpg" alt="Say Hello To Joe">
          </div>
          <div class="col-md-6">
            <h1 class="personal-profile__name">Belfast Web Design Expert_</h1>
            <h1 class="personal-profile__work">Beautiful websites that convert leads to loyal customers! The finest of Belfast Web Design</h1>
            <div class="personal-profile__contacts">
              <dl class="contact-list contact-list__opacity-titles">
            {{ range $info := .Site.Params.Info }}
            <dt>Speciality:</dt>
              <dd>WordPress & Static Websites</dd>
            {{ end }}
              </dl>
            </div>
      
            {{ partial "social.html" . }}
      
          </div>
        </div>
      </div>
      