{{ partial "header.html" . }}

{{ partial "navigation.html" . }}



<main id="content" role="main">
  <div class="space-2">
    <div class="container-12 customer-grid">
        <section class="mt-2"><a href="/customers" class=" text-blue text-xs">← Back</a></section>      
        <section class="customer-content article">
            <h1 class="h2 mb-4">{{ .Params.Customer }}</h1>
            <p class="display-lead linear-wipe">{{ .Description }}</p>
            <div class="mb-6">{{ .Content }}</div>
        </section>
        <section class="customer-meta-data bg-gray rounded p-4">
            {{ with .Resources.Match "*/logo*" }}
            {{ range . }}
            <img class="w-75 pt-3 customer-logo rounded mb-2" src="{{ .RelPermalink }}" />
            {{ end }}          
          {{ end }}
            <p class="text-dark detail-sm text-opacity mt-4">Founded:</p>
            <p class="text-dark text-sm">{{ .Params.Founded}}</p>
            <p class="text-dark detail-sm text-opacity mt-4">Industry:</p>
            <p class="text-dark text-sm mb-2">{{ .Params.Industry}}</p>
            <p class="text-dark detail-sm text-opacity mt-4">Revenue:</p>
            <p class="text-dark text-sm">{{ .Params.Revenue}}</p>
            <p class="text-dark detail-sm text-opacity mt-4">Headcount:</p>
            <p class="text-dark text-sm">{{ .Params.Headcount}} employees</p>
            <p class="text-dark detail-sm text-opacity mt-4">Website:</p>
            <a href="{{ .Params.Website}}" class="text-blue text-sm mb-2" target="_blank" rel="nofollow">Website ↗</p>
        </section>
    </main>

<!--Article-->

{{ partial "cta.html" . }} {{ partial "footer.html" . }}
