{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
{{ partial "circle-cta.html" . }}


<div class="container-fluid space-1-bottom bg-gradient">
    <div class="container container-blog space-hero-top ">
      <div class="pricing-heading container mb-2 mx-auto">
        <h1 class="h2 text-centre mx-auto hero-title-center">The Internal Toolbox</h1>
      </div>
    </div>
<div class="container">
    <p class="lead text-center w-lg-60 mx-auto mb-4">
      Budibase is the open source development platform that keeps on giving
    </p> 
    <div class="col-lg-3 col-md-4 flex-row mx-auto mb-8">
      <a href="https://docs.budibase.com/" target="_blank" id="goal"><button type="submit" class="btn btn-block btn-outline-secondary ">Get Started</button></a>
  </div>
</div>
</div>

<div class="space-2-bottom"></div>
  {{ partial "data-toolbox.html" . }}
  <div class="space-2"></div>
  {{ partial "design-toolbox.html" . }}
  <div class="space-2"></div>
  {{ partial "automate-toolbox.html" . }}
  <div class="space-2"></div>
  {{ partial "deploy-toolbox.html" . }}
  <div class="space-2"></div>
  {{ partial "cta-dark.html" . }}
  <hr class="mv-12 container">
  {{ partial "footer.html" . }}
 
