    <div class="container space-2-top">
      <h1 class="mb-4 text-center hero-title">
        Features
      </h1>
      <div class="w-80 w-lg-60 mx-auto">
        <p class="mx-auto lead mb-2 text-center">Everything you need to transform internal processes.</p>
      </div>
    </div>
<div class="py-4">
    <div class="container-9 space-1-bottom">
      <div class="platform-subnav gap-md btn-tabs">
        <a href="/product">            
         <button id="btn" type="button" class="btn btn-active btn-lg">Features</button>
        </a>
        <a href="/integrations">
        <button id="btn" type="button" class="btn btn-outline btn-lg">Integrations</button>
        </a>
        <a href="/templates">
            <button id="btn" type="button" class="btn btn-outline btn-lg">Templates</button>
        </a>
      </div>
    </div>
  </div>


