{{ partial "header.html" . }} {{ partial "navigation.html" . }}

<div class="space-3-bottom--lg">
  <div class="container-7 space-2 space-1-bottom--lg">
    <div class="mb-8">
      <h1 class="mb-4">Careers</h1>
      <p class="mt-2 mb-2">
        Businesses across the world spend over $120 billion/yr building internal tools to improve operations - A task often left to developers, leading to unpleasant and frustratingly repetitive experiences.        
      </p>
      <p class="mt-2 mb-2">
        At Budibase, we’re product led and community driven. Our goal is to provide an industry leading developer experience, combined with a highly engaged and excited community. Open source is a huge catalyst for achieving our goals, and plays a huge part in our identity.

      </p>
      <p class="mt-2 mb-2">
        This means building and scaling world-class products that enhance the lives of our users, help businesses thrive, and have positive externalities.
      </p>
    </div>
    <hr class="mb-8" />
    <div class="mb-8">
      <h2 class="mb-4">Our people</h2>
      <p class="mt-2 text-black-60 mb-4">
        Budis come from all over the world, from all kinds of backgrounds. We share one thing in common though: the drive to be the best and deliver a product of the future.
      </p>
      <p class="mt-2 text-black-60 mb-4">
        This means creating fulfilling jobs that propel our fellow Budies toward becoming their best selves.
      </p>
      <p class="mt-2 text-black-60 mb-4">
        We're looking for passionate people to join us on our mission to create the world's largest ecosystem of internal tools and accelerate the operations of millions of businesses, worldwide.

      </p>
      <p class="mt-2 text-black-60 mb-2">
        If you’ve got a burning desire to make your mark in tech, we want to hear from you.
      </p>
    </div>
    <hr class="mb-8" />
    <div class="mb-8">
      <h2 class="mb-4">Open Positions</h2>
      <p class="lead text-black-60 mb-4">
        Visit our recruitment app to check out the positions we're hiring for.
      </p>
      <a href="https://budibase.bamboohr.com/careers" target="_blank" rel="noopener"><button class="btn btn-cta btn-lg">View open positions</button></a>
    </div>
    <hr />
  </div>
</div>

{{ partial "footer.html" . }}
