{{ partial "header.html" . }} {{ partial "navigation.html" . }}

<!-- Hero Section -->
  <div class="space-2-top">
    <div class="container-7 mx-auto">
      <h1 class="mb-4">{{ .Title }}</h1>
        <p class="lead mb-0">{{ .Description }}</p>
    </div>
  </div>

  <div class="article container-7">
    <div class="mx-auto">
      <div class="mb-8">
        <p class="lead">{{ .Content }}</p>
      </div>
    </div>
  </div>


  <div class="container-7 p-3 rounded mb-8">
    <div class="col-lg-8 mx-auto">
      <h2 class="mb-4 mt-6 text-center">How to apply</h2>
      <p class="mb-5 text-center"> Either email your CV to careers at budibase.com, or use the form below:</p>
        <form
            class="js-validate"
            form
            name="job-apply"
            method="POST"
            data-netlify="true"
        >
            <!-- Input -->
            <div class="mb-3">
                <div class="js-form-message">
                <div class="js-focus-state input-group form">
                    <input
                    class="form-control"
                    type="text"
                    name="name"
                    required
                    placeholder="Your name"
                    aria-label="Your name"
                    data-msg="Please enter your name."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success"
                    />
                </div>
                </div>
            </div>
            <!-- End Input -->
            
            <!-- Input -->
            <div class="mb-3">
                <div class="js-form-message">
                <div class="js-focus-state input-group form">
                    <input
                    class="form-control form__input"
                    type="email"
                    name="email"
                    required
                    placeholder="Your email address"
                    aria-label="Your email address"
                    data-msg="Please enter a valid email address."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success"
                    />
                </div>
                </div>
            </div>

            <!-- Input -->
            <div class="js-form-message mb-3">
                <div class="js-focus-state input-group form">
                <input
                    class="form__input"
                    type="file"
                    name="cv"
                    required
                    placeholder="Please attach your CV."
                    aria-label="Please attach your CV."
                    data-msg="Please attach your CV."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success"
                ></input>
                </div>
            </div>
            </div>

            <!-- End Input -->

            <div class="space-2-bottom--lg col-lg-8 mx-auto">
            <button type="submit" class="btn btn-primary btn-lg btn-block mb-4">
                Submit
            </button>
          </div>
        </form>
      </div>

    </div>
</div>

{{ partial "footer.html" . }}
