<main id="content" role="main">
  <!-- Article Content -->
<div class="article">
  <div class="container space-3-top">
    <header class="w-md-75 w-lg-60 mx-md-auto">
      <h1 class="mb-5">{{ .Title }}</h1>

      <!-- Author -->
      <div class="media align-items-center mb-5">
        <div class="media-body">
          <h4 class="h6 mb-0">By: {{ .Params.author }}</h4>
          <small class="d-block text-muted">{{ .Date.Format .Site.Params.dateform }} | {{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}</small>
        </div>
      </div>
@ -20,12 +21,13 @@
    </header>

    <!-- Description -->
  
    <div class="w-md-75 w-lg-60 mx-md-auto mb-9"><hr>
          {{ .Content }}
    </div>
  </div>
</div>
</main>
{{ partial "cta.html" . }}