{{ partial "header.html" . }} {{ partial "navigation.html" . }}

<!-- Hero Section -->

<div class="space-2">
  <div class="container">
    <div class="w-lg-50 mx-auto text-center">
      <h1 class="mb-3 mb-4">
        Build custom portals in minutes
      </h1>
      <p class="mx-auto display-lead-lg mb-8 text-center">Connect to customers, employees, and suppliers with open-source portal development.

      </p>
    </div>
    <div class="template-hero-images no-scrollbar mb-6 ">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/portals/portal-customer.webp" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/portals/portal-supplier.webp" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/portals/portal-employee.webp" />
    </div>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
          </svg>
        </div>
        <h4 class="mb-2">100% customizable</h4>
        <p class="text-sm text-thin">
          Fully customize your business portals to suit your brand and style.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
          </svg>
        </div>
        <h4 class="mb-2">Access portals on the go</h4>
        <p class="text-sm text-thin">
          Build portals that are fully mobile responsive.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
          </svg>
        </div>
        <h4 class="mb-2">Self-host</h4>
        <p class="text-sm text-thin">
          Choose from self-hosting on your own infrastucture or Budibase Cloud.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
            <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="black">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
        </div>
        <h4 class="mb-2">Control access</h4>
        <p class="text-sm text-thin">
          Create public or private business portals (or a mix of both).
        </p>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- What Section -->
<div class="space-2">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-50 mx-auto mb-4 text-center">What is portal development?</h2>
    </div>
    <p class="w-lg-60 text-center mx-auto text-thin">Portal apps are flexible internal <a href="https://budibase.com/business-apps">business tools</a>, which can be developed for a number of uses. Essentially, portals are gated platforms, where users can access, manipulate or submit information. 
For example, client portals are used to provide exclusive product pages, deals, content, or documentation. Employee portals can be used to access and share internal documents. Portal apps are a powerful way to provide an efficient user experience for all kinds of internal and external stakeholders.      
    </p>
  </div>
</div>

<!-- Create Section -->
<div class="space-3" id="create">
<div class="container">
  <div class="text-sm-center mx-auto">
    <h2 class="w-lg-40 mx-auto mb-8">The portal development process simplified</h2>
  </div>
  <div class="benefits-new-container w-lg-60">
    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/img/external-data-sources.webp" target="_blank">
          <img
          src="/img/ui/data-sm.webp"
          class="img-fluid rounded-sm"
          alt="Data"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">1. Connect your data</h4>
        <p class="text-sm">
          Alongside our internal database, Budibase supports SQL, Rest API, and more as data sources for your business portal.

        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/design.webp" target="_blank">
            <img
            src="/img/hero-gallery/portal.webp"
            class="img-fluid rounded-sm"
            alt="design"          
            />
          </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">2. Design your {{ .Section | singularize | humanize | lower }}</h4>
        <p class="text-sm">
          Budibase makes it easy to add branding and build portal apps that people enjoy using, with our simple, low-code editor.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/img/automate.webp" target="_blank"><img
          src="/img/ui/automate-sm.webp"
          class="img-fluid rounded-sm"
          alt="automate"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">3. Automate manual processes</h4>
        <p class="text-sm">
          Integrate your portal with your internal stack, using Zapier, Webhooks, and more. Budibase is built to automate manual processes.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/ui/design-wide.webp" target="_blank">
          <img
          src="/img/ui/admin-sm.webp"
          class="img-fluid rounded-sm"
          alt="apps-list"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">4. Scale with confidence</h4>
        <p class="text-sm">
            Budibase offers free SSO, advanced RBAC, and unlimited apps. Add users or build more apps, with no extra cost.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="space-3 container-fw bg-black">
    <div class="container">
      <div class="text-sm-center mx-auto">
        <h2 class="w-lg-50 mx-auto mb-4 text-center text-white">Why do companies use portals?</h2>
      </div>
      <p class="w-lg-60 text-center mx-auto text-thin text-light-dark">There are countless reasons for businesses to use portal apps. The goal is to connect with stakeholders in the most efficient way possible. The most common types of portals are aimed at customers, clients, employees, or suppliers.

        Portals give users an expedient way to find and access key information.
        
        This reduces costs, improves engagement, and simplifies workflows. Portal apps are a secure way to host internal information, providing complete control over who accesses your company’s content.
                    
      </p>
    </div>
  </div>

  <div class="space-3" id="features">
    <div class="container text-center">
      <h2 class="mb-3">Custom portal development with Budibase </h2>
      <p class="mb-6 w-lg-50 mx-auto text-center">With Budibase’s <a href="https://budibase.com/product">low-code
          platform</a> you can quickly and easily develop custom portals that meet your business goals.</p>
      <div class="solutions-features">
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Multi-screen apps</h4>
          <p class="text-xs text-thin">Create beautiful, multi-screen portal apps.</p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Access control</h4>
          <p class="text-xs text-thin">Use permissions to control what information users have access to.</p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Conditionality</h4>
          <p class="text-xs text-thin">Set conditions to display different design elements.</p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Portal design</h4>
          <p class="text-xs text-thin">Choose from a number of beautiful themes that are fully customizable.</p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Accessibility</h4>
          <p class="text-xs text-thin">All components / building blocks are accessibly tested</p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Apps work on all devices</h4>
          <p class="text-xs text-thin">Create business applications that work on all devices</p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Responsive portals</h4>
          <p class="text-xs text-thin">Create company portals that work on all devices.</p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Free SSO</h4>
          <p class="text-xs text-thin">SSO is free and unlimited for all Budibase users.</p>
        </div>
        <div class="solutions-features-card rounded-xs">
          <h4 class="h5">Email integration</h4>
          <p class="text-xs text-thin">Add your SMTP credentials and trigger automated emails.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fw bg-alt mx-auto space-2">
    <p class="display-lead-lg text-dark text-center mx-auto w-lg-40">With Budibase, open-source portal development is a
      fast, convenient, and cost-effective way to deploy apps for managing stakeholder communications.</p>
  </div>
  
  <div class="space-3" id="deploy">
    <div class="container text-center">
      <h2 class="mb-3">Deploy your portal</h2>
      <p class="mx-auto w-lg-50 text-center">With Budibase, you’re in control of how you deploy your portals. Use Budibase
        Cloud, or deploy to your own infrastructure using Kubernetes, Digital Ocean, Docker, and more. Deploy your portal
        platform as a web application, or on local infrastructure.
      </p>
      {{ partial "deploy-options.html" . }}
    </div>
  </div>
  </div>

    <div class="container space-2 mx-auto">
      <h2 class="mb-3 mb-4 text-center">
        Free {{ .Section | singularize | humanize | lower }} templates
      </h1>
    <div class=" w-lg-60 mx-auto">
      <p class="mx-auto display-lead-sm mb-6 text-center"> Explore our favourite free {{ .Section | singularize | humanize | lower  }} templates. With Budibase's intuitive low-code platform, you can customize your design in just a few clicks.
    </p>
    </div>
    <div class="container-narrow space-2-bottom">
      <div class="templates-cards">
        {{ range where .Pages "Section" "!=" "templates" }}
        {{ range first 3 .Pages }}
        <a href="{{.Permalink}}">
          <div class="templates-card rounded-sm">
            <div class="template-thumbnail pt-4 pl-4  mb-4 img-fluid bg-{{ .Params.thumbnailColor }}">
              <img class="template-card-img img-fluid" src="{{ .Params.thumbnail }}" /></div>
                  <h2 class="h4 mb-3">{{ .Params.label }}</h2>
                  <p class="mb-3">{{ .Summary }} </p>
                  <p class="text-blue text-sm templates-card-link">Get this template</p>
          </div>
      </a>
      {{ end }}
      {{ end }}
      </div></div>    <div class="my-3 text-center">
        <a href="/{{ .Section }}/templates" class="btn btn-cta btn-lg"> Browse all {{ .Section | singularize | humanize | lower  }} templates</a>
      </div></div></div>
  
  {{ partial "integrations-templates.html" . }}
  
  <div class="space-3 container-fw bg-black">
    <div class="container text-center">
      <h2 class="mb-3 text-white">Benefits of web portals</h2>
      <p class="mb-6 w-lg-50 mx-auto text-center text-light-dark">Deploying a custom web portal is one of the most cost-effective ways to engage with stakeholders. Portal development can streamline your business across just about any kind of interaction. Portals reduce costs through:
      </p>
      <div class="flex-gap-center w-lg-80 mx-auto">
        <h4 class="h5 py-3 px-4 rounded-pill bg-blue text-white mr-2">Instant access to information</h4>
        <h4 class="h5 py-3 px-4  rounded-pill bg-blue  text-white mr-2">Integration with other apps</h4>
        <h4 class="h5  py-3 px-4  rounded-pill bg-blue  text-white mr-2">Streamlined communications</h4>
        <h4 class="h5 py-3 px-4 rounded-pill bg-blue  text-white mr-2">Improved onboarding</h4>
        <h4 class="h5 py-3 px-4  rounded-pill bg-blue  text-white mr-2">Eliminating manual admin task</h4>
        <h4 class="h5 py-3 px-4 rounded-pill bg-blue  text-white mr-2">Flexibility</h4>
        <h4 class="h5 py-3 px-4 rounded-pill bg-blue  text-white mr-2">Improved security</h4>
      </div>
      <p class="mt-6 w-lg-50 mx-auto text-center text-light-dark">Portals help large organizations to create effective processes for communicating with employees, customers, and vendors. Improve operations, while providing a clean and efficient user experience for stakeholders.</p>
    </div>
  </div>

  <div class="space-3">
    <div class="container text-center">
      <h2 class="mb-3">Open-source portal development solutions</h2>
      <p class="mb-6 w-lg-50 mx-auto text-center">Don’t overpay for web portal development services. Our open-source platform gives you complete control over your portal apps. Use one of our templates, or start from scratch to build your perfect portal.
        </p>
        <div class="mt-6 container-benefit">
            <div class="card-small-light">
              <h4 class="mb-2">Customer portals</h4>
              <p class="text-sm text-thin">
                Customer portals are one of the most common types of business apps. Provide exclusive content, deals, products, and services to existing customers.
              </p>
            </div>
            <div class="card-small-light">
              <h4 class="mb-2">Employee portals
              </h4>
              <p class="text-sm text-thin">
                Portals are the perfect way to provide employees with access to internal documents, training materials, policies, and internal tools.
              </p>
            </div>
            <div class="card-small-light">
              <h4 class="mb-2">Supplier portals</h4>
              <p class="text-sm text-thin">
                Give your vendors a quick and easy platform to access documentation, contracts, tenders, stakeholder tools, and more.</p>
            </div>
            <div class="card-small-light">
              <h4 class="mb-2">Recruitment portals</h4>
              <p class="text-sm text-thin">
                Provide potential candidates with a recruitment portal to search and apply for open vancancies within your organization.</p>
            </div>
          </div>
        </div>
    </div>
<hr style="width: 30%" />
{{ partial "cta.html" . }}
<hr style="width: 30%" />
{{ partial "footer.html" . }}
</div>