{{ partial "header.html" . }} {{ partial "navigation.html" . }}
  <div class="space-2">
    <div class="container text-center mb-6">
      <h1 class="hero-title text-center mb-4">Speed-up workflows. Start free.</h1>
      <p class="lead-lg mx-auto text-center w-lg-50 opacity-75">Try with your team for free. No CC required.</p>
    </div>
    <div class="container pricing-tabs-container flex-row gap-md mb-4">
      <div class="tab flex-row gap-md">
          <button class="btn btn-lg tablinks" onclick="openPricing(event, 'cloud')" id="defaultOpen">
            Cloud (we host)
          </button>
          <button class="btn btn-lg tablinks" onclick="openPricing(event, 'selfHost')" >
            Self-host (you host)
          </button>
      </div>
    </div>
<div class="container  mt-2 mb-6">
  <div id="cloud" class="tabcontent">
  {{ partial "pricing-old/per-user.html"}}
  </div>
  <div id="selfHost" class="tabcontent">
    {{ partial "pricing-old/per-user-self-host.html"}}
  </div>
</div>
<div class="space-2-top">
  {{ partial "pricing-old/faqs.html" . }}
</div>
</div>
</div>

{{ partial "cta.html" . }}
{{ partial "footer.html" . }}

<!-- JS -->
<script src="{{ "js/pricing.js" | absURL }}"></script>
<script src="{{ "js/pricing-tabs.js" | absURL }}"></script>
<script>
  document.getElementById("defaultOpen").click();
</script>