{{ partial "head/header.html" . }}
<section class="space-1 bg-indigo-darkest">
    <div class="container-12">
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1696521006/Branding/Assets/Logo/RGB/Full%20Colour/Budibase_Logo_RGB_FullColour_Negative_e9yziz_1_ctgbwa.svg"
        alt="Budibase logo" width="200" data-atf="1" data-frt="0" class="mb-8" />

        <div class="hero-title-container flex flex-row justify-space-between align-center">
            <div class="w-lg-40">
                <h1 class="hero-title-xl mx-auto text-white font-weight-bold">Build Secure Internal Tools <span class="text-lime">in Minutes</span></h1>
                <p class="hero-description text-white my-5">{{ .Description}}</p>
                <div class="flex flex-row gap-sm">
                    <a class="btn btn-coral btn-xl sm-btn-block" rel="noopener"
                    href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=navigation-cta"
                    target="_blank" role="button" data-overlay-color="#151b26">
                    Get started free
                </a>
                <a class="btn btn-cta-outline btn-xl sm-btn-block" rel="noopener"
                href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=navigation-cta"
                target="_blank" role="button" data-overlay-color="#151b26">
                Book a demo
            </a>
                </div>

            </div>
            <div class="w-lg-45">
                <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1723045751/cms/ads/internal%20tools/Frame_48096405_bz72of.webp" alt="ui" class="img-fluid">
            </div>
        </div>
        <hr class="mt-9 opacity-25" />
        <div class="space-1">
            {{ partial "logo-reel-dark.html" }}
        </div>
    </div>
</section>

<section class="container-12 space-3">
        <div class="flex flex-row gap-md justify-space-between align-center space-4-bottom">
            <div class="w-lg-40">
                <h2 class="h1">Turn data into internal tools instantly
                </h2>
                <p class="lead my-4">Connect to SQL, pull data from a Rest API, import a CSV, or start from scratch with Budibase's built-in database. Once your data is added, you can generate secure internal tools with the click of a button.</p>
                <a class="btn btn-primary btn-lg sm-btn-block" rel="noopener"
                href="https://account.budibase.app/register"
                target="_blank" role="button" data-overlay-color="#151b26">
                Turn data into apps
                </a>
            </div>
            <div class="w-lg-55 rounded bg-bb-indigo-light">
                <dotlottie-player src="/lottie/screens.lottie" speed="1" loop autoplay></dotlottie-player>
            </div>
        </div> 
        <div class="flex flex-row gap-md justify-space-between align-center space-4-bottom">
            <div class="w-lg-55 rounded bg-bb-indigo-light">
                <dotlottie-player src="/lottie/components.lottie" speed="1" loop autoplay></dotlottie-player>
            </div>
            <div class="w-lg-40">
                <h2 class="h1">Design beautiful apps people enjoy using
                </h2>
                <p class="lead my-4">With Budibase’s drag-and-drop interface, prebuilt components and templates, building internal tools that users love has never been easier or faster. </p>
                <a class="btn btn-primary btn-lg sm-btn-block" rel="noopener"
                href="https://account.budibase.app/register"
                target="_blank" role="button" data-overlay-color="#151b26">
                Design beautiful apps
                </a>
            </div>
        </div> 
        <div class="flex flex-row gap-md justify-space-between align-center space-4-bottom">
            <div class="w-lg-40">
                <h2 class="h1">Automate your workflows
                </h2>
                <p class="lead my-4">Build powerful workflows that enable you to automate emails, create approval processes, set up proactive incident alerting, and so much more.</p>
                <a class="btn btn-primary btn-lg sm-btn-block" rel="noopener"
                href="https://account.budibase.app/register"
                target="_blank" role="button" data-overlay-color="#151b26">
                Automate your workflows
                </a>
            </div>
            <div class="w-lg-55 rounded bg-bb-indigo-light">
                <dotlottie-player src="/lottie/automations.lottie" speed="1" loop autoplay></dotlottie-player>
            </div>
        </div> 
        <div class="flex flex-row gap-md justify-space-between align-center space-1-bottom">
            <div class="w-lg-55 rounded bg-bb-indigo-light">
                <dotlottie-player src="/lottie/themes.lottie" speed="1" loop autoplay></dotlottie-player>
            </div>
            <div class="w-lg-40">
                <h2 class="h1">Deploy internal tools securely
                </h2>
                <p class="lead mt-4 mb-2">Build and deploy internal tools with confidence:</p>
                <ul class="mb-4">
                    <li class="mb-1">Self-host on your own infrastructure</li>
                    <li class="mb-1">SOC 1/2 certified, ISO 27001 certified, GDPR compliant, Iron-bank approved</li>
                    <li class="mb-1">Free SSO</li>
                    <li class="mb-1">Audit-logs</li>
                    <li class="mb-1">Airgapped deployments</li>
                </ul>
                <a class="btn btn-primary btn-lg sm-btn-block" rel="noopener"
                    href="https://account.budibase.app/register"
                    target="_blank" role="button" data-overlay-color="#151b26">
                    Deploy apps securely
                </a>
            </div>
        </div> 
</section>

<section class="bg-base-3 space-2">
    <div class="container-9 mx-auto">
        <div class="border text-center">
            <div class="rounded-top-lg border-bottom p-6 bg-bb-indigo-darkest">
                <p class="h3 text-white">“With Budibase, we are 90% faster at building and deploying internal tools. It’s a must-have platform for any IT department”.</p>
            </div>
            <div class="bg-base-1 rounded-bottom-lg py-3">
                <p class="lead">Davide Lenzarini</p>
                <p class="opacity-75">IT Manager, Schnellecke</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-indigo-darkest">
    <div class="container-12">
        <div class="text-center space-3">
            <h2 class="text-white hero-title-lg mx-auto mb-6">Start building internal tools faster</h2>
            <a class="btn btn-coral btn-xl sm-btn-block mb-9" rel="noopener"
            href="https://account.budibase.app/register"
            target="_blank" role="button" data-overlay-color="#151b26">
            Try Budibase free today
            </a>
            <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1723120951/cms/ads/internal%20tools/Frame_48096412_sdniwa.svg" />
        </div>
        <hr class="opacity-25" />
        <div class="py-4 flex flex-row gap-lg justify-space-between align-center">
            <div>
                <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1696521006/Branding/Assets/Logo/RGB/Full%20Colour/Budibase_Logo_RGB_FullColour_Negative_e9yziz_1_ctgbwa.svg"
                alt="Budibase logo" width="140" data-atf="1" data-frt="0" />
            </div>
            <div class="flex flex-row">
                <a class="nav-link u-header__nav-link" href="/privacy">
                    <span class="text-white">Privacy policy</span>
                </a>
                <a class="nav-link u-header__nav-link " href="/self-host-master-terms">
                    <span class="text-white">Legal stuff</span>
                </a>
                <p class="nav-link u-header__nav-link ">
                    <span class="text-white opacity-75">Copyright © 2024 Budibase, Inc.</span>
                </p>
                <p>
                </p>
            </div>
        </div>
    </div>  

