{{ partial "header.html" . }}

{{ partial "navigation-test.html" . }}

<div class="container space-2">
<div class="d-lg-flex align-items-lg-center height-100vh--lg">
    <div class="container space-2 space-2-bottom space-0--lg">
      <div class="row justify-content-lg-between align-items-lg-center">

          <div class="col-lg-5  space-1-bottom">
              <!-- Title -->
              <div class="mb-4">
                <h1 class="h2">Call the cops, a page has been stolen!</h1>
                <p class="lead">Kidding! For some reason your page has not been found. Apologies for an inconvenience caused. I'd recommend you go back to the homepage.</p>
              </div>
              <!-- End Title -->
              <a href="/">Back to the homepage</a>
            </div>


        <div class="col-lg-6 mb-9 mb-lg-6">
          <img class="w-md-60" src="img/svg/404.svg" alt="404 image">
        </div>
      </div>
    </div>
  </div>
</div>
  {{ partial "footer.html" . }}