{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
  {{ partial "hero1.html" . }}
  {{ partial "what.html" . }}
  <hr style="width: 30%;"/>
  {{ partial "4-steps.html" . }}
  {{ partial "end-users.html" . }}
  <hr style="width: 30%;"/>
  {{ partial "integrations.html" . }}
  <hr style="width: 30%;"/>
  {{ partial "developers.html" . }}
  <hr style="width: 30%;"/>
  {{ partial "cta.html" . }}
  <hr style="width: 30%;"/>
  {{ partial "community.html" . }}
  <hr style="width: 30%;"/>
  {{ partial "why-orgs.html" . }}
  <hr style="width: 30%;"/>
  {{ partial "cta.html" . }}
  <hr style="width: 30%;"/>
  {{ partial "footer.html" . }}

