{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
{{ partial "hero.html" . }}
<!--{{ partial "testimonial-block-gray.html" . }}-->
{{ partial "features-homepage.html" . }}
{{ partial "deploy.html" . }}
{{ partial "extensible.html" . }}
{{ partial "integration-banner.html" . }}
<hr class="w-md-50 mt-9" />
<div class="space-3">
    {{ partial "solutions-banner-with-title.html" . }}
</div>
<hr class="w-md-50" />

<div class="space-3">
    {{ partial "templates.html" . }}  
</div>
{{ partial "cta.html" . }}
{{ partial "footer.html" . }}

