{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<div class="space-1 container">
    <div class="breadcrumbs mb-8">
      <a class="a-alt text-xs" href="/">Home </a>
      /
      <a class="a-alt text-xs" href="{{ .Section }}">{{ .Section | humanize }}</a>
      /
      <span class="text-light text-xs">{{.Section | humanize | singularize  }} templates</span> 
    </div>
    <div class="container space-1">
      <h1 class="mb-3 mb-4 text-center">
        {{ .Section | humanize | singularize }} templates
      </h1>
    <div class="w-lg-60 mx-auto">
      <p class="mx-auto display-lead-sm text-center"> Explore our favourite free {{ .Section | singularize | humanize | lower  }} templates. With Budibase's intuitive low-code platform, you can customize your design in just a few clicks.
      </p>
    </div>
  </div>
  </div>
</div>
<div class="bg-light-2 space-2-top space-3-bottom">
<div class="container-narrow ">
  <div class="templates-cards">
  {{ range .Data.Pages.ByTitle }}
  <a href="{{.Permalink}}">
    <div class="templates-card rounded-sm">
      <div class="template-thumbnail pt-4 pl-4  mb-4 img-fluid bg-{{ .Params.thumbnailColor }}">
        <img class="template-card-img img-fluid" src="{{ .Params.thumbnail }}" /></div>
            <h2 class="h4 mb-3">{{ .Params.label }}</h2>
            <p class="mb-3">{{ .Summary }} </p>
            <p class="text-blue text-sm templates-card-link">Get this template</p>
    </div>
</a>
  {{ end }}
  </div> 
</div>
</div>
<div class="article space-2 ">
  <div class="container-9">
    <h2>FAQs</h2>
    <p>Here’s everything you need to know about using our {{ .Section | humanize | singularize | lower}} templates.</p>
    <div class="faq space-1-top space-3-bottom ">
    {{ .Content }}
    </div>
  </div>
</div>

{{ partial "cta.html" . }} {{ partial "footer.html" . }}
</div>
</div>