
  {{ partial "header.html" . }}

  {{ partial "navigation.html" . }}
  
  <div class="bg-gradient-gray">
      <div class="container-12 space-2-top">
          <h1 class="hero-title-lg mb-3 mb-4 text-center ">
          Contact us
          </h1>
          <div class="w-80 w-lg-60 mx-auto">
              <p class="mx-auto display-lead mb-2 text-center">We can give you a demo, explore pricing, or share best practices.</p>
          </div>
      </div>
    </div>

  <div class="container-7 space-1">
  <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      region: "eu1",
      portalId: "26121987",
      formId: "59b1f493-4794-4229-9b9f-316628174eb9",
      version: "V2_PRERELEASE"
    });
  </script>
  </div>
</div>

{{ partial "footer.html" . }}
