{{ partial "header.html" . }}

{{ partial "navigation.html" . }}


<!-- Hero Section -->
<div class="bg-img-hero bg-yellow">
  <div class="container text-center space-2 space-4-top space-1-bottom--lg">
      <div class="w-md-80 mx-auto mb-3">
        <h1 class="col display-4 font-size-48--md-down text-white">The Smart Way To Manage Users</h1>
      </div>
  
      <div class="col-lg-8 mx-auto">
        <div class="mb-5">
          <p class="lead mb-0 text-white">After building and hosting your new web application with Budibase, we will provide you with the tools to analyse your app and manage users.
</p>
        </div>
        <div class="d-sm-flex justify-content-sm-center align-items-sm-center mb-3">
<!-- Input -->
<form class="js-validate w-lg-80" form action="https://budibase.us20.list-manage.com/subscribe/post" form name="signup" method="POST">
  <input type="hidden" name="u" value="761756dde90443a4375dead81">
  <input type="hidden" name="id" value="4999d7f159">  
  <div class="row mx-gutters-2">
    <div class="col-sm-7 mb-3">
      <!-- Input -->
      <div class="js-form-message">
        <div class="js-focus-state input-group form">
            <p style="display:none;">
                <label>Don’t fill this out: <input name="bot-field"></label>
              </p>
              <input type="email" class="form-control form__input" name="MERGE0" id="MERGE0" required
                 placeholder="Submit Email Address"
                 aria-label="Email"
                 data-msg="Please enter a valid email address.">
        </div>
      </div>
      <!-- End Input -->
                </div>

                <div class="col-sm-5 mb-3">
                  <button type="submit" class="btn btn-block btn-secondary">Request Access</button>
                </div>
              </div>
            </form>
        </div>
        <img class="w-80 mb-offset-14" src="img/svg/manage-users-hero.svg" alt="Manage a web app">        <!-- End Clients -->
      </div>
    </div>
  </div>




    <div class="container space-4-top space-1-bottom">       
      <div class="row">
          <div class="col-sm-4 mb-6 mb-sm-6">
              <!-- Icon Block -->
              <div class="pr-lg-4 text-center">
                  <h3>You're In Control</h3>
                <p>Gain complete control of your web application, from upgrades to payments.</p>
              </div>
              <!-- End Icon Block --> 
            </div>
  
        <div class="col-sm-4 mb-6 mb-sm-6">
          <!-- Icon Block -->
          <div class="pr-lg-4 text-center">
              <h3>You're Confident</h3>
            <p>Become the Yoda of your business with a beautiful CRM and intuitive reporting. </p>
          </div>
          <!-- End Icon Block -->
        </div>
      
        <div class="col-sm-4 mb-6 mb-sm-6">
          <!-- Icon Block -->
          <div class="pr-lg-4 text-center">
            <h3>You're Growing</h3>
            <p>With regular payments, and customer insights, you're in pole position to grow. </p>
          </div>
          <!-- End Icon Block -->
        </div>  
      </div>
    </div>


    <div class="container space-2">
        <div class="col-12 text-center w-md-60 mx-auto">
        <div class="mb-5 space-1 ">
            <h2>Your Road To Success</h2>
            <p class="lead mb-0">Budibase is everything you need to manage your apps, track your customers, and grow your business.</p>

          </div>
        </div>
        
    <div class="container">
      <div class="row">
          <div class="col-sm-4 mb-7 mb-sm-0">
              <!-- Icon Block -->
              <div class="pr-lg-4 text-center">
                  <img class="max-width-9 mb-2" src="img/svg/components/design.svg" alt="Image Description">
                  <h4>App Platform</h4>
                  <h6>Know your apps</h6>
                <p> One platform for controlling your apps, customers, and payments.</p>
              </div>
              <!-- End Icon Block --> 
            </div>
  
        <div class="col-sm-4 mb-7 mb-sm-9">
          <!-- Icon Block -->
          <div class="pr-lg-4 text-center">
              <img class="max-width-9 mb-2" src="img/svg/components/design.svg" alt="Image Description">
              <h4>CRM </h4>
              <h6>Know your customers</h6>
            <p>With a powerful CRM, turn your leads into paying customers.</p>
          </div>
          <!-- End Icon Block -->
        </div>
      
        <div class="col-sm-4 mb-7 mb-sm-9">
          <!-- Icon Block -->
          <div class="pr-lg-4 text-center">
              <img class="max-width-9 mb-2" src="img/svg/components/open-source.svg" alt="Image Description">
              <h4>Reporting</h4>
              <h6>Know your metrics</h6>
            <p>Pull beautiful reports from your web applications for easy analysis.</p>
          </div>
          <!-- End Icon Block -->
        </div>
      </div>


      <div class="row">
        <div class="col-sm-4 mb-7 mb-sm-0">
            <!-- Icon Block -->
            <div class="pr-lg-4 text-center">
                <img class="max-width-9 mb-2" src="img/svg/components/integration.svg" alt="Image Description">
                <h4>Payments</h4>
                <h6>Know your finance</h6>
                <p>Get paid by your customers, securely, often, and on time.</p>
              </div>  
            <!-- End Icon Block --> 
          </div>
          
          <div class="col-sm-4 mb-7 mb-sm-9">
              <!-- Icon Block -->
              <div class="pr-lg-4 text-center">
                  <img class="max-width-9 mb-2" src="img/svg/components/open-source.svg" alt="Image Description">
                  <h4>Intregations</h4>
                  <h6>Know your growth</h6>
                <p>Use plugins to integrate with marketing applications to help you grow faster.</p>
              </div>
              <!-- End Icon Block -->
            </div>
        </div>
      </div>
    </div>

    <div class="container space-2">
        <div class="col-12 mx-auto">
        <div class="mb-5 ">
            <h2>See What Else You Can Do</h2>
            <p class="lead mb-0"> Budibase gives you the tools to build, host and manage a modern web app the way you want to, no boundaries!  </p>
        </div>
        <div class="card-mb card-sm-columns card-sm-2-count">
            <!-- Blog Grid -->
            <article class="card mb-3">
              <img class="card-img-top" src="img/svg/build.svg" alt="Image Description">
              <div class="card-body p-5">
                <h3 class="h5">
                  <a href="/build-a-web-app">Build Your Web App</a>
                </h3>
                <p>Build your app with speed and creative freedom.</p>
                <a href="/build-a-web-app">Learn More</a>
              </div>
            </article>
            <!-- End Blog Grid -->
          
                  <!-- Blog Grid -->
                  <article class="card mb-3">
                      <img class="card-img-top" src="img/svg/host.svg" alt="Image Description">
                      <div class="card-body p-5">
                        <h3 class="h5">
                          <a href="/host-a-web-app">Host Your Web App</a>
                        </h3>
                        <p>Secure hosting in just a few clicks. </p>
                        <a href="/host-a-web-app">Learn More</a>
                      </div>
                    </article>
                    <!-- End Blog Grid -->
                  </div>
                </div>    
              </div>
             

{{ partial "cta.html" . }}
{{ partial "footer.html" . }}