<section class="space-2 bg-dark">
    <div class="enterprise-testimonial container">
      <img src="/customers/schnellecke/images/cover.jpeg" class="img-fluid p-4 bg-orange-light rounded" />
      <div class="text-left">
        <p class="lead text-white">
          “Centralization of authentication, quick turnaround time for requests, integration with different database
          systems has given it the edge and it’s now used daily for internal development for those apps that you know you
          need but don’t feel value in losing days of development to reinvent the wheel.
        </p>
        <p class="mt-2 text-xs mb- text-white">Davide Lenzarini, <br>IT manager at Schnellecke</p>
        <a href="/customers/schnellecke">
          <button class="mt-3 btn btn-secondary">
            View case study
          </button>
        </a>
      </div>
    </div>
  </section>