{{ partial "head/header.html" . }} {{ partial "navigation.html" . }}


<!-- Hero Section -->

<div class="space-2">
  <div class="container">
    <div class="w-lg-50 mx-auto text-center">
      <h1 class="hero-title mb-3 mb-4">
        Create a custom directory app in minutes
      </h1>
      <p class="mx-auto lead text-center mb-8"> Use Budibase to create powerful, secure directory apps, with clean UIs, advanced functionality, and complete customization.
      </p>
    </div>
    <div class="template-hero-images no-scrollbar mb-6 ">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/directories/customer-directory.png" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/directories/prop-directory.png" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/directories/employee-directory.png" />
    </div>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
          </svg>
        </div>
        <h4 class="mb-1">100% customizable</h4>
        <p class="text-sm">
          Build deployable directories, with custom design and functionality.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
          </svg>
        </div>
        <h4 class="mb-1">Access information on the go</h4>
        <p class="text-sm">
          Budibase tools work perfectly on all kinds of devices.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
          </svg>
        </div>
        <h4 class="mb-1">Choose your hosting        </h4>
        <p class="text-sm">
          Deploy to your own infrastructure or choose Budibase Cloud.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
          </svg>
        </div>
        <h4 class="mb-1">Set permissions</h4>
        <p class="text-sm">
          Create public or private directories, with custom permission tiers.
        </p>
      </div>
    </div>
  </div>
</div>
</div>


<!-- What Section -->
<div class="space-2">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-50 mx-auto mb-4 text-center">What is a directory app?</h2>
    </div>
    <p class="w-lg-60 text-center mx-auto text-thin">Directory apps are used to store, manage, and share information and contact details for different individuals and companies. Businesses use directories to provide accessible, up-to-date records of their employees, suppliers, customers, and other stakeholders. Most directories are stand-alone tools, for users to look up, add, or update information. Others integrate with external tools, to provide a streamlined, efficient way to gather, manage, and access existing data. Use Budibase to build tools for fast, information access, saving time and money.    
    </p>
  </div>
</div>

<div class="space-3 container-fw bg-black">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-50 mx-auto mb-4 text-center text-white">Why do you need a dedicated directory?</h2>
    </div>
    <p class="w-lg-60 text-center mx-auto text-thin text-light-dark">Businesses waste huge amounts of time and money sharing basic information among colleagues, customers, and partners. Quick calls, emails, and time spent searching through spreadsheets quickly add up to massive hidden costs. Directories put the information users need, right at their fingertips. Empower your team to quickly locate crucial data, without wasting coworkers’ time. Building a dedicated directory tool ensures that your data is consistent, accurate, and up-to-date. Give your team an intuitive interface to update and collect information, without the need for specialist database skills.
    </p>
  </div>
</div>


<!-- Create Section -->
<div class="space-2" id="create">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-8">Build a directory in 4 steps</h2>
    </div>
    <div class="benefits-new-container w-lg-80">
      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/external-data-sources.webp" target="_blank">
            <img src="/img/ui/data-sm.webp" class="img-fluid rounded-sm" alt="Data" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">1. Prepare your data</h4>
          <p class="text-sm ">
            Connect to existing datasets or use our built-in database.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/design.webp" target="_blank">
            <img src="/img/hero-gallery/form.webp" class="img-fluid rounded-sm" alt="design" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">2. Design beautiful screens</h4>
          <p class="text-sm">
            Use our intuitive design tools to create professional UIs in minutes.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/automate.webp" target="_blank"><img src="/img/ui/automate-sm.webp"
              class="img-fluid rounded-sm" alt="automate" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">3. Automate workflows</h4>
          <p class="text-sm">
            Create custom automation rules, in just a few clicks.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/ui/design-wide.webp" target="_blank">
            <img src="/img/ui/admin-sm.webp" class="img-fluid rounded-sm" alt="apps-list" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">4. Deploy and scale</h4>
          <p class="text-sm">
            Self-host or choose Budibase Cloud to deploy your apps.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="space-2" id="features">
  <div class="container text-center">
    <h2 class="mb-3">Create powerful directories with Budibase</h2>
    <p class="mb-6 w-lg-40 mx-auto text-center">Create custom directory apps in under five minutes, without compromising on functionality. Say goodbye to repetitive, expensive app development.
    </p>
    <div class="solutions-features">
      <div class="solutions-features-card rounded-xs">
        <h4>Real single page apps</h4>
        <p class="text-xs text-thin">Create intuitive, performant, single page apps, in minutes.</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Custom RBAC</h4>
        <p class="text-xs text-thin">Use custom RBAC to control how different users interact with your apps.        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Conditionality</h4>
        <p class="text-xs text-thin">Display, hide or update any component with custom conditionality rules.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Low-code design tools
        </h4>
        <p class="text-xs text-thin">Our platform offers powerful yet simple design tools.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Accessible components
        </h4>
        <p class="text-xs text-thin">Budibase app components are thoroughly tested for key accessibility standards.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Mobile-friendly apps
        </h4>
        <p class="text-xs text-thin">Budibase tools work seamlessly on desktop, mobile, or tablet devices.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Automated workflows
        </h4>
        <p class="text-xs text-thin">Eliminate manual admin tasks with custom automation rules.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Free SSO
        </h4>
        <p class="text-xs text-thin">Use single sign-on across all of your Budibase tools.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Search & filtering
        </h4>
        <p class="text-xs text-thin">Create simple search forms or use dynamic filters to find specific information in seconds.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Integrations
        </h4>
        <p class="text-xs text-thin">Connect to external apps, using Zapier, Webhooks, and more.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="space-2-top space-3-bottom" id="deploy">
  <div class="container text-center">
    <h2 class="mb-3">Deploy your directory app    </h2>
    <p class="mx-auto w-lg-50 text-center">Choose the perfect hosting and deployment options for your specific needs. With self-hosting and cloud deployments, Budibase is the smart choice for building all kinds of web applications and <a href="https://budibase.com/internal-tools">internal tools</a>.
    </p>
    {{ partial "deploy-options.html" . }}
  </div>
</div>
</div>

<div class="bg-light-2">
  <div class="container space-2 mx-auto">
    <h2 class="mb-3 mb-4 text-center">
      Customizable directory templates
    </h1>
  <div class=" w-lg-60 mx-auto">
    <p class="mx-auto lead-sm mb-6 text-center"> Check out our range of ready-made directories. Choose one of our free templates as a deployable app, or as a starting point for your own custom solution.
    </p>
  </div>
  <div class="container-narrow space-2-bottom">
    <div class="templates-cards">
      {{ range where .Pages "Section" "!=" "templates" }}
      {{ range first 3 .Pages }}
      <a href="{{.Permalink}}">
        <div class="templates-card rounded-sm">
          <div class="template-thumbnail pt-4 pl-4  mb-4 img-fluid bg-{{ .Params.thumbnailColor }}">
            <img class="template-card-img img-fluid" src="{{ .Params.thumbnail }}" /></div>
                <h2 class="h4 mb-3">{{ .Params.label }}</h2>
                <p class="mb-3">{{ .Summary }} </p>
                <p class="text-blue text-sm templates-card-link">Get this template</p>
        </div>
    </a>
    {{ end }}
    {{ end }}
    </div></div>
    <div class="my-3 text-center">
      <a href="/{{ .Section }}/templates" class="btn btn-cta btn-lg"> Browse all {{ .Section | singularize | humanize | lower  }} templates</a>
    </div></div></div>

{{ partial "integrations-templates.html" . }}

<div class="space-3 container-fw bg-black">
  <div class="container text-center">
    <h2 class="mb-3 text-white">Fast, cost-effective developments
    </h2>
    <p class="mb-6 w-lg-50 mx-auto text-center text-light-dark">We’re changing the equation when it comes to sourcing custom tools. Gone are the days of time-consuming, costly custom builds. With Budibase, you can build and deploy directory apps, in as little as five minutes. 
    </p>
    <div class="flex-gap-center w-lg-80 mx-auto">
      <h4 class="h5 py-3 px-4 rounded-pill bg-blue text-white mr-2">Automate admin tasks</h4>
      <h4 class="h5 py-3 px-4  rounded-pill bg-blue  text-white mr-2">Streamline communications</h4>
      <h4 class="h5  py-3 px-4  rounded-pill bg-blue  text-white mr-2">Instant information sharing</h4>
      <h4 class="h5 py-3 px-4  rounded-pill bg-blue  text-white mr-2">Intuitive UIs</h4>
      <h4 class="h5 py-3 px-4 rounded-pill bg-blue  text-white mr-2">Built-in form builder</h4>
      <h4 class="h5 py-3 px-4 rounded-pill bg-blue  text-white mr-2">Custom RBAC</h4>
    </div>
    <p class="mt-6 w-lg-50 mx-auto text-center text-light-dark">Don’t settle for subpar solutions. At Budibase, we empower our users to build the perfect tools for their needs, with minimal coding.
    </p>
  </div>
</div>

<div class="space-3">
  <div class="container text-center">
    <h2 class="mb-3">Directory app use-cases</h2>
    <p class="mb-6 w-lg-50 mx-auto text-center">Tailor your directories to your exact information management requirements. Control which users can access and edit entries, for maximum security and usability.
      </p>
      <div class="mt-6 container-benefit-3">
          <div class="card-small-light">
            <h4 class="mb-2">Membership directories</h4>
            <p class="text-sm text-thin">
              Create closed platforms to share information between partners, stakeholders, and more. Allow users to access key information about other members, or update and maintain their own entries.
            </p>
          </div>
          <div class="card-small-light">
            <h4 class="mb-2">Public directories
            </h4>
            <p class="text-sm text-thin">
              Store, manage, and present publicly accessible information, with an intuitive, functional directory. Share limited information with public users, while restricting sensitive data and editing permissions to your internal users.
            </p>
          </div>
          <div class="card-small-light">
            <h4 class="mb-2">Internal directories
            </h4>
            <p class="text-sm text-thin">
              Build internal directories to manage and share information within large organizations. Give your employees an intuitive tool to find, contact, and collaborate with colleagues, wherever they are.
            </div>

        </div>
      </div>
  </div>

<div class="article space-2 ">
  <div class="container-9">
    <h2>FAQs</h2>
    <p>Budibase is the fast and effective way to build cutom directories. Here’s everything you need to know about our innovative low-code platform.
    </p>
    <div class="faq space-1-top space-3-bottom ">
    {{ .Content }}
    </div>
  </div>
</div>
{{ partial "cta.html" . }}

{{ partial "footer.html" . }}
</div>