.service-card{
  margin-left: 0;
  margin-bottom: 40px;
  transition: box-shadow 0.3s;
  margin-right: 0;

  .service-card__img{
    padding-right: 0;
    padding-left: 0;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .service-card__info{
    border: 1px solid #f1f1f1;
    padding: 50px 50px 40px 30px;
  }

  .service-card__title{
    font-size: $font-size-t3;
    line-height: $line-height-t3;
    font-family: $font-family-title;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
  }

  .service-card__description{
    font-size: $font-size-t4;
    line-height: $line-height-t4;
    margin-bottom: 45px;
  }

  .service-card__stack{
    font-family: $font-family-title;
    font-size: $font-size-t6;
    line-height: $line-height-t6;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .service-card__link{
    margin-top: 55px;
    font-family: $font-family-title;
    font-size: $font-size-t5;
    line-height: $line-height-t5;
    float: right;
  }

  &:hover{
    box-shadow: 0 1px 31px rgba(0,0,0,0.09);
    cursor: pointer;
  }
}

// Card deck

@include media-breakpoint-up(sm) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -$card-deck-margin;
    margin-left: -$card-deck-margin;

    .card {
      display: flex;
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: $card-deck-margin;
      margin-left: $card-deck-margin;
    }
  }
}
