
{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<!--Header-->
<header class="main-header">
  {{ partial "contact-header.html" . }}
</header>
<!--Header-->


<div class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="blog_header" class="section__title">Leave Me A Message_</h2>
      <p>Leave a message below using the contact form. Alternatively, contact me using live chat.</p>
    </div>
  </div>

<div class="form-control">
  <div class="container" >
        <form name="contact" method="POST" netlify>
          <div class="row">
            <div class="col">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text" name="Name" class="form-control" placeholder="Jamie McGoo">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">Company</label>
                <input type="text" name="Company" class="form-control" placeholder="Belfast Company Ltd">
              </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" name="Email" class="form-control"  placeholder="name@example.com">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">Phone Number</label>
                <input type="text" name="Phone Number" class="form-control" placeholder="02890443445">
              </div>
            </div>
            <br>

                <label for="exampleFormControlInput1">What services are you interested in?</label>
                <label class="customcheck">SEO
                    <input type="checkbox" name="SEO">
                    <span class="checkmark"></span>
                  </label>
                  <label class="customcheck">Web Design
                    <input type="checkbox" name="web design">
                    <span class="checkmark"></span>
                  </label>
                  <label class="customcheck">Social Media
                    <input type="checkbox" name="social media">
                    <span class="checkmark"></span>
                  </label>
            <br>

            <label for="exampleFormControlInput1">Message</label>
            <textarea class="form-control" name="Message" placeholder="How can I help you?" style="height:150px;"></textarea><br />
            <input class="btn btn-outline-warning" type="submit" value="SEND MESSAGE" /><br /><br />
        </form>
        
</div>
</div>

</div>

{{ partial "footer.html" . }}
