{{ partial "header.html" . }} 
{{ partial "navigation.html" . }} 
{{ partial "circle-cta.html" . }}

<div class="space-2-bottom">
  <div class="container container-blog space-3-top">
    <div class="mb-3">
      <h1 class="mb-2">People</h1>
    </div>
    <div class="categories">
      <a href="/about">
        <h3 class="h6 text-dark mb-0">Story</h3>
      </a>
      <a href="/people">
        <h3 class="h6 text-blue mb-0">People</h3>
      </a>
      <a href="/investment">
        <h3 class="h6 text-dark mb-0">Investment</h3>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="people-container">
      <div class="people">
        <img
          class="img-fluid bg-yellow p-3"
          src="img/img/joe-and-mike.jpg"
          alt="Image Description"
        />
        <div class="people-content">
          <h3 class="mb-2">Joe Johnston</h3>
          <h5 class="text-light mb-2">COO</h5>
          <p>
            Before Budibase, Joe lead marketing at a number of SMEs and later
            became a marketing consultant.
          </p>
        </div>
      </div>
      <div class="people">
        <img
          class="img-fluid bg-orange p-3"
          src="img/img/joe-and-mike.jpg"
          alt="Image Description"
        />
        <div class="people-content">
          <h3 class="mb-2">Joe Johnston</h3>
          <h5 class="text-light mb-2">COO</h5>
          <p>
            Before Budibase, Joe lead marketing at a number of SMEs and later
            became a marketing consultant.
          </p>
        </div>
      </div>
      <div class="people">
        <img
          class="img-fluid bg-red p-3"
          src="img/img/joe-and-mike.jpg"
          alt="Image Description"
        />
        <div class="people-content">
          <h3 class="mb-2">Joe Johnston</h3>
          <h5 class="text-light mb-2">COO</h5>
          <p>
            Before Budibase, Joe lead marketing at a number of SMEs and later
            became a marketing consultant.
          </p>
        </div>
      </div>
      <div class="people">
        <img
          class="img-fluid bg-blue p-3"
          src="img/img/joe-and-mike.jpg"
          alt="Image Description"
        />
        <div class="people-content">
          <h3 class="mb-2">Joe Johnston</h3>
          <h5 class="text-light mb-2">COO</h5>
          <p>
            Before Budibase, Joe lead marketing at a number of SMEs and later
            became a marketing consultant.
          </p>
        </div>
      </div>
      <div class="people">
        <img
          class="img-fluid bg-green p-3"
          src="img/img/joe-and-mike.jpg"
          alt="Image Description"
        />
        <div class="people-content">
          <h3 class="mb-2">Joe Johnston</h3>
          <h5 class="text-light mb-2">COO</h5>
          <p>
            Before Budibase, Joe lead marketing at a number of SMEs and later
            became a marketing consultant.
          </p>
        </div>
      </div>
      <div class="people">
        <img
          class="img-fluid bg-purple p-3"
          src="img/img/joe-and-mike.jpg"
          alt="Image Description"
        />
        <div class="people-content">
          <h3 class="mb-2">Joe Johnston</h3>
          <h5 class="text-light mb-2">COO</h5>
          <p>
            Before Budibase, Joe lead marketing at a number of SMEs and later
            became a marketing consultant.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "cta.html" . }} 
{{ partial "footer.html" . }}
