{{ partial "header.html" . }} 
{{ partial "navigation.html" . }} 
{{ partial "circle-cta.html" . }}

<div class="space-2-bottom">
  <div class="container container-blog space-3-top">
    <div class="mb-3">
      <h1 class="mb-2">People</h1>
    </div>
    <div class="categories">
      <a href="/about">
        <h3 class="h6 text-dark mb-0">Story</h3>
      </a>
      <a href="/people">
        <h3 class="h6 text-blue mb-0">People</h3>
      </a>
      <a href="/investment">
        <h3 class="h6 text-dark mb-0">Investment</h3>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="people-container">
      <div class="people">
        <img
          class="img-fluid bg-yellow p-3"
          src="img/img/mike.jpg"
          alt="Image Description"
        />
        <div class="people-content">
          <h3 class="mb-2">Mike Shanks</h3>
          <h5 class="text-light mb-2">CEO</h5>
          <p>
            Before Budibase, Mike worked for a number of software companies as a software engineer. In his spare time, Mike enjoys long-distance running.
          </p>
        </div>
      </div>
      <div class="people">
        <img
          class="img-fluid bg-orange p-3"
          src="img/img/joe.jpg"
          alt="Image Description"
        />
        <div class="people-content">
          <h3 class="mb-2">Joe Johnston</h3>
          <h5 class="text-light mb-2">CGO</h5>
          <p>
            Previously, Joe led marketing at a number of SMEs in the tech sector. In his spare time, he enjoys walking his dog and supporting Arsenal.
          </p>
        </div>
      </div>
      <div class="people">
        <img
          class="img-fluid bg-red p-3"
          src="img/img/marty.jpg"
          alt="Image Description"
        />
        <div class="people-content">
          <h3 class="mb-2">Martin McKeaveney</h3>
          <h5 class="text-light mb-2">CTO</h5>
          <p>
            Before budibase, I worked as a freelance software engineer where I loved to solve technical problems for clients across many sectors and industries. When I'm not programming, I love cooking, reading and writing.

          </p>
        </div>
      </div>
      <div class="people">
        <img
          class="img-fluid bg-blue p-3"
          src="img/img/michael.jpg"
          alt="Image Description"
        />
        <div class="people-content">
          <h3 class="mb-2">Michael Drury</h3>
          <h5 class="text-light mb-2">Software Engineer</h5>
          <p>
            Before Budibase, Michael built systems across a variety of sectors, including IoT, security, networking and manufacturing. In his off time he enjoys 3D printing things for his DnD campaigns.
          </p>
        </div>
      </div>
      <div class="people">
        <img
          class="img-fluid bg-green p-3"
          src="img/img/andrew.png"
          alt="Image Description"
        />
        <div class="people-content">
          <h3 class="mb-2">Andrew Kingston</h3>
          <h5 class="text-light mb-2">Software Engineer</h5>
          <p>
            Before Budibase, Andrew developed software at a number of companies in the IOT and cyber security sectors. When he's not working, he enjoys tinkering with computer hardware in his homelab.

          </p>
        </div>
      </div>
      <div class="people">
        <img
          class="img-fluid bg-purple p-3"
          src="img/img/kevin.png"
          alt="Image Description"
        />
        <div class="people-content">
          <h4 class="mb-2">Kevin Åberg Kultalahti</h4>
          <h5 class="text-light mb-2">Software Engineer</h5>
          <p>
            Kevin has worked as a software engineer for a number of years. He is one of early adopters, as well as a active community member of Svelte and host of popular podcast, Svelte Radio.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr style="width: 50%;">
{{ partial "footer.html" . }}
