{{ partial "head/header.html" . }}
<section class="v3-section bg-black text-center ">
    <div class="v3-bg-image">
        <img class="h-100vh" src="https://res.cloudinary.com/daog6scxm/image/upload/v1724339912/campaigns/3.0/views_vroxvs.svg" />
    </div>
    <div class="v3-content z-2 py-6 mx-auto flex flex-column justify-center-lg align-center text-center h-100vh">
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1698314967/Branding/Assets/Symbol/RGB/Full%20Colour/trans_ag0ndy.svg"
        alt="Budibase logo" width="40" data-atf="1" data-frt="0" class="mb-2" />
        <h1 class="hero-title-xl text-white mb-3">Budibase 3.0</h1>
        <p class="text-white opacity-75 mb-4">21st - 25th October 2024</p>
        <button popovertarget="my-popover" class="trigger-btn btn btn-v3 flex">Register for the launch</button>
            <div id="my-popover" class="bg-base-2" popover=auto>
                <button class="close-btn" popovertarget="my-popover" popovertargetaction="hide">
                <span aria-hidden="true"><svg class="svg" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="#000" fill-opacity="1" fill-rule="nonzero" stroke="none" d="m6 5.293 4.789-4.79.707.708-4.79 4.79 4.79 4.789-.707.707-4.79-4.79-4.789 4.79-.707-.707L5.293 6 .502 1.211 1.21.504 6 5.294z"></path></svg></span>
                <span class="sr-only">Close</span>
                </button>
                <h2 class="mb-3 text-left">Register for 3.0 launch</h2>
                <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
                <script>
                hbspt.forms.create({
                    region: "eu1",
                    portalId: "26121987",
                    formId: "3dc01c8c-fac6-4701-bfd7-994f12711831"
                });
                </script>
            </div>
        <div class="v3-schedule-wrapper">
            <img class="img-fluid opacity-50" src="https://res.cloudinary.com/daog6scxm/image/upload/v1724426565/campaigns/3.0/secure_by_design_xgf0te.svg" />
            <img class="img-fluid opacity-50" src="https://res.cloudinary.com/daog6scxm/image/upload/v1724426565/campaigns/3.0/rbac_k92jeh.svg" />
            <img class="img-fluid opacity-50" src="https://res.cloudinary.com/daog6scxm/image/upload/v1724426564/campaigns/3.0/branching_ngy6r4.svg" />
            <img class="img-fluid opacity-50" src="https://res.cloudinary.com/daog6scxm/image/upload/v1724426563/campaigns/3.0/ai_jpmeor.svg" />
            <img class="img-fluid opacity-50" src="https://res.cloudinary.com/daog6scxm/image/upload/v1724426563/campaigns/3.0/future_dfdnmz.svg" />
        </div>
    </div>
</section>
