{{ partial "head/header.html" . }}
<section class="v3-section bg-black text-center ">
    <div class="v3-bg-image">
        <img class="h-100vh" src="https://res.cloudinary.com/daog6scxm/image/upload/v1724339912/campaigns/3.0/views_vroxvs.svg" />
    </div>
    <div class="v3-content z-2 py-6 mx-auto flex flex-column justify-center-lg align-center text-center h-100vh">
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1698314967/Branding/Assets/Symbol/RGB/Full%20Colour/trans_ag0ndy.svg"
        alt="Budibase logo" width="40" data-atf="1" data-frt="0" class="mb-2" />
        <h1 class="hero-title-xl text-white mb-3">Budibase 3.0</h1>
        <p class="text-white opacity-75 mb-4">4th - 8th November 2024</p>
        <div class="v3-schedule-wrapper">
            <div class="flex flex-column">
                <img class="img-fluid opacity-100" src="https://res.cloudinary.com/daog6scxm/image/upload/v1730711225/campaigns/3.0/day%201/lp-card_ggx443.svg" />
                <a href="/blog/updates/v3/launchweek/day1/">
                    <button class="btn btn-primary btn-wide my-3">
                        Read launch post
                    </button>
                </a>
            </div>
            <div class="flex flex-column">
                <img class="img-fluid opacity-100" src="https://res.cloudinary.com/daog6scxm/image/upload/v1729158837/campaigns/3.0/ROLE_BASED_FREEDOM_e4fjne.svg" />
                <a href="/blog/updates/v3/launchweek/day2/">
                    <button class="btn btn-primary btn-wide my-3">
                        Read launch post
                    </button>
                </a>
            </div>
            <div class="flex flex-column">
                <img class="img-fluid opacity-100" src="https://res.cloudinary.com/daog6scxm/image/upload/v1729158837/campaigns/3.0/AUTOMATION_BRANCHING_lvxy8q.svg" />
                <a href="/blog/updates/v3/launchweek/day3/">
                    <button class="btn btn-primary btn-wide my-3">
                        Read launch post
                    </button>
                </a>
            </div>
            <div class="flex flex-column">
                <img class="img-fluid opacity-100" src="https://res.cloudinary.com/daog6scxm/image/upload/v1729158837/campaigns/3.0/AI_gogmlj.svg" />
                <a href="/blog/updates/v3/launchweek/day4/">
                    <button class="btn btn-primary btn-wide my-3">
                        Read launch post
                    </button>
                </a>
            </div>
            <div class="flex flex-column">
                <img class="img-fluid opacity-100" src="https://res.cloudinary.com/daog6scxm/image/upload/v1729158837/campaigns/3.0/FUTURE_b9sfyr.svg" />
                <a href="/blog/updates/v3/launchweek/day5/">
                    <button class="btn btn-primary btn-wide my-3">
                        Read launch post
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
