{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<div class="mb-2">
    <div class="container container-blog space-3-top ">
      <div class="pricing-heading container mb-2">
        <h1>Pricing</h1>
        <a href="/self-host">Prefer to self-host?</a>
      </div>
    </div>
</div>

<div class="container">
    <p class="lead">
      Building apps with Budibase is free - no CC required! Hosting with Budibase is also free until you outgrow the generous free tier below.
 
    </p> 

    <div class="pricing mt-8 mb-8">
      <div class="pricing-card">
        <div class="pricing-in-content">
          <div class="pricing-title">
            <h4>Free</h4>
            <h4 class="text-blue">$0</h4>
          </div>
          <div class="mb-4 mx-auto">
            <a href="/pricing1">
             <button type="submit" class="btn btn-block btn-secondary">Select</button>
            </a>
          </div>  
            <p class="mb-2">✓ 1,000 records</p>
            <p class="mb-2">✓ 1GB attachment storage</p>
            <p class="mb-2">✓ 2 workflows</p>
            <p class="mb-2">✓ Unlimited users</p>
            <p class="mb-2">✓ Unlimited apps</p>
        </div>
      </div>
      <div class="pricing-card">
        <div class="pricing-in-content">
          <div class="pricing-title">
            <h4>Essential</h4>
            <h5 class="text-blue">$30 <span class="small">p/m</span></h5>
          </div>  
          <div class="mb-4 mx-auto">
            <button type="submit" class="btn btn-block btn-secondary">Select</button>
          </div>            
          <p class="mb-2">✓ 5,000 records</p>
            <p class="mb-2">✓ 5GB attachment storage</p>
            <p class="mb-2">✓ 5 workflows</p>
            <p class="mb-2">✓ Email support</p>
            <p class="mb-2">✓ Unlimited apps</p>
            <p class="mb-2">✓ Unlimited users</p>
        </div>
      </div>
      <div class="pricing-card">
        <div class="pricing-in-content">
          <div class="pricing-title">
            <h4>Professional</h4>
            <h5 class="text-blue">$100 <span class="small">p/m</span></h5>
          </div>
          <div class="mb-4 mx-auto">
            <button type="submit" class="btn btn-block btn-secondary">Select</button>
          </div>        
          <p class="mb-2">✓ 20,000 records</p>
            <p class="mb-2">✓ 10GB attachment storage</p>
            <p class="mb-2">✓ Unlimited workflows</p>
            <p class="mb-2">✓ Email support</p>
            <p class="mb-2">✓ Multi-tenancy</p>
            <p class="mb-2">✓ Unlimited apps</p>
            <p class="mb-2">✓ Unlimited users</p>
        </div>
      </div>
    </div>
</div>

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}

