{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<div class="mb-2">
    <div class="container container-blog space-2-top ">
      <div class="pricing-heading container mb-2 mx-auto">
        <h2 class="text-center mx-auto">Level-up your development</h2>
      </div>
    </div>
</div>

<div class="container">
  <div class="pricing-subheading w-lg-60 mx-auto">
    <p class="lead text-center">
      Budibase's pricing works for businesses of all sizes and shapes. You have the option to host your applications with Budibase, or self-host. 
    </p> 
    <a href="/self-host" class="mt-3 mx-auto small text-dark self-host-link">
       Self-hosting plans -->
    </a> 
  </div>


    <div class="pricing border shadow mt-6 mb-6">
      <div class="pricing-card">
        <div class="pricing-in-content">
          <h5 class="mb-2">Free</h5>
          <p class="mb-3 font-small font-weight-medium">For individuals trying out Budibase for an unlimited period of time</p>
          <h5 class="mb-3">$0 <span class="small">/month</span></h5>
          <div class="mb-4 mx-auto">
             <a href="#signup"><button type="submit" class="btn btn-block btn-primary ">Get Started</button></a> 
          </div>  
            <p class="mb-2 small mb-3 font-weight-medium">A great way to try Budibase</p>
            <p class="mb-2 small"><span class="font-weight-medium">✓</span> 500 records</p>  
            <p class="mb-2 small"><span class="font-weight-medium">✓</span> 100 automation runs</p>
            <p class="mb-2 small"><span class="font-weight-medium">✓</span> Standard integrations</p>
            <p class="mb-2 small"><span class="font-weight-medium">✓</span> Granular access controls</p>

        </div>
      </div>
      <div class="pricing-card">
        <div class="pricing-in-content">
          <h5 class="mb-2">Standard</h5>
          <p class="mb-3 font-small font-weight-medium">For small to medium sized businesses with limited development resource</p>
          <h5 class="mb-3">$6 <span class="small">user/month</span></h5>
          <div class="mb-4 mx-auto">
            <button type="submit" class="btn btn-block btn-primary">Get Started</button>
          </div>  
            <p class="mb-2 small mb-3 font-weight-medium">All the benefits of free and:
              <p class="mb-2 small"><span class="font-weight-medium">✓</span> 50,000 records</p>  
              <p class="mb-2 small"><span class="font-weight-medium">✓</span>  500 automation runs</p>
              <p class="mb-2 small"><span class="font-weight-medium">✓</span> Unlimited apps</p>
            <p class="mb-2 small"><span class="font-weight-medium">✓</span>  Budibase logo removed</p>
        </div>
      </div>
      <div class="pricing-card">
        <div class="pricing-in-content">
          <h5 class="mb-2">Plus</h5>
          <p class="mb-3 font-small font-weight-medium">For large businesses who need to build and ship solutions faster</p>
          <h5 class="mb-3">$12 <span class="small">user/month</span></h5>
          <div class="mb-4 mx-auto">
            <button type="submit" class="btn btn-block btn-primary">Get Started</button>
          </div>        
          <p class="mb-2 small mb-3 font-weight-medium">All the goodness of Startup and:</p> 
          <p class="mb-2 small"><span class="font-weight-medium">✓</span> 500,000 records</p>  
          <p class="mb-2 small"><span class="font-weight-medium">✓</span>  2,000 automation runs</p>
          <p class="mb-2 small"><span class="font-weight-medium">✓</span>  Audit logs</p>
          <p class="mb-2 small"><span class="font-weight-medium">✓</span>  Premium integrations</p>
        </div>
      </div>
      <div class="pricing-card">
        <div class="pricing-in-content">
            <h5 class="mb-2">Enterprise</h5>
            <p class="mb-3 font-small font-weight-medium">For extra-large enterprise businesses and heavily regulated organizations</p>
            <h5 class="mb-3">Flexible Pricing</h5>
          <div class="mb-4 mx-auto">
            <button type="submit" class="btn btn-block btn-secondary">Contact us</button>
          </div>        
          <p class="mb-2 small mb-3 font-weight-medium">All the greatness of Pro and:</p>  
          <p class="mb-2 small"><span class="font-weight-medium">✓</span>  Unlimited records</p> 
          <p class="mb-2 small"><span class="font-weight-medium">✓</span>  20,000 automation runs</p>  
          <p class="mb-2 small"><span class="font-weight-medium">✓</span>  Priorty Support</p>
          <p class="mb-2 small"><span class="font-weight-medium">✓</span>  Onboarding/Training</p>
          <p class="mb-2 small"><span class="font-weight-medium">✓</span>  Deploy on-premise</p>
        </div>
      </div>
    </div>
</div>


<!-- Pricing Table Section -->
<div class="container space-1-top space-3-bottom">
  <!--  Pricing Table Features -->
  <table class="table table-borderless table-striped table-responsive-sm mb-4">
    <thead>
      <tr>
        <th scope="col" class="py-5">
          <span class="h5 font-weight-bold mb-0">Usage</span>
        </th>
        <th scope="col" class="py-5">
          <span class="h6 d-block font-weight-bold">Free</span>
        </th>
        <th scope="col" class="py-5">
          <span class="h6 d-block font-weight-bold">Standard</span>
        </th>
        <th scope="col" class="py-5">
          <span class="h6 d-block font-weight-bold">Plus</span>
        </th>
        <th scope="col" class="py-5">
          <span class="h6 d-block font-weight-bold">Enterprise</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="font-weight-normal small w-35">
          Users
        </th>
        <td class="w-15"><span class="font-weight-medium small">Unlimited</span></td>
        <td class="w-15"><span class="font-weight-medium small">Unlimited</span></td>
        <td class="w-15"><span class="font-weight-medium small">Unlimited</span></td>
        <td class="w-15"><span class="font-weight-medium small">Unlimited</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small w-35">
          Guest Users
        </th>
        <td class="w-15"><span class="font-weight-medium small">2 x Users</span></td>
        <td class="w-15"><span class="font-weight-medium small">5 x Users</span></td>
        <td class="w-15"><span class="font-weight-medium small">10 x Users</span></td>
        <td class="w-15"><span class="font-weight-medium small">50 x Users</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Private/Public apps
        </th>
        <td><span class="font-weight-medium small">1</span></td>
        <td><span class="font-weight-medium small">Unlimited</span></td>
        <td><span class="font-weight-medium small">Unlimited</span></td>
        <td><span class="font-weight-medium small">Unlimited</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Total records
        </th>
        <td><span class="font-weight-medium small">500</span></td>
        <td><span class="font-weight-medium small">50,000</span></td>
        <td><span class="font-weight-medium small">500,000</span></td>
        <td><span class="font-weight-medium small">Unlimited</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Tables (including Views)
        </th>
        <td><span class="font-weight-medium small">3</span></td>
        <td><span class="font-weight-medium small">10</span></td>
        <td><span class="font-weight-medium small">30</span></td>
        <td><span class="font-weight-medium small">Unlimited</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Attachment storage per user
        </th>
        <td><span class="font-weight-medium small">500MB</span></td>
        <td><span class="font-weight-medium small">1GB</span></td>
        <td><span class="font-weight-medium small">5GB</span></td>
        <td><span class="font-weight-medium small">Unlimited</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Total automation runs per month
        </th>
        <td><span class="font-weight-medium small">100</span></td>
        <td><span class="font-weight-medium small">500</span></td>
        <td><span class="font-weight-medium small">2,000</span></td>
        <td><span class="font-weight-medium small">10,000</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Audit logs
        </th>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small">Coming soon</span></td>
        <td><span class="font-weight-medium small">Coming soon</span></td>
      </tr>
    </tbody>
  </table>
  <!-- End  Pricing Table Features -->

  <!--  Pricing Table Features -->
  <table class="table table-borderless table-striped table-responsive-sm mb-4">
    <thead>
      <tr>
        <th scope="col" class="py-5">
          <span class="h5 font-weight-bold mb-0">Integrations</span>
        </th>
        <th scope="col" class="py-5">
          <span class="h6 d-block font-weight-bold">Free</span>
        </th>
        <th scope="col" class="py-5">
          <span class="h6 d-block font-weight-bold">Standard</span>
        </th>
        <th scope="col" class="py-5">
          <span class="h6 d-block font-weight-bold">Plus</span>
        </th>
        <th scope="col" class="py-5">
          <span class="h6 d-block font-weight-bold">Enterprise</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="font-weight-normal small w-35">
          CSV (comma-separated values)
        </th>
        <td class="w-15"><span class="font-weight-medium small">✓</span></td>
        <td class="w-15"><span class="font-weight-medium small">✓</span></td>
        <td class="w-15"><span class="font-weight-medium small">✓</span></td>
        <td class="w-15"><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Sendgrid
        </th>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Discord
        </th>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Integromat
        </th>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Zapier
        </th>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          PostgreSQL
        </th>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          S3
        </th>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          MongoDB
        </th>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          CouchDB
        </th>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          DynamoDB
        </th>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Elasticsearch
        </th>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
    </tbody>
  </table>
  <!-- End  Pricing Table Features -->


  <!--  Pricing Table Features -->
  <table class="table table-borderless table-striped table-responsive-sm mb-4">
    <thead>
      <tr>
        <th scope="col" class="py-5">
          <span class="h5 font-weight-bold mb-0">Support</span>
        </th>
        <th scope="col" class="py-5">
          <span class="h6 d-block font-weight-bold">Free</span>
        </th>
        <th scope="col" class="py-5">
          <span class="h6 d-block font-weight-bold">Standard</span>
        </th>
        <th scope="col" class="py-5">
          <span class="h6 d-block font-weight-bold">Plus</span>
        </th>
        <th scope="col" class="py-5">
          <span class="h6 d-block font-weight-bold">Enterprise</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="font-weight-normal small w-35">
          Self-serve knowledge base 
        </th>
        <td class="w-15"><span class="font-weight-medium small">Community</span></td>
        <td class="w-15"><span class="font-weight-medium small">Community</span></td>
        <td class="w-15"><span class="font-weight-medium small">Email</td>
        <td class="w-15"><span class="font-weight-medium small">Phone</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small w-35">
          Email support
        </th>
        <td class="w-15"><span class="font-weight-medium small">Community</span></td>
        <td class="w-15"><span class="font-weight-medium small">Community</span></td>
        <td class="w-15"><span class="font-weight-medium small">Email</td>
        <td class="w-15"><span class="font-weight-medium small">Phone</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          99% guaranteed uptime SLA
      </th>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small">Coming soon</span></td>
        <td><span class="font-weight-medium small">Coming soon</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Priority support response
        </th>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Dedicated customer success manager
      </th>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Dedicated onboarding
      </th>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-normal small">
          Individualized Training
      </th>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small"></span></td>
        <td><span class="font-weight-medium small">✓</span></td>
      </tr>
    </tbody>
  </table>

    <!--  Pricing Table Features -->
    <table class="table table-borderless table-striped table-responsive-sm mb-9">
      <thead>
        <tr>
          <th scope="col" class="py-5">
            <span class="h5 font-weight-bold mb-0">Security</span>
          </th>
          <th scope="col" class="py-5">
            <span class="h6 d-block font-weight-bold">Free</span>
          </th>
          <th scope="col" class="py-5">
            <span class="h6 d-block font-weight-bold">Standard</span>
          </th>
          <th scope="col" class="py-5">
            <span class="h6 d-block font-weight-bold">Plus</span>
          </th>
          <th scope="col" class="py-5">
            <span class="h6 d-block font-weight-bold">Enterprise</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="font-weight-normal small w-35">
            Data encryption at rest and in transit
          </th>
          <td class="w-15"><span class="font-weight-medium small">✓</span></td>
          <td class="w-15"><span class="font-weight-medium small">✓</span></td>
          <td class="w-15"><span class="font-weight-medium small">✓</span></td>
          <td class="w-15"><span class="font-weight-medium small">✓</span></td>
        </tr>
        <tr>
          <th scope="row" class="font-weight-normal small w-35">
            Local development
          </th>
          <td class="w-15"><span class="font-weight-medium small">✓</span></td>
          <td class="w-15"><span class="font-weight-medium small">✓</span></td>
          <td class="w-15"><span class="font-weight-medium small">✓</span></td>
          <td class="w-15"><span class="font-weight-medium small">✓</span></td>
        </tr>
        <tr>
          <th scope="row" class="font-weight-normal small">
            SAML-based single sign-on (SSO)
          </th>
          <td><span class="font-weight-medium small"></span></td>
          <td><span class="font-weight-medium small"></span></td>
          <td><span class="font-weight-medium small"></span></td> 
          <td><span class="font-weight-medium small">Coming soon</span></td>
        </tr>
        <tr>
          <th scope="row" class="font-weight-normal small">  
          </th>
          <td><a href=""><span class="font-weight-medium small text-blue">Get started</span></a></td>
          <td><a href=""><span class="font-weight-medium small text-blue">Get started</span></a></td>
          <td><a href=""><span class="font-weight-medium small text-blue">Get started</span></a></td>
          <td><a href=""><span class="font-weight-medium small text-blue">Contact us</span></a></td>
        </tr>
      </tbody>
    </table>
  <!-- End  Pricing Table Features -->  {{ partial "cta-open-source.html" . }}


</div>
<!-- End Pricing Table Section -->




<!--

<div class="container rounded border-black p-6 bg-dark-2 mb-4">
  <div class="pricing-title">
    <h5 class="text-white">Enterprise</h5>
    <h5 class="text-white">$50 <span class="small text-">user/month</span></h5>
  </div> 
  <p class="mb-4 text-white">Budibase Enterprise is packed with even more powerful features your growing team and organization needs - with the same ease-of-use and speed our users know and love. </p>
  <div class="believer-package">
    <div class="column">  
      <p class="mb-2 text-white"><span class="font-weight-medium">✓</span> Onboarding and training</p>
      <p class="mb-2 text-white"><span class="font-weight-medium">✓</span> SSO</p>
      <p class="mb-2 text-white"><span class="font-weight-medium">✓</span> 100 day version history</p>
    </div> 
    <div class="column">  
      <p class="mb-2 text-white"><span class="font-weight-medium">✓</span> Priority Support</p>
      <p class="mb-2 text-white"><span class="font-weight-medium">✓</span> Enterprise integrations</p>
    </div>
    <div class="column">  
      <p class="mb-2 text-white"><span class="font-weight-medium">✓</span> 100 day version history</p>
      <p class="mb-2 text-white"><span class="font-weight-medium">✓</span> Enterprise integrations</p>
    </div>
</div>
<button type="submit" class="btn btn-disabled mt-4">Coming soon</button></a> 
</div>

-->

