{{ partial "head/header.html" . }} {{ partial "navigation.html" . }}


<!-- Hero Section -->

<div class="space-2">
  <div class="container">
    <div class="w-lg-50 mx-auto text-center">
      <h1 class="mb-3 mb-4">
        Build secure approval apps with or without coding

      </h1>
      <p class="mx-auto lead mb-8 text-center"> Budibase makes it easy to build effective approval workflow software in minutes. Our low-code builder offers a range of integrations, automations, and hosting options.

      </p>
    </div>
    <div class="template-hero-images no-scrollbar mb-6 ">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/approval-apps/expense-approval.webp" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/approval-apps/holiday-request.webp" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/approval-apps/holiday-request-approval.webp" />
    </div>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
          </svg>
        </div>
        <h4 class="mb-2">100% customizable</h4>
        <p class="text-sm text-thin">
            Build fully customized approval software in minutes.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
          </svg>
        </div>
        <h4 class="mb-2">Approve on the go</h4>
        <p class="text-sm text-thin">
            Budibase tools are fully mobile responsive.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
          </svg>
        </div>
        <h4 class="mb-2">Choose your hosting</h4>
        <p class="text-sm text-thin">
            Choose from self-hosting, Budibase Cloud, or managed infrastructure.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
            <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="black">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
        </div>
        <h4 class="mb-2">Control access</h4>
        <p class="text-sm text-thin">
            Use permissions to optimize approval workflows.
        </p>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- What Section -->
<div class="space-2">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-50 mx-auto mb-4 text-center">What is approval workflow software?</h2>
    </div>
    <p class="w-lg-60 text-center mx-auto text-thin">Almost every business process involves some kind of approval workflow. In a basic approval process, there are two steps. First, an employee submits a piece of work, request, or report. Then, the responsible manager reviews and signs off on this.
        Approval workflow software automates this process, sequentially managing each of the requisite steps. This gives clear oversight of the entire approval process, improving adoption and efficiency.
        An employee simply submits a request for approval, and the relevant team members are notified of the need to review it. Approval software gives a central tool for managing requests, without the need to discuss them in person.
        Businesses use approval software to manage all kinds of processes. For example, vacation requests, employee expenses, content marketing, invoices, equipment hire, resourcing, procurement, and more.
    </p>
  </div>
</div>

<!-- Create Section -->
<div class="space-2" id="create">
<div class="container">
  <div class="text-sm-center mx-auto">
    <h2 class="w-lg-40 mx-auto mb-8">How to build {{ .Section | humanize | lower }} in 4 simple steps</h2>
  </div>
  <div class="benefits-new-container w-lg-60">
    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/img/external-data-sources.webp" target="_blank">
          <img
          src="/img/ui/data-sm.webp"
          class="img-fluid rounded-sm"
          alt="Data"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">1. Connect your data</h4>
        <p class="text-sm">
            Budibase supports SQL, MongoDB, Airtable, and more. You can also use our built-in internal database.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/form.webp" target="_blank">
            <img
            src="/img/hero-gallery/form.webp"
            class="img-fluid rounded-sm"
            alt="design"          
            />
          </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">2. Design your {{ .Section | singularize | humanize | lower }}</h4>
        <p class="text-sm">
            Brand and design your approval app, with our simple, low-code editor.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/img/automate.webp" target="_blank"><img
          src="/img/ui/automate-sm.webp"
          class="img-fluid rounded-sm"
          alt="automate"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">3. Automate manual processes</h4>
        <p class="text-sm">
            Add automations within your approval workflows, using Zapier, Webhooks, or our built-in JavaScript editor.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/ui/design-wide.webp" target="_blank">
          <img
          src="/img/ui/admin-sm.webp"
          class="img-fluid rounded-sm"
          alt="apps-list"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">4. Scale with confidence</h4>
        <p class="text-sm">
            Budibase offers free SSO, advanced RBAC, and unlimited apps. Add users or build more apps, with no extra cost.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="space-2">
    <div class="container">
      <div class="text-sm-center mx-auto">
        <h2 class="w-lg-50 mx-auto mb-4 text-center">Why do companies need approval workflow software?</h2>
      </div>
      <p class="w-lg-60 text-center mx-auto text-thin">Approval workflows often lead to wasted time. Without automated systems, colleagues are forced to take avoidable calls and meetings to discuss requests. Projects can also be delayed, as employees can’t move on while waiting for approval.
This leads to poor adherence to your internal processes. Employees might take shortcuts, or fail to follow your approval process properly.
Approval management software removes these inefficiencies, as well as improving oversight and accountability.             
      </p>
    </div>
  </div>


<div class="space-2" id="features">
  <div class="container text-center">
    <h2 class="mb-3">Effective approval workflows with Budibase    </h2>
    <p class="mb-6 w-lg-50 mx-auto text-center">At Budibase, our <a href="https://budibase.com/product">low-code builder</a> makes it easy to build effective approval software in minutes.

    </p>
    <div class="solutions-features">
      <div class="solutions-features-card rounded-xs">
        <h4 class="h5">Multi-screen apps</h4>
        <p class="text-xs text-thin">Create beautiful, multi-screen business applications</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4 class="h5">Access control</h4>
        <p class="text-xs text-thin">Assign different permissions to different users.</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4 class="h5">Conditionality</h4>
        <p class="text-xs text-thin">Create conditional UIs for streamlined user experiences.</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4 class="h5">Approval software design</h4>
        <p class="text-xs text-thin">Choose from a number of beautiful themes, with full customization.        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4 class="h5">Accessible components</h4>
        <p class="text-xs text-thin">All components / building blocks are accessibly tested</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4 class="h5">Apps work on all devices</h4>
        <p class="text-xs text-thin">Create business applications that work on all devices</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4 class="h5">Mobile approval software</h4>
        <p class="text-xs text-thin">Budibase apps are automatically mobile responsive.</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4 class="h5">Free SSO</h4>
        <p class="text-xs text-thin">SSO is free and unlimited for all Budibase users.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fw bg-base-3 mx-auto p-8">
<p class="lead text-dark text-center mx-auto w-lg-40">At Budibase, our mission is to make it quick and simple to build effective business tools. Our open-source platform is the smart way to build secure business apps.</p>
</div>

<div class="space-2-top space-3-bottom" id="deploy">
  <div class="container text-center">
    <h2 class="mb-3">Deploy your {{ .Section | humanize | lower }}</h2>
    <p class="mx-auto w-lg-50 text-center">When you build approval software with Budibase, you have the power to deploy anywhere. Choose from self-hosting, our managed infrastructure, or Budibase Cloud.

    </p>
    {{ partial "deploy-options.html" . }}
  </div>
</div>
</div>

<div class="bg-light-2">
<div class="container space-2 mx-auto">
  <h2 class="mb-3 mb-4 text-center">
    Free {{ .Section | singularize | humanize | lower }} templates
  </h1>
<div class=" w-lg-60 mx-auto">
  <p class="mx-auto lead-sm mb-6 text-center"> Explore our favourite free {{ .Section | singularize | humanize | lower  }} templates. With Budibase's intuitive low-code platform, you can customize your design in just a few clicks.
</p>
</div>
<div class="container-narrow space-2-bottom">
  <div class="templates-cards">
    {{ range where .Pages "Section" "!=" "templates" }}
    {{ range first 3 .Pages }}
    <a href="{{.Permalink}}">
      <div class="templates-card rounded-sm">
        <div class="template-thumbnail pt-4 pl-4  mb-4 img-fluid bg-{{ .Params.thumbnailColor }}">
          <img class="template-card-img img-fluid" src="{{ .Params.thumbnail }}" /></div>
              <h2 class="h4 mb-3">{{ .Params.label }}</h2>
              <p class="mb-3">{{ .Summary }} </p>
              <p class="text-blue text-sm templates-card-link">Get this template</p>
      </div>
  </a>
  {{ end }}
  {{ end }}
  </div></div>

<div class="my-3 text-center">
  <a href="/{{ .Section }}/templates" class="btn btn-cta btn-lg"> Browse all {{ .Section | singularize | humanize | lower  }} templates</a>
</div>
</div></div>


{{ partial "integrations-templates.html" . }}

<div class="space-2">
    <div class="container text-center">
      <h2 class="mb-3">Save time and money</h2>
      <p class="mb-6 w-lg-50 mx-auto text-center">Approval software reduces hidden operational costs. Automating workflows is the most effective way to build efficient internal processes, saving both time and money. With approval software from Budibase, you can optimize workflows with:
        </p>
      <div class="flex-gap-center w-lg-80 mx-auto">
          <h4 class="h5 p-3 border rounded-pill bg-base-3 mr-2">Instant approval requests</h4>
          <h4 class="h5 p-3 border rounded-pill bg-base-3 mr-2">Intuitive user interfaces</h4>
          <h4 class="h5 p-3 border rounded-pill bg-base-3 mr-2">Built-in form builder</h4>
          <h4 class="h5 p-3 border rounded-pill bg-base-3 mr-2">Eliminating approval meetings</h4>
          <h4 class="h5 p-3 border rounded-pill bg-base-3 mr-2">Streamlined communications</h4>
          <h4 class="h5 p-3 border rounded-pill bg-base-3 mr-2">Easy integrations</h4>
          <h4 class="h5 p-3 border rounded-pill bg-base-3 mr-2">Secure workflows</h4>
      </div>
      <p class="mt-6 w-lg-50 mx-auto text-center">Of course, every business has unique internal processes. Many companies choose off-the-shelf approval software and are forced to compromise on their needs. Budibase allows you to tailor your approval software to your exact process requirements.</p>
    </div>
  </div>


  <div class="space-2">
    <div class="container text-center">
      <h2 class="mb-3">Open-source approval workflow solutions</h2>
      <p class="mb-6 w-lg-50 mx-auto text-center">Our open-source platform is the fast and effective way to build approval management software.
        </p>
        <div class="mt-6 container-benefit">
            <div class="card-small-light">
              <div class="u-sm-avatar mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
                </svg>
              </div>
              <h4 class="mb-2">Expense reports</h4>
              <p class="text-sm text-thin">
                Allow employees to submit expense claims to your finance team in seconds.

              </p>
            </div>
            <div class="card-small-light">
              <div class="u-sm-avatar mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
                </svg>
              </div>
              <h4 class="mb-2">Invoice approval</h4>
              <p class="text-sm text-thin">
                Submit, review and manage invoices within your approval workflow software, for simple audit trails.
              </p>
            </div>
            <div class="card-small-light">
              <div class="u-sm-avatar mb-3 ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
                </svg>
              </div>
              <h4 class="mb-2">Marketing approval            </h4>
              <p class="text-sm text-thin">
                Use approval management software to gain sign-off on new marketing materials, to streamline your editorial process.
              </p>
            </div>
            <div class="card-small-light">
              <div class="u-sm-avatar mb-3 ">
                  <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="black">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                  </svg>
              </div>
              <h4 class="mb-2">Client approval workflows</h4>
              <p class="text-sm text-thin">
                Upload completed work to your approval management software, and automatically send a review request to the customer.
              </p>
            </div>
            <div class="card-small-light">
                <div class="u-sm-avatar mb-3 ">
                    <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="black">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                    </svg>
                </div>
                <h4 class="mb-2">Internal approval workflows</h4>
                <p class="text-sm text-thin">
                    Approval workflow software is ideal for business process management. Automate leave requests, expense requests, etc.</p>
              </div>
              <div class="card-small-light">
                <div class="u-sm-avatar mb-3 ">
                    <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="black">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                    </svg>
                </div>
                <h4 class="mb-2">Vendor approval workflows                </h4>
                <p class="text-sm text-thin">
                    Build approval software to streamline processes relating to invoicing, information requests, and more.
                </p>
              </div>               
          </div>
        </div>
    </div>
  </div>

{{ partial "cta.html" . }}
<hr style="width: 30%" />
{{ partial "footer.html" . }}
</div>