{{ partial "header.html" . }} 
{{ partial "forms/navigation.html" . }}
{{ partial "forms/hero.html" . }} 
{{ partial "forms/features.html" . }} 
{{ partial "forms/benefits.html" . }} 
{{ partial "forms/templates.html" . }} 
{{ partial "forms/guides.html" . }}
{{ partial "forms/platform.html" . }}
{{ partial "forms/faqs.html" . }} 
{{ partial "cta.html" . }}
{{ partial "footer.html" . }}
</div>

<script src="{{ "js/forms-tabs.js" | absURL }}"></script>
<script>
    document.getElementById("defaultOpen").click();
</script>
