
{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<!--Header-->
<header class="main-header">
{{ partial "blog-list-header.html" . }}
      
</header>
<!--Header-->

<!-- Blog -->
<div class="container">
  <div class="article">
    <div class="row">
      <div class="col-md-12">
				<div class="row">
						<div class="col-md-12">
							<h2 id="blog_header" class="section__title">Latest Posts_</h2>
						</div>
					</div>
				
					<div class="row post-cards">
				
						{{ range $index, $element := $.Paginator.Pages }}
						{{ if eq .Section "blog" }}
						<div class="col-md-6">
							<a href="blog.html">
								<div class="post-cards__card">
									<div class="post-cards__info">
										<p class="post-cards__date">{{ .Date.Format .Site.Params.dateform }}</p>
										<p class="post-cards_title"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
							{{ if isset .Params "tags" }}
							<ul class="tags">
								{{ range first 2 .Params.Tags }}
								<li><a class="meta" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
								{{ end }}
							</ul>
							{{ end }}
									</div>
								</div>
							</a>
						</div>
						{{ end }}
						{{ end }}
						{{ partial "pagination.html" . }}
					</div>
      </div>
    </div>
  </div>
</div>
<!-- Blog -->

{{ partial "footer.html" . }}
