
{{ partial "header.html" . }}

{{ partial "navigation-post.html" . }}


<!--Header-->

<header class="main-header">
{{ partial "blog-single-header.html" . }}
      
</header>

<!--Header-->

<!--Article-->
<div class="container">
  <div class="article">
    <div class="row">
      <div class="col-md-12">

  {{ .Content }}
  <p class="article_date">
Author: {{ .Site.Params.author }}
</p>

  {{ partial "share.html" . }}
      </div>
    </div>
    {{ partial "subscribe.html" . }}
  </div>
</div>
<!--Article-->

{{ partial "footer.html" . }}
