{{ partial "header.html" . }} 
{{ partial "navigation.html" . }}
    <div class="space-2 container feature-grid">
    <section class="feature-nav">
      <h2 class="mb-3">Think fast</h2>
      <p class="mb-6">Thoughts and ideas on how to build tools, automate workflows and operate faster.</p>
      <ul class="blog-nav-items">
        <li>
          <a href="/blog/" class="a-alt text-xs">All posts</a>
        </li> 
        <li>
          <a href="/blog/data" class="a-alt text-xs">Data</a>
        </li>  
        <li>
          <a href="/blog/app-building" class="a-alt text-xs">App building</a>
        </li>
        <li>
          <a href="/blog/automation" class="a-alt text-xs">Automation</a>
        </li>
        <li>
          <a href="/blog/tutorials" class="a-alt text-xs">Tutorials</a>
        </li>
        <li>
          <a href="/blog/inside-it" class="a-alt text-xs">Inside IT</a>
        </li>
        <li>
          <a href="/blog/updates" class="a-alt text-xs">Updates</a>
        </li>
    </ul>
    </section>    
    <div>
      <div class="blog-feature-cards space-2-bottom">
        {{ range (.Paginate .RegularPagesRecursive).Pages }}
        <a href="{{ .Permalink }}">
                <div class="blog-feature-card">
                      <img class="thumbnail-image rounded" src=" {{ if $.Site.Params.cloudinary_base_url }}{{ .Params.image }}{{else}}{{ .Params.image }}{{end}}"/>
                          <p class="mt-4 text-grey text-xs">{{ .Params.author }} | {{ .Date.Format .Site.Params.dateform }} </p>
                        <h2 class="h4 mb-2 mt-2 line-clamp-1">{{ .Title }}</h2>
                        <p class="mb-3 two-line-clamp">{{ .Description }} </p>
                </div>
              </a>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</div>


    {{ partial "cta.html" . }} {{ partial "footer.html" . }}


