{{ partial "header.html" . }}

{{ partial "navigation.html" . }}


<main id="content" role="main">
    <!-- Article Content -->
    <div class="container space-2 space-3-top space-1-bottom--lg">
      <header class="w-md-75 w-lg-60 mx-md-auto">
        <h1 class="mb-5">{{ .Title }}</h1>

        <!-- Author -->
        <div class="media align-items-center mb-5">
          <div class="media-body">
            <h4 class="h6 mb-0">By: {{ .Site.Params.author }}</h4>
            <small class="d-block text-muted">{{.Date.Format "2006-01-02"}}</small>
          </div>
        </div>
        <!-- End Author -->
      </header>

      <!-- Description -->
      <div class="w-md-75 w-lg-60 mx-md-auto mb-9">

  {{ .Content }}


      </div>
    </div>
</main>
<!--Article-->

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}
