<ul class="platform-card-grid">
  <li class="platform-card">
    <div class="platform-card-inner">
      <div data-area="icon">
        <img class="platform-card-icon p-1"
          src="https://res.cloudinary.com/daog6scxm/image/upload/v1696515725/Branding/Assets/Symbol/RGB/Full%20Colour/Budibase_Symbol_RGB_FullColour_cbqvha_1_z5cwq2.svg"
          alt="Budibase icon" />
      </div>
      <span data-area="name" class="platform-card-name">Budibase Cloud</span>
      <span data-area="description" class="platform-card-description opacity-75">Host with Budibase and let us manage
        everything for you. Quick and easy.
      </span>
    </div>
  </li>

  <li class="platform-card">
    <div class="platform-card-inner">
      <div data-area="icon">
        <img class="platform-card-icon" src="/integrations/infra/docker/images/logo.svg" alt="Docker icon" />
      </div>
      <span data-area="name" class="platform-card-name ">Docker</span>
      <span data-area="description" class="platform-card-description  opacity-75">Self-manage Budibase using Docker and
        Docker Compose.
      </span>
    </div>
  </li>
  <li class="platform-card">
    <div class="platform-card-inner">
      <div data-area="icon">
        <img class="platform-card-icon"
          src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_100/v1677587491/partner-logos/logo_miak8y.webp"
          alt="Kubernetes icon" />
      </div>
      <span data-area="name" class="platform-card-name ">Kubernetes</span>
      <span data-area="description" class="platform-card-description  opacity-75">Use the Budibase helm chart to deploy
        Budibase directly into your Kubernetes cluster.

      </span>
    </div>
  </li>
  <li class="platform-card">
    <div class="platform-card-inner">
      <div data-area="icon">
        <img class="platform-card-icon" src="/integrations/infra/digitalocean/images/logo.svg"
          alt="digital-ocean icon" />
      </div>
      <span data-area="name" class="platform-card-name ">Digital Ocean</span>
      <span data-area="description" class="platform-card-description opacity-75">The simplest way to self-host Budibase
        on your own infrastructure - 1 click install.
      </span>
    </div>
  </li>
</ul>