<section class="container space-1-top space-3-bottom">
    <div class="deploy-wrapper">
        <div class="deploy-content">
            <h2 class="mb-3 text-white">Self-host or use Budibase Cloud</h2>
            <p class="lead-lg text-white opacity-75 mb-4">
                Deploy via Kubernetes, Docker, Digital Ocean. Or choose Budibase Cloud and let Budibase manage everything for
                you.
            </p>
        </div>
  
    </div>
    {{ partial "homepage/deploy-options-dark.html" . }}
</section>
</div>
