
<ul class="platform-card-grid">
  <li class="platform-card">
      <a class="platform-card-inner-dark" href="/business-apps/templates/applicant-tracking-system/">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="https://res.cloudinary.com/daog6scxm/image/upload/v1647010468/logo/white-budibase-icon_yfgiy7.svg" alt="Budibase icon" />
      </div>
        <span data-area="name" class="platform-card-name text-white">Budibase Cloud</span>
        <span data-area="description"class="platform-card-description text-white opacity-75">Host with Budibase and let us manage everything for you. Quick and easy.


        </span>
      </a>
    </li>

    <li class="platform-card">
      <a class="platform-card-inner-dark" href="/integrations/infra/docker">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/integrations/infra/docker/images/logo.svg" alt="Docker icon" />
      </div>
        <span data-area="name" class="platform-card-name text-white">Docker</span>
        <span data-area="description"class="platform-card-description text-white opacity-75">Self-manage Budibase using Docker and Docker Compose.
      </span>
      </a>
    </li>
    <li class="platform-card">
      <a class="platform-card-inner-dark" href="/integrations/infra/kubernetes">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_100/v1677587491/partner-logos/logo_miak8y.webp" alt="Kubernetes icon" />
      </div>
        <span data-area="name" class="platform-card-name text-white">Kubernetes</span>
        <span data-area="description"class="platform-card-description text-white opacity-75">Use the Budibase helm chart to deploy Budibase directly into your Kubernetes cluster.

        </span>
      </a>
    </li>
    <li class="platform-card">
      <a class="platform-card-inner-dark" href="/integrations/infra/digital-ocean">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/integrations/infra/digitalocean/images/logo.svg" alt="digital-ocean icon" />
      </div>
        <span data-area="name" class="platform-card-name text-white">Digital Ocean</span>
        <span data-area="description"class="platform-card-description text-white opacity-75">The simplest way to self-host Budibase on your own infrastructure - 1 click install.
        </span>
      </a>
    </li></ul>