<section id="home-enterprise" class="bg-forestgreen space-2">
    <div class="container mx-auto text-center ">
        <svg width="20" height="25" viewBox="0 0 86 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0.550781 7.29439V94.1103C0.550781 97.9209 3.62277 101 7.40677 101H45.0308C48.4148 101 51.6068 99.4001 53.6468 96.6748L84.2868 55.7228C86.5188 52.7403 86.5188 48.6403 84.2868 45.6657L53.6468 4.71378C51.6068 1.99651 48.4228 0.388672 45.0308 0.388672H7.40677C3.61477 0.388672 0.550781 3.47574 0.550781 7.2783V7.29439Z"
                fill="#ecffb5" />
        </svg>

        <h2 class="h1 mb-4 mx-auto text-center w-lg-60 w-xl-50 text-white">
            Scale with confidence
        </h2>
        <p class="hero-description mb-6 text-center w-lg-50 w-xl-40 mx-auto text-white">
            Whether you’re automating workflows, removing data silos, or cutting costs — Budibase works for you.
        </p>
    </div>

    <div class="home-enterprise-wrapper container">
        <div class="home-enterprise-card">
            <div class="home-enterprise-card-inner">
                <div class="bg-lime rounded">
                    <img class="rounded-lg"
                        src="https://res.cloudinary.com/daog6scxm/image/upload/v1698944959/cms/home/enterprise/Deploy_itdcgr.webp"
                        alt="Budibase Public API" />
                </div>
                <div class="flex-column mt-4">
                    <h3 class="h4 mb-2 text-white">Open-source and self-hosting</h3>
                    <p class="text-white opacity-80">Budibase is open-source, and you can self-host via Docker or
                        Kubernetes or let Budibase manage everything for you.</p>
                </div>
            </div>
        </div>
        <div class="home-enterprise-card">
            <div class="home-enterprise-card-inner">
                <div class="bg-lime rounded">
                    <img class="rounded-lg"
                        src="https://res.cloudinary.com/daog6scxm/image/upload/v1698942060/cms/home/enterprise/security_joe3dh.webp"
                        alt="Privacy checlist" />
                </div>
                <div class="flex-column mt-4">
                    <h3 class="h4 mb-2 text-white">Enterprise-grade security</h3>
                    <p class="text-white opacity-80">Budibase is ISO 27001 certified and fully committed to ongoing
                        compliance. </p>
                </div>
            </div>
        </div>
        <div class="home-enterprise-card">
            <div class="home-enterprise-card-inner">
                <div class="bg-lime rounded">
                    <img class="rounded-lg"
                        src="https://res.cloudinary.com/daog6scxm/image/upload/v1698937918/cms/home/enterprise/built-to-scale_foaoqi.webp"
                        alt="Budibae auth illustration">
                </div>
                <div class="flex-column mt-4">
                    <h3 class="h4 mb-2 text-white">Built to scale</h3>
                    <p class="text-white opacity-80">Custom RBAC, SSO, SAML, backups, audit logs, and additional
                        features allow you to scale with confidence. </p>
                </div>
            </div>
        </div>
        <div class="home-enterprise-card">
            <div class="home-enterprise-card-inner">
                <div class="bg-lime rounded">
                    <img class="rounded-lg"
                        src="https://res.cloudinary.com/daog6scxm/image/upload/v1698943660/cms/home/enterprise/no-code_lvdloy.webp"
                        alt="multiple users using database" />
                </div>
                <div class="flex-column mt-4">
                    <h3 class="h4 mb-2 text-white">Workflows made faster, together</h3>
                    <p class="text-white opacity-80">The entire IT dept, from the engineers to technical support, can
                        build apps and automate workflows together.</p>
                </div>
            </div>
        </div>
        <div class="home-enterprise-card">
            <div class="home-enterprise-card-inner">
                <div class="bg-lime rounded">
                    <img class="rounded-lg"
                        src="https://res.cloudinary.com/daog6scxm/image/upload/v1698940471/cms/home/enterprise/public-api_rkj4o1.webp"
                        alt="Budibase Public API" />
                </div>
                <div class="flex-column mt-4">
                    <h3 class="h4 mb-2 text-white">Public API</h3>
                    <p class="text-white opacity-80">The Public API enables you to use Budibase as a backend, extend your
                        apps, and benefit from inter-operability.</p>
                </div>
            </div>
        </div>
        <div class="home-enterprise-card">
            <div class="home-enterprise-card-inner">
                <div class="bg-lime rounded">
                    <img class="rounded-lg"
                        src="https://res.cloudinary.com/daog6scxm/image/upload/v1698939848/cms/home/enterprise/Plugins_a1crqy.webp"
                        alt="plugins interface" />
                </div>
                <div class="flex-column mt-4">
                    <h3 class="h4 mb-2 text-white">Completely flexible</h3>
                    <p class="text-white opacity-80">Extend with JavaScript, power-up with plugins, embed apps
                        externally, connect any datasource, and host anywhere.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>