<section class="container-fw bg-gradient space-3">
    <div class="container-12">
        <div class="w-lg-50 w-md-60 mx-auto mb-6">
        <h2 class="mb-4 text-center">Simple by default.<br><span class="text-teal-500">Extensible when needed.</span></h2>
        <p class="text-center">One of our goals is to provide the best possible developer experience, coupled with best-in-class accessibility and extensibility. </p>
        </div>
        <div class="extensibility-wrapper">
            <div>
                  <img
                  src="https://res.cloudinary.com/daog6scxm/image/upload/v1663837176/website/Add_a_little_bit_of_body_text_3_dlhkbn.webp"
                  class="img-fluid shadow rounded-sm"
                  alt="Data"          
                />
              <div class="benefit-content">
                <h4 class="mb-2 mt-4">Write JavaScript</h4>
                <p class="mb-2">From adding logic to transforming data, Budibase allows to write JavaScript almost anywhere in the builder.</p>
                <a href="https://docs.budibase.com/docs/javascript" target="_blank"  rel="noopener">Using JS in Budibase -->
                </a> 
              </div>
            </div>
        
            <div class="benefit-container">
              <div class="benefit-image-container">
                    <img
                    src="https://res.cloudinary.com/daog6scxm/image/upload/v1665068869/website/qrCodeGenerator_z5jwqp.webp"
                    class="img-fluid rounded-sm w-100"
                    alt="custom qr generator" 
                  />
              </div>
              <div class="benefit-content">
                <h4 class="mb-2 mt-4">Custom plugins</h4>
                <p class="mb-2">
                  <a class="a-alt" href="https://docs.budibase.com/docs/custom-plugin">Add your own custom components and datasources</a> to Budibase, or select a plugin from the community marketplace.
                </p>
                <a href="https://github.com/Budibase/plugins" target="_blank"  rel="noopener">View plugins -->
                  </a> 
              </div>
            </div>

            <div>
                <div>
                <div class="public-api-content flex-row px-3 py-2 bg-gray-300 rounded mb-2 mt-1">
                    <p class="text-xs">Create an application</p>
                    <div class="tag-blue ml-auto">Post</div>
                </div>
                <div class="public-api-content flex-row px-3 py-2  bg-gray-300 rounded mb-2">
                    <p class="text-xs">Update an application</p>
                    <div class="tag-purple ml-auto">Put</div>
                </div>
                <div class="public-api-content flex-row px-3 py-2  bg-gray-300 rounded mb-2">
                    <p class="text-xs">Delete an application</p>
                    <div class="tag-red ml-auto">Delete</div>
                </div>
                <div class="public-api-content flex-row px-3 py-2  bg-gray-300 rounded ">
                    <p class="text-xs">Retrieve an application</p>
                    <div class="tag-green ml-auto">Get</div>
                </div>
            </div>
              <div class="benefit-content">
                <h4 class="mb-2 mt-5">Public API</h4>
                <p class="mb-2">The flexible Public API enables to use Budibase as a backend, extend your apps, and benefit from inter-operability.</p>
                <a href="https://docs.budibase.com/reference/post_applications" target="_blank"  rel="noopener">Public API -->
                </a> 
              </div>

            </div>
        
          </div>
    </div>
   
</section>