<section class="bg-beige-light">
<div class="container mx-auto space-2-top position-relative">
  <h2 class="hero-title mb-6 mx-auto  text-center">
    <span>Turn data
      <button class="rounded-pill px-3 pb-2 pt-1 bg-dark-light border-dark-light mb-1"> 
        <img class="u-avatar-5 ml-1" src="https://res.cloudinary.com/daog6scxm/image/upload/v1677580012/partner-logos/logo_armaem.svg" alt="Google sheets icon" />
        <img class="u-avatar-5 mr-1" src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_150/v1677579834/partner-logos/logo_zklz2g.webp" alt="PostgreSQL icon" />             
        <img class="u-avatar-5" src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_200/v1677580083/partner-logos/logo_ildpqz.webp" alt="Snowflake icon" />
        <img class="u-avatar-5" src="https://res.cloudinary.com/daog6scxm/image/upload/v1677580067/partner-logos/logo_ib2ipt.svg" alt="Firestore icon" />
      </button>
       into action
    </span>
  </h2>
</div>
<div class="container mx-auto space-3-bottom">
  <div class="homepage-features">
    <div class="feature-text"> 
      <div class="">
        <h2 class="mb-3 ">Connect to data, or <span class="underlined">start from scratch</span>
        </h2>
        <p class="mb-2  opacity-75 lead-lg">Connect to an external database, pull data from a Rest API, import a CSV, or start from scratch with Budibase's built-in database.            </p>
      </div>
    </div>
    <div class="feature-image-lg rounded-lg">
      <lottie-player src="/lottie/fetch-tables.json" speed="1"  loop autoplay></lottie-player>
    </div>
  </div>   
</div>
      <div class="container mx-auto space-3-bottom">
        <div class="homepage-features">
          <div class="feature-text"> 
              <h2 class="mb-3 w-lg-80 ">Turn your data into an app with 1 click
              </h2>
              <p class="mb-1  opacity-75 lead-lg">Generate powerful internal tools and forms in just a few seconds. No coding required! </p>
          </div>
          <div class="feature-image-lg rounded-lg">
            <lottie-player src="/lottie/screens.json" background=""  speed="1"  loop autoplay></lottie-player>
          </div>
        </div>   
      </div>
  
  
      <div class="container mx-auto space-3-bottom">
        <div class="homepage-features">
          <div class="feature-text">
              <h2 class="mb-3 ">Design your tools with drag-and-drop components
              </h2>
              <p class=" opacity-75 lead-lg">Designing internal tools has never been easier/faster with our premade blocks and drag-and-drop interface.</p>
          </div>
          <div class="feature-image-lg rounded-lg">
            <lottie-player src="/lottie/components.json"  speed="1"  loop autoplay></lottie-player>
          </div>
        </div>   
      </div>

  
      <div class="container mx-auto space-3-bottom">
        <div class="homepage-features">
          <div class="feature-text">
              <h2 class="mb-3 ">Automate workflows with ease</h2>
              <p class=" opacity-75 lead-lg">With just a few clicks, automate manual processes and streamline operations within your app and business.
              </p>
          </div>
          <div class="feature-image-lg rounded-lg">
            <lottie-player src="/lottie/automations.json"  speed="1"  loop autoplay></lottie-player>
          </div>
        </div>   
      </div>
      <div class="container mx-auto space-3-bottom">
        <div class="homepage-features">
          <div class="feature-text">
              <h2 class="mb-3 ">Deliver internal tools you're proud of
              </h2>
              <p class=" opacity-75 lead-lg">Deliver internal tools that look beautiful and work perfectly across mobile, tablet, and desktop. </p>
          </div>
            <div class="feature-image-lg rounded-lg">
              <lottie-player src="/lottie/themes.json" speed="1" loop autoplay></lottie-player>
            </div>
        </div>   
      </div>
    </div>
    {{ partial "homepage/deploy-dark.html" . }}
  </section>

      
  