<section id="hero" >
    <div class="hero-grid">
      <div class="hero-grid-major-0 ">
        <img src="/portals/portal-employee.webp" class="rounded border" />
      </div>
      <div class="hero-grid-minor-0 ">
        <img src="/business-apps/business-application-cards.png" class="rounded border" />
      </div>
      <div class="hero-grid-featured">
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1675263742/homepage-design_z9xrxs.webp" class="rounded border" />
      </div>
      <div class="hero-grid-minor-1">
        <img src="/forms/conditional-form.png" class="rounded border" />
      </div>
      <div class="hero-grid-major-1">
        <img src="/admin-panels/orders-admin-panel.webp" class="rounded border" />
      </div>
    </div>
  </section>