<div class="bg-white-dark">
  <div class="container space-hero-top">
    <div class="pb-6 text-center mx-auto position-relative">   
        <h1 class="hero-title-xl mt-3 mb-4 w-lg-80 mx-auto text-center flex-row-center align-center">
        Internal tools made easy.
      </h1>
      <p class="lead-lg mx-auto text-center w-lg-40 opacity-75">
        Budibase saves teams 100s of hours building tools that integrate perfectly with any workflow.
      </p>
      <div class="mt-5 mb-7 flex-row-center gap-sm">
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section"
          target="_blank" rel="noopener">
          <button type="submit" class="btn btn-primary sm-btn-block">Start for free</button>
        </a>
        <a href="/contact" target="_blank" rel="noopener">
          <button type="submit" class="btn btn-secondary sm-btn-block">Talk to sales</button>
        </a>
      </div>
      {{ partial "logo-reel.html" }}

    <div class="container rounded-lg mb-9">
      <div id="cf3" class="container-12">
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1680281798/ui/data_klbuna.avif"
        class=" rounded-lg"  />
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1680181644/ui/homepage-design-ui_sizp7b.avif"
        class="design rounded-lg" />
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1680195228/ui/automate_fg9z07.avif"
        class="automate rounded-lg"  />
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1680181644/ui/homepage-design-ui_sizp7b.avif"
        class="design2 rounded-lg" />
      </div>
  </div>
  </div>
</div>
</div>

<div class="bg-dark">
  <div class="container">
    {{ partial "homepage/hero-solutions-banner.html" }}
  </div>