
<div class="bg-base-3">
  <div class="space-2 container-12 flex flex-column align-center justify-center">
    <div class="flex flex-row gap-lg mb-6 align-center">
      <div class="flex-1">
        <h1 class="hero-title-lg mb-2">
          The fastest way to build internal apps <span class="coral">securely</span>
        </h1>
      </div>
      <div class="bg-navy rounded-lg p-6 flex-1">
        <p class="mb-2 text-white lead-lg font-weight-bold">
          Why Budibase
        </p>
        <ul>
          <li class="text-white">Open source</li>
          <li class="text-white">100,000 teams</li>
          <li class="text-white">Open source</li>
        </ul>
        <div class="mt-3">
          <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section"
            target="_blank" rel="noopener">
            <button type="submit" class="btn btn-cta">Sign up free</button>
          </a>
        </div>
      </div>
    </div>
    
    <div class="w-100 bg-bb-comic-gradient rounded-lg">
        <dotlottie-player src="/lottie/screens.lottie" speed="1" loop autoplay></dotlottie-player>
    </div>
  </div>
</div>

{{ partial "logo-reel-banner.html" }}




