
<div class="bg">
  <div class="hero-container">
    <div class="hero-content">
    <div class="flex flex-column pb-2">
      <h1 class="hero-title-lg mb-2 w-xl-75">
        Save 100s of hours building apps that <span class="linear-wipe-dark">make work flow</span>
      </h1>
      <p class="hero-description text-left w-xl-75">
        Budibase saves teams time and energy building apps that integrate with any data source and speed-up any workflow.
      </p>
      <div class="flex mb-6 mt-3 gap-sm">
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section"
          target="_blank" rel="noopener">
          <button type="submit" class="btn btn-cta btn-lg">Sign up free</button>
        </a>
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section"
        target="_blank" rel="noopener">
        <button type="submit" class="btn btn-secondary btn-lg">Contact sales</button>
      </a>
      </div>

    </div>
  </div>
  <div class="hero-media">
    <div class="feature-image-lg bg-bb-linear-gradient-light">
      <dotlottie-player src="/lottie/components.lottie" speed="1" loop autoplay></dotlottie-player>
    </div>
  </div>
</div>
</div>

{{ partial "logo-reel-banner.html" }}




