<div class="bg-base-1 p-4">
  <div class="bg hero-container">
    <div class="hero-content">
      <div class="flex flex-column">
        <h1 class="hero-title-lg mb-2">
          The fastest way to build internal tools <span class="linear-wipe-dark">securely</span>
        </h1>
        <p class="hero-description text-left">
        Connect to any database, deploy on any infrastructure, and save 100s of hours building business apps securely. 
        </p>
        <div class="flex mb-lg-6 mt-3 gap-sm">
          <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section"
            target="_blank" rel="noopener">
            <button type="submit" class="btn btn-cta btn-lg">Sign up free</button>
          </a>
          <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section"
          target="_blank" rel="noopener">
          <button type="submit" class="btn btn-secondary btn-lg">Contact sales</button>
        </a>
        </div>
      </div>
    </div>
    <div class="hero-media">
      <div class="feature-image-lg bg-bb-linear-gradient-light">
        <dotlottie-player src="/lottie/components.lottie" speed="1" loop autoplay></dotlottie-player>
      </div>
    </div>
  </div>
</div>

{{ partial "logo-reel-banner.html" }}




