<div class="bg-bb-linear-gradient-midnight">
  <div class="space-2 container mx-auto justify-space-between">
      <div class="container-12 flex flex-row align-end">
        <h1 class="hero-title-xl mb-2 text-white w-60">
          Build workflow apps securely.
        </h1>
        <div class="flex gap-sm ">
          <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section"
            target="_blank" rel="noopener">
            <button type="submit" class="btn btn-cta-gradient btn-lg">Sign up free</button>
          </a>
          <a href="/contact"
          target="_blank" rel="noopener">
          <button type="submit" class="btn btn-secondary btn-lg">Contact sales</button>
        </a>
        </div>
      </div>
      <div class="flex flex-row gap-lg container-fw mt-6">
      <div class="feature-image-lg rounded-xl bg-bb-linear-gradient-darkest w-50">
        <dotlottie-player src="/lottie/screens.lottie" speed="1" loop autoplay></dotlottie-player>
      </div>
      <div class="feature-image-lg w-40">
        <img src="https://assets.lummi.ai/assets/QmYocs3KfdM7whRF9N7NNswZLWVHsdLbjY1SbTuZcFR9qQ?auto=format&w=1500" class="img-fluid rounded-xl"/>
      </div>
    </div>
  </div>
</div>

{{ partial "logo-reel-banner.html" }}
