  <div class="container space-2-top">
    <div class="flex flex-column pb-2 text-center mx-auto position-relative align-center">   
        <a href="https://github.com/Budibase/budibase" target="_blank" class="badge-hero">
          Open source with 18,000+ Github stars
        <svg width="12" height="12" viewBox="0 0 12 12" stroke-width="2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg> </a>
        <h1 class="hero-title-xl mt-3 mb-4 mx-auto text-center flex-row-center">
          Internal tools made easy.</h1>
      <p class="lead-lg mx-auto text-center w-lg-50 opacity-75">
          Budibase saves teams 100s of hours building tools that integrate perfectly with any workflow.
          No coding experience required.
      </p>
      <div class="mt-5 mb-7 flex-row-center gap-sm">
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section"
          target="_blank" rel="noopener">
          <button type="submit" class="btn btn-primary sm-btn-block">Start for free</button>
        </a>
        <a href="/contact" target="_blank" rel="noopener">
          <button type="submit" class="btn btn-secondary sm-btn-block">Talk to sales</button>
        </a>
      </div>
      {{ partial "logo-reel.html" }}
    </div>
  </div>

<div class="hero-gradient-light py-6 ">
    <div class="container-narrow dotted-background py-6">
      <div id="cf3" class="container-12">
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1680281798/ui/data_klbuna.avif"
        class=" rounded-lg"  />
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1680181644/ui/homepage-design-ui_sizp7b.avif"
        class="design rounded-lg" />
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1680195228/ui/automate_fg9z07.avif"
        class="automate rounded-lg"  />
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1680181644/ui/homepage-design-ui_sizp7b.avif"
        class="design2 rounded-lg" />
      </div>
  </div>
  </div>
