<div class="bg-forestgreen ">
  <div class="container hero-container space-2">
    <div class="flex flex-column pb-2 ">   
        <h1 class="hero-title mt-3 mb-3 text-white">
          Save weeks building workflow apps
        </h1>
      <p class="lead text-left w-lg-80 text-white">
          Budibase saves teams 100s of hours building apps that integrate seamlessly with any workflow.
          
      </p>
      <div class="mb-4 mt-3 gap-sm flex-row">
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section"
          target="_blank" rel="noopener">
          <button type="submit" class="btn btn-cta sm-btn-block btn-xl">Get started free</button>
        </a>
      </div>
        
    </div>

  <div class="">
        <div class="container-9 p-4 bg-indigo">
          <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1680281798/ui/data_klbuna.webp"
          class="data rounded-sm" alt="budibase data ui" />
      
        </div>
    </div>

</div>
  <div class="space-2-bottom">
    {{ partial "logo-reel-dark.html" }}
  </div>
