<div class="bg-white">
  <div class="container space-2 border-bottom text-center">
    <div class="flex flex-column pb-2 text-center">
      <h1 class="hero-title-asana mt-3 mb-3 w-xl-50 mx-auto text-center">
        Save weeks building apps that <span class="coral-dark">make work flow</span>
      </h1>
      <p class="hero-description w-xl-40 mx-auto text-center">
        Budibase saves teams 100s of hours building apps that integrate seamlessly with any workflow. 
      </p>
      <div class="mb-4 mt-3 gap-lg flex-row mx-auto">
        <a href="https://account.budibase.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section"
          target="_blank" rel="noopener">
          <button type="submit" class="btn btn-primary">Get started - it's free</button>
        </a>
        <a href="https://account.budibase.app/api/auth/sso/google" target="_blank" rel="noopener">
          <button type="submit" class="btn btn-secondary">
              <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_100/v1677588811/partner-logos/google_zqcmfw.webp"
                  alt="Google icon" class="mr-2 u-xs-avatar" />
              Sign-up with Google
          </button>
      </a>
      </div>
      <div class="flex-row gap-md mx-auto mt-2 mb-4">
        <div>
          <li class="pricing-item">
            <svg width="20" height="25" viewBox="0 0 86 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.550781 7.29439V94.1103C0.550781 97.9209 3.62277 101 7.40677 101H45.0308C48.4148 101 51.6068 99.4001 53.6468 96.6748L84.2868 55.7228C86.5188 52.7403 86.5188 48.6403 84.2868 45.6657L53.6468 4.71378C51.6068 1.99651 48.4228 0.388672 45.0308 0.388672H7.40677C3.61477 0.388672 0.550781 3.47574 0.550781 7.2783V7.29439Z" fill="#6E56FF"/>
              </svg>              
            <p class="ml-2 text-sm">Self-host on premise</p>
          </li>
        </div>
        <div>
          <li class="pricing-item">
            <svg width="20" height="25" viewBox="0 0 86 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.550781 6.88964V93.7055C0.550781 97.5161 3.62277 100.595 7.40677 100.595H45.0308C48.4148 100.595 51.6068 98.9954 53.6468 96.27L84.2868 55.3181C86.5188 52.3355 86.5188 48.2355 84.2868 45.261L53.6468 4.32512C51.6068 1.60785 48.4228 0 45.0308 0H7.40677C3.61477 0 0.550781 3.08707 0.550781 6.88964Z" fill="#ff4b44"/>
              </svg>              
            <p class=" ml-2 text-sm">Open source - <a href="https://github.com/Budibase/budibase" target="_blank"
                class=" a-underline">20k Github stars</a></p>
          </li>
        </div>
    </div>
  </div>
    <div class="feature-image-lg bg-indigo noise rounded-xl">
      <lottie-player src="/lottie/components.json" speed="1" loop autoplay></lottie-player>
    </div>
</div>
<div class="space-1-bottom">
  {{ partial "logo-reel-banner.html" }}
</div>

