<section id="home-solutions" class="space-2">
    <div class="container mx-auto space-2-top text-center ">
        <svg width="20" height="25" viewBox="0 0 86 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.550781 7.29439V94.1103C0.550781 97.9209 3.62277 101 7.40677 101H45.0308C48.4148 101 51.6068 99.4001 53.6468 96.6748L84.2868 55.7228C86.5188 52.7403 86.5188 48.6403 84.2868 45.6657L53.6468 4.71378C51.6068 1.99651 48.4228 0.388672 45.0308 0.388672H7.40677C3.61477 0.388672 0.550781 3.47574 0.550781 7.2783V7.29439Z" fill="#6E56FF"/>
        </svg> 
        <h2 class="h1 mb-4 mx-auto text-center w-lg-60 w-xl-50">
        One platform.<br> Many solutions.
        </h2>
        <p class="hero-description mb-6 text-center w-lg-60 w-xl-50 mx-auto">
        Create powerful apps and workflows from any datasource and securely deploy professional-grade solutions across your teams. 
        </p>
    </div>
    <div class="home-solutions-wrapper container">
        <div id="home-solutions-1" class="homepage-solutions-1">
            <div class="home-solutions-card">
                <div class="home-solutions-card-inner">
                    <div class="flex-column text-center w-lg-60 mx-auto">
                        <h3 class="h4 mb-2">Management Apps</h3>
                        <p class="text-sm">From ticketing systems to inventory management, build powerful apps your proud of.</p>
                    </div>
                    <div class="mt-2">
                        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1699027321/cms/home/solutions/inventory_app_jvxsaa.webp" alt="Hardware inventory management app interface" />
                    </div>
                </div>
            </div>
        </div>
        <div id="home-solutions-2" class="homepage-solutions-1">
            <div class="home-solutions-card">
                <div class="home-solutions-card-inner">
                    <div class="flex-column text-center w-lg-60 mx-auto">
                        <h3 class="h4 mb-2">Portals</h3>
                        <p class="text-sm">Design a custom experience your clients/suppliers/partners will enjoy using.</p>
                    </div>
                    <div class="mt-2">
                        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1699030550/cms/home/solutions/Portals_we1zix.webp" alt="Car dealership portal" />
                    </div>
                </div>
            </div>
        </div>
        <div id="home-solutions-3" class="homepage-solutions-1">
            <div class="home-solutions-card">
                <div class="home-solutions-card-inner">
                    <div class="flex-column text-center w-lg-80 mx-auto">
                        <h3 class="h4 mb-2">Approval flows</h3>
                        <p class="text-sm">From holiday requests to work assignment, create approval flows unique to your business.</p>
                    </div>
                    <div class="mt-2">
                        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1699007852/cms/home/solutions/Approval_flows_dm1fpy.webp" alt="overtime request approval flow" />
                    </div>
                </div>
            </div>
        </div>
        <div id="home-solutions-4" class="homepage-solutions-1">
            <div class="home-solutions-card">
                <div class="home-solutions-card-inner">
                    <div class="flex-column text-center w-lg-80 mx-auto">
                        <h3 class="h4 mb-2">Forms</h3>
                        <p class="text-sm">Build powerful forms that securely store data within your own database.</p>
                    </div>
                    <div class="mt-2">
                        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1699008623/cms/home/solutions/Forms_ldisgp.webp" alt="facility inspection form" />
                    </div>
                </div>
            </div>
        </div>
        <div id="home-solutions-5" class="homepage-solutions-1">
            <div class="home-solutions-card">
                <div class="home-solutions-card-inner">
                    <div class="flex-column text-center w-lg-80 mx-auto">
                        <h3 class="h4 mb-2">Admin panels</h3>
                        <p class="text-sm">From password resets to client refunds, deliver admin panels that integrate seamlessly.</p>
                    </div>
                    <div class="mt-4">
                        <img src="https://res.cloudinary.com/daog6scxm/image/upload/v1699018339/cms/home/solutions/admin_panel_b3y9gk.webp" alt="customer license dropdown" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>