<div class="container space-3">
  <div class="flex-row mb-6">
    <div>
      <h2 >Jumpstart development with a <br> free template.</h2>
    </div>
    <div class="mt-3 mt-sm-0 mr-auto mr-sm-0 ml-auto-lg">
    <a href="/templates" class="btn btn-secondary"
    >View more templates -></a>
    </div>
</div>

  <ul class="platform-card-grid">
    <li class="platform-card">
        <a class="platform-card-inner" href="/business-apps/templates/applicant-tracking-system/">
          <div data-area="icon" class="template-icon-container bg-indigo" > 
            <img class="template-icon" src="/img/icon/app.svg" alt="Applicant tracking system icon"/>
        </div>
          <span data-area="name" class="platform-card-name">Applicant tracking system</span>
          <span data-area="description"class="platform-card-description">Advertise jobs, receive applications, and track candidates.
          </span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/business-apps/templates/open-source-ticketing-system/">
          <div data-area="icon" class="template-icon-container bg-yellow" > 
            <img class="template-icon" src="/img/icon/app.svg" alt="Ticketing system icon" />
        </div>
          <span data-area="name" class="platform-card-name">Ticketing system</span>
          <span data-area="description"class="platform-card-description">Keep on top of support tickets and preventing them from falling through the cracks.</span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/business-apps/templates/open-source-ticketing-system/">
          <div data-area="icon" class="template-icon-container bg-red" > 
            <img class="template-icon" src="/img/icon/approval.svg" alt="Approval system icon" />
        </div>
          <span data-area="name" class="platform-card-name">Invoice approval app</span>
          <span data-area="description"class="platform-card-description">Our invoice approval software template offers a simple and secure platform to receive, manage, and approve business payments.</span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/forms/templates/multi-step-lead-form/">
          <div data-area="icon" class="template-icon-container bg-green" > 
            <img class="template-icon" src="/img/icon/form.svg"  alt="Form icon"/>
        </div>
          <span data-area="name" class="platform-card-name">Multi-step form starter</span>
          <span data-area="description"class="platform-card-description">Advertise jobs, receive applications, and track candidates.
          </span>
        </a>
      </li>

      <li class="platform-card">
        <a class="platform-card-inner" href="/portals/templates/customer-account-portal/">
          <div data-area="icon" class="template-icon-container bg-yellow" > 
            <img class="template-icon" src="/img/icon/portal.svg" alt="Customer account portal"/>
        </div>
          <span data-area="name" class="platform-card-name">Customer Account Portal
          </span>
          <span data-area="description"class="platform-card-description">Our customer account portal template gives you a deployable self-service admin tool, in minutes.

          </span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/business-apps/templates/complaints-record-template/">
          <div data-area="icon" class="template-icon-container bg-indigo" > 
            <img class="template-icon" src="/img/icon/app.svg" alt="Compliants system"/>
        </div>
          <span data-area="name" class="platform-card-name">Complaints Record
          </span>
          <span data-area="description"class="platform-card-description">Our complaints record template is built to streamline information gathering, customer interactions, and incident response workflows.
          </span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/forms/templates/it-incident-report-template/">
          <div data-area="icon" class="template-icon-container bg-green" > 
            <img class="template-icon" src="/img/icon/form.svg" alt="IT incident template"/>
        </div>
          <span data-area="name" class="platform-card-name">IT Incident Report</span>
          <span data-area="description"class="platform-card-description">Our IT incident report template gives businesses a simple form to record incidents in seconds.
          </span>
        </a>
      </li>
      <li class="platform-card">
        <a class="platform-card-inner" href="/approval-apps/templates/travel-approval-request-template/">
          <div data-area="icon" class="template-icon-container bg-red" > 
            <img class="template-icon" src="/img/icon/approval.svg" alt="Travel approval app"/>
        </div>
          <span data-area="name" class="platform-card-name">Travel Approval
          </span>
          <span data-area="description"class="platform-card-description">Our travel approval request template is designed to streamline and simplify the way your employees book and manage business trips.          </span>
        </a>
      </li>

  </ul>
</div>
