{{ partial "header.html" . }}

{{ partial "navigation.html" . }}


<!-- Hero Section -->
<div class="bg-img-hero">
    <div class="container text-center space-2 space-3-top space-3-bottom--lg">
      <div class="w-md-80 mx-auto mb-3">
        <h1 class="display-4 font-size-48--md-down">About Budibase</h1>
      </div>
  
      <div class="col-lg-8 mx-auto">
        <div class="mb-5">
          <p class="lead">Budibase is a technology company with a belief that everyone should be able to build a SaaS application, run a SaaS business, and live life on their own terms. For the makers and entrepeneurs out there, Budibase is a platform of freedom and unlimited potential.</p>
        </div>
        <div class="d-sm-flex justify-content-sm-center align-items-sm-center mb-7">
                <form class="js-validate w-lg-80">
                        <div class="row mx-gutters-2">
                          <div class="col-sm-7 mb-3">
                            <!-- Input -->
                            <div class="js-form-message">
                              <div class="js-focus-state input-group form">
                                <input type="email" class="form-control form__input" name="email" required
                                       placeholder="Submit Email Address"
                                       aria-label="Email"
                                       data-msg="Please enter a valid email address.">
                              </div>
                            </div>
                            <!-- End Input -->
                          </div>
          
                          <div class="col-sm-5 mb-3">
                            <button type="submit" class="btn btn-block btn-primary">Get early access</button>
                          </div>
                        </div>
                      </form>
        </div>

        <!-- End Clients -->
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Features Section -->
<div class="position-relative bg-gray-100">
        <div class="container">
          <div class="row align-self-lg-center space-2 space-3--lg">
            <div class="col-lg-5">
              <!-- Title -->
              <h2>Where it started</h2>
              <p>Mike approached Joe with an idea to create a platform which would allow users to build business applications. After that initial coffee, the idea was flipped and they decided to go one step further and develop a SaaS ecosystem where users could easily build and manage SaaS applications. Budibase was found on the belief that everyone should have an opportunity to turn their SaaS dream into a reality.
                </p>
              <!-- End Title -->

            </div>
          </div>
        </div>
      
        <div class="d-none d-lg-inline-block col-lg-6 position-absolute-top-right-0--lg bg-img-hero" style="min-height: 100%; background-image: url(img/img/700x700/img1.jpg);"></div>
      </div>
      <!-- End Features Section -->
      
      <hr class="my-0">
      
      <!-- Features Section -->
      <div class="position-relative bg-gray-100">
        <div class="container">
          <div class="row justify-content-lg-end align-self-lg-center space-2 space-3--lg">
            <div class="col-lg-5">
              <!-- Title -->
              <h2>Where it's going</h2>
              <p> We aim to continue to improve our platform and help our users develop SaaS applications, build businesses and change lives. We have high hopes for Budibase, and so do our users. We are creating an ecosystem which will drive SaaS development for many years to come. </p>
              <!-- End Title -->
            </div>
          </div>
        </div>
      
        <div class="d-none d-lg-inline-block col-lg-6 position-absolute-top-left-0--lg bg-img-hero" style="min-height: 100%; background-image: url(img/img/700x700/img2.jpg);"></div>
      </div>
      <!-- End Features Section -->

      <div class="bg-img-hero">
            <div class="container text-center space-2 space-3-top space-3-bottom--lg">
              <div class="w-md-80 mx-auto mb-3">
                <h2 class="display-4 font-size-48--md-down">Our Mission</h2>
              </div>
          
              <div class="col-lg-10 mx-auto">
                <div class="mb-5">
                  <h3>Our mission is to democratize SaaS and transform dreams.</h3>
                  <p>To democratise SaaS, we need a democratised ecosystem. And to have a democratised ecosystem, we open sourced Budibase.  Creating a SaaS application should involve minimal setup, maximum security and be accessible by all. By breaking down these barriers, we are empowering focus. Focus to build a better product, business, and transform dreams into reality.</p>


                </div>

                <!-- Stats Section -->
        <div class="row justify-content-md-center space-2-top--lg">
          <div class="col-3 col-md-5 col-lg-3">
            <!-- Stats -->
            <div class="text-center">
                    <h2 class="h2 display-4 d-block text-dark mb-2">1m</h2>
                    <p class="lead">Happy Users</p>
            </div>
            <!-- End Stats -->
          </div>
      
          <div class="col-3 col-md-5 col-lg-3">
            <!-- Stats -->
            <div class="text-center">
                    <h2 class="h2 display-4 d-block text-dark mb-2">250k</h2>
                    <p class="lead">Awesome Customers</p>
            </div>
        </div>

            <div class="col-3 col-md-5 col-lg-3">
                    <!-- Stats -->
                    <div class="text-center">
                            <h2 class="h2 display-4 d-block text-dark mb-2">100k</h2>
                            <p class="lead">SaaS Applications</p>
                    </div>
            <!-- End Stats -->
          </div>
          <div class="col-3 col-md-5 col-lg-3">
                <!-- Stats -->
                <div class="text-center">
                  <h2 class="h2 display-4 d-block text-dark mb-2">10k</h2>
                  <p class="lead">Helpful Templates</p>
                </div>
        <!-- End Stats -->
      </div>
        </div>
      <!-- End Stats Section -->
                
        
                <!-- End Clients -->
              </div>
            </div>
          </div>
{{ partial "cta.html" . }}
{{ partial "footer.html" . }}