{{ partial "header.html" . }}
{{ partial "navigation.html" . }}


<div class="space-2-bottom">
  <div class="container-7 container-blog  space-2-top ">
    <div class=" mb-3">
      <h1 class="mb-2">Our Story</h1>
    </div>
    <div class="categories">
      <a href="/about">
        <h5 class="mb-0 text-indigo">Story</h3>
      </a>
      <a href="/people">
        <h5 class=" mb-0">People</h3>
      </a>
    </div>
  </div>
  <div class="container-7">
      <img class="img-fluid mt-4" src="img/img/joe-and-mike.webp" alt="Image Description">       
      <div class="mb-5">
        <p class="mt-4">Every business is a software business, and every business is unique.</p>
        <p class="mt-4">This results in a workforce that needs unique software to excel at their jobs.</p>
        <p class="mt-4">In every business across the world, there are developers who are under pressure to deliver these unique business applications. These applications are tedius to build, incredibly repetitive, and the bain of many developers lives. Our entire founding team experienced this.</p>
        <p class="mt-4">And that's when Budibase was born.</p>
        <p class="mt-4">Budibase is a development platform designed for speed and productivity. With Budibase, developers no-longer experience repetition, long-dev cycles, and frustration. Instead, developers are more productive, happier, and can deliver applications they're proud of in minutes.</p>

    </div>
  </div>
  <div class="container-7 space-2">
    <div class="container">
      <div class="product-card">
            <h3>Vision</h3>
            <p class="display-lead">To power the workforce of tomorrow</p>
      </div>
      <div class="product-card">
            <h3>Mission</h3>
            <p class="display-lead">To create the world's leading ecosystem of business apps</p>
      </div>
    </div>   
  </div>




</div>

{{ partial "cta.html" . }}
{{ partial "footer.html" . }}