<div class="bg-gradient container mt-6 space-1 rounded border flex-row">
    <div class="ml-9 my-auto">
        <h2 class="mb-3">Support add-ons</h2>
        <p class="display-lead mb-4">Level up your Budibase experience with our priority support plans.</p>
        <ul class="ul-none mb-6">
        <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="24" height="24" fill="none"
              viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-2 text-dark">Guaranteed response times</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="24" height="24" fill="none"
              viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-2 text-dark">Dedicated support</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="24" height="24" fill="none"
              viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-2 text-dark">SLAs</p>
          </li>
        </ul>
        <a href="https://share-eu1.hsforms.com/14SvWJu4HS6eq2hkKeZ3GAwfjvur" rel="noopener" target="_blank"  ><button type="submit" class="btn btn-primary btn-lg">Contact Sales --></button></a>
    </div>
    <div class="ml-auto mr-9">
        <img src="https://res.cloudinary.com/daog6scxm/image/upload/c_scale,w_400/v1663173413/1.%20Illustrations/14._Support_ihbj1k.webp" class="cta-img mb-4"/>
    </div>
</div>