
  <div class="pricing-self-host space-1-bottom">
    <!--Free tier-->
    <div class="pricing-card border-grey bg-light2 rounded">
      <div class="pricing-card-top">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="u-xs-avatar" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
        </svg>
        <h2 class="mb-2 mt-1 h3 text-red plan-type font-weight-semi-bold">Open Source</h2>
        <p class="mb-3 text-xxs">For individuals and small teams getting started with Budibase.
        </p>
        <h3 class="h1 mb-1 mr-2 ">$0</h3>
        <p class="text-xxs">Free forever<br>No credit card required</p>
        <p class="text-xxs mb-5 mt-2" >$0 billed monthly</p>    
        <button onClick="goToAccountPortal('free');"  type="submit" class="btn btn-block btn-outline btn-lg mb-4">
            Create free account
        </button>
      </div>
      <div class="pricing-card-bottom">
        <div class="pricing-features">
          <p class="mt-3 mb-4 font-dark text-xs font-weight-semi-bold">Open Source plan includes: </p>
          <ul class="ul-none">
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class=" ml-2 text-xs text-dark">All-in-one low-code platform</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class=" ml-2 text-xs text-dark">Unlimited apps</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class=" ml-2 text-xs text-dark">Unlimited users</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class=" ml-2 text-xs text-dark">Self-host using Docker, K8s, and more</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class=" ml-2 text-xs text-dark">Add up to 10 plugins</p>
            </li>
              <li class="flex-row align-center mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                  viewBox="0 0 24 24" stroke="black" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
                <p class="ml-2 text-xs text-dark">SSO (Google + OIDC)</p>
              </li>
        </div>
      </div>
    </div>

    
   <!--Team tier
   <div class="pricing-card bg-light2 border-grey rounded-sm ">
    <div class="pricing-card-top">
      <svg xmlns="http://www.w3.org/2000/svg" class="u-xs-avatar" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
      </svg>
      
        <h2 class="mb-2 mt-1 h3 text-blue plan-type font-weight-semi-bold">Premium</h2>
        <p class="mb-3 text-xxs">More power and functionality for power users, teams and small businesses.
        </p>
      <h3 class="h1 mb-1 mr-2">$6</h3>
      <p class="text-xxs">per user / month <br>billed annually</p>
      <p class="text-xxs mb-5 mt-2" >$7.50 billed monthly</p>
      <button onClick="goToAccountPortal();" type="submit" class="btn btn-block btn-outline btn-lg mb-4">
          Get started
        </button>
    </div>

    <div class="pricing-card-bottom">
      <div class="pricing-features">
        <p class="my-3 mb-4 font-dark text-xs">Everything in Open Source, plus: </p>
      <li class="flex-row align-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="black" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>         <p class="ml-2 text-xs text-dark">Unlimited plugins</p>
      </li>
        <li class="flex-row align-center mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="black" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>           <p class="ml-2 text-xs text-dark">1-week automation logs</p>
        </li>
        <li class="flex-row align-center mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
            viewBox="0 0 24 24" stroke="black" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>            
          <p class="ml-2 text-xs text-dark">1-week backups</p>
        </li>
        <li class="flex-row align-center mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
            viewBox="0 0 24 24" stroke="black" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>            
          <p class="ml-2 text-xs text-dark">Remove Budibase logo</p>
        </li>
      </div>
    </div>
  </div>

-->

    <div class="pricing-card bg-light2 border-grey rounded-sm ">
      <div class="pricing-card-top">
        <svg xmlns="http://www.w3.org/2000/svg" class="u-xs-avatar" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
        </svg>
        <div class="flex-row mb-2 mt-1">
          <h2 class=" h3 text-teal plan-type font-weight-semi-bold">Business</h2>
        <div class="tag-teal ml-auto font-weight-semi-bold">Most popular</div> </div>
        <p class="mb-3 text-xxs">For teams and businesses who need to self-host and scale.</p>
        <h3 class="h1 mb-1 plan-price">$399</h3>
        <p class="text-xxs">per month <br>billed annually</p>
        <p class="text-xxs mb-5  mt-2">$500 billed monthly</p>
        <button onClick="goToAccountPortal();" type="submit" class="btn btn-block btn-cta btn-lg mb-4">
          Get started
        </button>
      </div>
      

      <div class="pricing-card-bottom">
        <div class="pricing-features">
          <p class="mt-3 mb-4 font-dark text-xs font-weight-semi-bold">Everything in Open Source, plus: </p>
            <ul class="ul-none">
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class="ml-2 text-xs text-dark">User groups</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class="ml-2 text-xs text-dark">Custom branding</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class="ml-2 text-xs text-dark">Unlimited plugins</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class="ml-2 text-xs text-dark">1-year automation logs</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>            
              <p class="ml-2 text-xs text-dark">1-year backups</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>            
              <p class="ml-2 text-xs text-dark">Audit logs (TBA Q1,23)</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>            
              <p class="ml-2 text-xs text-dark">Environments (TBA Q1,23)</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="black" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>                <p class="ml-2 text-xs text-dark">Email support</p>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!--Enterprise-->
    <div class="pricing-card bg-light2 border-grey rounded-sm">
      <div class="pricing-card-top">
        <svg xmlns="http://www.w3.org/2000/svg" class="u-xs-avatar" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
        </svg>
        <h2 class="mb-2 h3 text-dark mt-1 plan-type font-weight-semi-bold">Enterprise</h2>
        <p class="mb-3 text-xxs">For organizations who need additional control and support.
        </p>
        <h3 class="h1 mb-1">Custom</h3>
        <p class="text-xxs">Starting at $20,000 <br>per annum</p>
        <p class="text-xxs mb-5 mt-2">Multi-year contracts available</p>
        <a href="/contact" target="_blank"><button type="submit"
            class="btn btn-block btn-outline btn-lg mb-4">
            Contact us
          </button></a>
      </div>
      <div class="pricing-card-bottom">
        <div class="pricing-features">
          <p class="my-3 mb-4 font-dark text-xs font-weight-semi-bold">Everything in Business, plus: </p>
          <ul class="ul-none">
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="black" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-2 text-xs text-dark">Unlimited automation logs</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="black" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>            
            <p class="ml-2 text-xs text-dark">Unlimited backups</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="black" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>             <p class="ml-2  text-xs text-dark">Priority support</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="black" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>             <p class="ml-2  text-xs text-dark">Tailored onboarding</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="black" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>             <p class="ml-2  text-xs text-dark">Invoicing</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="black" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>             <p class="ml-2  text-xs text-dark">SLAs</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="black" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>             <p class="ml-2  text-xs text-dark">Account manager</p>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 mb-6">
    {{ partial "pricing/add-ons.html" . }}
  </div>