<div class="pricing space-1-bottom">
  <!--Free tier-->
  <div class="pricing-card border-grey bg-light2 rounded">
    <div class="pricing-card-top">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="u-xs-avatar" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="black" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
      </svg>

      <h2 class="mb-2 mt-1 h3 text-red plan-type font-weight-semi-bold">Free</h2>
      <p class="mb-3 text-xxs">For individuals and small teams who want to self-host Budibase. 
      </p>
      <h3 class="h1 mb-1 mr-2 ">$0</h3>
      <p class="text-xxs">Free forever<br>No credit card required</p>
      <p class="text-xxs mb-5 mt-2">$0 billed monthly</p>
      <button onClick="goToAccountPortal('free');" type="submit" class="btn btn-block btn-primary btn-lg mb-4">
        Create free account
      </button>
    </div>
    <div class="pricing-card-bottom">
      <div class="pricing-features">
        <p class="mt-3 mb-4 font-dark text-xs">Free plan includes: </p>
        <ul class="ul-none">
          
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Unlimited essentials</p>
            <p class="text-xxs">Unlimited apps, data sources, screens and components.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">User management</p>
            <p class="text-xxs">Add up to 5 users. Public users are free.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Data unlimited</p>
            <p class="text-xxs">Unlimited internal records per app. Unlimited external records.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 00-5.78 1.128 2.25 2.25 0 01-2.4 2.245 4.5 4.5 0 008.4-2.245c0-.399-.078-.78-.22-1.128zm0 0a15.998 15.998 0 003.388-1.62m-5.043-.025a15.994 15.994 0 011.622-3.395m3.42 3.42a15.995 15.995 0 004.764-4.648l3.876-5.814a1.151 1.151 0 00-1.597-1.597L14.146 6.32a15.996 15.996 0 00-4.649 4.763m3.42 3.42a6.776 6.776 0 00-3.42-3.42" />
              </svg>                                                        
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Design essentials</p>
            <p class="text-xxs">Design platform with over 40 components and blocks.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Automation starter pack</p>
            <p class="text-xxs">Automation builder. Unlimited automation runs per month.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
              </svg>                            
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Security including SSO</p>
            <p class="text-xxs">SSO (Google and OIDC). Role-based access controls. Table-level security.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Basic extensibility</p>
            <p class="text-xxs">Add up to 10 plugins. Extend apps with public API.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Community support</p>
            <p class="text-xxs">Get support through our community forum, Discord, documentation, and university.</p>
            </div>
          </li>
      </div>
    </div>
  </div>

  <!--Team tier-->
  <div class="pricing-card bg-light2 border-grey rounded-sm ">
    <div class="pricing-card-top">
      <svg xmlns="http://www.w3.org/2000/svg" class="u-xs-avatar" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="black" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
      </svg>

      <h2 class="mb-2 mt-1 h3 text-blue plan-type font-weight-semi-bold">Team</h2>
      <p class="mb-3 text-xxs">More power for teams and small businesses who want to self-host Budibase.
      </p>
      <h3 class="h1 mb-1 mr-2">$8</h3>
      <p class="text-xxs">per user / month <br>billed annually</p>
      <p class="text-xxs mb-5 mt-2">$10 billed monthly</p>
      <button onClick="goToAccountPortal();" type="submit" class="btn btn-block btn-primary btn-lg mb-4">
        Get started
      </button>
    </div>

    <div class="pricing-card-bottom">
      <div class="pricing-features">
        <p class="my-3 mb-4 font-dark text-xs">Everything in Free, plus: </p>
        <li class="pricing-item my-4">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
            </svg>                                          
        </div>
          <div class="ml-2">
          <p class="text-xs text-dark mb-1 font-weight-medium">Unlimited essentials</p>
          <p class="text-xxs">Unlimited apps, data sources, screens and components.</p>
          </div>
        </li>
        <li class="pricing-item my-4">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
            </svg>                                          
        </div>
          <div class="ml-2">
          <p class="text-xs text-dark mb-1 font-weight-medium">Unlimited users</p>
          <p class="text-xxs">Unlimited users. Public users are free.</p>
          </div>
        </li>
        <li class="pricing-item my-4">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
            </svg>                                          
        </div>
          <div class="ml-2">
          <p class="text-xs text-dark mb-1 font-weight-medium">Data unlimited</p>
          <p class="text-xxs">Unlimited internal records per app. Unlimited external records.</p>
          </div>
        </li>
        <li class="pricing-item my-4">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 00-5.78 1.128 2.25 2.25 0 01-2.4 2.245 4.5 4.5 0 008.4-2.245c0-.399-.078-.78-.22-1.128zm0 0a15.998 15.998 0 003.388-1.62m-5.043-.025a15.994 15.994 0 011.622-3.395m3.42 3.42a15.995 15.995 0 004.764-4.648l3.876-5.814a1.151 1.151 0 00-1.597-1.597L14.146 6.32a15.996 15.996 0 00-4.649 4.763m3.42 3.42a6.776 6.776 0 00-3.42-3.42" />
            </svg>                                                        
        </div>
          <div class="ml-2">
          <p class="text-xs text-dark mb-1 font-weight-medium">Budibase branding removed</p>
          <p class="text-xxs">Remove Budibase branding from published apps.</p>
          </div>
        </li>
        <li class="pricing-item my-4">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
            </svg>                                          
        </div>
          <div class="ml-2">
          <p class="text-xs text-dark mb-1 font-weight-medium">Automation team pack</p>
          <p class="text-xxs">Automation builder. Unlimited automation runs. 1-week automation logs.</p>
          </div>
        </li>
        <li class="pricing-item my-4">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
            </svg>                            
        </div>
          <div class="ml-2">
          <p class="text-xs text-dark mb-1 font-weight-medium">Scale with backups</p>
          <p class="text-xxs"><span class="text-black font-weight-medium">1-week of backups.</span> SSO (Google and OIDC). Role-based access controls.</p>
          </div>
        </li>
        <li class="pricing-item my-4">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>                                          
        </div>
          <div class="ml-2">
          <p class="text-xs text-dark mb-1 font-weight-medium">Advanced extensibility</p>
          <p class="text-xxs">Unlimited plugins. Extend apps with public API.</p>
          </div>
        </li>
        <li class="pricing-item my-4">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
            </svg>                                          
        </div>
          <div class="ml-2">
          <p class="text-xs text-dark mb-1 font-weight-medium">Community support</p>
          <p class="text-xxs">Get support through our community forum, Discord, documentation, and university.</p>
          </div>
        </li>
      </div>
    </div>
  </div>

  <div class="pricing-card bg-light2 rounded-sm ">
    <div class="pricing-card-top">
      <svg xmlns="http://www.w3.org/2000/svg" class="u-xs-avatar" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="black" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
      </svg>
      <div class="flex-row mt-1 mb-2">
        <h2 class=" h3 text-teal plan-type font-weight-semi-bold">Business</h2>
        <div class="tag-teal ml-auto font-weight-semi-bold">Most popular</div>
      </div>
      <p class="mb-3 text-xxs">For large teams and businesses who need to scale and self-host Budibase.</p>
      <h3 class="h1 mb-1">$16</h3>
      <p class="text-xxs">per user / month <br>billed annually</p>
      <p class="text-xxs mb-5 mt-2">$20 billed monthly</p>
      <button onClick="goToAccountPortal();" type="submit" class="btn btn-block btn-cta btn-lg mb-4">
        Get started
      </button>
    </div>

    <div class="pricing-card-bottom">
      <div class="pricing-features">
        <p class="mt-3 mb-4 font-dark text-xs">Everything in Team, plus: </p>
        <ul class="ul-none">
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Unlimited essentials</p>
            <p class="text-xxs">Unlimited apps, data sources, screens and components.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">User permission groups</p>
            <p class="text-xxs">Manage users with unlimited user groups.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Data unlimited</p>
            <p class="text-xxs">Unlimited internal records per app. Unlimited external records.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 00-5.78 1.128 2.25 2.25 0 01-2.4 2.245 4.5 4.5 0 008.4-2.245c0-.399-.078-.78-.22-1.128zm0 0a15.998 15.998 0 003.388-1.62m-5.043-.025a15.994 15.994 0 011.622-3.395m3.42 3.42a15.995 15.995 0 004.764-4.648l3.876-5.814a1.151 1.151 0 00-1.597-1.597L14.146 6.32a15.996 15.996 0 00-4.649 4.763m3.42 3.42a6.776 6.776 0 00-3.42-3.42" />
              </svg>                                                        
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Design environments</p>
            <p class="text-xxs">Configure unlimited environments for your apps.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Automation business pack</p>
            <p class="text-xxs">Automation builder. Unlimited automation runs per month. 1-year automation logs.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Add audit logs</p>
            <p class="text-xxs"><span class="text-black font-weight-medium">Audit logs</span>. 1-year of backups. SSO (Google and OIDC).</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Advanced extensibility</p>
            <p class="text-xxs">Unlimited plugins. Extend apps with public API.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Email support</p>
            <p class="text-xxs">Email our team with your support queries, and we will respond as quickly as possible.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--Enterprise-->
  <div class="pricing-card bg-light2 border-grey rounded-sm">
    <div class="pricing-card-top">
      <svg xmlns="http://www.w3.org/2000/svg" class="u-xs-avatar" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="black" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
      </svg>
      <h2 class="mb-2 mt-1 h3 text-dark plan-type font-weight-semi-bold">Enterprise</h2>
      <p class="mb-3 text-xxs">For organizations who need additional control and support.
      </p>
      <h3 class="h1 mb-1">Custom</h3>
      <p class="text-xxs">Starting at $20,000 <br>per annum</p>
      <p class="text-xxs mb-5 mt-2">Multi-year contracts available.</p>
      <a href="/contact" target="_blank"><button type="submit" class="btn btn-block btn-primary btn-lg mb-4">
          Contact us
        </button></a>
    </div>
    <div class="pricing-card-bottom">
      <div class="pricing-features">
        <p class="my-3 mb-4 font-dark text-xs">Everything in Business, plus: </p>
        <ul class="ul-none">
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Unlimited essentials</p>
            <p class="text-xxs">Unlimited apps, data sources, screens and components.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">User permission groups</p>
            <p class="text-xxs">Manage users with unlimited user groups.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Data unlimited</p>
            <p class="text-xxs">Unlimited internal records per app. Unlimited external records.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 00-5.78 1.128 2.25 2.25 0 01-2.4 2.245 4.5 4.5 0 008.4-2.245c0-.399-.078-.78-.22-1.128zm0 0a15.998 15.998 0 003.388-1.62m-5.043-.025a15.994 15.994 0 011.622-3.395m3.42 3.42a15.995 15.995 0 004.764-4.648l3.876-5.814a1.151 1.151 0 00-1.597-1.597L14.146 6.32a15.996 15.996 0 00-4.649 4.763m3.42 3.42a6.776 6.776 0 00-3.42-3.42" />
              </svg>                                                        
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Design environments</p>
            <p class="text-xxs">Configure unlimited environments for your apps.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Automation enterprise pack</p>
            <p class="text-xxs">Unlimited automation runs and unlimited automation logs.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
              </svg>                            
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Security unlimited</p>
            <p class="text-xxs">  <span class="text-black font-weight-medium">Unlimited backups.</span> Audit logs. SSO (Google and OIDC).</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Advanced extensibility</p>
            <p class="text-xxs">Unlimited plugins. Extend apps with public API.</p>
            </div>
          </li>
          <li class="pricing-item my-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="grey" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
              </svg>                                          
          </div>
            <div class="ml-2">
            <p class="text-xs text-dark mb-1 font-weight-medium">Priority support and SLAs </p>
            <p class="text-xxs">Tailored onboarding. Priority support. SLAs. Dedicated account manager and invoicing.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>