<div class="pricing space-1-bottom">
  <!--Free tier-->
  <div class="pricing-card border-grey bg-light2 rounded">
    <div class="pricing-card-top">
      <h2 class="mb-2 h3 text-dark plan-type">Free</h2>
      <p class="mb-3 text-xxs">For individuals and small teams of around 5 users who want to try Budibase.
      </p>
      <h3 class="h2 mb-1 mr-2 ">$0</h3>
      <p class="text-xxs">Free forever</p>
      <p class="text-xxs mb-5">No credit card required</p>    
      <button onClick="goToAccountPortal('free');"  type="submit" class="btn btn-block btn-primary btn-lg mb-4">
          Create free account
      </button>
    </div>
    <div class="pricing-card-bottom">
      <div class="pricing-features">
        <p class="mt-3 mb-4 font-dark text-xs">Free plan includes: </p>
        <ul class="ul-none">
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <p class=" ml-2 text-xs text-dark">Cloud hosting</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <p class=" ml-2 text-xs text-dark">Build unlimited apps</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <p class=" ml-2 text-xs text-dark">Add unlimited users</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <p class=" ml-2 text-xs text-dark">Add up to 10 custom plugins</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <div class="tooltip p ml-2 text-xs text-dark">50 day passes ⓘ<span class="tooltiptext">If a logged-in user uses Budibase within a 24hr period, that counts as 1 day pass.</span></div>
          </li>

            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                   viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class="ml-2  text-xs text-dark">4K internal records</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class="ml-2  text-xs text-dark">200 automation runs /mo</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class="ml-2 text-xs text-dark">SSO (Google + OIDC)</p>
            </li>
      </div>
    </div>
  </div>

  <!--Pro tier-->
  <div class="pricing-card bg-light2 border-grey rounded-sm ">
    <div class="pricing-card-top">
      <div class="flex-row">
        <h2 class="mb-2 h3 text-dark plan-type">Pro</h2>
        <div class="tag-blue ml-auto font-weight-semi-bold">Popular</div> </div>
      <p class="mb-3 text-xxs">More power and functionality for teams of 5 to 40 users.
      </p>
      <h3 class="h2 mb-1 mr-2 plan-price">$39</h3>
      <p class="text-xxs">per month, billed annually or</p>
      <p class="text-xxs mb-5 plan-price-monthly">$50 billed monthly</p>
      <button onClick="goToAccountPortal();" type="submit" class="btn btn-block btn-cta btn-lg mb-4">
          Get started
        </button>
    </div>

    <div class="pricing-card-bottom">
      <div class="pricing-features">
        <p class="my-3 mb-4 font-dark text-xs">Everything in Free, plus: </p>
        <li class="flex-row align-center mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
            viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <p class=" ml-2 text-xs text-dark">Cloud hosting</p>
        </li>
        <li class="flex-row align-center mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
               viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <div class="tooltip p ml-2 text-xs text-dark">200 day passes ⓘ<span class="tooltiptext">200 day passes included, then $0.80 per day pass</span></div>
        </li>
        <li class="flex-row align-center mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
               viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-2  text-xs text-dark">10K internal records</p>
        </li>
        
        <li class="flex-row align-center mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
            viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-2  text-xs text-dark">1K automation runs /mo</p>
        </li>
        <li class="flex-row align-center mb-2">
          <svg width="18" height="18" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          <p class=" ml-2 text-xs text-dark">5 user groups</p>
        </li>
        <li class="flex-row align-center mb-2">
          <svg width="18" height="18" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          <p class="ml-2  text-xs text-dark">Remove Budibase logo</p>
        </li>
        <!--
        <li class="flex-row align-center mb-2">
          <svg width="18" height="18" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          <p class="ml-2  text-xs text-dark">Editable head tag</p>
        </li>
        -->
      </div>
    </div>
  </div>


  <!--Premium tier-->
  <div class="pricing-card bg-light2 border-grey rounded-sm ">
    <div class="pricing-card-top">
        <h2 class="mb-2 h3 text-dark plan-type">Business</h2>
        <p class="mb-3 text-xxs">For businesses with over 40 users who need to scale development.
          </p>
        <h3 class="h2 mb-1 plan-price">$399</h3>
      <p class="text-xxs">per month, billed annually or</p>
      <p class="text-xxs mb-5 plan-price-monthly">$500 billed monthly</p>
      <button onClick="goToAccountPortal();" type="submit" class="btn btn-block btn-primary btn-lg mb-4">
        Get started
      </button>
    </div>

    <div class="pricing-card-bottom">
      <div class="pricing-features">
        <p class="mt-3 mb-4 font-dark text-xs">Everything in Pro, plus: </p>
          <ul class="ul-none">
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class=" ml-2 text-xs text-dark">Cloud hosting</p>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <div class="tooltip p ml-2 text-xs text-dark">1K day passes ⓘ<span class="tooltiptext">1K day passes included, then $0.80 per day pass</span></div>
            </li>
            <li class="flex-row align-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                   viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <p class="ml-2  text-xs text-dark">100K internal records</p>
            </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-2 text-xs text-dark">50K automation runs /mo</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-2 text-xs text-dark">Unlimited user groups</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg width="18" height="18" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
            <p class="ml-2 text-xs text-dark">1 year of backups</p>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!--Enterprise-->
  <div class="pricing-card bg-light2 border-grey rounded-sm">
    <div class="pricing-card-top">
      <h2 class="mb-2 h3 text-dark">Enterprise</h2>
      <p class="mb-3 text-xxs">For organizations who need additional control and support.
      </p>
      <h3 class="h2 mb-1">Custom</h3>
      <p class="text-xxs">Starting at $10k per annum.</p>
      <p class="text-xxs mb-5">Multi-year contracts available.</p>
      <a href="/contact" target="_blank"><button type="submit"
          class="btn btn-block btn-primary btn-lg mb-4">
          Contact us
        </button></a>
    </div>
    <div class="pricing-card-bottom">
      <div class="pricing-features">
        <p class="my-3 mb-4 font-dark text-xs">Everything in Business, plus: </p>
        <ul class="ul-none">
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <p class=" ml-2 text-xs text-dark">Cloud hosting</p>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
              viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <div class="tooltip p ml-2 text-xs text-dark">Custom day passes ⓘ<span class="tooltiptext">Custom day pass plans available</span></div>
          </li>
          <li class="flex-row align-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
                 viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-2  text-xs text-dark">250K internal records</p>
          </li>
        <li class="flex-row align-center mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
            viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-2 text-xs text-dark">Unlimited automation runs</p>
        </li>
        <li class="flex-row align-center mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
            viewBox="0 0 24 24" stroke="#2680eb" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-2  text-xs text-dark">Unlimited user groups</p>
        </li>
        <li class="flex-row align-center mb-2">
          <svg width="18" height="18" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          <p class="ml-2  text-xs text-dark">Tailored onboarding</p>
        </li>
        <li class="flex-row align-center mb-2">
          <svg width="18" height="18" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          <p class="ml-2  text-xs text-dark">SLAs</p>
        </li>
        <li class="flex-row align-center mb-2">
          <svg width="18" height="18" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          <p class="ml-2  text-xs text-dark">Priority support</p>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>