<div class="container space-2-top mb-7 text-center mx-auto">
  <h2>Compare plans and features</h2>
</div>
<section id="pricing-table" class="pricing-table">
  <div class="pricing-table-wrapper scrolling-wrapper-flexbox no-scrollbar mx-auto container">
    <div class="pricing-table-header-container">
      <p class="pricing-table-header mt-4 font-weight-semi-bold">Build unlimited apps for free</p>
    </div>
    <div class="pricing-table-header-container-free">
      <h2 class="pricing-table-section-header text-red">Free</h2>
    </div>
    <div class="pricing-table-header-container-free">
      <h2 class="pricing-table-section-header text-blue">Premium</h2>
    </div>
    <div class="pricing-table-header-container-free bg-light2">
      <h2 class="pricing-table-section-header text-teal">Business</h2>
    </div>
    <div class="pricing-table-header-container-free">
      <h2 class="pricing-table-section-header">Enterprise</h2>
    </div>


    <div class="pricing-table-feature">
      <p class="opacity-75">Unlimited apps</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke="black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Built-in database and connectors</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Drag-and-drop design interface</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Automation builder</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>


    <!--Data pricing section-->
    <div class="pricing-table-header-container">
      <p class="pricing-table-header mt-8 font-weight-semi-bold">Users</p>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section bg-light2">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">User limits</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">10</p>    </div>
    <div class="pricing-table-feature-check">
     <p class="text-dark">Unlimited</p>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">Unlimited</p>
     </div>
     <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
     </div>

     <div class="pricing-table-feature">
      <p class="opacity-75">Public users</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>    
    </div>
    <div class="pricing-table-feature-check">
     <p class="text-dark">Unlimited</p>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">Unlimited</p>
     </div>
     <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
     </div>
<!--
     <div class="pricing-table-feature">
      <p class="opacity-75">Guests</p>
    </div>
    <div class="pricing-table-feature-check">
          
    </div>
    <div class="pricing-table-feature-check">
     10
    </div>
    <div class="pricing-table-feature-check bg-light2">
      500
     </div>
     <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
     </div>
-->
     <div class="pricing-table-feature">
      <p class="opacity-75">User groups</p>
    </div>
    <div class="pricing-table-feature-check">
          
    </div>
    <div class="pricing-table-feature-check">
     
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
     </div>
     <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
     </div>

<!--Data pricing section-->
    <div class="pricing-table-header-container">
      <p class="pricing-table-header mt-8 font-weight-semi-bold">Data</p>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section bg-light2">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Datasources</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">Unlimited</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Internal records</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">2,000</p>    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">10,000</p>    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">50,000</p>    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Custom</p>    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">External records</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">Unlimited</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Custom fields</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">Unlimited</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Table access security</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <!--Design pricing section-->
    <div class="pricing-table-header-container">
      <p class="pricing-table-header mt-8 font-weight-semi-bold">Design</p>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section bg-light2">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Multi-screen responsive apps</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">40+ pre-built components</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    
    <div class="pricing-table-feature">
      <p class="opacity-75">Powerful design blocks</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Remove Budibase branding from apps</p>
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Environments</p>
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">Coming Q1, 2023</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Coming Q1, 2023</p>
    </div>


    <!--Automation pricing section-->
    <div class="pricing-table-header-container">
      <p class="pricing-table-header mt-8 font-weight-semi-bold">Automations</p>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section bg-light2">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>


    <div class="pricing-table-feature">
      <p class="opacity-75">20+ triggers and actions</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
  </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Automation runs per month</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">200</p>    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">1,000</p>    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">10,000</p>    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Custom</p>    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Automation logs</p>
    </div>
    <div class="pricing-table-feature-check">
      
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">1 week</p>    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">1 year</p>    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Automation feedback for users</p>
    </div>
    <div class="pricing-table-feature-check ">
    </div>
    <div class="pricing-table-feature-check ">
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>


     <!--Extensibility-->
     <div class="pricing-table-header-container">
      <p class="pricing-table-header mt-8 font-weight-semi-bold">Extensibility</p>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section bg-light2">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Public API</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
  </div>
  <div class="pricing-table-feature">
    <p class="opacity-75">Plugins</p>
  </div>
    <div class="pricing-table-feature-check ">
      10
    </div>
    <div class="pricing-table-feature-check ">
      <p class="text-dark">Unlimited</p>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">Unlimited</p>
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Custom domain</p>
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">Coming Q1, 2023</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Coming Q1, 2023</p>
  </div>


    <!--Security pricing section-->
    <div class="pricing-table-header-container">
      <p class="pricing-table-header mt-8 font-weight-semi-bold">Security and scaling</p>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section bg-light2">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">SSO (Google and OIDC)</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
  </div>

  <div class="pricing-table-feature">
    <p class="opacity-75">Custom email onboarding</p>
  </div>
  <div class="pricing-table-feature-check">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
    viewBox="0 0 24 24" stroke=" black" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
  </svg>
  </div>
  <div class="pricing-table-feature-check">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
    viewBox="0 0 24 24" stroke=" black" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
  </svg>
  </div>
  <div class="pricing-table-feature-check bg-light2">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
    viewBox="0 0 24 24" stroke=" black" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
  </svg>
  </div>
  <div class="pricing-table-feature-check">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
    viewBox="0 0 24 24" stroke=" black" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
  </svg>
</div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Role-based access control</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
  </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Backups</p>
    </div>
    <div class="pricing-table-feature-check ">
    </div>
    <div class="pricing-table-feature-check ">
      <p class="text-dark">1 week</p>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">1 year</p>
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Unlimited</p>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Audit logs</p>
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <p class="text-dark">Coming Q1, 2023</p>
    </div>
    <div class="pricing-table-feature-check">
      <p class="text-dark">Coming Q1, 2023</p>
    </div>

    <!--Security pricing section-->
    <div class="pricing-table-header-container">
      <p class="pricing-table-header mt-8 font-weight-semi-bold">Support</p>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section bg-light2">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>
    <div class="pricing-table-section">
      <h2 class="pricing-table-section-header text-red"></h2>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Budibase forum</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Budibase university</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Budibase docs</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Budibase community chat</p>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Email support</p>
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check bg-light2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Priority support</p>
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check bg-light2">
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">SLAs</p>
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check bg-light2">
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Account manager</p>
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check bg-light2">
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Tailored onboarding</p>
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check bg-light2">
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

    <div class="pricing-table-feature">
      <p class="opacity-75">Custom invoicing</p>
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check">
    </div>
    <div class="pricing-table-feature-check bg-light2">
    </div>
    <div class="pricing-table-feature-check">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="18" height="18" fill="none"
      viewBox="0 0 24 24" stroke=" black" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
    </div>

     <!--CTA pricing section-->
     <div class="pricing-table-header-container space-1-top">
    </div>
    <div class="pricing-table-cta space-1-top">
      <h2 class="pricing-table-footer text-red">Free</h2>
      <h2 class="h1">$0</h2>
      <p class="text-xxs mb-4">per month</p>
      <button onClick="goToAccountPortal('free');" type="submit" class="btn btn-block btn-outline mb-4">
        Get started
      </button>
    </div>
    <div class="pricing-table-cta space-1-top">
      <h2 class="pricing-table-footer text-blue">Premium</h2>
      <h2 class="h1">$79</h2>
      <p class="text-xxs mb-4">per month, billed annually</p>
      <button onClick="goToAccountPortal();" type="submit" class="btn btn-block btn-outline mb-4">
        Get started
      </button>
    </div>
    <div class="pricing-table-cta bg-light2 space-1-top">
      <h2 class="pricing-table-footer text-teal">Business</h2>
      <h2 class="h1">$399</h2>
      <p class="text-xxs mb-4">per month, billed annually</p>
      <button onClick="goToAccountPortal();"type="submit" class="btn btn-block btn-primary mb-4">
        Get started
      </button>
    </div>
    <div class="pricing-table-cta space-1-top">
      <h2 class="pricing-table-footer">Enterprise</h2>
      <h2 class="h1">$20k+</h2>
      <p class="text-xxs mb-4">per annum</p>
      <a href="/contact" target="_blank"><button type="submit" class="btn btn-block btn-outline  mb-4">
        Contact us
      </button></a>
    </div>
  </div>
</section>
