{{ partial "header.html" . }} {{ partial "navigation.html" . }}

<!-- Hero Section -->
<div class="border-bottom position-sticky sticky-subnav">
  <div class="inner-nav container py-3">
    <a href="#create" class="mr-2 a-alt text-sm">Create</a>
    <a href="#features" class="mr-2 a-alt text-sm">Features</a>
    <a href="#deploy" class="mr-2 a-alt text-sm">Deploy</a>
    <a href="#templates" class="mr-2 a-alt text-sm">Templates</a>
  </div>
</div>
<div class="space-2">
  <div class="container">
    <div class="w-lg-50 mx-auto text-center">
      <h1 class="mb-3 mb-4">
         Where the world builds business applications
      </h1>
      <p class="mx-auto display-lead-lg mb-8 text-center"> Build custom business applications that look great, integrate seamlessly, and you can self-host.
      </p>
    </div>
    <div class="template-hero-images no-scrollbar mb-6 ">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/business-apps/business-application-cards.png" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/business-apps/business-application-tables.png" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/business-apps/conditional-form.png" />
    </div>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
          </svg>
        </div>
        <h4 class="mb-2">100% customizable</h4>
        <p class="text-sm text-thin">
          Fully customize your {{ .Section | humanize | lower }} to suit your brand
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
          </svg>
        </div>
        <h4 class="mb-2">Mobile, tablet, desktop</h4>
        <p class="text-sm text-thin">
          {{ .Section | humanize }} work on mobile, tablet, and desktop
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
          </svg>
        </div>
        <h4 class="mb-2">Self-hosting available</h4>
        <p class="text-sm text-thin">
          Self-host your {{ .Section | humanize | lower }} or let Budibase manage them
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
            <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="black">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
        </div>
        <h4 class="mb-2">Public & private screens</h4>
        <p class="text-sm text-thin">
          Collect data from public users or private users
        </p>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- What Section -->
<div class="space-2">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-4 text-center">What are business applications?</h2>
    </div>
    <p class="w-lg-60 text-center mx-auto display-lead text-thin">Business applications are a type of application that are used to improve the operations of a business. They can be used by employees, suppliers, customers, and come in all shapes and sizes. Examples of business applicastions include applicant tracking systems, help desk applications, inventory management platforms. Business applications are different from internal tools, because they can be used by external stakeholders, where internal tools are specifically used by employees within an organization. Internal tools usually consist of a single screen, where business applications can consist of multiple screens.
    </p>
  </div>
</div>

<!-- Create Section -->
<div class="space-2" id="create">
<div class="container">
  <div class="text-sm-center mx-auto">
    <h2 class="w-lg-40 mx-auto mb-8">How to create {{ .Section | humanize | lower }} in 4 simple steps</h2>
  </div>
  <div class="benefits-new-container w-lg-80">
    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/img/external-data-sources.webp" target="_blank">
          <img
          src="/img/ui/data-sm.webp"
          class="img-fluid rounded-sm"
          alt="Data"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">Prepare your data</h4>
        <p class="text-sm">
          Connect to a SQL database, use a Rest API, or use Budibase's built-in database to create the data layer for your {{ .Section | singularize | humanize | lower }}.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/design.webp" target="_blank">
            <img
            src="/img/hero-gallery/portal.webp"
            class="img-fluid rounded-sm"
            alt="design"          
            />
          </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">Design your {{ .Section | singularize | humanize | lower }}</h4>
        <p class="text-sm">
          Design fully custom, beautiful {{ .Section | humanize | lower }} that people enjoy using, with over 30 powerful pre-made blocks.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/img/automate.webp" target="_blank"><img
          src="/img/ui/automate-sm.webp"
          class="img-fluid rounded-sm"
          alt="automate"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">Automate manual processes</h4>
        <p class="text-sm">
          Integrate your business application with your internal stack and automate manual processes.
        </p>
      </div>
    </div>

    <div class="benefit-container">
      <div class="benefit-image-container">
        <a href="https://www.budibase.com/img/ui/design-wide.webp" target="_blank">
          <img
          src="/img/ui/admin-sm.webp"
          class="img-fluid rounded-sm"
          alt="apps-list"          
        />
      </a>
      </div>
      <div class="benefit-content">
        <h4 class="mb-2 mt-4">Scale with confidence</h4>
        <p class="text-sm">
          With SSO, advanced RBAC, the Budibase app portal, and self-hosting, you can scale with confidence.
        </p>
      </div>
    </div>
  </div>
</div>
</div>


<div class="space-2" id="features">
  <div class="container text-center">
    <h2 class="mb-3">{{ .Section | singularize | humanize }} features</h2>
    <p class="mb-6 w-lg-50 mx-auto text-center">Budibase's low-code platform makes it easy to build fully custom {{ .Section | humanize | lower }} that perfectly fit your operations.
    </p>
    <div class="solutions-features">
      <div class="solutions-features-card rounded-xs">
        <h4>Multi-screen apps</h4>
        <p class="text-xs text-thin">Create beautiful, multi-screen business applications</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>RBAC</h4>
        <p class="text-xs text-thin">Create custom roles, and control what users have access to </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Conditional UI</h4>
        <p class="text-xs text-thin">Show different components to different users, and a lot more</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>App theming</h4>
        <p class="text-xs text-thin">Choose from a number of beautiful themes that are customizable</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Accessible components</h4>
        <p class="text-xs text-thin">All components / building blocks are accessibly tested</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Apps work on mobile</h4>
        <p class="text-xs text-thin">Create business applications that work on all devices</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Email onboarding</h4>
        <p class="text-xs text-thin">Add your SMTP credentials and automate user onboarding</p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Free SSO</h4>
        <p class="text-xs text-thin">With Budibase, SSO is free and available to everyone</p>
      </div>
    </div>
  </div>
</div>

<div class="space-2-top space-3-bottom" id="deploy">
  <div class="container text-center">
    <h2 class="mb-3">Deploy your {{ .Section | humanize | lower }}</h2>
    <p class="mx-auto w-lg-50 text-center">Deploy your {{ .Section | singularize | humanize | lower }} via Kubernetes, Docker, Digital Ocean. Or choose the Budibase Cloud and let Budibase manage everything for you.
    </p>
    {{ partial "deploy-options.html" . }}
  </div>
</div>
</div>

<div class="container space-2 mx-auto" id="templates">
  <h2 class="mb-3 mb-4 text-center">
    Free {{ .Section | singularize | humanize | lower }} templates
  </h1>
<div class=" w-lg-60 mx-auto">
  <p class="mx-auto display-lead-sm mb-6 text-center"> Explore our favourite free {{ .Section | singularize | humanize | lower  }} templates. With Budibase's intuitive low-code platform, you can customize your design in just a few clicks.
</p>
</div>
  <div class="templates-cards">
    {{ range where .Pages "Section" "!=" "templates" }}
    {{ range first 3 .Pages }}
    <a href="{{.Permalink}}">
      <div class="templates-card rounded-sm">
          <img class="template-card-img img-fluid mb-4" src="{{ .Params.thumbnail }}" />
              <h2 class="h4 mb-3">{{ .Params.label }}</h2>
              <p class="mb-3">{{ .Summary }} </p>
              <p class="text-blue text-sm templates-card-link">Get this template</p>
      </div>
  </a>
  {{ end }}
  {{ end }}
  </div>
<div class="my-6 text-center">
  <a href="/{{ .Section }}/templates" class="btn btn-cta btn-lg"> Browse all {{ .Section | singularize | humanize | lower  }} templates</a>
</div>
</div>

{{ partial "integrations-templates.html" . }}

{{ partial "cta.html" . }}
<hr style="width: 30%" />
{{ partial "footer.html" . }}
</div>