{{ partial "head/header.html" . }} {{ partial "navigation.html" . }}


<!-- Hero Section -->
<div class="space-2">
  <div class="container mb-9">
    <div class="w-lg-60 mx-auto text-center">
      <h1 class="mb-3 mb-4">
        Custom IT Tools for Busy Teams
      </h1>
      <p class="mx-auto lead mb-8 text-center">At Budibase, we’re revolutionizing the way organizations build custom IT tools. With our open-source, low-code platform, businesses of all sizes can build deployable, custom apps in minutes. Budibase is the smart way to build everything from asset management software to server applications and patch management tools.</p>
    </div>
    <div class="template-hero-images no-scrollbar mb-6 ">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/admin-panels/order-status-admin-panel.webp" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/img/industries/IT.jpg" />
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/portals/portal-employee.webp" />
    </div>
  </div>
  <div class="container mx-auto w-lg-60  space-2 flex-row">
    <p class="lead text-dark text-center">
        "Those same apps, with Budibase, are now here in less than an hour. Colleagues were stunned by the data import functionality, seeing a spreadsheet turn into a web app in minutes was the cherry on top."
    </p>
    <div class="mx-auto text-center">
        <p class="text-xs mt-4"><i>Davide Lenzarini, IT manager</i></p>
        <img src="/img/customers/schnellecke-logistics.png" class="img-fluid rounded w-lg-25 mb-2" />
        <a href="/customers/schnellecke/" class="a-alt"><p class="text-xs">Read more</p></a>

    </div>
</div>
</div>

<!-- What Section -->
<div class="space-2 bg-light-2">
  <div class="container">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-4 text-center">Modernize IT service management</h2>
    </div>
    <p class="w-lg-60 text-center mx-auto lead text-thin">Effective IT teams are the heart of modern organizations. Our mission is to empower business managers with the perfect solutions to meet new and evolving challenges.
    </p>
    <div class="mt-6 container-benefit">
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
          </svg>
        </div>
        <h4 class="mb-2">Minimize lead times</h4>
        <p class="text-sm text-thin">
          Whether you’re deploying new tools, managing tickets, or responding to new threats, speed is everything. Budibase offers unrivaled development times, and leading user experiences.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <h4 class="mb-2">Manage emerging threats</h4>
        <p class="text-sm text-thin">
          IT teams deal with ever-changing security threats. Budibase gives you complete control over the security standards you implement to protect data across your software stack.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
          </svg>
        </div>
        <h4 class="mb-2">Centralize resources
        </h4>
        <p class="text-sm text-thin">
          Budibase tools maximize collaboration. With role-based access control, real-time data manipulation, and powerful automations, our platform is built for collaborative business processes.
        </p>
      </div>
      <div class="card-small-light">
        <div class="u-sm-avatar mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
          </svg>
        </div>
        <h4 class="mb-2">Respond to change
        </h4>
        <p class="text-sm text-thin">
          With constantly evolving technology, IT teams are responsible for maintaining competitiveness. Choose Budibase for legacy modernization, software replacement, custom builds, and more.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container space-2">
  <div class="homepage-features">
    <div>
      <h2 class="mb-3">Build custom IT tools with our open-source low-code platform, Budibase</h2>
      <p class="lead">IT teams around the world choose Budibase for fast deployment, advanced security, and complete customization. At Budibase, we’re on a mission to change the way businesses develop software. With our innovative low-code builder, it’s never been easier to build fully customized IT software.
      </p>
    </div>
    <div class="hero-image rounded">
      <img class="img-fluid rounded-sm w-80 w-sm-100" src="/homepage-meta.png" />
    </div>
  </div>
  <div class="mt-8 container-benefit">
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
        </svg>
      </div>
      <h4 class="mb-2">100% customizable</h4>
      <p class="text-sm text-thin">
        Build fully customized, branded apps in minutes.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
        </svg>
      </div>
      <h4 class="mb-2">Mobile, tablet, desktop</h4>
      <p class="text-sm text-thin">
        Budibase tools work perfectly on all kinds of devices.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
        </svg>
      </div>
      <h4 class="mb-2">Self-hosting
      </h4>
      <p class="text-sm text-thin">
        Choose self-hosting or our Budibase Cloud platform.
      </p>
    </div>
    <div class="card-small-light">
      <div class="u-sm-avatar mb-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
        </svg>
      </div>
      <h4 class="mb-2">Public & private screens</h4>
      <p class="text-sm text-thin">
        Assign different permissions to different classes of users.
      </p>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="homepage-features">
      <div>
        <h2 class="mb-3">Role-based access control + security</h2>
        <p class="lead-sm">We offer fully customizable RBAC. Give your users access to the exact data and functionality they need, maximizing security and usability. Use seniority, job roles, or other criteria to assign permission tiers to users. With free SSO, it’s easy to create a fully intuitive and secure IT software stack in Budibase. Budibase empowers businesses to control who can access their apps and data. We offer free SSO, custom permission tiers, and support for a wide range of access standards, including OAuth and OpenID. Self-host your Budibase tools, for complete control over how and when users interact with your apps.          
          </p>
      </div>
      <div class="hero-image bg-indigo-200 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/rbac.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="homepage-features">
      <div>
        <h2 class="mb-3">Deploy anywhere        </h2>
        <p class="lead-sm">Budibase offers total flexibility for hosting and deployment. Choose self-hosting or our proprietary Budibase Cloud platform. Deploy Budibase tools to your own infrastructure, using Kubernetes, Docker, Docker Compose, Digital Ocean, and more. With our range of hosting options, organizations around the world choose Budibase to build web tools, mobile apps, and internal software.          
        </p>
      </div>
      <div class="hero-image bg-blue-100 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/self-host.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="homepage-features">
      <div>
        <h2 class="mb-3">Automate IT workflows
        </h2>
        <p class="lead-sm">Build streamlined IT workflows. When you build software with Budibase, you can trigger our range of powerful automations, using any in-app action. We’ve also provided a built-in Javascript editor, to create custom automations and actions. Add your SMTP credentials to trigger automated emails from your Budibase tools. Use our wide range of integration options to trigger automations in external tools.
          </p>
      </div>
      <div class="hero-image bg-red-200 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/automation.webp" />
      </div>
    </div>
  </div>
</div>

<div class="space-2  ">
  <div class="container">
    <div class="homepage-features">
      <div>
        <h2 class="mb-3">Take control of your service data        </h2>
        <p class="lead-sm">IT teams manage large datasets. However, many businesses still use spreadsheets or complex databases to maintain data. This undermines security, efficiency, and collaboration. Budibase offers a range of external data connectors, using MySQL, MSSQL, Postgresql, Airtable, MongoDB, CouchDB, S3, RestAPI, and more. We also provide a built-in database, with support for CSV uploads. Our low-code platform is the perfect way to manage, maintain, and manipulate large datasets, with user-friendly, easily accessible interfaces.</p>
      </div>
      <div class="hero-image bg-green-200 rounded">
        <img class="img-fluid rounded-sm w-80 w-sm-100 pl-8 pt-8" src="/img/industries/external-data.webp" />
      </div>
    </div>
  </div>
</div>

{{ partial "integrations-templates.html" . }}

<!-- Create Section -->
<div class="space-2 bg-light-2">
  <div class="container-narrow">
    <div class="text-sm-center mx-auto">
      <h2 class="w-lg-40 mx-auto mb-8">Create custom IT tools in 4 simple steps</h2>
    </div>
    <div class="benefits-new-container w-lg-80">
      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/external-data-sources.webp" target="_blank">
            <img src="/img/ui/data-sm.webp" class="img-fluid rounded-sm" alt="Data" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Connect your data</h4>
          <p class="text-sm">
            Use SQL, RestAPI, or our built-in BudibaseDB to prepare your app’s data layer.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/design.webp" target="_blank">
            <img src="/img/hero-gallery/portal.webp" class="img-fluid rounded-sm" alt="design" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Design your app</h4>
          <p class="text-sm">
            Use our intuitive low-code platform to create professional app screens, in minutes.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/img/automate.webp" target="_blank"><img src="/img/ui/automate-sm.webp"
              class="img-fluid rounded-sm" alt="automate" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Create automations</h4>
          <p class="text-sm">
            Streamline workflows and eliminate admin tasks with our range of powerful automations.
          </p>
        </div>
      </div>

      <div class="benefit-container">
        <div class="benefit-image-container">
          <a href="https://www.budibase.com/img/ui/design-wide.webp" target="_blank">
            <img src="/img/ui/admin-sm.webp" class="img-fluid rounded-sm" alt="apps-list" />
          </a>
        </div>
        <div class="benefit-content">
          <h4 class="mb-2 mt-4">Deploy and scale</h4>
          <p class="text-sm">
            Choose self-hosting or Budibase Cloud. When you build a tool with Budibase, it’s ready to grow and scale.
          </div>
      </div>
    </div>
  </div>
</div>


<div class="space-2" id="features">
  <div class="container text-center">
    <h2 class="mb-3">Feature-packed, low-code platform</h2>
    <p class="mb-6 w-lg-50 mx-auto text-center">At Budibase, our <a href="https://budibase.com/product">low-code platform</a> makes it easy to create open-source IT workflow management tools in minutes.

    </p>
    <div class="solutions-features">
      <div class="solutions-features-card rounded-xs">
        <h4>Multi-screen apps</h4>
        <p class="text-xs text-thin">Create professional, multi-screen IT apps.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>RBAC</h4>
        <p class="text-xs text-thin">Assign permissions to different users, based on their role.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Conditionality</h4>
        <p class="text-xs text-thin">Create conditional UIs for optimized user experiences.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Low-code design</h4>
        <p class="text-xs text-thin">Choose from several beautiful themes, with full customization.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Accessible components</h4>
        <p class="text-xs text-thin">All components and blocks are accessibility tested.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Responsive apps</h4>
        <p class="text-xs text-thin">Create business applications that work seamlessly on any device.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Automated workflows</h4>
        <p class="text-xs text-thin">Set custom rules to automate key business processes.
        </p>
      </div>
      <div class="solutions-features-card rounded-xs">
        <h4>Free SSO</h4>
        <p class="text-xs text-thin">Enjoy single sign-on across all of your Budibase tools.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="space-2-top space-3-bottom">
  <div class="container text-center">
    <h2 class="mb-3">Deploy your apps</h2>
    <p class="mx-auto w-lg-50 text-center">Deploy your appsvia Kubernetes,
      Docker, Digital Ocean. Or choose the Budibase Cloud and let Budibase manage everything for you.
    </p>
    {{ partial "deploy-options.html" . }}
  </div>
</div>
</div>

<div class="bg-light-2">
  <div class="container space-2 mx-auto">
    <h2 class="mb-3 mb-4 text-center">
      Deployable app templates for IT managers
    </h1>
      <div class=" w-lg-60 mx-auto">
        <p class="mx-auto lead-sm mb-6 text-center">We’ve created a range of free open-source IT app templates. Use our templates as deployment-ready solutions or customize them as you see fit.
        </p>
      </div>
      <div class="container-narrow space-2-bottom">
        <div class="templates-cards">
          {{ range where .Pages "Section" "!=" "templates" }}
          {{ range first 3 .Pages }}
          <a href="{{.Permalink}}">
            <div class="templates-card rounded-sm">
              <div class="template-thumbnail pt-4 pl-4  mb-4 img-fluid bg-{{ .Params.thumbnailColor }}">
                <img class="template-card-img img-fluid" src="{{ .Params.thumbnail }}" />
              </div>
              <h2 class="h4 mb-3">{{ .Params.label }}</h2>
              <p class="mb-3">{{ .Summary }} </p>
              <p class="text-blue text-sm templates-card-link">Get this template</p>
            </div>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="my-3 text-center">
        <a href="/{{ .Section }}/templates" class="btn btn-cta btn-lg"> Browse all {{ .Section | singularize | humanize
          | lower }} templates</a>
      </div>
  </div>
</div>


<div class="article space-2 ">
  <div class="container-9">
    <h2>FAQs</h2>
    <p>Budibase is the fast and effective way to build custom IT tools. Here’s everything you need to know about our innovative low-code platform.
    </p>
    <div class="faq space-1-top space-3-bottom ">
    {{ .Content }}
    </div>
  </div>
</div>

{{ partial "cta.html" . }}
<hr style="width: 30%" />
{{ partial "footer.html" . }}
</div>